/** animate **/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
:root {
  --bgcolor: #fdf9f7;
  --fontColor: #666666;
  --white: #ffffff;
  --gray: #686868;
  --black: #303030;
  --yellow: #d8c7ac;
  --blue: #e6f2ff;
  /* color rgb */
  --black-rgb: 48,48,48;
}
/* font size */
/* fill width */
/* scrollbar style */
