@import './mixins/_allMixins.less';

body {
    #about-us-content {
        position: relative;
        padding: 3% 18.5%;

        .intro {
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 1.5em;

            & h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .service-item {
                margin-top: 20px;
            }

            & ul {
                margin: 20px auto;

                & li {
                    display: flex;
                    margin-bottom: 3px;

                    .num {
                        margin-right: 5px;
                    }

                    .item {}
                }
            }

            .special-intro {
                margin-bottom: 20px;

                & > span {
                    &:first-child {
                        color: #ff0000;
                    }

                    &:nth-child(2) {
                        color: #00cc00;
                    }

                    &:nth-child(3) {
                        color: #ff9933;
                    }

                    &:last-child {
                        color: #cc66cc;
                    }
                }

                &:last-child {
                    margin: 0;
                    margin-top: 20px;
                }
            }
        }

        .social {
            text-align: right;
            margin-bottom: 10px;

            .icon {
                font-size: 34px;
                margin-right: 10px;
                .link-default;
                .ease(.2s);
            }

            .facebook {
                color: #3b5998;

                &:hover {
                    color: #26385d;
                }
            }

            .google-plus {
                color: #e93f2e;

                &:hover {
                    color: #a52d21;
                }
            }

            .plurk {
                color: #f74425;
                margin-right: 0;

                &:hover {
                    color: #b1331d;
                }
            }
        }
    }

    #contact-us {
        position: relative;
        padding: 0 18.5% 3% 18.5%;

        .contact-us-list {
            line-height: 1.8em;
            letter-spacing: 1px;

            .contact-us-list-item {
                .icon {
                    font-size: 20px;
                    min-width: 22px;
                    margin-right: 5px;
                    text-align: center;
                }
            }

        }
    }

    #news-content {
        padding: 3% 18.5%;

        .social {
            text-align: right;
            margin-bottom: 10px;

            .icon {
                font-size: 34px;
                margin-right: 10px;
                .link-default;
                .ease(.2s);
            }

            .facebook {
                color: #3b5998;

                &:hover {
                    color: #26385d;
                }
            }

            .google-plus {
                color: #e93f2e;

                &:hover {
                    color: #a52d21;
                }
            }

            .plurk {
                color: #f74425;
                margin-right: 0;

                &:hover {
                    color: #b1331d;
                }
            }
        }

        & h3 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .news-list {
            & li {
                display: flex;
                margin-bottom: 10px;

                .news-link {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #000;
                    font-size: 18px;
                    line-height: 1.5em;
                    letter-spacing: 1px;
                    .link-default;
                    .ease(.2s);

                    & .date {
                        min-width: 110px;
                        margin-right: 10px;
                    }

                    &:hover {
                        color: #ea5413;
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }

        .article {
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 2em;

            & h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            & ul {
                margin: 20px auto;
            }
        }
    }

    #collection-content {
        padding: 3% 18.5%;

        .intro {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;

            & h3 {}
        }

        .button-group {
            margin-bottom: 25px;

            .cell {
                background: none;
                margin: 5px;
                cursor: pointer;
                color: #000;
                border: 1px solid #000;
                border-radius: 5px;
                padding: 5px 10px;
                .link-default;
                .ease(.2s);

                &:hover {
                    color: #ea5413;
                    border: 1px solid #ea5413;
                }

            }

            .is-checked {
                color: #ea5413;
                border: 1px solid #ea5413;
            }
        }

        #product {
            margin-bottom: 20px;
            min-height: 180px;

            .cell {
                width: 20%;

                & a {
                    position: relative;
                    margin: 10px;
                    height: 180px;

                    & img {
                        width: 100%;
                        height: 100%;
                    }

                    .des {
                        position: absolute;
                        color: #fff;
                        font-size: 20px;
                        text-align: center;
                        text-align: center;
                        padding: 0 5px;
                        z-index: 2;
                        .hide;
                        .translateY(20px);
                        .ease(.2s);

                    }

                    &::after {
                        content: "";
                        position: absolute;
                        background: none;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        .ease(.2s);
                    }

                    &:hover {
                        .des {
                            .show;
                            .translateY(0);
                        }

                        &::after {
                            background: rgba(214, 162, 208, 0.9);

                        }
                    }
                }
            }
        }

        .page {
            margin-top: 20px;

            & div {
                margin: auto 10px;
            }
        }
    }

    #update-content {
        padding: 3% 18.5%;

        .intro {
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 50px;

            & h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }
        }

        .main {
            & h4 {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .file-name {
                margin-bottom: 25px;
            }

            .select-name {
                margin-bottom: 25px;

                .inputStyle {
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    margin-left: 10px;
                    padding: 10px;
                    .link-default;
                    .ease(.2s);

                    &:focus {
                        border: 1px solid #ea5413;
                    }
                }
            }

            .drop-file {
                border: 1px solid #ccc;
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    #contact-us-content {
        padding: 3% 18.5%;

        .social {
            text-align: right;
            margin-bottom: 10px;

            .icon {
                font-size: 34px;
                margin-right: 10px;
                .link-default;
                .ease(.2s);
            }

            .facebook {
                color: #3b5998;

                &:hover {
                    color: #26385d;
                }
            }

            .google-plus {
                color: #e93f2e;

                &:hover {
                    color: #a52d21;
                }
            }

            .plurk {
                color: #f74425;
                margin-right: 0;

                &:hover {
                    color: #b1331d;
                }
            }
        }

        .intro {
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 50px;

            & h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }
        }

        #table {
            .contact-us {
                width: 50%;
                margin: 3% 0;
                margin-top: 0;
                padding-right: 2%;

                .contact-us-list {
                    line-height: 1.8em;
                    letter-spacing: 1px;

                    .contact-us-list-item {
                        .icon {
                            font-size: 20px;
                            min-width: 22px;
                            margin-right: 5px;
                            text-align: center;
                        }
                    }

                }
            }

            .contact-table {
                margin: 3% 0;

                .contact-table-list {
                    padding-right: 2%;

                    .contact-list-item {
                        margin-bottom: 20px;

                        & div {
                            min-width: 70px;
                        }

                        .inputStyle {
                            width: 90%;
                            border: 1px solid #cccccc;
                            border-radius: 5px;
                            padding: 10px;
                            .link-default;
                            .ease(.2s);

                            &:focus {
                                border: 1px solid #ea5413;
                            }
                        }

                        .textareaStyle {
                            width: 90%;
                            height: 350px;
                            padding: 10px;
                            border-radius: 5px;
                            border: 1px solid #cccccc;
                            .link-default;
                            .ease(.2s);

                            &:focus {
                                border: 1px solid #ea5413;
                            }
                        }

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }

            #gMap {
                width: 50%;
            }
        }
    }

}
