@import './mixins/_allMixins.less';

@media (max-width:1281px) {
    body {
        #header {
            .header-content {
                padding: 0 10.5%;
            }
        }

        #slideshow {}

        #contact-us {
            padding: 0 10.5% 3% 10.5%;
        }

        #shortcut-link,
        #collection {
            padding: 0 10.5%;
        }

        #news,
        #about-us,
        #about-us-content,
        #news-content,
        #collection-content,
        #update-content,
        #contact-us-content,
        #colophon {

            padding: 3% 10.5%;
        }

        #news {
            .news-title {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        #colophon {
            .colophon-top {
                .contact {
                    margin-bottom: 20px;
                }

                .social {

                    .line {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width:1025px) {

    body {
        #header {
            .header-content {

                .menu {
                    display: none;
                }

                .phone-menu {
                    display: block;
                }
            }
        }

        #slideshow {
            height: 250px;
        }

        #collection-content {
            #product {
                .cell {
                    width: 50%;
                }
            }
        }

        #collection {
            padding: 0 3%;

            .partition {
                .cell {
                    justify-content: center;

                    .imgDis {
                        width: 100%;
                        margin: 0;
                        margin-bottom: 30px;
                    }


                    .layout {

                        .des {
                            -webkit-line-clamp: inherit;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width:801px) {
    body {

        #contact-us-content {
            #table {
                flex-direction: column;

                .contact-us,
                #gMap {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:680px) {
    body {
        #shortcut-link {
            -ms-flex-pack: center !important;
            justify-content: center !important;

            .cell {
                width: 50%;
                min-height: 240px;

            }

            .cell-more {
                display: flex !important;
            }
        }
    }
}

@media (max-width:480px) {
    body {
        #header {
            .header-content {
                padding: 0 5%;

                .home {
                    .logo {
                        .logo-svg {
                            width: 70%;
                        }
                    }
                }

                .phone-menu {
                    top: -1px;
                    right: 5px;

                    .menu-list {
                        top: 60px;
                    }
                }
            }
        }

        #wrapper {
            padding-top: 59px;
        }

        #slideshow {
            height: 100px;
        }

        #shortcut-link {
            padding: 0;

            .cell {
                min-height: 175px;

                .cell-img {
                    width: 92px;
                }

                .news-icon,
                .collection-icon,
                .contact-icon,
                .more-icon {
                    width: 64px;
                }
            }
        }

        #collection-content {
            padding: 3% 4%;

            #product {
                .cell {
                    width: 100%;
                }
            }

            .button-group {
                .cell {
                    width: 100%;
                }
            }
        }

        #news {
            padding: 7% 4%;

            .news-title {
                font-size: 20px;
            }

            .news-content {
                li {
                    .news-link {
                        font-size: 16px;
                    }
                }
            }
        }

        #news-content {
            padding: 7% 4%;

            & h3 {
                font-size: 20px;
            }

            .news-list {
                li {
                    .news-link {
                        font-size: 16px;
                    }
                }
            }
        }

        #about-us {
            padding: 7% 4%;

            .intro {
                font-size: 16px;
            }
        }

        #about-us-content {
            padding: 7% 4%;

            .intro {
                & h3 {
                    font-size: 20px;
                }

                font-size: 16px;
            }
        }

        #contact-us {
            padding: 0 4% 7% 4%;
        }

        #update-content,
        #contact-us-content {
            padding: 3% 4%;
        }

        #colophon {
            padding: 6% 4%;

            .colophon-top {
                .social {
                    .fb_iframe_widget {
                        position: relative;
                        right: -70px;
                    }

                    .line {
                        margin-left: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width:320px) {}
