/* Header */
#account {
    position: absolute;
    font-size: 16px;
    border-right: 2px solid #b6b6b6;
    padding: 5px;
    right: 9em;
    top: 57px;
}


.menu {
	position: absolute;  
    top: 50px;
    left: 0;
    right: 0;
	text-align: center;	
}

.f-menu{
    margin: 0;
    padding: 0;
}

.f-menu  li{
	position: relative;
	display: inline-block;
	padding: 10px 4px;
	font-size: 16px;
	margin: auto 7px;	
	cursor: pointer;
	border-radius: 50px;        
    
    -webkit-transition: all .2s;	
	        transition: all .2s;   
           
 	z-index: 9999;  
}

.f-menu > li:nth-child(8){
    border-radius: 100px/60px;
}

.f-menu > li:nth-child(9){
    border-radius: 100px/50px;
    padding: 10px 10px;
}

.f-menu > li::before {
    position: absolute;
    content: '';    
    background: #3e7f99;
    border-radius: 50px;
    
    height: 10px;
    width: 10px;
    top: 0;
    right: 0.875em;
    opacity: 0;
    visibility: hidden;
    
    -webkit-transform: scale(0.75);    
        -ms-transform: scale(0.75);    
            transform: scale(0.75);
    
    -webkit-transition: all .2s;
	        transition: all .2s;   
  
    z-index: -1;
}

.f-menu > li:nth-child(8)::before{ right: 1.675em;}
.f-menu > li:nth-child(9)::before{ right: 2.375em;}

.f-menu > li::after {
    position: absolute;
    content: '';
    border-radius: 50px;
    border: 1px solid transparent;   
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);

    -webkit-transition: all .2s;
	        transition: all .2s;     
    
    z-index: -1;
}

.f-menu > li:nth-child(8)::after{ border-radius: 100px/60px; }
.f-menu > li:nth-child(9)::after{ border-radius: 100px/50px;}

.f-menu > li:hover {
    background: #3e7f99;    
	color: #edecec;  
    
    -webkit-transition: all .2s;
	        transition: all .2s;  
   
}

.f-menu > li:hover::before {
    top: 2.9em;
    opacity: 1;
    visibility: visible;
    
    -webkit-transition-delay: .2s;   
            transition-delay: .2s;    
}

.f-menu > li:hover::after {
    border: 1px solid #3e7f99;    
      
    -webkit-transition-delay: .1s;   
            transition-delay: .1s; 
}

#display{
    background: #3e7f99;
    color: #edecec; 
}

#display::before{
    top: 2.9em;
    opacity: 1;
    visibility: visible;
}

#display::after{
    border: 1px solid #3e7f99;   
}

.d-menu{
    position: relative;
    background: #3e7f99;
    display: block;
    height: 50px;
    top: 0;
    text-align: center;
    
    -webkit-transition: all .2s;	
	        transition: all .2s;       
}

.d-menu > ul{
    position: absolute;
    padding: 9px;
    width: 1140px;
    margin: 0 auto;
    left: 0;
    right: 0;    
}

.d-menu > ul::before{    
	position: absolute;    
	content: '';
	display: block;
	clear: both;    
    height: 0;
    width: 0;	
	
	border: 12px solid transparent;  
	border-bottom: 20px solid  #3e7f99;	
	box-sizing: border-box;   
    
    top: -2em;
    -webkit-transition: all .2s;
	        transition: all .2s;	
    
    z-index: 9999;
}

.d-menu li{
    position: relative;
    display: inline-block;
    margin: auto 20px;  
    font-size: 20px;
    color: #edecec;  
    border: 1px solid transparent;
    border-radius: 0px;
    padding: 5px;
    top: -2px;    
	cursor: pointer;   
    z-index: 99999;
}

.d-menu li span ,
.d-menu li a{    
    color: #edecec;  
	cursor: pointer;  
}

.d-menu li > svg {
	position: absolute;
	top: 0;
	left: 0;
    z-index: -1;
}

.d-menu li > svg line {
	stroke-width: 0;
	stroke: #edecec;
	fill: none;        

	-webkit-transition: all .6s;
	        transition: all .6s;
}

.d-menu li:hover > svg > line {
	stroke-width: 3;
	stroke: #edecec;
    
	-webkit-transition-delay: .1s;
	        transition-delay: .1s;    

	-webkit-transition: all .3s;
	        transition: all .3s;

}

.d-menu li > svg > line.top-line,
.d-menu li > svg > line.bottom-line {
	stroke-dasharray: 92 70; 
}

.d-menu li svg > line.left-line,
.d-menu li svg > line.right-line {
	stroke-dasharray: 36 15;
}

.d-menu li:hover > svg > line.top-line {
    -webkit-transform: translateX(-82px);
        -ms-transform: translateX(-82px);
            transform: translateX(-82px);
}

.d-menu li:hover > svg > line.bottom-line {
    -webkit-transform: translateX(80px);
        -ms-transform: translateX(80px);
            transform: translateX(80px);
}

.d-menu li:hover > svg > line.left-line {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
}

.d-menu li:hover > svg > line.right-line {
    -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
            transform: translateY(-25px);
}

.tw-d-menu::before{ left: 18.7em; }
.tw-d-menu > li { right: 13.57em; }

.usa-d-menu::before{ left: 22.37em; }
.usa-d-menu > li { right: 10.5em; }

.eu-d-menu::before{ left: 26em; }
.eu-d-menu > li { right: 7.6em; }

.cn-d-menu::before{ left: 29.675em; }
.cn-d-menu > li { right: 4.8em; }

.jp-d-menu::before{ left: 33.37em; }
.jp-d-menu > li { right: 1.9em; }

.korea-d-menu::before{ left: 36.975em; }
.korea-d-menu > li { right: -1.1em; }

.wpo-d-menu::before{ left: 40.675em; }
.wpo-d-menu > li { right: -4em; }

.docdb-d-menu::before{ left: 45.05em; }
.docdb-d-menu > li { right: -7.7em; }

.integrate-d-menu::before{ left: 50.8em; }
.integrate-d-menu > li { right: -12.1em; }


#svg-display > svg line {
	stroke-width: 3;
}

#svg-display > svg > line.top-line {
    -webkit-transform: translateX(-82px);
        -ms-transform: translateX(-82px);
            transform: translateX(-82px);
}

#svg-display > svg > line.bottom-line {
    -webkit-transform: translateX(80px);
        -ms-transform: translateX(80px);
            transform: translateX(80px);
}

#svg-display > svg > line.left-line {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
}

#svg-display > svg > line.right-line {
    -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
            transform: translateY(-25px);
}


.t-menu{
    position: relative;
    background: #323232;
    display : block;
    height: 50px;
    top: 0;
    text-align: center;    
    -webkit-transition: all .2s;	
	        transition: all .2s;   
}

.t-menu > ul{
    position: absolute;
    padding: 9px;
    width: 1140px;
    margin: 0 auto;
    left: 0;
    right: 0;    
}

.t-menu > ul::before{    
	position: absolute;    
	content: '';
	display: block;
	clear: both;    
    height: 0;
    width: 0;	
	
	border: 9px solid transparent;  
	border-bottom: 15px solid  #323232;	
	box-sizing: border-box;   
    
    top: -1.3em; 

    -webkit-transition: all .2s;
	        transition: all .2s;	    
    
    z-index: 100;
}

.t-menu li{
    position: relative;
    display: inline-block;
    margin: auto 20px;  
    font-size: 20px;
    color: #edecec;  
    border: 1px solid transparent;
    border-radius: 0px;
    padding: 5px;
    top: -2px;    
	cursor: pointer;   
    z-index: 99999;
}

.t-menu li span ,
.t-menu li a{    
    color: #edecec;  
	cursor: pointer;  
}

.t-menu li > svg {
	position: absolute;
	top: 0;
	left: 0;
    z-index: -1;
}

.t-menu li > svg line {
	stroke-width: 0;
	stroke: #edecec;
	fill: none;        
    
	-webkit-transition: all .6s;
	        transition: all .6s;
}

.t-menu li:hover > svg > line {
	stroke-width: 3;
	stroke: #edecec;
    
	-webkit-transition-delay: .1s;
	        transition-delay: .1s;    

	-webkit-transition: all .3s;
	        transition: all .3s;

}

.t-menu li > svg > line.top-line,
.t-menu li > svg > line.bottom-line {
	stroke-dasharray: 92 70; 
}

.t-menu li svg > line.left-line,
.t-menu li svg > line.right-line {
	stroke-dasharray: 36 15;
}

.t-menu li:hover > svg > line.top-line {
    -webkit-transform: translateX(-82px);
        -ms-transform: translateX(-82px);
            transform: translateX(-82px);
}

.t-menu li:hover > svg > line.bottom-line {
    -webkit-transform: translateX(80px);
        -ms-transform: translateX(80px);
            transform: translateX(80px);
}

.t-menu li:hover > svg > line.left-line {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
}

.t-menu li:hover > svg > line.right-line {
    -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
            transform: translateY(-25px);
}

.tw-t-approval-menu::before{ left : 14.5em; }
.tw-t-approval-menu > li { right : 17em; }

.tw-t-global-menu::before{ left : 23em; }
.tw-t-global-menu > li { right : 10.2em; }

.usa-t-approval-menu::before{ left : 18.25em; }
.usa-t-approval-menu > li { right : 14em; }

.usa-t-global-menu::before{ left : 26.8em; }
.usa-t-global-menu > li { right : 7em; }

.eu-t-approval-menu::before{ left : 21.9em; }
.eu-t-approval-menu > li { right : 11em; }

.eu-t-global-menu::before{ left : 33.15em; }
.eu-t-global-menu > li { right : 1.9em; }

.jp-t-approval-menu::before{ left : 24.9em; }
.jp-t-approval-menu > li { right : 8.7em; }

.jp-t-global-menu::before{ left : 33.4em; }
.jp-t-global-menu > li { right : 1.8em; }

.jp-t-paj-menu::before{ left : 41.8em; }
.jp-t-paj-menu > li { right : -5em; }


.f-patentnav{   
    background: #edecec;
    position: fixed;
    left: 0;
    top: -3.7em;
    z-index: 9999;
}

.f-patentnav .logo{  
    -webkit-transform-origin: center left;  
    -ms-transform-origin: center left;  
    transform-origin: center left;    
    
    -webkit-transform: scale(0.5) translate(0, 1.8em); 
        -ms-transform: scale(0.5) translate(0, 1.8em); 
            transform: scale(0.5) translate(0, 1.8em); 

}

.f-patentnav .menu{ top: 4.5em }
.f-patentnav #account{ top: 5em; }
.f-patentnav #logout{ top: 4.3em; }
.f-patentnav #language{ top: 5.1em; }

/* main */

#main{  
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
         transition: all .3s;	   
}

.patent-title {
    position: relative;   
    background: #d0d0d0;
    text-align: center;
}

.patent-title h1{
    font-size: 52px;
    padding: 24px;
}

.patent-type,
.patent-search,
.patent-advance-search,
.patent-date,
.patent-table,
.patent-city{
    width: 1000px;
    margin: 20px auto;
    padding: 10px;
    
    -webkit-transition: all .3s;
         transition: all .3s;    
}

.patent-type h2,
.patent-search h2,
.patent-advance-search h2,
.patent-date h2,
.patent-table h2{
    font-size: 26px;
    border-bottom: 1px solid #b6b6b6;
}

.patent-type h2,
.patent-search h2,
.patent-date h2,
.patent-table h2{  
    padding-bottom: 5px;
}

.patent-advance-search h2{ 
    padding-bottom: 10px;
}

.patent-type h2 small,
.patent-search h2 small,
.patent-advance-search h2 small,
.patent-date h2 small,
.patent-table h2 small{
    position: relative;
    display: inline-block;
    font-size: 15px;
}

.patent-type h2 small,
.patent-search h2 small,
.patent-date h2 small,
.patent-table h2 small{
    top: -4px;
    width: 35%;
}

.patent-advance-search h2 small{
    top: 10px;
    width: 70%;
}

.patent-advance-search h2 sup a{
    margin-left: 15px;
}

.patent-type h2 sup a:hover,
.patent-search h2 sup a:hover,
.patent-advance-search h2 sup a:hover,
.patent-date h2 sup a:hover,
.patent-table h2 sup a:hover{
    color:#ffa076; 
    -webkit-transform: scale(1.2); 
        -ms-transform: scale(1.2); 
            transform: scale(1.2);
}

.patent-search-form{       
    position: relative;
    width: 100%;
    margin-top: 20px;   
     -webkit-transition: all .3s;
	         transition: all .3s;	    
}

.form-content{
    width: 74%;
    margin: 0 auto;   
}

.form-content span.new,
.form-content span.delete{
	position: relative;
    display: inline-block;	
    width: 35px;
	height: 35px;
    margin: auto 3px;
    top: 0.7em;
    cursor: pointer;
    
     -webkit-transition: all .3s;
	         transition: all .3s;	    
}

.form-content span.new:hover,
.form-content span.delete:hover{

    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}

.form-content span.delete{
    display: none;	
}

.form-content span.new::before,
.form-content span.delete::before{
	content: "";
	position: relative;
	display: block;
	background: #000;
	height: 27px;
	width: 7px;
	
	top: 4px;
    left: 13px;
}

.form-content span.new::after,
.form-content span.delete::after {
	content: "";
	position: absolute;
	display: block;
	background: #000;
	height: 27px;
	width: 7px;
	
	top: 4px;
    left: 13px;
}

.form-content span.new::after{    
	-webkit-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
            transform:rotate(90deg);
}

.form-content span.delete::before {
    
	-webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);    
}

.form-content span.delete::after {
    
	-webkit-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
            transform:rotate(-45deg);
}

.patent-search-sign,
.patent-search-select{
    background: none;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    
    -webkit-transition: all .3s;
        transition: all .3s;	   
}

.patent-search-sign{
    display: none;   
    height: 37px;
    font-size: 18px;
}

.patent-search-select{
    height: 36px;
    width: 173px;
    font-size: 20px;
    margin-left: 5px;
}

.patent-search-select:focus,
.patent-search-sign:focus{
    background: #fff;
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 5px #b6b6b6;  
    border-radius: 5px 5px 0 0;
}

.patent-search-input{
    background: none;
    border: 1px solid #b6b6b6;
    width: 672px;
    height: 22px;
    font-size: 20px;
    margin-left: 5px;
    padding: 6px;
    border-radius: 5px;
    
     -webkit-transition: all .3s;
	         transition: all .3s;	      
}

.patent-search-input:focus{
    background: #fff;
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 5px #b6b6b6;   
}

.patent-search-area{
    position: relative;
    background: none;
    border: 1px solid #b6b6b6;
    width: 914px;
    height: 215px;
    font-size: 20px;
    margin-left: 3px;    
    padding: 6px;
    
    right: -4.9em;
    border-radius: 5px;
    resize: none;
    
     -webkit-transition: all .3s;
	         transition: all .3s;	       
}

.patent-search-area:focus{
    background: #fff;
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 5px #b6b6b6;   
}

.hint{
    position: absolute;
    display: block;
    left: 64em;
    margin-top: -1.9em;    
    opacity: 0;
    visibility: hidden;
}

.patent-search-btn,
.patent-advance-btn,
.patent-tipo-btn{
    position: relative;
    display:block;
    background: none;
    border: 0;

    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;          

     -webkit-transition: all .3s;
	         transition: all .3s;	 
}

.patent-search-btn{ right: -55.4em; }
.patent-advance-btn{ right: -52.7em; }
.patent-tipo-btn{ right: -51.3em; }

.patent-search-btn:hover,
.patent-advance-btn:hover,
.patent-tipo-btn:hover{
    color: #dd856d;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
}

.patent-hint{
    position: absolute;
    background: #fff;
    width: 12%;
    right: 0;
    top: 24em;
    border-radius: 10px 0 0  10px;
    z-index:  100;
}


.table-name h2,
.sign-name h2{
    background: #d8d7d5; 
    font-size: 18px; 
    padding: 5px;
    text-align: center;
}

.table-name h2{
    border-radius: 10px 0 0 0;
}

.table-name p,
.sign-name p{   
    font-size: 14px;  
    padding: 5px 10px;
    line-height: 1.2em;
}

.patent-date-option{
    padding: 0 6em;
}

.date-of-declaration,
.date-of-application{
    display: inline-block;
    width: 37.5%;
    border: 1px solid #b6b6b6;
    margin-top: 1.6em;
    margin-left: 6em;
    
     -webkit-transition: all .3s;
	         transition: all .3s;    
}

.date-of-declaration h3,
.date-of-application h3{
    font-size: 20px;
    text-align: center;
    margin:  0.5em  1em;
    padding: 5px;    
    border-bottom: 1px solid #b6b6b6;
    
     -webkit-transition: all .3s;
	         transition: all .3s;    
}

.date-of-declaration label,
.date-of-application label{
    font-size: 18px;
    margin: 0 0 0 1em;
}

.date-of-declaration input,
.date-of-application input{
    background: none;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    width: 190px;
    height: 20px;
    font-size: 16px;
    margin: 10px 0 20px 0;
    padding: 6px;   
     -webkit-transition: all .3s;
	         transition: all .3s;	  
}

.date-of-declaration input:focus,
.date-of-application input:focus{
    background: #fff;
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 5px #b6b6b6;   

}

.ui-datepicker-trigger{
    position: relative;
    cursor: pointer;
    width: 10%;
    top: 10px;
    margin-left: 5px;
}

.patent-type-option,
.patent-table-option{   
    font-size: 18px;  
    padding: 0 3em;
    margin-top: 10px;
} 

.patent-type-option input,
.patent-table-option input{
    position: absolute;
    display: none;    
}

.patent-type-option label,
.patent-table-option label{
    cursor: pointer;
    display: inline-block;    
    width: 148px; 
    padding: 5px; 
    margin: 10px 7px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    text-align: center;

    -webkit-transition: all .2s;	
	        transition: all .2s;    
} 

#usa-type-option label{
    width: 26.6%;
}

.patent-type-option>  input:checked + label,
.patent-table-option>  input:checked + label{
	cursor: pointer;   
    background: #323232;    
	color: #edecec;  
}

.patent-ad {
	position: relative;
    background: #fff; 
	width: 100%;
	z-index: 1;    
}

.ad-wrap{ 
    clear: both;    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;   
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    
    -webkit-transition: all .3s;
         transition: all .3s;    
}

.patent-ios,
.patent-android,
.patent-grabber{  
    
    display: -webkit-flex;
    display:     -ms-flexbox;
    display:         -webkit-box;
    display:         flex;
    
    border: 1px solid #edecec;
    width: 28.5%;
    padding: 2em;
    margin: 0 5px;
    
    -webkit-flex: 25%;
        -ms-flex: 25%;
            -webkit-box-flex: 28.5%;
            flex: 28.5%;

}

.ios-content,
.android-content,
.grabber-content{
    position: relative;   
    display: -webkit-flex;
    display:     -ms-flexbox;
    display:         -webkit-box;
    display:         flex;
    
    margin-bottom: 0;
    padding: 8px 20px;   
    
    -webkit-flex: 1;
        -ms-flex: 1;
            -webkit-box-flex: 1;
            flex: 1;
    
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
}

.patent-ios h3,
.patent-android h3,
.patent-grabber h3{  
    
    display: -webkit-flex;
    display:     -ms-flexbox;
    display:          -webkit-box;
    display:          flex;
    margin-top: 8px;
}

.patent-ios p,
.patent-android p,
.patent-grabber p{  
       
    display: -webkit-flex;
    display:     -ms-flexbox;
    display:         -webkit-box;
    display:         flex;
    
    color: #777;
    margin-top: 10px;
    margin-bottom: 16px;   
    
   
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            -webkit-box-flex: 1;
            flex: 1 0 auto;

}

.patent-ios a,
.patent-android a,
.patent-grabber a{  
    display: block;
    margin: 0 auto;    
    -webkit-transform: scale(0.8);    
        -ms-transform: scale(0.8);    
            transform: scale(0.8);
}

.footer-wrap {
	width: 100%;
	background: #1f2020;
}

.footer-top {
    background: #242424;
    width: 100%;
    text-align: left;
}