/* @media (min-width: 1390px) */
@media only screen and (min-width: 1390px){
    
    .ad-wrap,
    .patent-type,
    .patent-search,
    .patent-advance-search,
    .patent-date,
    .patent-table,
    .patent-city{
        width: 1250px;
    }
    
    .patent-type h2 small,
    .patent-search h2 small,
    .patent-date h2 small,
    .patent-table h2 small{
        width: 25%;
    }
    
    .date-of-declaration,
    .date-of-application{
        width: 31.5%;
    }
    .date-of-declaration label,
    .date-of-application label{       
        margin: 0 0 0 1.7em;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1033px) {  
    
    .ad-wrap,
    .patent-type,
    .patent-search,
    .patent-advance-search,
    .patent-date,
    .patent-table,
    .patent-city{
        width: 712px;
    }
    
    .patent-type h2 small,
    .patent-search h2 small,
    .patent-advance-search h2 small,
    .patent-date h2 small,
    .patent-table h2 small{
        width: 45%;
    } 
    
    .date-of-declaration,
    .date-of-application{
        width: 48.5%;
        margin-left: 0em;
    }
    
    .date-of-declaration input, 
    .date-of-application input {
        width: 136px;
        height: 13px;    
    }
    
    .patent-table-option label{ margin: 10px 0; width: 135px;  }
    
    .patent-ios, 
    .patent-android, 
    .patent-grabber{
        padding: 0;
    }
    
}

/* @media (min-width: 1200px) */
@media only screen and (min-width: 1200px){

    .resource {
        width: 22.9%;
        max-height: 8.3em;
        padding: 4.2em 1%;
    }      

    .tabs  > label{ left: 0em; }   
    
    .apps h1{ padding: 0 3em; }
    
     .apps2 h1{ padding: 0 5.5em; }
    
    .apps2 p{ font-size:  40px}
    
    .item{ width: 1120px; }
}

/* @media (max-width: 950px)  */
@media only screen and (max-width: 950px) {
    .tabs > label { margin: auto -3px; left: 8em;}
    .f-nav .tabs > label { left: 2em; }
}

/* @media (max-width: 893px)  */
@media only screen and (max-width: 893px) {
    .tabs > label { left: 4em;}
    .logo img { transform: scale(0.7) translate(-3em, 0); }
    .f-nav .logo img { transform: none; }
}


/* @media (min-width: 768px) and (max-width: 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {    
    
    .global-patent section:nth-child(n+1) {
        border-right: 1px solid #d6d8d9;		
    }

    .global-patent section:nth-child(3n+1) {
        border-right: none;	
    }  
    
    .resource { width: 31.2%; }    
    
    .item{ width: 100%; }   
    .mixpanel{ margin-right: 0; }
    .scrolltop{ right: 0; }  
}

/* @media (max-width: 767px) */
@media only screen and (max-width: 767px) {	

    .global-patent section:nth-child(2n+1) {
        border-right: none;	
    }    
    
    .resource { width: 47.8%; }    
    .apps, .apps2{ width: 100% }
    .pic , .pic2 { display: none; }    
    .tool-bar figure{ width: 50%; }
    .mixpanel{ margin-right: 0; }   
    .scrolltop{ right: 0; }  
    
    .ad-wrap,
    .patent-type,
    .patent-search,
    .patent-advance-search,
    .patent-date,
    .patent-table,
    .patent-city{
        width: 480px;
    }
    
    .patent-type h2 small,
    .patent-search h2 small,
    .patent-advance-search h2 small,
    .patent-date h2 small,
    .patent-table h2 small{
        width: 70%;
    } 
    
    .patent-table-option,
    .patent-date-option{
        padding: 0 0;
    }
    
    .date-of-declaration,
    .date-of-application{
        width: 49%;
        margin-left: 0em;
    }
    
    .date-of-declaration input, 
    .date-of-application input {
        width: 136px;
        height: 13px;    
    }
    
    .patent-table-option label{ margin: 10px 3px;  width: 45%;}
    
    .patent-ios, 
    .patent-android, 
    .patent-grabber{
        padding: 0;
    }    
    
    .patent-ad{ display: none; }
}

/* @media (min-width: 480px) and (max-width: 767px) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}

/* @media (max-width: 480px)  */
@media only screen and (max-width: 480px) {
    .global-patent section:nth-child(n+1) {
        border-right: none;	
    }    
    
    .resource { width: 98%; }  
    .mixpanel{ margin-right: 0; }    
     footer p{ letter-spacing: 0; }
    
}