/* Layout */
*::before, *::after { 
	box-sizing: border-box; 
}

*{
	margin: 0 ;
	padding: 0 ;
}


h1,h2,h3,h4,h5{
    font-weight: normal;
}

a,button {
  color: #000;
	text-decoration: none;	
	outline:none;
	blr: expression(this.onFocus=this.blur());	
}

a:hover {
	text-decoration: none;
	outline:none;
	blr: expression(this.onFocus=this.blur());	

}

ol{
	list-style: none outside none;
}

ul {
  margin: 0;  
  list-style: none;
}

img {
	border: 0 none;
}


body {	
	font-family: Helvetica, Arial, "LiHei Pro", "Microsoft MHei" , "Microsoft YeHei" , "Microsoft JhengHei" , sans-serif;
	min-height: 100%;
	margin: 0 auto;
}

a,button,input,select,textarea {
    color: #000;
	text-decoration: none;	
	outline:none;
	blr: expression(this.onFocus=this.blur());	
}

a:hover {
	color: #edecec;
	text-decoration: none;
	outline:none;
	blr: expression(this.onFocus=this.blur());	
	
	-webkit-transition: all .3s;
	        transition: all .3s;	
}

#wrap{
	background: #edecec;
	width: 100%;
	height: 100%;
	margin: 0;
}

/* Layout end*/


/* Clear fix */
.global-patent::before, .global-patent:after,
.item::before,.item::after,.patent-search-form,
.patent-hint,.patent-search{
  content: "";
  display: table;
}

.global-patent::after,.item::after,.patent-search-form,
.patent-hint,.patent-search{
	clear: both;
}

.global-patent,.item,.patent-search-form,
.patent-hint,.patent-search{
  zoom:1; /*IE6, IE7*/
}
/* Clear end */

/* Header */
.top-header{
	background: #edecec;
	position: relative;		
	width: 100%;
	top: 0;
    -webkit-transform: rotate3d(1,0,0,90deg); 
    transform: rotate3d(1,0,0,90deg);  
   -webkit-transition: all 1s;	
	       transition: all 1s;	    
	z-index: 9999;	
}

.logo{    
    position: relative;
	padding: 3px;
    width: 21%;
	margin-left: 5px;	
	-webkit-transform: scale(1) translate(0em , 0em);
	        -ms-transform: scale(1) translate(0em , 0em);
	        transform: scale(1) translate(0em , 0em);
    z-index: 11;        
}

.logo a{
    position: relative;
    display: block;
    
    z-index: 99999;    
}

.logo img{
   -webkit-transition: all .4s;	
	       transition: all .4s;	   
}

.tabs {
	position: absolute;    
	top: 55px;
    margin: 0 auto;
    left: 0;
    right: 0;
	text-align: center;	
	z-index: 10;
}

.tabs > input {
	position: absolute;
	display: none;
}

.tabs  > label{
	position: relative;
	display: inline-block;
	padding: 5px;
	font-size: 16px;
	margin: auto 5px;	
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 2px 7px -2px transparent;	
	left: 7em;          
   -webkit-transition: all .4s;	
	       transition: all .4s;	

	z-index: 1;
			
}

.tabs  > label::before{
    position: absolute;
    display: block;
    content: '';    
    border-left: 20px solid transparent;
    border-bottom: 17px solid #9f9f9f;
    border-right: 20px solid transparent;
    left: 0;  
    top: 0;
    opacity: 0;
    visibility: hidden;    
    
   -webkit-transition: all .4s;	
	       transition: all .4s;	
    
    z-index: -1;
			
}

.tabs  > label:nth-child(16)::before{ left: 0.9em;}

.tabs >  input:checked + label {
	cursor: default;
	background: #9f9f9f;	
	color: #edecec;
	box-shadow: 0 2px 7px -2px #000;
    
   -webkit-transition: all .4s;	
	       transition: all .4s;	    
}

.tabs >  input:checked + label::before {
    top: 3.5em;    
    opacity: 1;
    visibility: visible;    
    
     z-index: 1;
}

.tabs >  input:checked + label:nth-child(16)::before{ top: 3.3em;  }


.tab-content{
	position: relative;
    display: block;
    top: 2.25em;
    
   -webkit-transition: all .3s;	
	       transition: all .3s;	     
}

.tab-content > ul{
    margin: 0;
    padding: 0;
}

.tab-content  > ul > li {
	position: absolute;
    background: #9f9f9f;

	top: 5px;
	width: 100%;
	height: 70px;	
	opacity: 0;
	        	
	-webkit-transform-origin: 0% 0%;
			-ms-transform-origin: 0% 0%;
					transform-origin: 0% 0%;
					
	-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;	
            transition: opacity 0.8s,         transform 0.8s;	

	
}

.tabs  > .tab-content-1:checked ~ .tab-content ul > .tab-content-1,
.tabs  > .tab-content-2:checked ~ .tab-content ul > .tab-content-2,
.tabs  > .tab-content-3:checked ~ .tab-content ul > .tab-content-3,
.tabs  > .tab-content-4:checked ~ .tab-content ul > .tab-content-4,
.tabs  > .tab-content-5:checked ~ .tab-content ul > .tab-content-5,
.tabs  > .tab-content-6:checked ~ .tab-content ul > .tab-content-6,
.tabs  > .tab-content-7:checked ~ .tab-content ul > .tab-content-7,
.tabs  > .tab-content-8:checked ~ .tab-content ul > .tab-content-8{
	position: relative;
	z-index: 1;
	opacity: 1;
}

.search-input,.search-btn,
.search-which{
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
}

.tabs-box{
    position: relative;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.search-input{  
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border: 4px solid #d9d9d9;
    border-left: none;
    height: 30px;
    margin: 11px auto;
    border-radius: 0 5px 5px 0;
}

.search-btn{
    position: absolute;
    background: transparent;   
    height: 35px;
    border-left: 1px solid #000;    
    right: -4.6em;
    padding: 4px 10px;
    top: 1.26em;
    cursor: pointer;    
    opacity: 0;
    visibility: hidden;    
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.search-btn::before{
    position: absolute;
    content: '';
    border: 3px solid #d9d9d9;   
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: 0.2em;
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.search-btn:hover::before{
    border: 3px solid #000; 
    
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.search-btn::after{
    position: absolute;
    content: '';
    background: #d9d9d9;   
    width: 3px;
    height: 15px;
    top: 1.6em;
    right: -1.4em;
	
	-webkit-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
	        transform:rotate(-45deg);   
    
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.search-btn:hover::after{
    background: #000;   
    
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.search-select{
    position: absolute;
    background: #fff;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: 4px solid #d9d9d9;
    left: -4em; 
    top: 0.67em;
}

.search-select:hover{
	border-radius: 5px 5px 0 0;
}

.search-select span{
	display: block;
	cursor: pointer;

}

.search-select img{
	margin: 4px 12px;
}

#select-item {	
	background: #fff;
	position: absolute;
	width: 160px;
    border: 4px solid #d9d9d9;
	border-radius: 0 5px 5px 5px;
    box-shadow: 0 5px 9px -5px #000;
	left: 0;
	top: 3.5em;    
	opacity: 0;
	visibility: hidden;
	
	z-index: 999999;	
}

#select-item li{	
	display: block;
	width: 100%; 

	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

#select-item li a{
	display: block;
	padding: 5px;
}

#select-item li a img{	
	margin: auto 5px;
}

#select-item li a h1{	
	position: relative;
	display: inline-block; 
    font-size: 16px;
    top: -7px;
    color: #000;
}

#select-item  li a:hover{
	background: #C45C4E;
}

.search-select:hover > #select-item{
	top: 2.53em;	
  opacity: 1;
  visibility: visible;
}

.more {
    position: absolute;
    background: #f0f0f0;
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    right: 0;
    top: 1.6em;
    
    opacity: 0;
    visibility: hidden;   
    
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.more::before {
    content: "";
    position: absolute;
    display: block;
    background: #f0f0f0;
    width: 24px;
    height: 24px;
    border: 2px solid #888;
    top: -7px;
    left: -8px;
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.more:hover
,.more:hover::before {   
    background: #888;
    border: 2px solid #f0f0f0;      
}

#login{	
	position: absolute;
	display: inline-block;	
	font-size: 18px;
	right: 4.7em;
	top: 55px;
	z-index: 999;
}

#login span{	
	display: inline-block;
	background: #000; 
	color: #edecec;
	border: 1px solid #000;
	border-radius: 5px;	
	padding: 4.5px 7px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}

#login span:hover{	
	background: #edecec; 
	color: #000;
}

#logout{
	position: absolute;
	display: inline-block;	
	font-size: 18px;
	right: 83px;
	top: 55px;
	z-index: 999;
}


#logout span{	
	display: inline-block;
	background: #000; 
	color: #edecec;
	border: 1px solid #000;
	border-radius: 5px;	
	padding: 4.5px 7px;
	cursor: pointer;
}

#logout span:hover{	
	background: #edecec; 
	color: #000;
}

.f-nav{   
    background: #edecec;
    position: fixed;
    left: 0;
    top: -2em;
    z-index: 9999;
}

.f-nav .logo{  
    -webkit-transform-origin: center left;  
    -ms-transform-origin: center left;  
    transform-origin: center left;    
    
    -webkit-transform: scale(0.5) translate(0, 0); 
        -ms-transform: scale(0.5) translate(0, 0); 
            transform: scale(0.5) translate(0, 0); 

}

.f-nav .menu > label::before{
    top: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.f-nav .menu > .second-list-1:checked ~ .second-list-1,
.f-nav .menu > .second-list-2:checked ~ .second-list-2,
.f-nav .menu > .second-list-3:checked ~ .second-list-3,
.f-nav .menu > .second-list-4:checked ~ .second-list-4,
.f-nav .menu > .second-list-5:checked ~ .second-list-5,
.f-nav .menu > .second-list-6:checked ~ .second-list-6,
.f-nav .menu > .second-list-7:checked ~ .second-list-7,
.f-nav .menu > .second-list-8:checked ~ .second-list-8{
    top: 0.37em;
}

.f-nav .second-list-1::after,
.f-nav .second-list-2::after,
.f-nav .second-list-3::after,
.f-nav .second-list-4::after,
.f-nav .second-list-5::after,
.f-nav .second-list-6::after,
.f-nav .second-list-7::after,
.f-nav .second-list-8::after{
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}


.f-nav .tab-content{
    top: 0.28em; 
}

.f-nav .tabs > label{
    left: 0em;
}

.f-nav .tabs >  input:checked + label::before{
    top: 1.75em;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    
	-webkit-transition: all .3s;
	        transition: all .3s;	    
}

.f-nav .tabs >  input:checked + label:nth-child(16)::before{ top: 1.55em;  }

.in{
	
	-webkit-transform: translateX(355px) translateY( -318px ) scale(0);
	        -ms-transform: translateX(355px) translateY( -318px ) scale(0);
	        transform: translateX(355px) translateY( -318px ) scale(0);
	        
	-webkit-transition: all .3s;
	        transition: all .3s;		        
}
	
.login-form{
	position: fixed;
	display: block;
	background: rgb(200,201,202); 
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(200,201,202,0.7)), color-stop(25%,rgba(255,255,255,1)), color-stop(49%,rgba(235,235,235,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(200,201,202,0.7))); 
	background: -webkit-linear-gradient(45deg,  rgba(200,201,202,0.7) 0%,rgba(255,255,255,0.7) 25%,rgba(235,235,235,1) 49%,rgba(255,255,255,0.7) 75%,rgba(200,201,202,0.7) 100%); 
	background:         -webkit-linear-gradient(45deg, rgba(200,201,202,0.7) 0%, rgba(255,255,255,0.7) 25%, rgba(235,235,235,1) 49%, rgba(255,255,255,0.7) 75%, rgba(200,201,202,0.7) 100%); 
	background:         linear-gradient(45deg,  rgba(200,201,202,0.7) 0%,rgba(255,255,255,0.7) 25%,rgba(235,235,235,1) 49%,rgba(255,255,255,0.7) 75%,rgba(200,201,202,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c9ca', endColorstr='#c8c9ca',GradientType=1 ); 
	width: 320px;
	height: 308px;
	
    right: 18.9em;
	top: 14.6em;
	opacity: 1;
	border-radius: 5px;
	box-shadow: 0px 0px 60px -15px #000; 
	        	        	
	overflow: hidden;	

    z-index: 100;	    
}

.login-form a.close{
	position: absolute;
	display: block;
	background: #fefefe;
	width: 16px;
	height: 16px;
	right: 6px;
	top: 8px;
	border-radius: 50px;
	box-shadow: 0 2px 5px -2px #000;        
	         	        
	overflow: hidden;	
}

.login-form a.close::before {
	content: "";
	position: absolute;
	display: block;
	background: #bbbbba;
	height: 11px;
	width: 2px;
	left: 7px;
	top: 3px;
	
	-webkit-transform:rotate(45deg);
	        -ms-transform:rotate(45deg);
	        transform:rotate(45deg);
}

.login-form a.close::after {
	content: "";
	position: absolute;
	display: block;
	background: #bbbbba;
	height: 11px;
	width: 2px;
	left: 7px;
	top: 3px;
	
	-webkit-transform:rotate(-45deg);
	        -ms-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}

.login-form a.close:active{

	-webkit-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	        transform: rotate(360deg);        
}

.login-form form{
	margin: 42px 1em 22px 1em;
	border-bottom: 2px solid #bbbbba;

}

.account,.password{
	font-size: 19px;
	width: 270px;
	height: 18px;
	border: 0;
	letter-spacing: 1px;
	padding: 6px;
	box-shadow: 0 2px 7px -2px #000;
	border-radius: 5px;
}

.account{
	margin-bottom: 25px;
}

.password{	
	margin-bottom: 20px;
}

.submit{
	background: #dd856d;
	font-size: 21px;	
	width: 183px;
	height: 40px;
	color: #fff;	
	border: 0;
	cursor: pointer;
	box-shadow: 0 2px 7px -2px #000;
	border-radius: 5px;		
	-webkit-transition: all .3s;
	        transition: all .3s;    
}

.submit:hover{
	background: #e8a390;
	color: #fff;	
	-webkit-transition: all .3s;
	        transition: all .3s;    
}

.forget{	
	position: relative;
	font-size: 18px;
	top: -20px;
	left: 11em;
}

.forget a:hover{ color:#dd856d; }

.social{
	margin-bottom: 42px;
	padding: 0 1em;	
}

.fb,.company{
	display: inline-block;
	font-size: 14px;
	height: 20px;
	box-shadow: 0 2px 7px -2px #000;
	border-radius: 5px;				
}

.fb a,.company a{
	display: block;	
	color: #fff;	
}

.fb{
	background: #29488c;
	padding: 8px;
	-webkit-transition: all .3s;
	        transition: all .3s;       
}

.fb:hover{
	background: #5270b1;
	-webkit-transition: all .3s;
	        transition: all .3s;   
}

.company{
	background: #44a244;	
	padding: 8px;
	margin-left: 3px;
	-webkit-transition: all .3s;
	        transition: all .3s;       
}

.company:hover{
	background: #62c462;	
	-webkit-transition: all .3s;
	        transition: all .3s;       
}

#language{	
	position: absolute;
	font-size: 15px;
	right: 10px;
	top: 55px;	        
	z-index: 500;	      
}

#language-list{
	margin: 0;
	padding: 0;
}

#language-list li span {
	display: block;
	cursor: pointer;
	padding: 5px 3px;
	box-shadow: 0 2px 7px -2px transparent;
	border-radius: 5px 5px 0 0;			
}

#language-list li span img{
	position: relative;
	top: 0;
}

#language-list li span h1{
	position: relative;
	display: inline-block;
    font-size: 16px;
	top: -0.41em;
	right: 0px;	
}

#language-list li span:hover {
	background: #000;
	box-shadow: 0 2px 7px -2px #000;			
}

#language-list li span:hover h1{
	color: #edecec;	
}

#language-list li:hover span { 
	background: #000;
	box-shadow: 0 2px 7px -2px #000;	
}

#language-list li:hover h1 { 
	color: #edecec;	
}

#language-list ul {	
	background: rgb(0,0,0); /* Old browsers */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(61,61,61,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(61,61,61,1) 100%);
	background:         -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(61,61,61,1) 100%);
	background:         linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(61,61,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3d3d3d',GradientType=0 );
	
  position: absolute;
	right: 0;
	top: 4.5em; 
	width: 160px;   
  border-radius: 5px;	
  opacity: 0;
  visibility: hidden;
	box-shadow: 0 2px 7px -2px #000;	
      		        
	z-index: 999999;	        
}

#language-list ul li{	
	width: 100%; 
	opacity: 0;
          
  -webkit-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

#language-list ul li a{
	display: block;
	padding: 5px;
}

#language-list ul li a img{	
	margin: auto 5px;
}

#language-list ul li a h1{	
	position: relative;
	display: inline-block; 
    font-size: 16px;
	top: -7px;
	color: #edecec;
}

#language-list ul li a:hover{
	background: #555;
	box-shadow: 0 2px 7px -2px #000;	
}

#language-list li:hover > ul {
  top: 2.5em;
  opacity: 1;
  visibility: visible;
	-webkit-transform: none;
	    -ms-transform: none;
	       transform: none;
}

#language-list li:hover > ul li{
	opacity: 1;
	
	-webkit-transform: none;
	    -ms-transform: none;
	       transform: none;
}

#language-list ul li:nth-child(1) {
	
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}
#language-list ul li:nth-child(2) {

	-webkit-transition-delay: 50ms;
	        transition-delay: 50ms;    
}
#language-list ul li:nth-child(3) {
	-webkit-transition-delay: 100ms;
	        transition-delay: 100ms; 
}
#language-list ul li:nth-child(4) {
	-webkit-transition-delay: 150ms;
	        transition-delay: 150ms; 
}

header,.logo,.f-nav,
.tabs,.menu,#account,#logout,
.search-which,.search-which:hover,
#select-item,
#login,
#login span,
#logout,
#logout span,
#login span:hover,
.login-form,
.login-form a.close,
.login-form a.close::before,
.login-form a.close::after,
.login-form a.close:active,
#language,
#language-list li span,
#language-list li span h1,
#language-list li span:hover,
#language-list li span:hover h1,
#language-list li:hover,
#language-list ul,
#language-list ul li,
#language-list ul li a,
#language-list ul li a:hover {		
	
	-webkit-transition: all .3s;
	        transition: all .3s;		
}
/* Header end*/

/* Section */
#content{
	width: 100%;	
	margin-top: 4.4em;
	padding:0;
}

.jms-slideshow{
	position: relative;	
	max-width: 100%;
	width: 100%;
	overflow: hidden;		
}

.jms-wrapper {
	width: auto;
	min-width: 600px;	
	outline: none;
		
  -webkit-animation: slidein .8s cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s 1 both normal running; 
          animation: slidein .8s cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s 1 both normal running; 
          	
	-webkit-transition: all 2s linear;
	        transition: all 2s linear;
	
}

.color-1 {
	background: url(../image/bg-1.png) no-repeat center center;
	background-size: cover;
}

.color-2 {
	background: url(../image/bg-2.jpg) no-repeat center center;
	background-size: cover;
}

.color-3 {
	background: url(../image/bg-4.jpg) no-repeat center center;
	background-size: cover;
}

.step {	
	width: 1000px;
  height: 420px;
	display: block;
	
	-webkit-transition: all 2s linear;
	        transition: all 2s linear;
}

.step:not(.active) {
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}

.jms-content{
	margin: 0px 370px 0px 20px;
	position: relative;
	clear: both;
}

.jms-content h3{
	color: #fff;
	font-size: 52px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin-left: 0;
	padding: 60px 0 10px 0;
	opacity: 1;
	
	-webkit-transition: all 0.4s ease-in-out 1s;
	        transition: all 0.4s ease-in-out 1s;		
}

.step:not(.active) .jms-content h3{
	opacity: 0;
	margin-left: -18em;
}


.jms-content p {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-size: 25px;
	font-weight: normal;
	position: relative;
	left: 0;
	opacity: 1;	
	line-height: 1.5em;
	
	-webkit-transition: all 0.4s ease-in-out 1.2s;
	        transition: all 0.4s ease-in-out 1.2s;		
}

.step:not(.active) .jms-content p{
	opacity: 0;
	left: -16em;
}

a.jms-link{
	background: #f0f0f0;
	display: inline-block;
	clear: both;
	text-transform: uppercase;
	padding: 8px 15px;
	margin-top: 40px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	border-radius: 4px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	opacity: 1;

	
	-webkit-transition: all 0.4s ease-in-out 1.5s;
	        transition: all 0.4s ease-in-out 1.5s;
}

.step:not(.active) a.jms-link{
	opacity: 0;
	margin-top: 80px;
}

.step img.jms-img{
	position: absolute;
	right: -9em;
	top: 3em;
	opacity: 1;
	
	-webkit-transform: scale(1.8);
	        -ms-transform: scale(1.8);
	        transform: scale(1.8);
	        	
	-webkit-transition: all 0.4s ease-in-out 1s;
	        transition: all 0.4s ease-in-out 1s;	
}

.step:not(.active) img.jms-img{
	right: -26em;
	opacity: 0;	
}

.jms-dots{
	width: 100%;
	position: absolute;
	text-align: center;

	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jms-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #777;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.3);
}

.jms-dots span.jms-dots-current:after{
	content: '';
	background: #ffffff; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */ /* IE10+ */ /* FF3.6+ */ /* Opera 11.10+ */
	background:         -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background:         linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */	
	
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
}

.jms-slideshow:hover .jms-arrows span{
	top: 50%;	
	opacity: 1;
	visibility: visible;		
	

	-webkit-transition: all .3s;
	        transition: all .3s;		
}

.jms-arrows{	
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;        
}

.jms-arrows span{
	position: absolute;
	top: 47%;
	opacity: 0;
	visibility: hidden;		
	margin-top: -40px;
	height: 80px;
	width: 30px;
	cursor: pointer;
	z-index: 2000;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	

	-webkit-transition: all .3s;
	        transition: all .3s;			
}

.jms-arrows span.jms-arrows-prev{
	background: #fff;
	left: 10px;
	border-radius: 510px;
	width: 40px;
	height: 40px;
}

.jms-arrows span.jms-arrows-prev::before{
	content: "";
	position: absolute;
	display: block;
	background: #bbbbba;
	height: 15px;
	width: 2px;
	left: 18px;
	top: 9px;
	
	-webkit-transform:rotate(55deg);
	        -ms-transform:rotate(55deg);
	        transform:rotate(55deg);
}

.jms-arrows span.jms-arrows-prev::after{
	content: "";
	position: absolute;
	display: block;
	background: #bbbbba;
	height: 15px;
	width: 2px;
	left: 18px;
	top: 17px;
	
	-webkit-transform:rotate(-55deg);
	        -ms-transform:rotate(-55deg);
	        transform:rotate(-55deg);
}

.jms-arrows span.jms-arrows-prev:hover::before,
.jms-arrows span.jms-arrows-prev:hover::after{	
	
	left: 15px;		
	-webkit-transition: all .3s;
	        transition: all .3s;			
}

.jms-arrows span.jms-arrows-next{
	background: #fff;
	right: 10px;
	border-radius: 510px;
	width: 40px;
	height: 40px;
	
	-webkit-transform: rotate(180deg);
	        -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.jms-arrows span.jms-arrows-next::before{
	content: "";
	position: absolute;
	display: block;
	background: #bbbbba;
	height: 15px;
	width: 2px;
	left: 18px;
	top: 9px;
	
	-webkit-transform: rotate(55deg);
	        -ms-transform: rotate(55deg);
	        transform: rotate(55deg);
}

.jms-arrows span.jms-arrows-next::after{
	content: "";
	position: absolute;
	display: block;
	background: #bbbbba;
	height: 15px;
	width: 2px;
	left: 18px;
	top: 17px;
	
	-webkit-transform: rotate(-55deg);
	        -ms-transform: rotate(-55deg);
	        transform: rotate(-55deg);
}

.jms-arrows span.jms-arrows-next:hover::before,
.jms-arrows span.jms-arrows-next:hover::after{	
	
	left: 15px;		
	-webkit-transition: all .3s;
	        transition: all .3s;			
}

/* Not supported style */
.jms-wrapper.not-supported{
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}

.jms-wrapper.not-supported:after{
	content: 'The slideshow functionality is not supported on your device.';
	padding: 0px 0px 30px 0px;
	text-align: center;
	display: block;
}

.jms-wrapper.not-supported .step{
	display: none;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	margin: 20px auto;
}

.jms-wrapper.not-supported .step:first-of-type{
	display: block;
}

.jms-wrapper.not-supported .step:not(.active) .jms-content h3{
	opacity: 0;
	margin-left: -18em;
}

.jms-wrapper.not-supported .step:not(.active) .jms-content p{
	opacity: 0;
	left: -16em;
}

.jms-wrapper.not-supported .step:not(.active) a.jms-link{
	opacity: 0;
	margin-top: 40px;
}

.jms-wrapper.not-supported .step:not(.active) img.jms-img{	
	opacity: 0;
	right: -26em;
}

.global-patent{
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 20;
}

.global-patent header h1{
	width: 100%;	
	margin: 1em auto;
    font-size: 30px;
	top: 0;
	opacity: 1;
	
  -webkit-animation: disappear .4s cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s 1 both normal running; 
          animation: disappear .4s cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s 1 both normal running; 	

    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);   
    
	-webkit-transition: all .8s;
	        transition: all .8s;    
    
	z-index: 2;
}

.global-patent section:nth-child(n+1) {
	border-right: 1px solid #d6d8d9;		
}

.global-patent section:nth-child(4n+5) {
	border-right: none;	
}

.resource img,.resource h2,.resource time,.resource p,.resource a,
.resource:hover,.resource:hover img,.resource:hover h2,.resource:hover time,
.resource:hover p,.resource:hover a{

	-webkit-transition: all .3s;
	        transition: all .3s;	
}

.resource{	
    float: left;
    border-top: 1px solid #d6d8d9;
    max-width: 100%;
    width: 22.9%;
    max-height: 8.3em;
    padding: 4.2em 1%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);   
    
	-webkit-transition: all 1s;
	        transition: all 1s;	     
}

.resource:hover{	  
    background: rgba(211, 211, 211, 0.5);
	-webkit-transition: all 1s;
	        transition: all 1s;	     
}


.resource::before,
.resource::after{
    content: '';
    display: table;
    box-sizing: border-box;
}

.resource img{
	margin-top: 0;	
	margin-bottom: 11px;

}

.resource h2{	
	font-size: 24px;
	margin-bottom: 24px;
	line-height: 1em;	
}

.resource time{
	font-size: 14px;	
}

.resource .old{
	position: relative;
	top: 0;	
	line-height: 1em;	
}

.resource p{
	position: relative;
	line-height: 30px;
	top: 43px;
	opacity: 0;
	visibility: hidden;
}

.resource a:hover{	
	color: #a6ddff;
}

.resource:hover img{
	margin-top: -2em;
}

.resource:hover time.old{
	position: relative;
	top: 5em;
	opacity: 0;
	visibility: hidden;	
}

.resource:hover p{
	top: -23px;;
	opacity: 1;
	visibility: visible;
}

.app-download{
	background: url(../image/intro_type.png) no-repeat center center;
	background-size: cover;
	overflow: hidden;
	
	max-width: 100%;
	min-height: 400px;			
	width: 100%;
	height: 100%; 	
}

.apps,.pic,.apps2,.pic2{
	position: relative;	
	float: left;
	width: 50%;
	text-align: center;
	z-index: 2;
}

.apps{
	margin-top: 6em;
    
    opacity: 0;
    visibility: hidden;
    
    -webkit-transform: translateX(-30em);
       -moz-transform: translateX(-30em);
        -ms-transform: translateX(-30em);
         -o-transform: translateX(-30em);
            transform: translateX(-30em);  
    
	-webkit-transition: all .8s;
	        transition: all .8s;	    
}

.pic{
    opacity: 0;
    visibility: hidden;
    
    -webkit-transform: translateX(30em);
       -moz-transform: translateX(30em);
        -ms-transform: translateX(30em);
         -o-transform: translateX(30em);
            transform: translateX(30em);  
    
	-webkit-transition: all 1s;
	        transition: all 1s;	  
}


.apps h1,
.apps2 h1{
	font-family: "Microsoft MHei";	
    padding: 0 0;
	margin-bottom: 30px;
	font-size: 60px;	
}

.apps h1 { 
    font-size: 55px; 
    color: #fff; 
}

.apps p{	
	display: inline-block;
	margin: auto 10px;
}

.grabber-download{	
	display: block;
	max-width: 100%;
	min-height: 400px;			
	width: 100%;
	height: 100%; 		
	overflow: hidden;	
}

.pic2{
	margin-top: 5em;
    
    opacity: 0;
    visibility: hidden;
    
    -webkit-transform: translateX(-30em);
       -moz-transform: translateX(-30em);
        -ms-transform: translateX(-30em);
         -o-transform: translateX(-30em);
            transform: translateX(-30em);  
    
	-webkit-transition: all 1s;
	        transition: all 1s;    
}

.apps2 {
	margin-top: 6em;
    
    opacity: 0;
    visibility: hidden;    
    
    -webkit-transform: translateX(30em);
       -moz-transform: translateX(30em);
        -ms-transform: translateX(30em);
         -o-transform: translateX(30em);
            transform: translateX(30em);  
    
	-webkit-transition: all .8s;
	        transition: all .8s;	      
}

.apps2 h1{	
    font-size: 43px;  
    color: #000;
}

.apps2 p{
	background: rgb(180,181,181); /* Old browsers */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,181,181,1)), color-stop(100%,rgba(237,236,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(180,181,181,1) 0%,rgba(237,236,236,1) 100%); /* Chrome10+,Safari5.1+ */ /* FF3.6+ */ /* IE10+ */ /* Opera 11.10+ */	
	background:         -webkit-linear-gradient(top, rgba(180,181,181,1) 0%, rgba(237,236,236,1) 100%);	
	background:         linear-gradient(to bottom,  rgba(180,181,181,1) 0%,rgba(237,236,236,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b5b5', endColorstr='#edecec',GradientType=0 ); /* IE6-9 */
	
	display: block;
	font-size: 30px;
	width: 13%;
	padding: 12px;
	margin: 0 auto;
	box-shadow: 0 -4px 7px -2px #000;
	border-radius: 5px;	
}

.apps2 p a{
	display: block;
}

.tool-bar{
	position: relative;
	background: #fff;		
	width: 100%;
	height: 100%;
	z-index: 1;
}

.item{
	width: 100%;
	height: 100%;	
	margin: auto;	
	overflow: hidden;	
    
    opacity: 0;
    visibility: hidden;
    
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    
	        
	-webkit-transition: all .8s;
	        transition: all .8s;    
}

.tool-bar figure {	
	float: left;
	text-align: center;	
	overflow: hidden;
	width: 25%;
	margin: 37.5px auto;
	        
	-webkit-transition: all .3s;
	        transition: all .3s;			
}

.tool-bar figure figcaption{
	position: relative;
	display: inline-block;
	font-size: 20px;
	padding: 0;
	top: -5px;
	right: 5px;	
	z-index: 2;
}


.tool-bar figure figcaption a:hover{
	color: #a6ddff;
}

.three{
	display: none;	
}

#fix-img{
	width: 28px;
	height: 28px;	
	margin-top: 2px;
}

#fix{
	top: -4px;
	right: 4px;	
}

/* Section end */

/* Footer */
footer{
	width: 100%;
	background: #1f2020;
	color: #fff;
	text-align: center;
	font-size: 16px;
}

footer p{	
	line-height: 5em;	
	letter-spacing: 0.5px;	
    
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
       -moz-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
         -o-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
            transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
    
	        
	-webkit-transition: all .8s;
	        transition: all .8s;      
}

.footer-logo{		
	margin-top: 2em;
    
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
       -moz-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
         -o-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
            transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
    
	        
	-webkit-transition: all .8s;
	        transition: all .8s;    
}

.footer-bottom{
    background: #171717;
    padding: 5px        
}

.footer-bottom ul{   
    padding: 0;
    margin: 0;
}

.footer-bottom ul li{
    display: inline-block;	
    
        
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
       -moz-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
         -o-transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
            transform: rotate3d(1,1,1,180deg) scale(0) translateY(-16em);
    
	        
	-webkit-transition: all 1.2s;
	        transition: all 1.2s;    
  
}

.footer-bottom ul li a{
    display: block;	
    color: #fff; 
}

.mixpanel{
    margin-top: 10px;
    margin-right: 42em;
	-webkit-transition: all .3s;
	        transition: all .3s;      
}


.facebook,
.mail,
.private{
    width: 50px;   
    color: #fff;
	-webkit-transition: all .3s;
	        transition: all .3s;      
}

.facebook{  
    font-size: 2.5em; 
    
    
	-webkit-transition: all .3s;
	        transition: all .3s;      
}

.mail{ 
    position: relative;
    width: 30px;
    height: 25px;
    border: 1px solid #fff;
    margin-right: 20px;
    
    
	-webkit-transition: all .3s;
	        transition: all .3s;      
}

.mail::after{
    content: "";
    position: absolute;
    display: block;
    border-left: 15px solid transparent;
    border-top: 17px solid #fff;
    border-right: 15px solid transparent;     
	
	-webkit-transition: all .3s;
	        transition: all .3s;       
}

.private{
    position: relative;
    background: #fff;
    width: 20px;
    height: 15px; 
    
	-webkit-transition: all .3s;
	        transition: all .3s;        
}

.private::after{
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 10px;  
    top: -13px;
    left: 2px;     
	
	-webkit-transition: all .3s;
	        transition: all .3s;       
}

.facebook:hover{
    color: #3e7f99;
    
	-webkit-transition: all .3s;
	        transition: all .3s;        
}

.mail:hover{
    border-color: #3e7f99;
    
	-webkit-transition: all .3s;
	        transition: all .3s;        
}

.mail:hover::after{   
    border-top: 17px solid #3e7f99;  
    
	-webkit-transition: all .3s;
	        transition: all .3s;        
}

.private:hover{
    background: #3e7f99;
    
	-webkit-transition: all .3s;
	        transition: all .3s;        
}

.private:hover::after{
    border: 2px solid #3e7f99;
    
	-webkit-transition: all .3s;
	        transition: all .3s;        
}

.scrolltop{
	position: fixed;
	background: #80838a;
	border: 0;
	display: none;
    right: 2em;
    bottom: 5em;
	height: 40px;
	width: 40px;
	font-size: 26px;
	color: #c1c0c0;
	cursor: pointer;
	box-shadow: 0px 5px 10px -7px #000;
	        
	-webkit-transition: all .3s;
	        transition: all .3s;	
    
    z-index: 99999;
}

.scrolltop:hover{
	background: #80838a;
	color: #fefefe;
	
	-webkit-transition: all .3s;
	        transition: all .3s;		

}

/* Footer end */