@import './mixins/_allMixins.less';
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {

    /* RegisterWindow */
    #registerWindow {
        position: fixed;
        background: rgba(0, 0, 0, .4);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        .hide;
        .ease(.2s);

        .wrapper {
            background: #fff;
            max-width: 500px;
            width: 100%;
            padding: 0 10px;
            font-size: 18px;
            border-radius: 10px;
            .scale(0);
            .hide;
            .ease(.2s);

            & header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ddd;
                padding: 20px;

                .title {}

                .closeBtn {
                    cursor: pointer;

                    .line {
                        display: block;
                        width: 20px;
                        height: 2px;
                        position: relative;
                        background: #000;
                        border-radius: 3px;
                        z-index: 1;
                        .transform-origin(center);
                        .ease(.2s);

                        &:first-child {
                            .transform(rotate(45deg) translate(-1px, 0px));
                        }

                        &:last-child {
                            .transform(rotate(-45deg) translate(1px, -2px));
                        }
                    }

                    &:hover {
                        .line {
                            background: #ffa200;
                        }
                    }
                }
            }

            .main {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 16px;

                & h2 {
                    margin: 25px 0;
                }

                .list {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 100%;
                    font-size: 20px;
                    margin-bottom: 25px;

                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #000;
                        border-radius: 10px;
                        width: 210px;
                        padding: 12px 0;
                        text-decoration: none;
                        outline: none;
                        color: #fff;
                        .ease(.2s);

                        .icon {
                            font-size: 30px;
                            margin-right: 10px;
                        }

                        .des {}

                        &:hover {
                            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                        }
                    }
                }
            }

            & footer {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                border-top: 1px solid #ddd;
                padding: 30px 0;

                .des {
                    margin-right: 25px;
                }

                .loginBtn {
                    color: #ffa200;
                    cursor: pointer;
                    .ease(.2s);

                    &:hover {
                        color: #57b5ce;
                    }
                }
            }
        }
    }

    .popupRegisterWindow {
        .show !important;
        z-index: 99 !important;

        .wrapper {
            .scale(1) !important;
            .show !important;
        }
    }

    /* RegisterWindow end */


    /* LoginWindow */
    #loginWindow {
        position: fixed;
        background: rgba(0, 0, 0, .4);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        .hide;
        .ease(.2s);

        .wrapper {
            background: #fff;
            max-width: 500px;
            width: 100%;
            padding: 0 10px;
            font-size: 18px;
            border-radius: 10px;
            .scale(0);
            .hide;
            .ease(.2s);

            & header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ddd;
                padding: 20px;


                .title {}

                .closeBtn {
                    cursor: pointer;

                    .line {
                        display: block;
                        width: 20px;
                        height: 2px;
                        position: relative;
                        background: #000;
                        border-radius: 3px;
                        z-index: 1;
                        .transform-origin(center);
                        .ease(.2s);

                        &:first-child {
                            .transform(rotate(45deg) translate(-1px, 0px));
                        }

                        &:last-child {
                            .transform(rotate(-45deg) translate(1px, -2px));
                        }
                    }

                    &:hover {
                        .line {
                            background: #ffa200;
                        }
                    }
                }
            }

            .main {
                font-size: 16px;
                padding: 20px;
                overflow: hidden;

                .switchLoginType {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    margin-bottom: 20px;

                    .item {
                        border: 1px solid #57b5ce;
                        width: 190px;
                        border-radius: 20px;
                        cursor: pointer;
                        text-align: center;
                        padding: 14px 0;
                        .ease(.2s);

                        &:hover {
                            background: #57b5ce;
                            color: #fff;
                        }
                    }

                    .active {
                        background: #57b5ce;
                        color: #fff;
                    }
                }

                #formWrapper {
                    position: relative;
                    height: 338px;
                    overflow: hidden;
                    .ease(.2s);

                    #normalForm {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        .translateX(0);
                        .show;
                        .ease(.2s);

                        .internationalTel {
                            margin-bottom: 25px;

                            .item {
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;

                                .title {}

                                & sub {
                                    font-size: 14px;
                                    margin-left: 10px;
                                    color: #f00;
                                }
                            }

                            .inputList {
                                display: flex;
                                align-items: center;

                                & > input {
                                    background: -webkit-linear-gradient(top, rgba(87, 181, 206, 0) 95%, #57b5ce 4%);
                                    background: linear-gradient(to bottom, rgba(87, 181, 206, 0) 95%, #57b5ce 4%);
                                    background-size: 0 100%;
                                    background-repeat: no-repeat;
                                    width: 100%;
                                    padding: 13px 0;
                                    border: 0;
                                    border-bottom: 1px solid #aaa;
                                    border-radius: 0;
                                    text-indent: 10px;
                                    outline: none;
                                    text-decoration: none;
                                    .ease(.2s);

                                    &:focus {
                                        background-size: 100% 100%;
                                    }

                                    &:first-child {
                                        width: 50%;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }

                        .pswd {
                            margin-bottom: 25px;

                            .title {
                                margin-bottom: 10px;
                            }

                            .item {
                                position: relative;

                                & > input {
                                    background: -webkit-linear-gradient(top, rgba(87, 181, 206, 0) 95%, #57b5ce 4%);
                                    background: linear-gradient(to bottom, rgba(87, 181, 206, 0) 95%, #57b5ce 4%);
                                    background-size: 0 100%;
                                    background-repeat: no-repeat;
                                    width: 100%;
                                    padding: 13px 0;
                                    border: 0;
                                    border-bottom: 1px solid #aaa;
                                    border-radius: 0;
                                    text-indent: 10px;
                                    outline: none;
                                    text-decoration: none;
                                    .ease(.2s);

                                    &:focus {
                                        background-size: 460px 100%;
                                    }
                                }

                                .openPswd {
                                    position: absolute;
                                    top: 14px;
                                    right: 10px;
                                    cursor: pointer;
                                    .ease(.2s);

                                    &:hover {
                                        color: #ffa200;
                                    }
                                }
                            }
                        }

                        .remind {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 25px;

                            & label {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;

                                & > input {
                                    position: relative;
                                    width: 20px;
                                    height: 20px;
                                    border: 0;
                                    border-radius: 0;
                                    margin-right: 10px;
                                    cursor: pointer;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    outline: 0;
                                    text-decoration: none;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        z-index: 1;
                                        width: 100%;
                                        height: 100%;
                                        border: 1px solid #aaa;
                                        border-radius: 2px;
                                        .ease(.2s);
                                    }

                                    &:checked {
                                        &:before {
                                            height: 50%;
                                            border: 1px solid #57b5ce;
                                            border-top: 0;
                                            border-right: 0;
                                            .rotate(-45deg);
                                        }
                                    }
                                }
                            }

                            .forgetBtn {
                                color: #000;
                                outline: none;
                                text-decoration: none;
                                .ease(.2s);

                                &:hover {
                                    color: #ffa200;
                                }
                            }
                        }

                        & > button {
                            background: #57b5ce;
                            width: 100%;
                            border: 0;
                            border-radius: 9px;
                            color: #fff;
                            cursor: pointer;
                            font-size: 16px;
                            padding: 15px 0;
                            text-align: center;
                            text-decoration: none;
                            outline: none;
                            .ease(.2s);

                            &:hover {
                                background: #ffa200;
                            }
                        }
                    }


                    .normalFormActive {
                        .translateX(-100%) !important;
                        .hide !important;
                    }

                    #appScanForm {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border-bottom: 1px solid #ddd;
                        padding-bottom: 25px;
                        .translateX(100%);
                        .hide;
                        .ease(.2s);

                        & img {}

                        .item {
                            .cell {
                                margin-top: 10px;
                            }

                            .point {
                                color: #57b5ce;
                                font-size: 14px;
                                margin-top: 25px;
                            }
                        }
                    }
                }

                .appScanFormActive {
                    .translateX(0) !important;
                    .show !important;
                }

                & footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 30px 0;

                    .des {
                        margin-right: 25px;
                    }

                    .regBtn {
                        color: #ffa200;
                        cursor: pointer;
                        .ease(.2s);

                        &:hover {
                            color: #57b5ce;
                        }
                    }
                }
            }
        }
    }

    .popupLoginWindow {
        .show !important;
        z-index: 99 !important;

        .wrapper {
            .scale(1) !important;
            .show !important;
        }
    }

    /* LoginWindow end */
}
