.scaleRotateAnimateDisplay {
    -webkit-transform: scale(1) rotate(180deg);
    -moz-transform: scale(1) rotate(180deg);
    -o-transform: scale(1) rotate(180deg);
    transform: scale(1) rotate(180deg);
}

.scaleRotateAnimateDisplayN {
    -webkit-transform: scale(0) rotate(0deg);
    -moz-transform: scale(0) rotate(0deg);
    -o-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
}

.opacityDisplay {
    opacity: 0;
    visibility: hidden;
}
