@import './mixins/_allMixins.less';

body {
    .banner-inside {
        max-height: 480px;
    }
    .banner-inside {
        background-position: center 85% !important;
    }
    .about-us {
        background: url(../images/inside-banner-1.png) center center no-repeat transparent !important;
    }
    .quartz-brick {
        background: url(../images/inside-banner-2.png) center 95% no-repeat transparent !important
    }
    .white-brick {
        background: url(../images/inside-banner-3.png) center center no-repeat transparent !important;
    }
    .roof {
        background: url(../images/inside-banner-4.png) center center no-repeat transparent !important;
    }
    .other {
        background: url(../images/inside-banner-5.png) center center no-repeat transparent !important;
    }
    .contact-us {
        background: url(../images/inside-banner-6.png) center center no-repeat transparent !important;
    }
    #web-intro {
        & h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        .intro-contain {
            margin-bottom: 50px;
            & > .cell {
                letter-spacing: 2px;
                line-height: 2em;

                &:first-child {
                    margin-bottom: 25px;
                }
            }
        }
        .classify {
            .classify-table {
                background: #fff;
                width: 32%;
                font-size: 16px;
                border-radius: 5px;
                min-height: 640px;
                overflow: hidden;
                .ease(.2s);
                .table-header {
                    background: #ddd;
                    min-height: 126px;
                    padding: 15px;
                    text-align: center;
                    line-height: 2em;
                    letter-spacing: 2px;
                    & > h2 {
                        font-size: 22px;
                        color: #f00;
                        font-weight: bold;
                    }
                    & > h3 {
                        font-size: 22px;
                        color: #f00;
                        font-weight: bold;
                    }
                    & > sub {
                        font-size: 18px;
                    }
                }
                .table-body {
                    line-height: 1.5em;
                    letter-spacing: 2px;
                    padding: 15px;
                    .cell {
                        margin-bottom: 20px;
                        & > h3 {}
                        & > div {}

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
                }
            }
        }
    }

    #map {
        width: 1200px;
        margin: 100px auto;
        .ease(.2s);
    }
    #contact {
        width: 1200px;
        margin: 100px auto;
        .ease(.2s);

        & > h2 {
            font-size: 18px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 13px;
        }

        .place {
            margin: 15px auto;
            line-height: 2em;
            & h3 {
                font-weight: bold;
            }

            .des {
                & > i {
                    margin-right: 10px;
                }

                & > a {
                    color: #666;
                    .link-default;
                    .ease(.2s);

                    &:hover {
                        color: #cbbdb8;
                    }
                }
            }
        }
    }

    #contact-table {
        width: 1200px;
        margin: 100px auto;
        .ease(.2s);

        & > h2 {
            font-size: 18px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 13px;
        }

        .table {
            margin: 20px auto;
            .cell {
                margin-bottom: 15px;
                .left {
                    min-width: 71px;
                    text-align: right;
                }
                .right {
                    margin-left: 10px;
                    border-radius: 10px;
                    & > input {
                        border: 1px solid #ddd;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
