.couponBg {
    background: rgb(255, 189, 39);
    background: -moz-linear-gradient(top, rgba(255, 189, 39, 1) 0%, rgba(255, 109, 0, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(255, 189, 39, 1) 0%, rgba(255, 109, 0, 1) 99%);
    background: linear-gradient(to bottom, rgba(255, 189, 39, 1) 0%, rgba(255, 109, 0, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd27', endColorstr='#ff6d00', GradientType=0);
}
