.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.flexbox(@direction, @align, @justify) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: @direction;
    -moz-flex-direction: @direction;
    -ms-flex-direction: @direction;
    -o-flex-direction: @direction;
    flex-direction: @direction;
    -webkit-align-items: @align;
    -moz-align-items: @align;
    -ms-align-items: @align;
    -o-align-items: @align;
    align-items: @align;
    -webkit-justify-content: @justify;
    -moz-justify-content: @justify;
    -ms-justify-content: @justify;
    -o-justify-content: @justify;
    justify-content: @justify;
}
