@fontColor: #666;
@fontSize: 1rem;
@white: #ffffff;
@white2: #fdf9f7;
@gray: #686868;
@black: #303030;
@yellow: #e4dbcc;
@blue: #e6f2ff;

/* fill width */
.fill-available(){
    box-sizing: border-box;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}
