/* font size */
@fontSize: 1rem;

/* color hex */
@fontColor: #666666;
@white: #ffffff;
@white2: #fdf9f7;
@gray: #686868;
@black: #303030;
@yellow: #e4dbcc;
@blue: #e6f2ff;

/* color rgb */
@black-rgb: 48,48,48;

/* fill width */
.fill-available(){
    box-sizing: border-box;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}
