.grid(@direction,@columns, @rows, @place, @gap) {
    display: grid;
    grid-auto-flow: @direction;
    grid-template-columns: @columns;
    grid-template-rows: @rows;
    place-content: @place;
    gap: @gap;
}
.grid-center(){
    display: grid;
    place-content: center;
}

.grid-center-gap(@place,@gap){
    display: grid;
    place-content: @place;
    gap: @gap;
}