@mainColor: 255, 189, 39;
@mainColorHover: 255, 234, 0;
@mlRed: 216, 35, 22;
@counter: 255, 83, 83;
@mlGreen: 108, 187, 90;
@mlGreenDark: 83, 155, 52;
@mlBlue: 70, 211, 205;
@mlPink: 255, 186, 181;
@white: 255, 255, 255;
@black: 0, 0, 0;
@gray: 140, 140, 140;
@fontSize: 18px;
@fontColor: #363636;
@grayBg: 247, 247, 247;
@blueBg: 177, 218, 249;
@checkboxcolor: 33, 150, 243;
@loginbg: 204, 204, 204;
@logininfobg: 177, 218, 249;
@fb: #4267b2;
@line: #00b900;
@vx: #1AAD19;
@viber: #59267c;
