@import './mixins/_allMixins.less';
@import './_default-themes.less';

#fesitval {

    #wrapper {

        /***** 最新優惠 *****/
        #myanLife_discount {
            .common_header {
                &::before {
                    content: "";
                    background: url(../images/red-firecracker.png) no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }
            }

            .common_content {
                .common_item {
                    .imgView {
                        border: 5px solid rgb(@mlRed);
                    }
                }
            }
        }

        /***** 為您精挑細選 *****/
        #myanLife_featured {
            .featured_header {
                .default {
                    position: relative;

                    & > span {
                        display: block;
                        position: absolute;
                        color: rgb(@white);
                        z-index: 1;
                    }

                    .icon {
                        color: rgb(@mlRed);
                        .rotate(45deg);
                    }
                }
            }
        }

        /***** Top ten *****/
        #myanLife_hot_ten {
            #myanLife_discount;

            .common_content {
                .common_item {
                    .imgView {
                        border: none;
                    }
                }
            }
        }

        /***** 達人分享 *****/
        #myanLife_blog {
            .blog_header {
                &::before {
                    content: "";
                    background: url(../images/red-firecracker.png) no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }
            }
        }

        /***** 熱門其他活動 *****/
        #myanLife_other {
            .other_item {
                .other_item_header {
                    .default {
                        position: relative;
                        margin-right: 15px;

                        & > span {
                            display: block;
                            position: absolute;
                            color: rgb(@white);
                            z-index: 1;
                        }

                        .icon {
                            color: rgb(@mlRed);
                            .rotate(45deg);
                        }
                    }
                }

                &:nth-child(2) {
                    .other_item_header {
                        border-bottom: 3px solid rgb(@mlRed);

                        .default {
                            .icon {
                                color: rgb(@mlRed);
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .other_item_header {
                        border-bottom: 3px solid rgb(@mlRed);

                        .default {
                            .icon {
                                color: rgb(@mlRed);
                            }
                        }
                    }
                }
            }
        }

        /***** 深入探索 *****/
        #myanLife_explore_in_depth {
            .explore_in_depth_header {
                .default {
                    position: relative;

                    & > span {
                        display: block;
                        position: absolute;
                        color: rgb(@white);
                        z-index: 1;
                    }

                    .icon {
                        color: rgb(@mlRed);
                        .rotate(45deg);
                    }
                }
            }
        }

        /***** 熱門活動住宿*****/
        #myanLife_hot_active_location {
            #myanLife_hot_ten;
        }

        /***** 網友都在看 *****/
        #myanLife_recently {
            #myanLife_hot_ten;
        }

        /***** 熱門活動 *****/
        #myanLife_hot_active {
            #myanLife_hot_ten;
        }

        /***** ML 推薦 *****/
        #myanLife_recommend {
            .recommend_header {
                &::before {
                    content: "";
                    background: url(../images/red-firecracker.png) no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }
            }
        }

        /***** 新進達人推薦 *****/
        #myanLife_recommend {

            .recommend_header {

                &::before {
                    content: "";
                    background: url(../images/red-firecracker.png) no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }
            }
        }


        /***** 商家酷碰券 *****/
        #myanLife_merchant {
            .merchant_coupon {
                .merchant_coupon_header {
                    .default {
                        position: relative;

                        & > span {
                            display: block;
                            position: absolute;
                            color: rgb(@white);
                            z-index: 1;
                        }

                        .icon {
                            color: rgb(@mlRed);
                            .rotate(45deg);
                        }
                    }
                }
            }
        }
    }
}
