@import './mixins/_allMixins.less';
@import './_default-themes.less';

@adminColor: 153, 153, 153;

body {
    #admin_wrapper {
        .admin_contain {
            .admin_canvas {

                /***** 管理員設定 *****/
                .admin_management {
                    &>h2 {
                        font-size: @fontSize + 6;
                        font-weight: bold;
                    }

                    .admin_management_contain {
                        background: rgb(@white);
                        height: 422px;
                        border-radius: 5px;
                        margin-top: 24px;
                        padding: 24px;
                        overflow: hidden;
                        .ease(.2s);

                        .tabs_list {
                            .flexbox(row, center, flex-start);
                            color: rgb(@adminColor);
                            font-weight: bold;
                            border-bottom: 1px solid rgb(@adminColor);
                            margin-bottom: 24px;
                            padding-bottom: 24px;

                            .tabs_item {
                                position: relative;
                                cursor: pointer;
                                margin-right: 12px;
                                .ease(.2s);

                                .hint_icon {
                                    position: absolute;
                                    font-size: @fontSize - 10;
                                    color: rgb(@mlRed);
                                }

                                &:last-child {
                                    margin-right: 0;
                                }

                                &:hover {
                                    color: rgb(@mainColor);
                                }
                            }

                            .active {
                                color: rgb(@mainColor);
                            }
                        }

                        .main {
                            position: relative;
                            font-size: @fontSize - 4;

                            .admin_list_content {
                                position: absolute;
                                width: 100%;
                                .hide;
                                .ease(.2s);


                                .func_list {
                                    .flexbox(row, center, space-between);
                                    margin-bottom: 12px;

                                    .func_item {
                                        .flexbox(row, center, flex-start);
                                        color: rgb(@adminColor);
                                        cursor: pointer;
                                        .link-default;
                                        .ease(.2s);

                                        .label--checkbox {
                                            .material_checkbox;
                                            .ease(.2s);

                                            .checkbox {
                                                &:before {
                                                    border-color: rgb(@adminColor);
                                                }

                                                &:after {
                                                    background: rgb(@white);
                                                }
                                            }

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }

                                        .delete_all_btn {
                                            cursor: pointer;
                                            margin-left: 24px;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }

                                        &>.icon {
                                            margin-right: 5px;
                                        }

                                        &:hover {
                                            color: rgb(@mainColor);
                                        }
                                    }

                                    .func_item_right {
                                        .func_cell {

                                            .flexbox(row, center, flex-start);
                                            color: rgb(@adminColor);
                                            cursor: pointer;
                                            margin-right: 24px;
                                            .link-default;
                                            .ease(.2s);

                                            &>.icon {
                                                margin-right: 5px;
                                            }

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }

                                            &:last-child {
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                }

                                .admin_item {
                                    .flexbox(row, center, space-between);
                                    flex-wrap: wrap;
                                    color: @fontColor;
                                    border-bottom: 2px solid rgb(@mainColor);
                                    padding: 24px 0;
                                    .link-default;
                                    .ease(.2s);

                                    .admin_info {
                                        .flexbox(row, flex-start, flex-start);
                                        width: 100%;

                                        .label--checkbox {
                                            .material_checkbox;
                                            margin-right: 24px;
                                            .ease(.2s);

                                            .checkbox {
                                                &:before {
                                                    border-color: rgb(@adminColor);
                                                }

                                                &:after {
                                                    background: rgb(@white);
                                                }
                                            }
                                        }

                                        .admin_cell {
                                            flex: 1;
                                            line-height: 1.3em;
                                            letter-spacing: 2px;
                                            margin-right: 24px;
                                        }



                                        .admin_cell_list {
                                            .flexbox(column, baseline, flex-start);
                                            flex: 1;

                                            .admin_cell {
                                                .flexbox(row, baseline, flex-start);
                                                line-height: 1.3em;
                                                margin-bottom: 24px;
                                                margin-right: 12px;

                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }

                                        .admin_img {
                                            flex: 0.5;
                                            overflow: hidden;
                                            margin-right: 24px;

                                            & img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                            }
                                        }

                                        .recommend_type {
                                            .flexbox(row, flex-start, flex-start);

                                            .star_counter {
                                                margin-left: 5px;
                                            }

                                            &:last-child {
                                                margin-right: 0;
                                            }
                                        }

                                        .location_item {
                                            .flexbox(row, flex-start, flex-start);

                                            .icon {
                                                margin-right: 5px;
                                            }
                                        }

                                        .download_counter,
                                        .discount {
                                            &>span {
                                                margin-right: 5px;
                                            }
                                        }
                                    }

                                    .admin_func {
                                        .flexbox(row, center, flex-end);
                                        width: 100%;
                                        margin-top: 12px;
                                        padding-top: 12px;

                                        .put_on_btn {
                                            .flexbox(row, center, center);
                                            margin-right: 48px !important;

                                            .switch_input {
                                                display: none;

                                                &:checked {
                                                    &+.switch_label {

                                                        .switch_style {
                                                            &:before {
                                                                background: rgb(@mainColor);
                                                            }

                                                            &:after {
                                                                background: rgb(@white);
                                                                -ms-transform: translate(80%, -50%);
                                                                -webkit-transform: translate(80%, -50%);
                                                                transform: translate(80%, -50%);
                                                            }
                                                        }

                                                        &:before {
                                                            background: rgb(@mainColor);
                                                        }

                                                        .toggle--on {
                                                            display: inline-block;
                                                        }

                                                        .toggle--off {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }

                                            .switch_label {
                                                position: relative;
                                                color: rgb(@mlRed);
                                                cursor: pointer;


                                                .switch_style {

                                                    &:before,
                                                    &:after {
                                                        content: "";
                                                        position: absolute;
                                                        margin: 0;
                                                        outline: 0;
                                                        top: 50%;
                                                        -ms-transform: translate(0, -50%);
                                                        -webkit-transform: translate(0, -50%);
                                                        transform: translate(0, -50%);
                                                        .ease(.2s);
                                                    }

                                                    &:before {
                                                        background: rgb(@adminColor);
                                                        border-radius: 8px;
                                                        width: 34px;
                                                        height: 14px;
                                                        right: -30px;
                                                    }

                                                    &:after {
                                                        background: #ccc;
                                                        border-radius: 50%;
                                                        width: 20px;
                                                        height: 20px;
                                                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
                                                        right: -15px;
                                                    }
                                                }

                                                .toggle--on {
                                                    display: none;
                                                    margin-right: 12px;
                                                }

                                                .toggle--off {
                                                    display: inline-block;
                                                    margin-right: 12px;
                                                }

                                            }

                                        }

                                        .audit_status {
                                            display: none;
                                            background: rgb(@mainColor);
                                            border-radius: 10px;
                                            color: rgb(@white);
                                            margin-right: 24px;
                                            padding: 7px;
                                        }

                                        .audit_failed {
                                            background: rgb(@mlRed);
                                        }

                                        .audit_passed {
                                            background: rgb(@mlGreen);
                                        }

                                        .customize_status{
                                            background: rgb(@mainColor);
                                            border-radius: 10px;
                                            color: rgb(@white);
                                            margin-right: 24px;
                                            padding: 7px;
                                        }

                                        .db_status{
                                            .customize_status;
                                            background: rgb(@mlGreen);
                                        }

                                        .key_reminder {
                                            font-weight: bold;
                                            margin-right: 24px;
                                        }

                                        .admin_cell {
                                            color: @fontColor;
                                            cursor: pointer;
                                            margin-right: 24px;
                                            .link-default;
                                            .ease(.2s);

                                            &:last-child {
                                                margin-right: 0;
                                            }

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }

                                            .preview_box {
                                                .flexbox(row, center, center);
                                                display: none;
                                                background: rgba(@black, .85);
                                                position: fixed;
                                                width: 100%;
                                                top: 0;
                                                bottom: 0;
                                                z-index: 99;
                                                height: 100%;
                                                left: 0;
                                                right: 0;

                                                .icon {
                                                    position: absolute;
                                                    color: rgb(@white);
                                                    font-size: @fontSize + 6;
                                                    top: 6%;
                                                    right: 9%;
                                                    .ease(.2s);

                                                    &:hover {
                                                        color: rgb(@mainColor);
                                                    }
                                                }

                                                &>embed {
                                                    background: rgb(@white);
                                                    width: 80%;
                                                    height: 80%;
                                                    .hide;
                                                    .scale(0);
                                                    .ease(.2s);
                                                }
                                            }

                                            .op_box {

                                                &>embed {
                                                    background: rgb(@white);
                                                    width: 80%;
                                                    height: 80%;
                                                    .scale(1);
                                                    .show;
                                                }
                                            }
                                        }

                                        .edit_btn {
                                            text-align: center;
                                            border: 1px solid @fontColor;
                                            border-radius: 7px;
                                            padding: 7px;

                                            &:hover {
                                                border: 1px solid rgb(@mainColor);
                                            }
                                        }

                                        .preview_btn {
                                            .edit_btn;
                                        }

                                        .add_this_btn {
                                            .edit_btn;
                                        }

                                        .delete_btn {
                                            cursor: pointer;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }
                                    }

                                    .admin_charity_func {

                                        .charity_put_on_btn {
                                            .flexbox(row, center, center);
                                            margin-right: 48px !important;

                                            .switch_input {
                                                display: none;

                                                &:checked {
                                                    &+.switch_label {

                                                        .switch_style {
                                                            &:before {
                                                                background: rgb(@mainColor);
                                                            }

                                                            &:after {
                                                                background: rgb(@white);
                                                                -ms-transform: translate(80%, -50%);
                                                                -webkit-transform: translate(80%, -50%);
                                                                transform: translate(80%, -50%);
                                                            }
                                                        }

                                                        &:before {
                                                            background: rgb(@mainColor);
                                                        }

                                                        .toggle--on {
                                                            display: inline-block;
                                                        }

                                                        .toggle--off {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }

                                            .switch_label {
                                                position: relative;
                                                color: rgb(@mlRed);
                                                cursor: pointer;


                                                .switch_style {

                                                    &:before,
                                                    &:after {
                                                        content: "";
                                                        position: absolute;
                                                        margin: 0;
                                                        outline: 0;
                                                        top: 50%;
                                                        -ms-transform: translate(0, -50%);
                                                        -webkit-transform: translate(0, -50%);
                                                        transform: translate(0, -50%);
                                                        .ease(.2s);
                                                    }

                                                    &:before {
                                                        background: rgb(@adminColor);
                                                        border-radius: 8px;
                                                        width: 34px;
                                                        height: 14px;
                                                        right: -30px;
                                                    }

                                                    &:after {
                                                        background: #ccc;
                                                        border-radius: 50%;
                                                        width: 20px;
                                                        height: 20px;
                                                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
                                                        right: -15px;
                                                    }
                                                }

                                                .toggle--on {
                                                    display: none;
                                                    margin-right: 12px;
                                                }

                                                .toggle--off {
                                                    display: inline-block;
                                                    margin-right: 12px;
                                                }

                                            }

                                        }
                                    }

                                    .admin_news_func {

                                        .news_put_on_btn {
                                            .flexbox(row, center, center);
                                            margin-right: 48px !important;

                                            .switch_input {
                                                display: none;

                                                &:checked {
                                                    &+.switch_label {

                                                        .switch_style {
                                                            &:before {
                                                                background: rgb(@mainColor);
                                                            }

                                                            &:after {
                                                                background: rgb(@white);
                                                                -ms-transform: translate(80%, -50%);
                                                                -webkit-transform: translate(80%, -50%);
                                                                transform: translate(80%, -50%);
                                                            }
                                                        }

                                                        &:before {
                                                            background: rgb(@mainColor);
                                                        }

                                                        .toggle--on {
                                                            display: inline-block;
                                                        }

                                                        .toggle--off {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }

                                            .switch_label {
                                                position: relative;
                                                color: rgb(@mlRed);
                                                cursor: pointer;


                                                .switch_style {

                                                    &:before,
                                                    &:after {
                                                        content: "";
                                                        position: absolute;
                                                        margin: 0;
                                                        outline: 0;
                                                        top: 50%;
                                                        -ms-transform: translate(0, -50%);
                                                        -webkit-transform: translate(0, -50%);
                                                        transform: translate(0, -50%);
                                                        .ease(.2s);
                                                    }

                                                    &:before {
                                                        background: rgb(@adminColor);
                                                        border-radius: 8px;
                                                        width: 34px;
                                                        height: 14px;
                                                        right: -30px;
                                                    }

                                                    &:after {
                                                        background: #ccc;
                                                        border-radius: 50%;
                                                        width: 20px;
                                                        height: 20px;
                                                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
                                                        right: -15px;
                                                    }
                                                }

                                                .toggle--on {
                                                    display: none;
                                                    margin-right: 12px;
                                                }

                                                .toggle--off {
                                                    display: inline-block;
                                                    margin-right: 12px;
                                                }

                                            }

                                        }
                                    }

                                    &:hover {
                                        position: relative;
                                        border-color: rgb(@mlRed);
                                        z-index: 2;
                                    }
                                }

                                .close_admin_item {
                                    .hide;
                                    .translateX(120%);
                                }
                            }

                            .active {
                                .show;
                            }
                        }
                    }

                    .edit_contain {
                        height: auto !important;



                        .main {
                            .flexbox(column, flex-start, flex-start);

                            .input_list {
                                .flexbox(column, flex-start, flex-start);
                                width: 100%;
                                font-weight: bold;
                                margin-bottom: 24px;

                                .common_item {
                                    .flexbox(column, flex-start, flex-start);
                                    width: 100%;
                                    margin-bottom: 24px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    .des {
                                        margin-bottom: 5px;
                                        white-space: nowrap;

                                        &>small {
                                            color: rgb(@mlRed);
                                        }
                                    }

                                    .upload_btn {

                                        .inputfile {
                                            width: 0.1px;
                                            height: 0.1px;
                                            .hide;
                                            position: absolute;
                                            z-index: -1;

                                            & label {
                                                .link-default;
                                            }

                                            &+label {
                                                display: inline-block;
                                                max-width: 100%;
                                                cursor: pointer;
                                                font-size: @fontSize - 2;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                margin-top: 6px;
                                                overflow: hidden;

                                                &>span {
                                                    color: rgb(@mlRed);
                                                }

                                                &>svg {
                                                    margin-left: 5px;
                                                }
                                            }
                                        }
                                    }

                                    .input_style {
                                        background: transparent;
                                        box-sizing: border-box;
                                        flex: 1;
                                        width: 100%;
                                        border: 1px solid rgb(@adminColor);
                                        border-radius: 5px;
                                        padding: 8px 6px;
                                        .ease(.2s);

                                        &:focus,
                                        &:active {
                                            border: 1px solid rgb(@mainColor);
                                        }
                                    }
                                }

                                .authority_item {
                                    .flexbox(column, flex-start, flex-start);

                                    .authority_list {
                                        letter-spacing: 1px;
                                        margin-top: 12px;

                                        .label--checkbox {
                                            margin-bottom: 24px;
                                            .material_checkbox;
                                            flex-wrap: wrap;
                                            .ease(.2s);


                                            &:last-child {
                                                margin-bottom: 0;
                                            }

                                            .checkbox {
                                                &:after {
                                                    background: rgb(@white);
                                                }
                                            }

                                            &>small {
                                                margin-left: 5px;
                                            }

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }
                                    }
                                }
                            }

                            .btn_group {
                                .flexbox(row, center, center);
                                width: 100%;

                                .btn_style {
                                    background: @fontColor;
                                    border: 0;
                                    border-radius: 5px;
                                    color: rgb(@white);
                                    padding: 7px 18px;
                                    .ease(.2s);

                                    &:hover {
                                        color: rgb(@mainColor);
                                    }
                                }

                                .cancel_btn {
                                    cursor: pointer;
                                    margin-right: 12px;
                                    padding: 9.5px 18px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}