@import './mixins/_allMixins.less';
@import './_default-themes.less';

body {

    /***** 廣告  *****/
    #ad {
        position: fixed;
        right: 28px;
        top: auto;
        bottom: 85px;
        width: 170px;
        z-index: 11;
        .ease(.2s);

        .ad_switch {
            display: none;
            position: relative;
            background: rgb(@mlBlue);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            padding: 10px;
            margin-left: auto;
            margin-bottom: 5px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
            }

            &:before {
                content: "";
                background: rgb(@white);
                position: absolute;
                width: 30px;
                height: 4px;
                top: 23px;
                .ease(.2s);
                .hide;
                .rotate(45deg);
            }

            &:after {
                content: "";
                background: rgb(@white);
                position: absolute;
                width: 30px;
                height: 4px;
                top: 23px;
                .ease(.2s);
                .hide;
                .rotate(-45deg);
            }
        }

        .ad_list {
            .flexbox(column, flex-end, center);
            .ease(.2s);

            .close_ad_list {
                cursor: pointer;
                margin-bottom: 5px;
                .ease(.2s);

                &:hover {
                    color: rgb(@mainColor);
                }
            }

            .ad_item_content {
                .item {
                    .link-default;

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }
    }
}
