@import './mixins/_allMixins.less';
@import './_default-themes.less';

body {

    #wrapper {

        /***** 公益活動首頁  *****/
        #myanLife_charity_result {
            .flexbox(column, center, center);
            width: 80%;
            margin: 100px auto;
            margin-top: 50px;

            .charity_info {
                font-size: @fontSize + 6;
                font-weight: bold;
                text-align: center;
                line-height: 1.5em;
                margin-bottom: 50px;

                &>div {
                    &>span {
                        color: rgb(@mlRed);

                        &:nth-child(2) {
                            color: rgb(@mainColor);
                        }

                        &:last-child {
                            color: rgb(@mlGreen);
                        }
                    }
                }
            }

            .charity_result {
                .flexbox(row, end, center);
                width: 100%;

                .charity_content {
                    width: 79%;

                    .charity_list {
                        .charity_item {
                            .flexbox(row, center, space-between);
                            background: rgb(@grayBg);
                            border-radius: 10px;
                            height: 240px;
                            margin-bottom: 24px;
                            font-size: @fontSize - 2;
                            color: @fontColor;
                            .link-default;
                            overflow: hidden;
                            .ease(.2s);

                            .charity_image {
                                width: 320px;
                                height: 100%;
                                overflow: hidden;

                                & img {
                                    width: 100%;
                                    height: 100%;
                                    .ease(.2s);
                                }
                            }

                            .information {
                                display: flex;
                                flex-direction: column;
                                flex: 1;
                                margin: 0 24px;
                                color: @fontColor;
                                .ease(.2s);

                                .charity_header {
                                    .flexbox(column, baselin, flex-start);
                                    margin-bottom: 12px;

                                    .charity_title {
                                        font-size: @fontSize + 6;
                                        font-weight: bold;
                                        margin-bottom: 12px;
                                        .lineClamp(1);
                                    }

                                    .charity_active_time {
                                        margin-bottom: 12px;
                                    }

                                    .charity_join_date {

                                        &>time {
                                            margin-left: 5px;
                                        }
                                    }

                                }

                                .data {
                                    letter-spacing: 3px;
                                    line-height: 1.2em;
                                    .lineClamp(5);
                                }
                            }

                            &:last-child {
                                margin: 0;
                            }

                            &:hover {
                                box-shadow: 0 3px 6px rgba(@black, 0.16), 0 3px 6px rgba(@black, 0.23);

                                .charity_image {

                                    & img {
                                        .transform(rotate(3deg) scale(1.1));
                                    }
                                }


                            }
                        }

                        .notfound {
                            .flexbox(row, center, center);
                            margin-bottom: 24px;

                            .imgView {
                                width: 150px;
                                margin-right: 24px;

                                & img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .description {
                                line-height: 1.5em;
                                font-size: @fontSize + 6;

                                &>div {
                                    .result_data {
                                        color: rgb(@mlRed)
                                    }
                                }
                            }
                        }

                        .pagination {
                            & ul {
                                .flexbox(row, center, center);


                                & li {
                                    color: @fontColor;
                                    border-radius: 3px;
                                    margin: 0 5px;
                                    padding: 5px;
                                    cursor: pointer;
                                    .ease(.2s);

                                    &>a,
                                    &>span {
                                        color: @fontColor;
                                        .link-default;
                                        .ease(.2s);
                                    }


                                    &:hover {
                                        background: rgb(@mainColor);
                                        color: rgb(@white);

                                        &>a,
                                        &>span {
                                            color: rgb(@white);
                                        }
                                    }
                                }

                                .active {
                                    background: rgb(@mainColor);
                                    color: rgb(@white);

                                    &>a,
                                    &>span {
                                        color: rgb(@white);
                                    }

                                }
                            }
                        }
                    }
                }


                .m_sidebar_switch {
                    display: none;
                    background: rgb(@grayBg);
                    width: 100%;
                    border-radius: 10px;
                    text-align: center;
                    margin-bottom: 24px;
                    padding: 15px 0;
                    font-size: @fontSize - 2;
                }

                .sidebar {
                    display: flex;
                    flex-direction: column;
                    margin-left: 24px;
                    width: 292px;

                    .sidebar_item {
                        background: rgb(@grayBg);
                        border-radius: 10px;
                        padding: 15px;
                        margin-bottom: 24px;

                        &:last-child {
                            margin: 0;
                        }
                    }

                    .advertise_item {
                        margin-bottom: 24px;
                        border-radius: 10px;
                        overflow: hidden;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .classify {
                        font-size: @fontSize - 4;

                        & h2 {
                            font-size: @fontSize;
                        }

                        .classify_list {
                            .classify_item {
                                margin-bottom: 24px;

                                .classify_item_header {
                                    .flexbox(row, center, space-between);
                                    font-size: @fontSize;

                                    .display_btn {
                                        cursor: pointer;
                                        .ease(.2s);

                                        &:hover {
                                            color: rgb(@mainColor);
                                        }
                                    }
                                }

                                .classify_item_list {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 20px;
                                    margin-top: 20px;

                                    .label--checkbox {
                                        .material_checkbox;
                                        margin-bottom: 24px;
                                        .ease(.2s);

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        &:hover {
                                            color: rgb(@mainColor);
                                        }
                                    }

                                    .active {
                                        color: rgb(@mainColor);
                                    }
                                }

                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }

                        .undisplay_list {
                            display: none !important;
                        }
                    }
                }
            }
        }

        /***** 公益活動詳細  *****/
        #myanLife_charity {
            margin: 100px auto;

            .author_article {
                background: rgb(@grayBg);
                width: 78.4%;
                border-radius: 10px;
                margin: auto;
                margin-bottom: 50px;
                padding: 15px;


                .article_header {
                    .flexbox(column, baseline, space-between);
                    border-bottom: 1px solid @fontColor;
                    padding-bottom: 10px;
                    margin-bottom: 24px;

                    .article_title {
                        font-size: @fontSize + 2;
                        font-weight: bold;
                    }


                    .article_recommend {
                        .flexbox(row, baseline, space-between);
                        width: 100%;
                        font-size: @fontSize - 4;
                        margin-top: 12px;

                        .article_recommend_list {
                            .flexbox(row, baseline, center);

                            .charity_active_time {
                                margin-right: 12px;
                            }

                            .author {
                                margin-left: 12px;
                                .link-default;
                                color: @fontColor;
                                .ease(.2s);

                                &>span {
                                    margin-right: 5px;
                                }

                                &:hover {
                                    color: rgb(@mainColor);
                                }
                            }

                            .author_join_date {}
                        }

                        .sharing_social_list {
                            .flexbox(row, flex-end, flex-end);
                            font-size: @fontSize + 6;

                            .social_list_item {
                                cursor: pointer;
                                margin-right: 12px;
                                .link-default;
                                .ease(.2s);

                                &:first-child {
                                    color: @fb;
                                }

                                &:nth-child(2) {
                                    color: @line;
                                }

                                &:nth-child(3) {
                                    color: @vx;
                                }

                                &:last-child {
                                    color: @viber;
                                    margin-right: 0;
                                }

                                &:hover {
                                    .scale(1.2);
                                }
                            }

                            .social_btn {
                                display: none;
                                background: rgb(@mlBlue);
                                color: rgb(@white);
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                .ease(.2s);
                            }
                        }
                    }
                }

                .article_content {
                    .data {
                        letter-spacing: 4px;
                        line-height: 1.3em;
                    }

                    .charity_album {
                        .flexbox(column, center, center);
                        margin-top: 24px;

                        .charity_album_list {
                            .flexbox(row, center, flex-start);
                            flex-wrap: wrap;
                            width: 100%;
                            margin-bottom: 25px;

                            .album_item {
                                display: none;
                                width: 24%;
                                height: 100%;
                                margin: 3px;
                                cursor: pointer;
                                .ease(.2s);

                                & img {
                                    width: 100%;
                                    height: 100%;
                                }

                                &:hover {
                                    .scale(1.1);
                                    box-shadow: 0 3px 6px rgba(@black, 0.16), 0 3px 6px rgba(@black, 0.23);
                                }
                            }
                        }

                        .album_more {
                            width: 80%;
                            margin-top: 0;
                            text-align: center;

                            &>.icon {
                                cursor: pointer;
                                .ease(.2s);

                                &:hover {
                                    color: rgb(@mainColor);
                                }
                            }
                        }
                    }
                }
            }

            .author_recommend {
                .flexbox(row, baseline, center);
                flex-wrap: wrap;
                width: 80%;
                margin: auto;

                .recent_activities {
                    width: 48%;
                    margin-right: 24px;

                    &>h2 {
                        font-size: @fontSize + 6;
                        font-weight: bold;
                        margin-bottom: 24px;
                    }

                    .recent_activities_list {
                        .flexbox(row, center, space-between);

                        .recent_activities_article {
                            background: rgb(@grayBg);
                            width: 49%;
                            border-radius: 10px;
                            overflow: hidden;
                            color: @fontColor;
                            .link-default;
                            .ease(.2s);

                            .imgView {
                                height: 235px;

                                & img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .recent_activities_header {
                                padding: 15px;

                                .recent_activities_title {
                                    .flexbox(column, baseline, space-between);
                                    font-size: @fontSize + 2;
                                    font-weight: bold;
                                    .lineClamp(1);

                                }


                                .recent_activities_recommend {
                                    .flexbox(row, baseline, space-between);
                                    width: 100%;
                                    font-size: @fontSize - 4;
                                    margin-top: 12px;

                                    .recent_activities_recommend_list {
                                        .flexbox(row, baseline, center);
                                    }
                                }
                            }

                            .recent_activities_content {
                                font-size: @fontSize - 4;
                                padding: 15px;
                                padding-top: 0;

                                .data {
                                    letter-spacing: 4px;
                                    line-height: 1.3em;
                                    text-align: justify;
                                    .lineClamp(6);
                                }
                            }

                            &:hover {
                                color: rgb(@mainColor);
                                box-shadow: 0 3px 6px rgba(@black, 0.16), 0 3px 6px rgba(@black, 0.23);
                            }
                        }
                    }

                    .owl-theme {
                        position: relative;

                        .owl-stage-outer {
                            .owl-stage {
                                .owl-item {
                                    background: rgb(@grayBg);
                                    border-radius: 10px;
                                    overflow: hidden;
                                    margin-bottom: 20px;
                                }
                            }
                        }

                        .owl-dots {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            display: block;

                            & span {
                                .flexbox(row, center, center);
                                background: @fontColor;
                                border-radius: 0;
                                width: 20px;
                                height: 5px;

                                &:hover {
                                    background: rgb(@mainColor);
                                }
                            }
                        }

                        .active {
                            & span {
                                background: rgb(@mainColor);
                            }
                        }
                    }
                }

                .past_participation {
                    width: 48%;

                    &>h2 {
                        font-size: @fontSize + 6;
                        font-weight: bold;
                        margin-bottom: 24px;
                    }

                    .past_participation_list {
                        .flexbox(row, center, space-between);

                        .past_participation_article {
                            background: rgb(@grayBg);
                            width: 49%;
                            border-radius: 10px;
                            overflow: hidden;
                            color: @fontColor;
                            .link-default;
                            .ease(.2s);

                            .imgView {
                                height: 235px;

                                & img {
                                    width: 100%;
                                    height: 100%;
                                }

                            }

                            .past_participation_header {
                                padding: 15px;

                                .past_participation_title {
                                    .flexbox(column, baseline, space-between);
                                    font-size: @fontSize + 2;
                                    font-weight: bold;
                                    .lineClamp(1);

                                }


                                .past_participation_recommend {
                                    .flexbox(row, baseline, space-between);
                                    width: 100%;
                                    font-size: @fontSize - 4;
                                    margin-top: 12px;

                                    .past_participation_recommend_list {
                                        .flexbox(row, baseline, center);
                                    }
                                }
                            }

                            .past_participation_content {
                                font-size: @fontSize - 4;
                                padding: 15px;
                                padding-top: 0;

                                .data {
                                    letter-spacing: 4px;
                                    line-height: 1.3em;
                                    text-align: justify;
                                    .lineClamp(6);
                                }
                            }

                            &:hover {
                                color: rgb(@mainColor);
                                box-shadow: 0 3px 6px rgba(@black, 0.16), 0 3px 6px rgba(@black, 0.23);
                            }
                        }
                    }

                    .owl-theme {
                        position: relative;

                        .owl-stage-outer {
                            .owl-stage {
                                .owl-item {
                                    background: rgb(@grayBg);
                                    border-radius: 10px;
                                    overflow: hidden;
                                    margin-bottom: 20px;
                                }
                            }
                        }

                        .owl-dots {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            display: block;

                            & span {
                                .flexbox(row, center, center);
                                background: @fontColor;
                                border-radius: 0;
                                width: 20px;
                                height: 5px;

                                &:hover {
                                    background: rgb(@mainColor);
                                }
                            }
                        }

                        .active {
                            & span {
                                background: rgb(@mainColor);
                            }
                        }
                    }
                }
            }
        }
    }
}