@import './mixins/_allMixins.less';
@import './_default-themes.less';

@adminColor: 153, 153, 153;

body {

    /***** 一般會員 *****/
    #admin_wrapper {
        .admin_contain {
            .admin_canvas {

                /***** ML金幣 *****/
                .coin_management {
                    &>h2 {
                        font-size: @fontSize + 6;
                        font-weight: bold;
                    }

                    .coin_management_contain {
                        background: rgb(@white);
                        height: 422px;
                        border-radius: 5px;
                        margin-top: 24px;
                        padding: 24px;
                        overflow: hidden;
                        .ease(.2s);

                        .coin_status_tool {
                            .flexbox(row, center, space-between);
                            color: rgb(@adminColor);
                            font-weight: bold;
                            border-bottom: 1px solid rgb(@adminColor);
                            padding-bottom: 24px;
                            margin-bottom: 24px;

                            .status {
                                .flexbox(row, center, flex-start);

                                .coin_img {
                                    width: 22px;
                                    filter: invert(0%) sepia(98%) saturate(390%) hue-rotate(350deg) brightness(105%) contrast(101%);
                                    margin-right: 12px;

                                    & img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }

                            .btn_style {
                                color: rgb(@adminColor);
                                .link-default;
                                .ease(.2s);

                                .icon {
                                    margin-left: 12px;
                                }

                                &:hover {
                                    color: rgb(@mainColor);
                                }
                            }
                        }

                        .coin_tabs_list {
                            .flexbox(row, center, flex-start);
                            color: rgb(@adminColor);
                            font-weight: bold;
                            border-bottom: 1px solid rgb(@adminColor);
                            margin-bottom: 24px;
                            padding-bottom: 24px;

                            .coin_tabs_item {
                                position: relative;
                                cursor: pointer;
                                margin-right: 24px;
                                .ease(.2s);

                                .hint_icon {
                                    position: absolute;
                                    font-size: @fontSize - 10;
                                    color: rgb(@mlRed);
                                }

                                &:last-child {
                                    margin-right: 0;
                                }

                                &:hover {
                                    color: rgb(@mainColor);
                                }
                            }

                            .active {
                                color: rgb(@mainColor);
                            }
                        }

                        .main {
                            position: relative;
                            font-size: @fontSize - 4;

                            .coin_list_content {
                                position: absolute;
                                width: 100%;
                                .hide;
                                .ease(.2s);


                                .func_list {
                                    .flexbox(row, center, space-between);
                                    margin-bottom: 12px;
                                    padding: 0 24px;

                                    .func_item {
                                        .flexbox(row, center, flex-start);
                                        color: rgb(@adminColor);

                                        .label--checkbox {
                                            .material_checkbox;
                                            .ease(.2s);

                                            .checkbox {
                                                &:before {
                                                    border-color: rgb(@adminColor);
                                                }

                                                &:after {
                                                    background: rgb(@white);
                                                }
                                            }

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }

                                        .delete_all_btn {
                                            cursor: pointer;
                                            margin-left: 24px;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }
                                    }

                                    .all_read_btn {
                                        cursor: pointer;
                                        .ease(.2s);

                                        &:hover {
                                            color: rgb(@mainColor);
                                        }
                                    }
                                }

                                .coin_item {
                                    .flexbox(row, center, space-between);
                                    color: rgb(@adminColor);
                                    cursor: pointer;
                                    padding: 24px;
                                    .link-default;
                                    .ease(.2s);

                                    .coin_info {
                                        .flexbox(row, center, center);

                                        .label--checkbox {
                                            .material_checkbox;
                                            .ease(.2s);

                                            .checkbox {
                                                &:before {
                                                    border-color: rgb(@adminColor);
                                                }

                                                &:after {
                                                    background: rgb(@white);
                                                }
                                            }
                                        }

                                        .coin_cell {
                                            margin-right: 24px;

                                            &:last-child {
                                                margin-right: 0;
                                            }
                                        }
                                    }

                                    .coin_func {
                                        .flexbox(row, center, center);

                                        .coin_account {
                                            font-weight: bold;
                                            margin-right: 24px;
                                        }

                                        .delete_btn {
                                            cursor: pointer;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }
                                    }

                                    &:hover {
                                        position: relative;
                                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                                        z-index: 2;
                                    }
                                }

                                .unread {
                                    background: #fff1d1;
                                    color: @fontColor;

                                    .coin_info {
                                        .label--checkbox {
                                            .checkbox {
                                                &:before {
                                                    border-color: @fontColor;
                                                }

                                                &:after {
                                                    background: #fff1d1;
                                                }
                                            }
                                        }
                                    }

                                    .coin_func {

                                        .coin_account {
                                            color: rgb(@mainColor);
                                        }

                                        .coin_cell {
                                            color: @fontColor;
                                            border-color: @fontColor;
                                        }
                                    }
                                }

                                .close_coin_item {
                                    .hide;
                                    .translateX(120%);
                                }
                            }

                            .active {
                                .show;
                            }
                        }
                    }
                }
            }
        }
    }
}