@import './mixins/_allMixins.less';
@import './_default-themes.less';

@adminColor: 153, 153, 153;

body {
    #admin_wrapper {
        #admin_header {
            .admin_logo {
                .flexbox(row, flex-end, flex-start);

                .logo {
                    width: 4rem;
                    margin-right: 24px;
                    .ease(.2s);

                    & img {
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        .scale(1.1);
                    }

                }

                &>span {
                    color: rgb(@black);
                    margin-right: 5px;
                }

                &>small {
                    font-size: @fontSize - 6;
                    color: @fontColor;
                }
            }

            #m_nav_switch {
                display: none;
                cursor: pointer;
            }

            .open_nav_switch {
                display: block;
                color: rgb(@white) !important;
            }

            & nav {
                .flexbox(row, center, center);

                .item {
                    color: rgb(@adminColor);
                    font-weight: bold;
                    margin-right: 24px;
                    .link-default;
                    .ease(.2s);

                    .icon {
                        margin-right: 3px;
                    }

                    &:hover {
                        color: rgb(@mainColor);
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .merchant_center,
                .buyer_center {
                    display: none !important;
                }

                .user_login {
                    position: relative;

                    .user_img {
                        .flexbox(row, center, center);
                        background: rgb(@adminColor);
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        border-radius: 50px;
                        overflow: hidden;

                        .icon {
                            color: rgb(@black);
                        }
                    }

                    .list {
                        position: absolute;
                        background: rgba(@mainColor, 0.6);
                        color: rgb(@white);
                        font-size: @fontSize - 4;
                        border-radius: 10px;
                        padding: 15px;
                        display: grid;
                        grid-template-columns: repeat(auto-fill, 100px);
                        top: 40px;
                        right: 0;
                        .hide;
                        .transform-origin(top);
                        .scaleY(0);
                        .ease(.2s);
                        z-index: 10;

                        .item {
                            display: block;
                            color: rgb(@white);
                            margin-right: 0;
                            margin-bottom: 10px;
                            .link-default;
                            .ease(.2s);

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:hover {
                                color: rgb(@black);
                            }
                        }
                    }

                    .op_list {
                        .show;
                        .scaleY(1);
                    }
                }
            }
        }
    }
}