@import './mixins/_allMixins.less';
@import './_default-themes.less';

@adminColor: 153, 153, 153;

body {

    /***** 一般會員 *****/
    #admin_wrapper {
        .admin_contain {
            .admin_sidebar {
                .sidebar_switch {
                    position: absolute;
                    background: rgb(@mainColor);
                    color: rgb(@white);
                    border-radius: 50%;
                    font-size: @fontSize - 4;
                    width: 14px;
                    padding: 6px;
                    top: 0px;
                    right: -8px;
                    cursor: pointer;
                    .ease(.2s);

                    &:hover {
                        color: rgb(@black);
                    }
                }

                .user_identify {
                    .flexbox(column, center, center);
                    width: 100%;

                    .avatar {
                        .flexbox(row, center, center);
                        margin: 24px 0;
                        position: relative;

                        .user_img {
                            .flexbox(row, center, center);
                            background: rgb(@adminColor);
                            width: 100px;
                            height: 100px;
                            color: rgb(@black);
                            border-radius: 50px;
                            font-size: @fontSize * 3;
                            overflow: hidden;

                            .icon {}
                        }

                        .upload_btn {
                            position: absolute;
                            font-size: @fontSize + 6;
                            right: 0;
                            bottom: 0;
                            .ease(.2s);

                            &>input {
                                display: none;
                            }

                            .change_avatar_btn {
                                cursor: pointer;
                            }

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }
                    }

                    .user_name {
                        color: rgb(@fontColor);
                        font-size: @fontSize;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .user_level {
                        font-size: @fontSize - 4;
                        font-weight: bold;
                        color: #999;
                    }

                    .merchant_level {
                        display: none;
                    }

                    .user_status {
                        .user_level;
                        width: 82%;
                        border-bottom: 1px solid rgb(@adminColor);
                        padding: 24px 0;

                        .status_item {
                            .flexbox(row, center, flex-start);
                            flex-wrap: wrap;
                            margin-bottom: 12px;

                            .subtitle {
                                margin-right: 5px;
                            }

                            .star_counter {
                                color: rgb(@mainColor);
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        .coupon_account {
                            display: none;
                        }
                    }
                }

                #m_admin_sidebar_list_switch {
                    display: none;
                    color: rgb(@black);
                    position: fixed;
                    top: 18px;
                    right: 50px;
                    z-index: 11;
                    cursor: pointer;
                    .ease(.2s);
                }

                .m_admin_sidebar_list_close {
                    right: 15px !important;
                    color: rgb(@white) !important;
                    z-index: 99999 !important;
                }

                .merchant {
                    background: #fff1d1;
                }

                .admin {
                    background: #ffd1d1;
                    padding-bottom: 24px;
                }

                .admin_sidebar_list {
                    .flexbox(column, flex-start, flex-start);
                    margin: 24px;

                    .admin_sidebar_item {
                        .flexbox(row, center, flex-start);
                        flex-wrap: wrap;
                        color: rgb(@adminColor);
                        cursor: pointer;
                        font-weight: bold;
                        margin-bottom: 24px;
                        .link-default;
                        .ease(.2s);

                        .icon {
                            width: 18px;
                            margin-right: 5px;
                        }

                        .mlcoin {
                            width: 17px;
                            .ease(.2s);
                        }

                        &:nth-child(2) {
                            flex-wrap: wrap;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &:hover {
                            color: rgb(@mainColor);

                            .mlcoin {
                                filter: invert(0%) sepia(98%) saturate(390%) hue-rotate(350deg) brightness(105%) contrast(101%);
                            }
                        }

                        .admin_sidebar_sub_list {
                            .flexbox(column, flex-start, flex-start);
                            width: 100%;
                            margin-left: 24px;
                            margin-top: 24px;
                            .ease(.2s);

                            .admin_sidebar_sub_item {
                                color: rgb(@adminColor);
                                cursor: pointer;
                                font-weight: bold;
                                margin-bottom: 24px;
                                .link-default;
                                .ease(.2s);

                                .icon {
                                    width: 18px;
                                    margin-right: 5px;
                                }

                                .cusIcon {
                                    width: 17px;
                                    .ease(.2s);
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &:hover {
                                    color: rgb(@mainColor);

                                    .cusIcon {
                                        filter: invert(0%) sepia(98%) saturate(390%) hue-rotate(350deg) brightness(105%) contrast(101%);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .admin_sidebar_close {
                width: 4rem !important;

                .user_identify {
                    padding-bottom: 24px;

                    .avatar {
                        margin-bottom: 0;

                        .user_img {
                            width: 35px !important;
                            height: 35px !important;
                            font-size: @fontSize  !important;
                        }

                        .change_avatar_btn {
                            font-size: @fontSize - 4;
                        }
                    }

                    .user_name {
                        display: none;
                    }

                    .user_level,
                    .merchant_level,
                    .user_status {
                        display: none !important;
                    }
                }

                .admin_sidebar_list {
                    .admin_sidebar_item {
                        & span {
                            display: none;
                        }

                        .admin_sidebar_sub_list {
                            margin-top: 0;
                            margin-left: 0;

                            .admin_sidebar_sub_item {
                                & span {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .merchant_center_sidebar_list {
                    .admin_sidebar_item {
                        &:nth-child(4) {
                            &>.icon {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/***** 商家 *****/
#merchant_admin {
    #admin_wrapper {
        .admin_contain {
            .admin_sidebar {
                .user_identify {
                    background: rgb(255, 241, 209);
                }

                .user_level {
                    display: none;
                }

                .merchant_level {
                    display: block;
                }


                .user_status {
                    border-bottom: 0;

                    .coupon_account {
                        display: flex;
                    }
                }
            }
        }
    }
}