@import './mixins/_allMixins.less';
@import './_default-themes.less';


.op_coupon_w {
    &:before {
        .show !important;
    }

    .coupon_content {
        .show !important;
        .translateY(0) !important;
    }
}

/***** 酷碰券下載視窗 *****/
#coupon_windows {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    &:before {
        content: "";
        position: absolute;
        background: rgba(@black, .5);
        width: 100%;
        height: 100%;
        .hide;
        .ease(.2s);
    }

    .coupon_content {
        position: absolute;
        background: rgba(@white, .9);
        width: 960px;
        height: 585px;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 15px;
        overflow: hidden;
        .hide;
        .translateY(-50%);
        .ease(.2s);

        .icon {
            position: absolute;
            top: 15px;
            right: 15px;
            color: rgb(@black);
            cursor: pointer;
            .ease(.2s);

            &:hover {
                color: rgb(@mainColor);
            }
        }

        & header {
            border-bottom: 1px solid rgb(@fontColor);
            font-size: @fontSize + 6;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
            padding: 10px;
            padding-top: 25px;
        }

        .canvas {
            background: transparent;
            position: relative;
            width: 100%;
            height: calc(100% - 165px);

            .coupon_bg {
                background: url("../images/coupon_bg.png") no-repeat center center transparent;
                background-size: cover;
                width: 100%;
                height: 100%;
            }

            .main {
                position: absolute;
                top: 0;
                left: 0;
                color: rgb(@black);
                width: 100%;
                height: 100%;

                .coupon_title {
                    position: absolute;
                    font-size: @fontSize * 2 - 4;
                    font-weight: bold;
                    bottom: 170px;
                    left: 77px;
                }

                .coupon_info {
                    position: absolute;
                    right: 0;
                    width: 685px;
                    height: 100%;

                    .market_title {
                        font-size: @fontSize * 2 - 4;
                        font-weight: bold;
                        color: rgb(@mlRed);
                        margin-top: 50px;
                        margin-bottom: 24px;
                        .lineClamp(2);
                    }

                    .value {
                        font-size: @fontSize * 4 - 2;
                        border-top: 10px dotted rgb(@mlRed);
                        border-bottom: 10px dotted rgb(@mlRed);
                        margin-right: 50px;
                        line-height: 2.3em;
                        font-weight: normal;
                        .lineClamp(1);
                    }

                    .how_to_use {
                        font-size: @fontSize - 6;
                        margin-top: 6px;
                        margin-right: 95px;
                        line-height: 1.5em;
                        letter-spacing: 1px;

                        .item {
                            .flexbox(row, center, flex-start);
                            flex-wrap: wrap;
                            margin-bottom: 5px;

                            .data {
                                .lineClamp(2);
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .myanlife_logo {
                        position: absolute;
                        width: 70px;
                        bottom: 24px;
                        right: 24px;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .coupon_download_btn {
            display: block;
            background: rgb(@mainColor);
            width: 150px;
            color: rgb(@white);
            cursor: pointer;
            border-radius: 5px;
            font-size: @fontSize;
            text-align: center;
            margin: 15px auto;
            padding: 10px;
            .link-default;
            .ease(.2s);

            &:hover {
                background: rgb(@mainColorHover);
            }
        }

        .coupon_share_list {
            position: absolute;
            text-align: center;
            padding: 10px;
            bottom: 0;
            left: 0;
            right: 0;

            .item {
                display: inline-block;
                font-size: @fontSize + 6;
                margin: auto 5px;
                .link-default;
                .ease(.2s);

                &:hover {
                    .scale(1.1);
                }

                &:first-child {
                    color: @fb;
                }

                &:nth-child(2) {
                    color: @line;
                }

                &:nth-child(3) {
                    color: @vx;
                }

                &:last-child {
                    color: @viber;
                }
            }
        }
    }
}