@import './mixins/_allMixins.less';
@import './_default-themes.less';

body {
    width: 100%;
    height: auto;
    color: @fontColor;
    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
    font-size: @fontSize;
    letter-spacing: 1px;

    #wrapper {

        /***** 手機板首頁 nav *****/
        #m_header_switch {
            display: none;
            position: fixed;
            cursor: pointer;
            top: 18px;
            right: 15px;
            color: rgb(@black);
            z-index: 100;
            .ease(.2s);
        }

        .open_m_switch {
            display: block;
            color: rgb(@white) !important;
        }

        /***** 首頁 nav *****/
        #header {
            position: fixed;
            background: rgba(@white, .8);
            .flexbox(row, center, flex-end);
            width: 100%;
            height: 55px;
            font-size: @fontSize - 4;
            left: 0;
            right: 0;
            top: 0;
            z-index: 2;

            .item {
                .flexbox(row, center, center);
                cursor: pointer;
                margin-right: 24px;
                .link-default;
                .ease(.2s);

                .icon {
                    margin-right: 5px;
                }

                &:hover {
                    color: rgb(@mainColor);
                }
            }

            .merchant_application,
            .merchant_center {
                color: @fontColor;
            }

            .lang_select {
                position: relative;

                .list {
                    position: absolute;
                    background: rgba(@mainColor, .6);
                    color: rgb(@white);
                    font-size: @fontSize - 4;
                    border-radius: 10px;
                    padding: 15px;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, 100px);
                    column-gap: 10px;
                    row-gap: 10px;
                    top: 25px;
                    right: 0;
                    .hide;
                    .transform-origin(top);
                    .scaleY(0);
                    .ease(.2s);

                    .item {
                        justify-content: space-between;
                        margin-right: 0;

                        &:hover {
                            color: rgb(@black);
                        }
                    }

                    .return_btn {
                        display: none;
                    }
                }

                &:hover {
                    .icon {
                        .rotate(180deg);
                    }

                    .list {
                        .show;
                        .scaleY(1);
                    }

                }
            }

            .currency_select {
                .lang_select;

                .list {
                    grid-template-columns: repeat(1, 100px);
                }
            }

            .logout_btn {
                display: none !important;
            }

            .user_login {
                position: relative;
                display: none !important;

                .user_img {

                    & img {
                        background: rgba(@white, .9);
                        width: 30px;
                        height: 30px;
                        border-radius: 50px;
                        border: 1px solid rgb(@fontColor);
                        overflow: hidden;
                    }
                }

                .list {
                    position: absolute;
                    background: rgba(@mainColor, 0.6);
                    color: rgb(@white);
                    font-size: @fontSize - 4;
                    border-radius: 10px;
                    padding: 15px;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, 120px);
                    column-gap: 10px;
                    row-gap: 10px;
                    top: 40px;
                    right: 0;
                    .hide;
                    .transform-origin(top);
                    .scaleY(0);
                    .ease(.2s);

                    .item {
                        display: block;
                        color: rgb(@white);
                        margin-right: 0;
                        .link-default;
                        .ease(.2s);

                        &:hover {
                            color: rgb(@black);
                        }
                    }
                }

                .op_list {
                    .show;
                    .scaleY(1);
                }
            }

            .close_item {
                .scale(0);
                .hide;
            }

            .maxH {
                height: 100% !important;
            }
        }

        /***** 首頁 banner *****/
        #myanLife_MainVisual {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 768px;
            .flexbox(column, center, flex-end);

            .myanLife_banner {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .owl-carousel {
                overflow: hidden;

                .owl-stage-outer {
                    height: inherit !important;

                    .owl-stage {
                        height: inherit !important;

                        .owl-item {
                            width: 100vw !important;
                            height: inherit !important;
                        }
                    }
                }

                .owl-dots {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                }
            }

            .myanLife_logo {
                width: 180px;
                z-index: 1;
                .link-default;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            .myanLife_Slogan {
                color: rgb(@white);
                font-size: @fontSize * 2;
                margin-top: 12px;
                text-align: center;
                text-shadow: 1px 1px 5px rgb(@black);
                z-index: 1;

                &>div {
                    &:last-child {
                        font-size: 24px;
                        margin-top: 12px;
                    }
                }
            }

            #myanLife_global_searchBox {
                background: rgba(@white, .6);
                font-size: @fontSize + 6;
                width: 80%;
                height: 150px;
                margin: 50px auto;
                margin-top: 100px;
                border-radius: 10px;
                z-index: 1;
                .ease(.2s);

                .search_input {
                    display: flex;
                    align-items: center;
                    padding: 24px;

                    .input_container {
                        position: relative;
                        width: 100%;

                        .global_search_input {
                            background: transparent;
                            box-sizing: border-box;
                            border-radius: 0;
                            width: 100%;
                            border: 0;
                            border-bottom: 2px solid @fontColor;
                            padding: 10px 0;
                            padding-right: 40px;
                            overflow: hidden;
                            .link-default;
                            .ease(.2s);

                            &:valid,
                            &:focus {
                                border-bottom: 2px solid rgb(@mainColor);

                                &+.label {
                                    color: rgb(@mainColor);
                                    font-size: .8rem;
                                    top: -20px;
                                    pointer-events: none;
                                }

                                &~.clear_text {
                                    .show;
                                }
                            }
                        }

                        .label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            height: 85%;
                            color: @fontColor;
                            font-size: @fontSize + 6;
                            font-weight: normal;
                            display: flex;
                            align-items: center;
                            box-sizing: border-box;
                            cursor: text;
                            .ease(.2s);
                        }

                        .clear_text {
                            position: absolute;
                            width: 23px;
                            right: 10px;
                            top: 10px;
                            cursor: pointer;
                            z-index: 5;
                            .hide;
                            .ease(.2s);

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }

                        .key_words {
                            position: absolute;
                            background: rgba(@white, .9);
                            width: 450px;
                            border-radius: 10px;
                            padding: 20px;
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                            .hide;
                            .ease(.2s);

                            & h2 {
                                font-size: @fontSize + 6;
                                padding-bottom: 10px;
                                border-bottom: 3px solid rgb(@mlBlue);
                                letter-spacing: 3px;
                            }

                            .list {
                                display: grid;
                                grid-template-columns: repeat(5, 1fr);
                                justify-content: center;
                                column-gap: 10px;
                                row-gap: 10px;
                                font-size: @fontSize;
                                font-weight: normal;
                                text-align: center;
                                padding-top: 10px;

                                .item {
                                    cursor: pointer;
                                    .ease(.2s);

                                    &:hover {
                                        color: rgb(@mainColor);
                                    }
                                }
                            }
                        }

                        .op_key_words {
                            .show;
                        }
                    }

                    .global_search {
                        background: transparent;
                        font-size: @fontSize * 2;
                        border: 0;

                        .icon {
                            .ease(.2s);

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }
                    }
                }

                .hot_search {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 24px;
                    padding-top: 0;
                    font-size: @fontSize;
                    color: rgb(@fontColor);

                    & h2 {
                        letter-spacing: 3px;
                    }

                    .list {
                        display: flex;
                        align-items: center;
                        font-size: @fontSize - 4;
                        cursor: pointer;

                        .item {
                            border: 1px solid rgb(@fontColor);
                            border-radius: 5px;
                            padding: 5px 10px;
                            margin-right: 10px;
                            .ease(.2s);

                            &:last-child {
                                margin: 0;
                            }

                            &:hover {
                                color: rgb(@mainColor);
                                border: 1px solid rgb(@mainColor);
                            }
                        }
                    }
                }

            }
        }

        /***** 首頁 nav *****/
        #myanLife_Navigation {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            width: 80%;
            height: 55px;
            margin: auto;
            padding-top: 50px;

            .item {
                .flexbox(row, center, space-between);
                border-bottom: 4px solid rgb(@mlBlue);
                font-size: @fontSize;
                margin-right: 24px;
                color: @fontColor;
                height: 100%;
                .link-default;
                .ease(.2s);

                .icon {
                    .flexbox(row, center, center);
                    background: rgb(@mlBlue);
                    width: 22px;
                    height: 22px;
                    color: rgb(@white);
                    padding: 10px;
                    border-radius: 50%;
                    .ease(.2s);
                }

                &:hover {
                    color: rgb(@mlBlue);

                    .icon {
                        border-radius: 0;
                    }
                }

                &>div {
                    margin: auto;
                    margin-left: 12px;
                }

                &:nth-child(2) {
                    border-bottom: 4px solid rgb(@mainColor);

                    .icon {
                        background: rgb(@mainColor);
                    }

                    &:hover {
                        color: rgb(@mainColor);
                    }
                }

                &:nth-child(3) {
                    border-bottom: 4px solid rgb(@mlGreen);

                    .icon {
                        background: rgb(@mlGreen);
                    }

                    &:hover {
                        color: rgb(@mlGreen);
                    }
                }

                &:nth-child(4) {
                    border-bottom: 4px solid rgb(@mlPink);

                    .icon {
                        background: rgb(@mlPink);
                    }

                    &:hover {
                        color: rgb(@mlPink);
                    }
                }

                &:nth-child(5) {
                    border-bottom: 4px solid rgb(@mlGreenDark);

                    .icon {
                        background: rgb(@mlGreenDark);
                    }

                    &:hover {
                        color: rgb(@mlGreenDark);
                    }
                }

                &:last-child {
                    border-bottom: 4px solid rgb(@mlRed);
                    margin-right: 0;

                    .icon {
                        background: rgb(@mlRed);
                    }

                    &:hover {
                        color: rgb(@mlRed);
                    }
                }
            }
        }

        /***** 最新優惠 *****/
        #myanLife_discount {
            margin-top: 100px;

            .common_header {
                position: relative;
                display: flex;
                align-items: flex-end;
                width: 80%;
                font-size: @fontSize + 10;
                font-weight: bold;
                margin: auto;

                &::before {
                    content: "";
                    background: rgb(@mainColor);
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }

                & h2 {
                    margin-right: 15px;
                    letter-spacing: 3px;
                }

                .time_countdown {
                    display: flex;
                    align-items: flex-end;
                    font-size: @fontSize - 4;

                    .item {
                        background: rgb(@counter);
                        margin: auto 5px;
                        color: rgb(@white);
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
            }

            .common_content {
                display: flex;
                width: 80%;
                margin: auto;
                margin-top: 50px;

                .common_item {
                    display: block;
                    width: 284px;
                    font-size: @fontSize - 4;
                    color: @fontColor;
                    .link-default;
                    .ease(.2s);

                    &:hover {
                        .imgView {
                            & img {
                                .transform(rotate(3deg) scale(1.1));
                            }

                            .data {
                                top: 0;
                            }
                        }
                    }

                    .imgView {
                        position: relative;
                        height: 268px;
                        border: 5px solid rgb(@mainColor);
                        border-radius: 10px;
                        overflow: hidden;

                        & img {
                            width: 100%;
                            height: 100%;
                            .ease(.75s);
                        }

                        .coupon_download {
                            .flexbox(row, center, center);
                            .couponBg;
                            position: absolute;
                            width: 100%;
                            height: 40px;
                            color: rgb(@white);
                            font-size: @fontSize;
                            bottom: 0;
                            z-index: 3;
                            .ease(.2s);

                            &>div {}

                            .icon {
                                margin-left: 5px;
                            }

                            &:hover {
                                height: 50px;
                            }
                        }

                        .data {
                            position: absolute;
                            background: rgba(0, 0, 0, .7);
                            .flexbox(row, center, center);
                            color: rgb(@white);
                            height: 85%;
                            padding: 0 15px;
                            letter-spacing: 3px;
                            line-height: 1.2em;
                            top: -100%;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            .ease(.5s);

                            .data_info {
                                .lineClamp(5);
                            }
                        }
                    }

                    .information {
                        position: relative;
                        padding: 5px;

                        .info_header {
                            .flexbox(row, baseline, space-between);
                            font-size: @fontSize + 2;
                            margin-bottom: 15px;

                            & h2 {
                                font-weight: bold;
                                letter-spacing: 3px;
                                line-height: 1.1em;
                                height: auto;
                                .lineClamp(1);
                            }

                            .evaluation {
                                .flexbox(row, center, center);

                                &>div {
                                    color: rgb(@mainColor);
                                    font-size: @fontSize * 2 - 4;
                                    font-weight: bold;
                                }

                                .icon {
                                    color: rgb(@mainColorHover);
                                    margin-left: 5px;
                                    font-size: @fontSize + 6;
                                }
                            }
                        }

                        .location {
                            display: flex;
                            align-items: baseline;
                            margin-bottom: 10px;
                            word-break: break-all;

                            .icon {
                                margin-right: 10px;
                            }

                            &>div {
                                .lineClamp(1);
                            }
                        }

                        .merchant_name {
                            font-size: @fontSize - 2;
                            cursor: pointer;
                            margin-top: 12px;
                            .lineClamp(1);
                            .ease(.2s);

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }
                    }
                }
            }

            .owl-theme {
                position: relative;

                .owl-nav {

                    .owl-prev {
                        position: absolute;
                        background: rgba(0, 0, 0, .5);
                        width: 50px;
                        font-size: @fontSize * 2;
                        color: rgb(@white);
                        border: 0;
                        border-radius: 5px;
                        margin: 0;
                        top: 0;
                        bottom: 0;
                        left: -65px;
                        z-index: 10;
                        .ease(.2s);

                        &:hover {
                            background: rgba(0, 0, 0, .9);
                        }
                    }

                    .owl-next {
                        .owl-prev;
                        left: auto;
                        right: -65px;
                    }

                    .disabled {
                        opacity: 0;
                    }
                }

                .owl-dots {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        /***** 為您精挑細選 *****/
        #myanLife_featured {
            background: rgb(@grayBg);
            margin-top: 100px;
            padding-bottom: 100px;

            .featured_header {
                .flexbox(row, center, center);
                font-size: @fontSize + 10;
                font-weight: bold;
                padding: 45px 0;

                & h2 {
                    letter-spacing: 3px;
                    margin: 0 24px;
                }

                .default {
                    position: relative;

                    &>span {
                        display: none;
                    }

                    .icon {
                        color: rgb(@mainColor);
                        .rotate(45deg);
                    }
                }
            }

            .featured_content {
                display: grid;
                grid-template-columns: repeat(6, auto);
                column-gap: 24px;
                row-gap: 24px;
                width: 80%;
                margin: auto;

                .featured_item {
                    position: relative;
                    height: 12.4vw;

                    &:after {
                        content: "";
                        position: absolute;
                        background: rgba(0, 0, 0, 0.2);
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        .scale(1);
                        .ease(.3s);
                    }

                    & img {
                        width: 100%;
                        height: 100%;

                    }

                    .featured_info {
                        position: absolute;
                        .flexbox(column, center, center);
                        color: rgb(@white);
                        font-size: @fontSize - 4;
                        padding: 20px;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                        z-index: 2;

                        & h2 {
                            font-size: @fontSize + 2;
                            font-weight: bold;
                            margin-bottom: 15px;
                            letter-spacing: 3px;
                            .lineClamp(1);
                            .ease(.2s);
                        }

                        .item {
                            letter-spacing: 3px;
                            line-height: 1.2em;
                            .lineClamp(2);
                            .ease(.2s);
                        }

                        .location {
                            display: flex;
                            align-items: baseline;
                            margin-bottom: 10px;
                            cursor: text;
                            word-break: break-all;

                            .icon {
                                margin-right: 10px;
                            }

                            &>div {
                                .lineClamp(1);
                            }
                        }


                        .merchant_name {
                            font-size: @fontSize - 4;
                            cursor: pointer;
                            margin-bottom: 10px;
                            .lineClamp(1);
                            .ease(.2s);

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }

                        .evaluation {
                            .flexbox(row, center, center);
                            font-size: @fontSize + 6;
                            font-weight: bold;
                            color: rgb(@mainColor);
                            position: absolute;
                            top: 12px;
                            right: 5px;
                            .ease(.2s);

                            .icon {
                                color: rgb(@mainColorHover);
                                font-size: @fontSize - 2;
                                margin-left: 3px;
                            }
                        }

                        .coupon_download {
                            .flexbox(row, center, center);
                            background: rgba(@mainColor, .9);
                            position: absolute;
                            top: auto;
                            bottom: 10px;
                            right: 5px;
                            padding: 5px;
                            color: rgb(@white);
                            .ease(.2s);
                            z-index: 6;

                            .icon {
                                margin-right: 5px;
                            }

                            &:hover {
                                background: rgba(@mainColorHover, 1);
                                color: rgb(@black);
                            }
                        }
                    }

                    &:first-child {
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;
                        height: 26vw;

                        .featured_info {
                            font-size: @fontSize - 2;
                            padding: 60px;

                            & h2 {
                                letter-spacing: 3px;
                                font-size: @fontSize + 6;
                            }

                            .evaluation {
                                font-size: @fontSize * 2 - 4;
                                top: 18px;
                                right: 10px;

                                .icon {
                                    font-size: @fontSize + 6;
                                    margin-left: 3px;
                                }
                            }

                            .coupon_download {
                                top: auto;
                                right: 10px;
                                bottom: 20px;
                                padding: 10px;
                                font-size: @fontSize;

                                .icon {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    &:hover {

                        &:after {
                            background: rgba(@white, .6);
                            .scale(.95);
                        }

                        .featured_info {
                            color: rgb(0, 0, 0);

                            .evaluation,
                            .coupon_download {
                                right: 9px;
                            }
                        }

                        &:first-child {
                            .featured_info {

                                .evaluation,
                                .coupon_download {
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        /***** Top ten *****/
        #myanLife_hot_ten {
            #myanLife_discount;
            position: relative;
            background: rgb(@grayBg);
            margin-top: 0;
            padding-top: 50px;
            padding-bottom: 100px;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                background: rgb(@white);
                width: 40vw;
                height: 100%;
                top: 0;
            }

            .common_header {
                z-index: 1;

                & h2 {
                    margin-right: 0;
                }
            }

            .common_content {
                .common_item {
                    display: block;

                    .imgView {
                        border: none;
                    }
                }
            }
        }

        /***** 達人分享 *****/
        #myanLife_blog {
            position: relative;
            margin-top: 100px;
            padding-bottom: 100px;


            &::after {
                content: "";
                position: absolute;
                background: #ffecc0;
                width: 90vw;
                height: 130px;
                bottom: 50px;
            }

            .blog_header {
                position: relative;
                display: flex;
                align-items: flex-end;
                width: 80%;
                font-size: @fontSize + 10;
                font-weight: bold;
                margin: auto;

                &::before {
                    content: "";
                    background: rgb(@mainColor);
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }

                & h2 {
                    margin-right: 0;
                    letter-spacing: 4px
                }
            }

            .blog_content {
                display: flex;
                width: 80%;
                margin: auto;
                margin-top: 50px;

                .blog_item {
                    position: relative;
                    display: block;
                    width: 284px;
                    color: @fontColor;
                    .link-default;
                    .ease(.2s);

                    &:hover {
                        .imgView {
                            & img {
                                .transform(rotate(3deg) scale(1.1));
                            }
                        }

                        .information {
                            .item {
                                background: rgba(0, 0, 0, .5);

                            }
                        }
                    }

                    .imgView {
                        position: relative;
                        height: 285px;
                        border-radius: 10px;
                        overflow: hidden;

                        & img {
                            width: 100%;
                            height: 100%;
                            .ease(.75s);
                        }
                    }

                    .information {
                        .flexbox(column, flex-end, center);
                        position: absolute;
                        padding: 5px;
                        padding-right: 0;
                        right: 0;
                        font-size: @fontSize - 4;
                        bottom: 24px;
                        z-index: 2;
                        color: rgb(@white);

                        .item {
                            padding: 5px;
                            text-align: right;
                            .ease(.2s);
                        }

                        .article_title,
                        .article_evaluation {
                            .flexbox(row, flex-end, flex-end);
                        }

                        .article_author {
                            background: rgba(@blueBg, .6);
                            .lineClamp(1);
                        }

                        .article_title {
                            background: rgba(@mainColor, .6);

                            & time {
                                margin-left: 5px;
                            }
                        }

                        .article_evaluation {
                            background: rgba(@grayBg, .6);

                            .cell {
                                .flexbox(row, center, flex-start);
                                flex-wrap: wrap;

                                .start_counter {
                                    .flexbox(row, center, center);
                                    font-size: @fontSize - 4;

                                    .icon {
                                        color: rgb(@mainColorHover);
                                        margin: auto 2px;
                                    }

                                }

                                .recommend {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
            }

            .owl-theme {
                position: relative;

                .owl-nav {

                    .owl-prev {
                        position: absolute;
                        background: rgba(0, 0, 0, .5);
                        width: 50px;
                        font-size: @fontSize * 2;
                        color: rgb(@white);
                        border: 0;
                        border-radius: 5px;
                        margin: 0;
                        top: 0;
                        bottom: 0;
                        left: -65px;
                        z-index: 10;
                        .ease(.2s);

                        &:hover {
                            background: rgba(0, 0, 0, .9);
                        }
                    }

                    .owl-next {
                        .owl-prev;
                        left: auto;
                        right: -65px;
                    }

                    .disabled {
                        opacity: 0;
                    }
                }

                .owl-dots {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        /***** 熱門其他活動 *****/
        #myanLife_other {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 50px;
            row-gap: 50px;
            width: 80%;
            margin: auto;
            margin-top: 25px;
            padding-bottom: 50px;

            .other_item {
                overflow: hidden;

                &:first-child {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;

                }

                .other_item_header {
                    .flexbox(row, center, flex-start);
                    font-size: @fontSize + 10;
                    font-weight: bold;
                    padding: 10px;
                    border-bottom: 3px solid rgb(@mlGreen);

                    .default {
                        position: relative;
                        margin-right: 15px;

                        &>span {
                            display: none;
                        }

                        .icon {
                            color: rgb(@mlGreen);
                            .rotate(45deg);
                        }
                    }

                    & h2 {
                        letter-spacing: 3px;
                        .lineClamp(1);
                    }
                }

                &:nth-child(2) {
                    .other_item_header {
                        border-bottom: 3px solid rgb(@mainColor);

                        .default {
                            .icon {
                                color: rgb(@mainColor);
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .other_item_header {
                        border-bottom: 3px solid rgb(@mlRed);

                        .default {
                            .icon {
                                color: rgb(@mlRed);
                            }
                        }
                    }
                }

                .other_item_content {
                    height: 22vw;
                    border-radius: 0 0 10px 10px;
                    overflow: hidden;

                    .owl-stage-outer {
                        height: 100%;

                        .owl-stage {
                            height: 100%;

                            .owl-item {
                                height: 100%;
                            }
                        }
                    }

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .owl-theme {
                    position: relative;

                    .owl-nav {

                        .owl-prev {
                            position: absolute;
                            z-index: 10;
                            top: 35%;
                            bottom: 35%;
                            left: 20px;
                            width: 70px;
                            font-size: @fontSize * 2;
                            background: rgba(0, 0, 0, .5);
                            border: 0;
                            border-radius: 5px;
                            color: rgb(@white);
                            .ease(.2s);

                            &:hover {
                                background: rgba(0, 0, 0, .9);
                            }
                        }

                        .owl-next {
                            .owl-prev;
                            left: auto;
                            right: 20px;
                        }

                        .disabled {
                            opacity: 0;
                        }
                    }

                    .owl-dots {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        counter-reset: num;

                        & span {
                            .flexbox(row, center, center);
                            background: #869791;
                            border-radius: 0;
                            width: 20px;
                            height: 20px;
                            margin: 10px;

                            &:hover {
                                background: #D6D6D6;
                            }

                            &::before {
                                counter-increment: num;
                                content: counter(num);
                            }
                        }
                    }

                    .active {
                        & span {
                            background: #D6D6D6;
                        }
                    }
                }
            }

            .ad {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                border-radius: 10px;

                .ad_item_content {
                    height: 22vw;

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        /***** scroll top *****/
        #top_btn {
            position: fixed;
            color: rgb(@mainColor);
            bottom: 25px;
            right: 25px;
            font-size: @fontSize * 2 + 4;
            cursor: pointer;
            z-index: 98;
            .ease(.2s);

            &:hover {
                color: rgb(@mainColorHover);
            }
        }
    }
}