@import './mixins/_allMixins.less';
@import './_default-themes.less';

body {

    #wrapper {

        /***** 熱門活動 *****/
        #myanLife_hot_active {
            margin-top: 100px;

            .common_header {
                position: relative;
                display: flex;
                align-items: flex-end;
                width: 80%;
                font-size: @fontSize + 10;
                font-weight: bold;
                margin: auto;

                &::before {
                    content: "";
                    background: rgb(@mainColor);
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }

                & h2 {
                    letter-spacing: 3px;
                }
            }

            .common_content {
                display: flex;
                width: 80%;
                margin: auto;
                margin-top: 50px;

                .common_item {
                    display: block;
                    width: 284px;
                    font-size: @fontSize - 4;
                    color: @fontColor;
                    .link-default;
                    .ease(.2s);

                    &:hover {
                        .imgView {
                            & img {
                                .transform(rotate(3deg) scale(1.1));
                            }

                            .data {
                                top: 0;
                            }
                        }
                    }

                    .imgView {
                        position: relative;
                        height: 268px;
                        border-radius: 10px;
                        overflow: hidden;

                        & img {
                            width: 100%;
                            height: 100%;
                            .ease(.75s);
                        }

                        .coupon_download {
                            .flexbox(row, center, center);
                            .couponBg;
                            position: absolute;
                            width: 100%;
                            height: 40px;
                            bottom: 0;
                            color: rgb(@white);
                            z-index: 3;
                            .ease(.2s);

                            &>div {}

                            .icon {
                                margin-left: 5px;
                            }

                            &:hover {
                                height: 50px;
                            }
                        }

                        .data {
                            .flexbox(row, center, center);
                            letter-spacing: 3px;
                            line-height: 1.2em;
                            position: absolute;
                            height: 85%;
                            background: rgba(@black, .7);
                            z-index: 1;
                            top: -100%;
                            left: 0;
                            right: 0;
                            padding: 0 15px;
                            color: rgb(@white);
                            border-radius: 10px;
                            .ease(.5s);

                            .data_info {
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                                display: -webkit-box;
                                white-space: normal;
                                word-break: break-all;
                                overflow: hidden;
                            }
                        }
                    }

                    .information {
                        position: relative;
                        padding: 5px;

                        .info_header {
                            .flexbox(row, baseline, space-between);
                            font-size: @fontSize + 2;
                            font-weight: bold;
                            margin-bottom: 15px;

                            & h2 {
                                letter-spacing: 3px;
                                .lineClamp(1);
                            }

                            .evaluation {
                                .flexbox(row, center, center);

                                &>div {
                                    color: rgb(@mainColor);
                                    font-size: @fontSize * 2 - 4;
                                    font-weight: bold;
                                }

                                .icon {
                                    color: rgb(@mainColorHover);
                                    margin-left: 5px;
                                    font-size: @fontSize + 6;
                                }
                            }
                        }

                        .location {
                            display: flex;
                            align-items: baseline;
                            margin-bottom: 10px;
                            word-break: break-all;

                            .icon {
                                margin-right: 10px;
                            }

                            &>div {
                                .lineClamp(1);
                            }
                        }

                        .merchant_name {
                            font-size: @fontSize - 2;
                            cursor: pointer;
                            margin-top: 12px;
                            .lineClamp(1);
                            .ease(.2s);

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }

                    }
                }
            }

            .owl-theme {
                position: relative;

                .owl-nav {

                    .owl-prev {
                        position: absolute;
                        background: rgba(0, 0, 0, .5);
                        width: 50px;
                        font-size: @fontSize * 2;
                        color: rgb(@white);
                        border: 0;
                        border-radius: 5px;
                        margin: 0;
                        top: 0;
                        bottom: 0;
                        left: -65px;
                        z-index: 10;
                        .ease(.2s);

                        &:hover {
                            background: rgba(0, 0, 0, .9);
                        }
                    }

                    .owl-next {
                        .owl-prev;
                        left: auto;
                        right: -65px;
                    }

                    .disabled {
                        opacity: 0;
                    }
                }

                .owl-dots {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        /***** 搜尋結果 *****/
        #myanLife_search_result {
            .flexbox(row, end, center);
            width: 80%;
            margin: auto;
            margin-top: 100px;

            .m_sidebar_switch {
                display: none;
                background: rgb(@grayBg);
                width: 100%;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 24px;
                padding: 15px;
                font-size: @fontSize - 2;
            }

            .sidebar {
                display: flex;
                flex-direction: column;
                margin-right: 24px;
                width: 292px;

                .sidebar_item {
                    background: rgb(@grayBg);
                    border-radius: 10px;
                    padding: 15px;
                    margin-bottom: 24px;

                    &:last-child {
                        margin: 0;
                    }
                }

                .map_mode {
                    display: none;
                    background: url(../images/googlemap.png) center center transparent;
                    background-size: cover;
                    cursor: pointer;
                    text-align: center;

                    & img {
                        width: 36px;
                    }
                }

                .classify {
                    font-size: @fontSize - 4;

                    & h2 {
                        font-size: @fontSize;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    .classify_list {
                        .classify_item {
                            margin-bottom: 24px;

                            .classify_item_header {
                                .flexbox(row, center, space-between);
                                margin-bottom: 24px;

                                .label--checkbox {
                                    .material_checkbox;
                                    .lineClamp(1);
                                    .ease(.2s);

                                    &:hover {
                                        color: rgb(@mainColor);
                                    }
                                }

                                .display_btn {
                                    cursor: pointer;
                                    .ease(.2s);

                                    &:hover {
                                        color: rgb(@mainColor);
                                    }
                                }
                            }

                            .classify_item_list {
                                display: flex;
                                flex-direction: column;
                                margin-left: 20px;

                                .label--checkbox {
                                    .material_checkbox;
                                    .lineClamp(1);
                                    margin-bottom: 24px;
                                    .ease(.2s);

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    &:hover {
                                        color: rgb(@mainColor);
                                    }
                                }
                            }

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }

                    .undisplay_list {
                        display: none !important;
                    }
                }
            }

            .result_content {
                width: 79%;

                .local_search {
                    .flexbox(row, flex-end, flex-end);
                    background: rgb(@grayBg);
                    border-radius: 10px;
                    padding: 15px;
                    font-size: @fontSize - 2;
                    margin-bottom: 24px;

                    .local_search_input {
                        background: transparent;
                        box-sizing: border-box;
                        border: 0;
                        border-bottom: 1px solid rgb(@fontColor);
                        border-radius: 0;
                        margin-right: 24px;

                        &::-webkit-input-placeholder {
                            font-size: @fontSize - 2;
                        }

                        &::-moz-placeholder {
                            font-size: @fontSize - 2;
                        }

                        &:-ms-input-placeholder {
                            font-size: @fontSize - 2;
                        }
                    }

                    .cuisine {
                        background: none;
                        box-sizing: border-box;
                        border: none;
                        border-bottom: 1px solid @fontColor;
                        border-radius: 0;
                        margin-right: 24px;
                    }

                    .inputContainer {
                        position: relative;
                        .flexbox(row, flex-end, flex-start);
                        margin-right: 24px;

                        .icon {
                            margin-right: 3px;
                        }

                        &>input[type="text"] {
                            background: transparent;
                            border: 0;
                            border-bottom: 1px solid rgb(@fontColor);
                            border-radius: 0;
                            box-sizing: border-box;
                            width: 100%;
                            text-align: center;

                            &::-webkit-input-placeholder {
                                font-size: @fontSize - 2;
                            }

                            &::-moz-placeholder {
                                font-size: @fontSize - 2;
                            }

                            &:-ms-input-placeholder {
                                font-size: @fontSize - 2;
                            }
                        }
                    }

                    .member_input {
                        min-width: 94px;
                        border-bottom: 1px solid rgb(@fontColor);

                        & button[type="button"] {
                            border: 0;
                            background: transparent;
                            .ease(.2s);

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }

                        & input[type="number"] {
                            border: 0;
                            background: transparent;
                        }
                    }

                    .local_search_btn {
                        background: transparent;
                        font-size: @fontSize;
                        padding: 5px 15px;
                        border-radius: 5px;
                        border: 1px solid @fontColor;
                        .ease(.2s);

                        &:hover {
                            color: rgb(@mainColor);
                            border: 1px solid rgb(@mainColor);
                        }
                    }
                }

                .result_filter {
                    background: rgb(@grayBg);
                    font-size: @fontSize - 2;
                    border-radius: 10px;
                    margin-bottom: 24px;
                    padding: 15px;

                    .filter_condition {
                        .flexbox(row, baseline, flex-start);
                        flex-wrap: wrap;
                        border-bottom: 1px solid @fontColor;
                        padding-bottom: 12px;
                        margin-bottom: 12px;

                        .filter_condition_header {
                            .flexbox(row, baseline, center);
                            margin-right: 12px;

                            .filter_amount {
                                color: rgb(@mainColor);
                                font-size: @fontSize + 2;
                                font-weight: bold;
                                margin-right: 5px;
                            }

                            .filter_des {}
                        }

                        .filter_condition_list {
                            .flexbox(row, center, flex-start);
                            flex-wrap: wrap;
                            font-size: @fontSize - 4;

                            .filter_condition_item {
                                border: 1px solid @fontColor;
                                border-radius: 10px;
                                margin: 5px;
                                padding: 3px 18px;

                                .filter_clear {
                                    cursor: pointer;
                                    margin-left: 10px;
                                    .ease(.2s);

                                    &:hover {
                                        color: rgb(@mainColor);
                                    }
                                }
                            }

                            .filter_clear_all {
                                background: rgb(@mlRed);
                                color: rgb(@white);
                                cursor: pointer;
                                border: none;
                                border-radius: 10px;
                                margin: 5px;
                                padding: 4px 18px;
                                .ease(.2s);

                                &:hover {
                                    background: rgb(@mainColor);
                                }
                            }

                            .filter_confirm {
                                .filter_clear_all;
                                background: rgb(@mlGreen);
                            }
                        }
                    }

                    .sort {
                        .flexbox(row, center, flex-start);

                        .filter_item {
                            cursor: pointer;
                            margin-right: 24px;
                            .ease(.2s);

                            &:last-child {
                                margin-right: 0;
                            }

                            &:hover {
                                color: rgb(@mainColor);
                            }
                        }

                        .active {
                            color: rgb(@mainColor);
                        }
                    }
                }

                .result_list {
                    .result_item {
                        .flexbox(row, center, space-between);
                        background: rgb(@grayBg);
                        border-radius: 10px;
                        height: 250px;
                        margin-bottom: 24px;
                        color: rgb(@fontColor);
                        .link-default;
                        overflow: hidden;
                        .ease(.2s);

                        .result_image {
                            width: 260px;
                            height: 100%;
                            overflow: hidden;

                            & img {
                                width: 100%;
                                height: 100%;
                                .ease(.2s);
                            }
                        }

                        .information {
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            color: rgb(@fontColor);
                            font-size: @fontSize - 2;
                            margin: 0 24px;

                            & h2 {
                                font-size: @fontSize + 2;
                                font-weight: bold;
                                margin-bottom: 12px;
                                .lineClamp(1);
                            }

                            .merchant_name {
                                color: rgb(@fontColor);
                                font-size: @fontSize - 4;
                                margin-top: 12px;
                                margin-right: 3px;
                                .lineClamp(1);
                                .link-default;
                                .ease(.2s);

                                &:hover {
                                    color: rgb(@mainColor);
                                }
                            }

                            .hotel_level_type {
                                display: flex;
                                align-items: baseline;
                                font-size: @fontSize - 4;
                                margin-bottom: 4px;

                                .icon {
                                    margin-right: 5px;
                                }

                                .star_rate {
                                    margin-right: 5px;
                                }
                            }

                            .cuisine {
                                display: flex;
                                align-items: baseline;
                                font-size: @fontSize - 4;
                                margin-bottom: 4px;

                                .icon {
                                    margin-right: 5px;
                                }
                            }

                            .location {
                                display: flex;
                                align-items: baseline;
                                font-size: @fontSize - 4;

                                .icon {
                                    margin-right: 5px;
                                }

                                .area {
                                    margin-right: 5px;
                                }
                            }

                            .data {
                                line-height: 1.2em;
                                letter-spacing: 2px;
                                margin: 24px auto;
                                .lineClamp(2);
                            }

                            .msg {
                                font-size: @fontSize - 6;
                            }
                        }

                        .download_info {
                            background: rgb(@mainColor);
                            .flexbox(column, center, center);
                            height: 100%;
                            color: rgb(@white);
                            cursor: pointer;
                            width: 180px;
                            padding: 10px;
                            .link-default;
                            .ease(.2s);

                            .evaluation {
                                .flexbox(row, center, center);
                                color: rgb(@mainColorHover);
                                font-size: @fontSize * 2 - 4;
                                font-weight: bold;
                                margin-bottom: 8px;
                                .ease(.2s);

                                .icon {
                                    font-size: @fontSize + 2;
                                    margin-left: 2px;
                                }
                            }

                            .coupon_download {
                                .flexbox(row, center, center);
                                padding-bottom: 30px;
                                border-bottom: 1px solid rgb(@counter);

                                .icon {
                                    margin-left: 8px;
                                }
                            }

                            .price {
                                color: rgb(@counter);
                                padding-top: 24px;
                            }

                            &:hover {
                                background: rgb(@mainColorHover);
                                color: rgb(@counter);

                                .evaluation {
                                    color: rgb(@counter);
                                }
                            }
                        }

                        &:last-child {
                            margin: 0;
                        }

                        &:hover {
                            box-shadow: 0 3px 6px rgba(@black, 0.16), 0 3px 6px rgba(@black, 0.23);

                            .result_image {
                                & img {
                                    .transform(rotate(3deg) scale(1.1));
                                }

                            }
                        }
                    }

                    .notfound {
                        .flexbox(row, center, center);
                        margin-bottom: 24px;

                        .imgView {
                            width: 150px;
                            margin-right: 24px;

                            & img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .description {
                            line-height: 1.5em;
                            font-size: @fontSize + 6;

                            &>div {
                                .result_data {
                                    color: rgb(@mlRed)
                                }
                            }
                        }
                    }

                    .pagination {
                        & ul {
                            .flexbox(row, center, center);


                            & li {
                                color: @fontColor;
                                border-radius: 3px;
                                margin: 0 5px;
                                cursor: pointer;
                                .ease(.2s);

                                &>a,
                                &>span {
                                    color: @fontColor;
                                    padding: 5px;
                                    border-radius: 3px;
                                    .link-default;
                                    .ease(.2s);
                                }


                                &:hover {

                                    &>a,
                                    &>span {
                                        background: rgb(@mainColor);
                                        color: rgb(@white);
                                    }
                                }
                            }

                            .active {

                                &>a,
                                &>span {
                                    background: rgb(@mainColor);
                                    color: rgb(@white);
                                }

                            }
                        }
                    }

                }
            }
        }

        /***** ML 推薦 *****/
        #myanLife_recommend {
            margin-top: 100px;

            .recommend_header {
                position: relative;
                .flexbox(row, center, flex-start);
                width: 80%;
                font-size: @fontSize + 10;
                font-weight: bold;
                margin: auto;

                &::before {
                    content: "";
                    background: rgb(@mainColor);
                    position: absolute;
                    width: 9vw;
                    height: 100%;
                    left: -13%;
                }

                & h2 {
                    letter-spacing: 3px;
                    .lineClamp(1);
                }
            }

            .recommend_content {
                .flexbox(row, center, flex-start);
                width: 80%;
                margin: 50px auto;


                .recommend_item {
                    position: relative;
                    .flexbox(row, center, center);
                    width: 284px;
                    height: 284px;
                    color: @fontColor;
                    .link-default;

                    &:before {
                        content: "";
                        position: absolute;
                        background: rgba(@white, .6);
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        .hide;
                        .scale(1);
                        .ease(.2s);
                    }

                    .imgView {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        overflow: hidden;

                        & img {
                            width: 100%;
                            height: 100%;
                            .ease(.75s);
                        }
                    }

                    .data {
                        position: absolute;
                        width: 80%;
                        font-size: @fontSize + 2;
                        font-weight: bold;
                        color: rgb(@white);
                        text-align: center;
                        .lineClamp(3);
                        z-index: 2;
                        .ease(.2s);
                    }

                    &:hover {
                        &:before {
                            .show;
                            .scale(.9);
                        }

                        .data {
                            color: @fontColor;
                        }
                    }
                }
            }

            .owl-theme {
                position: relative;

                .owl-nav {

                    .owl-prev {
                        position: absolute;
                        background: rgba(0, 0, 0, .5);
                        width: 50px;
                        font-size: @fontSize * 2;
                        color: rgb(@white);
                        border: 0;
                        border-radius: 5px;
                        margin: 0;
                        top: 0;
                        bottom: 0;
                        left: -65px;
                        z-index: 10;
                        .ease(.2s);

                        &:hover {
                            background: rgba(0, 0, 0, .9);
                        }
                    }

                    .owl-next {
                        .owl-prev;
                        left: auto;
                        right: -65px;
                    }

                    .disabled {
                        opacity: 0;
                    }
                }

                .owl-dots {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}