@import './mixins/_allMixins.less';
@import './_default-themes.less';


.op_login_w {
    &:before {
        .show !important;
    }

    .windows_content {
        .show !important;
        .translateY(0) !important;
    }
}

/***** 登入視窗 *****/
#login_windows {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    &:before {
        content: "";
        position: absolute;
        background: rgba(@black, .5);
        width: 100%;
        height: 100%;
        .hide;
        .ease(.2s);
    }

    .windows_content {
        position: absolute;
        background: rgba(@loginbg, .9);
        width: 820px;
        height: 425px;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 12px;
        overflow: hidden;
        z-index: 9999;
        .hide;
        .translateY(-50%);
        .ease(.2s);

        & header {
            position: relative;
            .flexbox(row, flex-start, space-between);
            font-size: @fontSize ;
            margin-bottom: 24px;
            z-index: 2;

            & img {
                width: 35px;
            }

            .icon {
                cursor: pointer;
                .ease(.2s);

                &:hover {
                    color: rgb(@mainColor);
                }
            }
        }

        .main {
            .flexbox(column, center, center);
            width: calc(100% - 268px);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            & h2 {
                font-size: @fontSize + 6;
                letter-spacing: 3px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 24px;
            }

            .social_link {
                .flexbox(row, center, center);
                font-size: @fontSize + 22;
                margin-bottom: 24px;

                .item {
                    cursor: pointer;
                    margin: auto 10px;
                    .link-default;
                    .ease(.2s);

                    & img {
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        .scale(1.1);
                    }
                }

                .fb_login {
                    color: @fb;
                }

                .line_login {
                    color: @line;
                }

                .gmail_login {
                    .flexbox(row, center, center);
                    width: 38px;
                    height: 38px;

                }
            }

            .divider {
                .flexbox(row, center, space-between);
                position: relative;
                font-size: @fontSize;
                font-weight: bold;
                text-align: center;
                margin-bottom: 24px;

                &:before,
                &:after {
                    content: "";
                    background: rgb(@black);
                    width: 60px;
                    height: 1px;
                }

                &:before {
                    margin-right: 12px;
                }

                &:after {
                    margin-left: 12px;
                }
            }

            .user_data {
                .item {
                    position: relative;
                    margin-bottom: 15px;

                    .icon {
                        position: absolute;
                        left: 0;
                    }

                    .input_style {
                        background: transparent;
                        box-sizing: border-box;
                        width: 100%;
                        border: 0;
                        border-bottom: 1px solid rgb(@black);
                        border-radius: 0;
                        padding-left: 24px;
                        .ease(.2s);

                        &:focus,
                        &:active {
                            border-bottom: 1px solid rgb(@mainColor);
                        }
                    }
                }

                .pswd {
                    .input_style {
                        padding-right: 24px;
                    }

                    .show_pswd {
                        position: absolute;
                        cursor: pointer;
                        right: 0;
                        .ease(.2s);

                        &:hover {
                            color: rgb(@mainColor);
                        }
                    }
                }

                .tool {
                    .flexbox(row, baseline, space-between);
                    font-size: @fontSize - 4;

                    .forget_pswd {
                        cursor: pointer;
                        color: rgb(@black);
                        .link-default;

                        &:hover {
                            color: rgb(@mainColor);
                        }
                    }

                    .pure-material-checkbox {
                        z-index: 0;
                        position: relative;
                        display: inline-block;
                        color: rgba(@black, 0.87);
                        line-height: 1.5;

                        &>input {
                            appearance: none;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            z-index: -1;
                            position: absolute;
                            left: -10px;
                            top: -8px;
                            display: block;
                            margin: 0;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(@black, 0.6);
                            box-shadow: none;
                            outline: none;
                            opacity: 0;
                            transform: scale(1);
                            pointer-events: none;
                            transition: opacity 0.3s, transform 0.2s;

                            &:checked,
                            &:indeterminate {
                                background-color: rgb(@checkboxcolor);

                                &+span {
                                    &:before {
                                        border-color: rgb(@checkboxcolor);
                                        background-color: rgb(@checkboxcolor);
                                    }

                                    &:after {
                                        border-color: rgb(@white);
                                    }
                                }
                            }

                            &:indeterminate {
                                &+span {
                                    &::after {
                                        border-left: none;
                                        transform: translate(4px, 3px);
                                    }
                                }
                            }

                            &:focus {
                                opacity: 0.12;
                            }

                            &:active {
                                opacity: 1;
                                transform: scale(0);
                                transition: transform 0s, opacity 0s;

                                &+span {
                                    &::before {
                                        border-color: rgb(@checkboxcolor);
                                    }
                                }
                            }

                            &:checked {
                                &:active {
                                    &+span {
                                        &::before {
                                            border-color: transparent;
                                            background-color: rgba(@black, 0.6);
                                        }
                                    }
                                }
                            }
                        }

                        &>span {
                            display: inline-block;
                            width: 100%;
                            cursor: pointer;

                            &::before {
                                content: "";
                                display: inline-block;
                                box-sizing: border-box;
                                margin: 3px 11px 3px 1px;
                                border: solid 1px;
                                /* Safari */
                                border-color: rgba(@black, 0.6);
                                border-radius: 2px;
                                width: 18px;
                                height: 18px;
                                vertical-align: top;
                                transition: border-color 0.2s, background-color 0.2s;
                            }

                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 3px;
                                left: 1px;
                                width: 10px;
                                height: 5px;
                                border: solid 2px transparent;
                                border-right: none;
                                border-top: none;
                                transform: translate(3px, 4px) rotate(-45deg);
                            }
                        }

                        &:hover {
                            &>input {
                                opacity: 0.04;

                                &:focus {
                                    opacity: 0.16;
                                }
                            }

                        }
                    }
                }

                .btn_style {
                    background: rgb(@mainColor);
                    border: 0;
                    color: rgb(@white);
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    margin-top: 24px;
                    .ease(.2s);

                    &:hover {
                        background: rgb(@mainColorHover);
                    }
                }
            }
        }

        .sign_in_form {
            .scale(1);
            .show;
            .ease-in-out(.2s);
        }

        .forgot_form {
            .sign_in_form;
            top: 0;
            bottom: 0;
        }

        .sign_up_block {
            position: absolute;
            right: 0;
            top: 0;
            background: rgb(@logininfobg);
            font-size: @fontSize;
            font-weight: bold;
            width: 268px;
            height: 100%;
            z-index: 1;
            .flexbox(column, center, center);
            .show;
            .scale(1);
            .ease-in-out(.2s);

            & h2 {
                padding: 0 20px;
                font-size: @fontSize + 8;
                letter-spacing: 1px;
            }

            .item {
                padding: 20px;
                text-align: justify;
                letter-spacing: 2px;
                line-height: 1.5em;
            }

            .switch_btn_style {
                border: 1px solid rgb(@black);
                padding: 12px 56px;
                border-radius: 3px;
                cursor: pointer;
                .ease(.2s);

                &:hover {
                    background: rgb(@mainColor);
                    color: rgb(@white);
                    border: 1px solid rgb(@mainColor);
                }
            }

            &:after {
                content: "";
                background: url(../../static/images/logInBg.jpg) no-repeat center center transparent;
                background-size: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                opacity: 0.2;
                z-index: -1;
            }
        }

        .forgot_block {
            .sign_up_block;
        }

        .close_window {
            .hide;
            .scale(0);
        }
    }
}