@import './mixins/_allMixins.less';
@import './_default-themes.less';

body {
    .merchant_wrapper {

        .myanLife_logo {
            position: fixed;
            width: 50px;
            top: 5px;
            left: 24px;
            z-index: 3;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        .merchant_header {
            background: rgba(@black, .8);
            color: rgb(@white);
            width: 100%;
            padding: 24px;
            right: 0 !important;
            top: 0 !important;
        }

        .merchant_banner {
            min-height: 430px !important;
        }

        /***** 商家酷碰券 *****/
        #myanLife_merchant {
            .merchant_content {
                .flexbox(row, center, center);
                background: #999;
                color: #fff;
                flex-wrap: wrap;
                padding: 24px 0;

                .merchant_img {
                    background: rgb(@white);
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    margin-right: 24px;
                    overflow: hidden;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .merchant_info {
                    .flexbox(column, flex-start, flex-start);
                    flex: 0.15;
                    padding: 0 24px;
                    border-left: 2px solid rgb(@white);
                    border-right: 2px solid rgb(@white);

                    & h2 {
                        font-size: @fontSize + 6;
                        margin-bottom: 24px;
                    }

                    .info_item {
                        .flexbox(row, center, flex-start);
                        font-size: @fontSize - 2;
                        margin-bottom: 24px;

                        .evaluation_value {
                            .flexbox(row, baseline, flex-start);

                            &>div {
                                color: rgb(@mainColor);
                                font-size: @fontSize + 6;
                            }

                            .icon {
                                color: rgb(@mainColorHover);
                                font-size: @fontSize ;
                                margin-left: 5px;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .merchant_about {
                    flex: 0.6;
                    margin-left: 24px;

                    & h2 {
                        font-size: @fontSize + 6;
                        margin-bottom: 24px;
                    }

                    .merchant_about_content {
                        font-size: @fontSize - 2;
                        text-align: justify;
                        letter-spacing: 1.1px;
                        line-height: 1.2em;
                        height: 150px;
                        overflow-y: scroll;

                        /* Works on Firefox */

                        scrollbar-width: thin;
                        scrollbar-color: rgb(@mainColor) transparent;


                        /* Works on Chrome, Edge, and Safari */
                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-track {
                            background: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: rgb(@mainColor);
                            border-radius: 20px;
                            border: none;
                        }
                    }
                }

                .merchant_album {
                    .flexbox(row, center, center);
                    width: 80%;
                    margin-top: 24px;

                    &>a {
                        margin-right: 24px;
                        margin-left: 0;

                        & img {
                            width: 100%;
                            height: 100%;
                        }

                        &:last-child {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }

            .merchant_coupon {
                margin: 80px 0;

                .merchant_coupon_header {
                    .flexbox(row, center, center);
                    font-size: @fontSize + 6;
                    font-weight: bold;
                    padding-bottom: 50px;

                    .default {
                        position: relative;

                        &>span {
                            display: none;
                        }

                        .icon {
                            color: rgb(@mainColor);
                            .rotate(45deg);
                        }
                    }

                    & h2 {
                        letter-spacing: 3px;
                        margin: 0 24px;
                    }
                }

                .merchant_coupon_content {
                    &>ul {
                        .flexbox(row, center, center);
                        background: rgb(@grayBg);
                        width: 100%;

                        .coupon_item_tab {
                            width: 15%;
                            font-size: @fontSize - 2;
                            font-weight: bold;
                            cursor: pointer;
                            padding: 21px 10px;
                            text-align: center;
                            color: @fontColor;
                            .ease(.2s);

                            .amount {
                                margin-left: 24px;
                            }

                            &:hover {
                                background: rgb(@mainColor);
                                color: rgb(@white);
                            }

                        }

                        .mixitup-control-active {
                            background: rgb(@mainColor);
                            color: rgb(@white);

                            &:hover {
                                color: @fontColor;
                            }
                        }
                    }

                    .coupon_item_list {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        column-gap: 24px;
                        row-gap: 24px;
                        width: 80%;
                        margin: auto;
                        margin-top: 50px;

                        .coupon_item {
                            background: rgb(@grayBg);
                            font-size: @fontSize - 4;
                            border-radius: 10px;
                            .link-default;
                            .ease(.2s);

                            .imgView {
                                position: relative;
                                height: 230px;
                                border-radius: 10px 10px 0 0;
                                overflow: hidden;

                                & img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .information {
                                color: @fontColor;
                                padding: 15px;

                                .info_header {
                                    .flexbox(row, center, space-between);
                                    font-size: @fontSize + 2;
                                    font-weight: bold;
                                    margin-bottom: 12px;

                                    & h2 {
                                        .lineClamp(1);
                                        letter-spacing: 3px;
                                    }

                                    .evaluation {
                                        .flexbox(row, center, center);

                                        &>div {
                                            color: rgb(@mainColor);
                                            font-size: @fontSize + 8;
                                        }

                                        .icon {
                                            color: rgb(@mainColorHover);
                                            margin-left: 5px;
                                            font-size: @fontSize;
                                        }
                                    }
                                }

                                .location {
                                    .flexbox(row, baseline, flex-start);
                                    margin-bottom: 10px;
                                    word-break: break-all;

                                    .icon {
                                        margin-right: 10px;
                                    }
                                }

                                .merchant_name {
                                    font-size: @fontSize - 4;
                                    cursor: pointer;
                                    margin-top: 12px;
                                    .ease(.2s);

                                    &:hover {
                                        color: rgb(@mainColor);
                                    }
                                }

                                .data {
                                    line-height: 1.2em;
                                    letter-spacing: 2px;
                                    margin: 24px auto;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    white-space: normal;
                                    word-break: break-all;
                                    overflow: hidden;
                                    display: none;
                                }
                            }

                            .coupon {
                                .flexbox(row, center, space-between);
                                padding: 15px 0;
                                border-top: 1px solid @fontColor;
                                width: 93%;
                                font-size: @fontSize - 2;
                                margin: auto;

                                .coupon_download {
                                    .flexbox(row, center, flex-start);
                                    font-weight: bold;
                                    color: rgb(@mainColor);
                                    .ease(.2s);

                                    .icon {
                                        margin-left: 10px;
                                    }

                                    &:hover {
                                        color: rgb(@mainColorHover);
                                    }
                                }

                                .coupon_value {
                                    color: rgb(@mlRed);
                                }
                            }

                            &:hover {
                                box-shadow: 0 3px 6px rgba(@black, 0.16), 0 3px 6px rgba(@black, 0.23);
                            }
                        }
                    }
                }
            }
        }
    }
}