@import './mixins/_allMixins.less';
@import './_default-themes.less';


.op_message_w {
    &:before {
        .show !important;
    }

    .windows_content {
        .show !important;
        .translateY(0) !important;
    }
}

/***** 共用樣式 *****/
#message_windows {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    &:before {
        content: "";
        position: absolute;
        background: rgba(@black, .5);
        width: 100%;
        height: 100%;
        .hide;
        .ease(.2s);
    }

    .windows_content {
        position: absolute;
        background: rgba(@loginbg, .9);
        width: 230px;
        height: 180px;
        font-size: @fontSize - 4;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        z-index: 9999;
        .hide;
        .translateY(-50%);
        .ease(.2s);

        .msg {
            margin: 36px 0;
            text-align: center;
        }

        .btn_group {
            .flexbox(row, center, space-around);
            width: 100%;
            border-top: 1px solid rgba(@grayBg, .6);

            .btn_style {
                flex: 1;
                cursor: pointer;
                text-align: center;
                padding: 8%;
                .ease(.2s);
            }
        }

    }
}

/***** 訊息視窗樣式 *****/
.hint_style {
    .windows_content {
        & header {
            position: relative;
            .flexbox(row, center, center);
            background: rgba(@mainColor, .6);
            color: rgb(@white);
            font-size: @fontSize + 2;
            margin-bottom: 12px;
            padding: 12px 0;
            z-index: 2;
        }

        .msg {
            margin: 36px 0;
            text-align: center;

            .warning_icon {
                display: none;
            }
        }

        .btn_group {
            .confirm {
                &:hover {
                    background: rgba(@mlGreen, .6);
                    color: rgb(@white);
                }
            }

            .refuse {
                border-left: 1px solid rgba(@grayBg, .6);

                &:hover {
                    background: rgba(@mlRed, .6);
                    color: rgb(@white);
                }
            }
        }
    }
}

/***** 警告視窗樣式 *****/
.warning_style {

    .windows_content {

        & header {
            position: relative;
            .flexbox(row, center, center);
            background: rgba(@mlRed, .6);
            color: rgb(@white);
            font-size: @fontSize + 2;
            margin-bottom: 12px;
            padding: 12px 0;
            z-index: 2;
        }

        .msg {
            .warning_icon {
                display: inline-block;
                font-size: @fontSize - 4;
                color: rgb(@mlRed);
                margin-right: 3px;
            }
        }

        .btn_group {
            .confirm {
                &:hover {
                    background: rgba(@mlGreen, .6);
                    color: rgb(@white);
                }
            }

            .refuse {
                display: none;
            }
        }

    }
}