@import './mixins/_allMixins.less';
@import './_default-themes.less';

body {

    #wrapper {

        /***** MyanLife 最新消息 *****/
        #myanlife_news {
            .flexbox(column, center, center);
            width: 80%;
            margin: auto;
            margin-top: 80px;

            .intro {
                text-align: center;
                margin-bottom: 50px;

                & h2 {
                    font-size: @fontSize + 6;
                    font-weight: bold;
                    margin-bottom: 12px;
                }
            }

            .news_contain {
                .flexbox(row, flex-start, center);
                flex-wrap: wrap;
                width: 100%;
                font-size: @fontSize - 2;

                .news_list {
                    flex: 1;

                    .news_list_group {
                        .flexbox(column, flex-start, flex-start);
                        background: rgb(@grayBg);
                        border-radius: 5px;
                        padding: 24px;
                        .ease(.2s);

                        .news_item {
                            .flexbox(row, center, space-between);
                            width: 100%;
                            border-bottom: 1px solid @fontColor;
                            color: @fontColor;
                            padding: 24px 0;
                            .link-default;
                            .ease(.2s);

                            .date {
                                .flexbox(row, center, flex-start);
                                font-size: @fontSize - 6;

                                .hot_news {
                                    color: rgb(@mlRed);
                                    margin-left: 24px;
                                    .ease(.2s);
                                }

                                .close_hot_news {
                                    .hide;
                                }
                            }

                            .subtitle {
                                flex: 1;
                                .lineClamp(1);
                                margin: 0 24px;
                            }

                            &:hover {
                                color: rgb(@mainColor);
                                border-color: rgb(@mainColor);

                                .date {
                                    .hot_news {
                                        color: rgb(@mainColor);
                                    }
                                }
                            }
                        }
                    }

                    .pagination {
                        margin: 24px 0 50px 0;

                        & ul {
                            .flexbox(row, center, center);


                            & li {
                                color: @fontColor;
                                border-radius: 3px;
                                margin: 0 5px;
                                cursor: pointer;
                                .ease(.2s);

                                &>a,
                                &>span {
                                    color: @fontColor;
                                    padding: 5px;
                                    border-radius: 3px;
                                    .link-default;
                                    .ease(.2s);
                                }


                                &:hover {

                                    &>a,
                                    &>span {
                                        background: rgb(@mainColor);
                                        color: rgb(@white);
                                    }
                                }
                            }

                            .active {

                                &>a,
                                &>span {
                                    background: rgb(@mainColor);
                                    color: rgb(@white);
                                }

                            }
                        }
                    }
                }

                .news_sidebar {
                    .flexbox(column, center, center);
                    width: 292px;
                    border-radius: 5px;
                    margin-left: 24px;
                    .ease(.2s);

                    .select_style {
                        background: rgb(@grayBg);
                        width: 100%;
                        border: none;
                        border-radius: 5px;
                        margin-bottom: 24px;
                        padding: 13px;
                    }

                    .news_ad_contain {
                        .flexbox(column, center, center);

                        .news_ad_item {
                            border-radius: 10px;
                            margin-bottom: 24px;
                            overflow: hidden;
                            .link-default;

                            & img {
                                width: 100%;
                                height: 100%;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .m_news_sidebar_switch {
                    display: none;
                    background: rgb(@grayBg);
                    width: 100%;
                    border-radius: 10px;
                    text-align: center;
                    margin-bottom: 24px;
                    padding: 13px 0;
                }
            }

            /***** MyanLife 最新消息 *****/
            .news_article {
                .article_header {
                    .flexbox(column, flex-start, flex-start);
                    margin-bottom: 50px;

                    .article_date {
                        .flexbox(row, flex-start, flex-start);
                        font-size: @fontSize - 6;
                        margin-bottom: 24px;

                        .date_num {}

                        .hot_news {
                            color: rgb(@mlRed);
                            margin-left: 12px;
                        }
                    }

                    .article_title {
                        font-weight: bold;
                    }
                }

                .article_content {
                    .data {
                        letter-spacing: 2px;
                        line-height: 1.3em;
                        margin-bottom: 24px;
                    }

                    & img {
                        width: 50%;
                        height: 100%;
                        margin-bottom: 24px;
                    }
                }

                .news_article_nav {
                    .flexbox(row, center, space-between);
                    margin-bottom: 50px;

                    .nav_item {
                        .flexbox(row, center, center);
                        flex: 1;
                        color: @fontColor;
                        padding: 12px;
                        .link-default;
                        .ease(.2s);

                        .icon {
                            margin: 0 12px;
                        }

                        &:hover {
                            background: rgb(@mainColor);
                            color: rgb(@white);
                        }
                    }
                }
            }
        }
    }
}