@import './mixins/_allMixins.less';
@import './_default-themes.less';

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    /***** 密碼重設頁面  *****/
    #reset_windows {
        .flexbox(row, center, center);
        height: 100%;
        width: 100%;

        .windows_content {
            position: relative;
            background: rgba(@loginbg, .9);
            width: 40vw;
            height: 425px;
            border-radius: 10px;
            margin: auto;
            padding: 15px;
            overflow: hidden;
            z-index: 9999;
            .ease(.2s);


            & header {
                position: relative;
                .flexbox(row, flex-start, space-between);
                font-size: @fontSize + 6;
                margin-bottom: 20px;
                z-index: 2;

                & img {
                    width: 3vw;
                }

                .icon {
                    cursor: pointer;
                    .ease(.2s);

                    &:hover {
                        color: rgb(@mainColor);
                    }
                }
            }

            .main {
                display: grid;
                grid-template-columns: repeat(1, auto);
                justify-content: center;
                width: 25vw;
                position: absolute;

                & h2 {
                    font-size: @fontSize + 12;
                    letter-spacing: 3px;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 30px;
                }

                .divider {
                    .flexbox(row, center, space-between);
                    position: relative;
                    font-size: @fontSize + 6;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 20px;

                    &:before,
                    &:after {
                        content: "";
                        background: rgb(@black);
                        width: 4vw;
                        height: 1px;
                    }
                }

                .user_data {

                    .item {
                        position: relative;
                        margin-bottom: 15px;

                        .icon {
                            position: absolute;
                            left: 0;
                        }

                        .input_style {
                            background: transparent;
                            border: 0;
                            font-size: @fontSize;
                            border-bottom: 1px solid rgb(@black);
                            border-radius: 0;
                            padding-left: 24px;
                            .link-default;
                            .ease(.2s);

                            &:focus,
                            &:active {
                                border-bottom: 1px solid rgb(@mainColor);
                            }
                        }
                    }
                }

                .btn_style {
                    background: rgb(@mainColor);
                    border: 0;
                    color: rgb(@white);
                    width: 100%;
                    height: 40px;
                    font-size: @fontSize;
                    border-radius: 5px;
                    margin-top: 15px;
                    .ease(.2s);

                    &:hover {
                        background: rgb(@mainColorHover);
                    }
                }
            }


            .reset_form {
                width: 63%;
                .ease-in-out(.2s);
            }

            .reset_block {
                position: absolute;
                right: 0;
                top: 0;
                background: rgb(@logininfobg);
                font-size: @fontSize;
                font-weight: bold;
                width: 14vw;
                height: 100%;
                z-index: 1;
                .flexbox(column, center, center);
                .ease-in-out(.2s);

                & h2 {
                    padding: 0 20px;
                    font-size: @fontSize + 8;
                    letter-spacing: 1px;
                }

                .item {
                    padding: 20px;
                    text-align: justify;
                    letter-spacing: 2px;
                    line-height: 1.5em;
                }

                &:after {
                    content: "";
                    background: url(../../static/images/logInBg.jpg) no-repeat center center transparent;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    opacity: 0.2;
                    z-index: -1;
                }
            }
        }
    }
}
