@import './mixins/_allMixins.less';
@import './_default-themes.less';

@adminColor: 153, 153, 153;

body {
    #admin_wrapper {
        .admin_contain {
            .admin_canvas {

                /***** 管理員-會員資料 *****/
                .admin_userlist {
                    &>h2 {
                        font-size: @fontSize + 6;
                        font-weight: bold;

                        .user_data {
                            margin-right: 5px;
                        }
                    }

                    .admin_management_contain {
                        .main {
                            .admin_list_content {
                                .func_list {
                                    .userlist_search_item {
                                        .user_search_btn {
                                            background: transparent;
                                            border: none;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }

                                        .input_style {
                                            border: none;
                                            border-bottom: 1px solid @fontColor;

                                            &:focus,
                                            &:active {
                                                border-bottom: 1px solid rgb(@mainColor);
                                            }
                                        }
                                    }
                                }

                                .admin_item {
                                    .admin_func {
                                        .put_on_btn {
                                            .flexbox(row, center, center);
                                            margin-right: 48px !important;

                                            .switch_input {
                                                display: none;

                                                &:checked {
                                                    &+.switch_label {

                                                        .switch_style {
                                                            &:before {
                                                                background: rgb(@mainColor);
                                                            }

                                                            &:after {
                                                                background: rgb(@white);
                                                                -ms-transform: translate(80%, -50%);
                                                                -webkit-transform: translate(80%, -50%);
                                                                transform: translate(80%, -50%);
                                                            }
                                                        }

                                                        &:before {
                                                            background: rgb(@mainColor);
                                                        }

                                                        .toggle--on {
                                                            display: inline-block;
                                                        }

                                                        .toggle--off {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }

                                            .switch_label {
                                                position: relative;
                                                color: rgb(@mlRed);
                                                cursor: pointer;


                                                .switch_style {

                                                    &:before,
                                                    &:after {
                                                        content: "";
                                                        position: absolute;
                                                        margin: 0;
                                                        outline: 0;
                                                        top: 50%;
                                                        -ms-transform: translate(0, -50%);
                                                        -webkit-transform: translate(0, -50%);
                                                        transform: translate(0, -50%);
                                                        .ease(.2s);
                                                    }

                                                    &:before {
                                                        background: rgb(@adminColor);
                                                        border-radius: 8px;
                                                        width: 34px;
                                                        height: 14px;
                                                        right: -30px;
                                                    }

                                                    &:after {
                                                        background: #ccc;
                                                        border-radius: 50%;
                                                        width: 20px;
                                                        height: 20px;
                                                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
                                                        right: -15px;
                                                    }
                                                }

                                                .toggle--on {
                                                    display: none;
                                                    margin-right: 12px;
                                                }

                                                .toggle--off {
                                                    display: inline-block;
                                                    margin-right: 12px;
                                                }

                                            }

                                        }
                                    }
                                }
                            }

                            .blogger_intro_content {

                                .intro_content {
                                    .flexbox(column, center, center);

                                    .input_list {
                                        .flexbox(column, flex-start, flex-start);
                                        width: 100%;
                                        font-weight: bold;
                                        margin-bottom: 24px;

                                        .common_item {
                                            .flexbox(column, flex-start, flex-start);
                                            width: 100%;
                                            margin-bottom: 24px;

                                            &:last-child {
                                                margin-bottom: 0;
                                            }

                                            .des {
                                                margin-bottom: 5px;
                                                white-space: nowrap;

                                                &>small {
                                                    color: rgb(@mlRed);
                                                }
                                            }

                                            .input_style {
                                                background: transparent;
                                                box-sizing: border-box;
                                                flex: 1;
                                                width: 100%;
                                                border: 1px solid rgb(@adminColor);
                                                border-radius: 5px;
                                                padding: 8px 6px;
                                                .ease(.2s);

                                                &:focus,
                                                &:active {
                                                    border: 1px solid rgb(@mainColor);
                                                }
                                            }
                                        }

                                        .cover_photo_item {
                                            .flexbox(column, baseline, flex-start);

                                            .upload_img {
                                                margin-top: 6px;

                                                & img {
                                                    width: 100%;
                                                    height: 100%;
                                                }

                                                .delete_btn {
                                                    width: 100%;
                                                    border: 1px solid #ddd;
                                                    border-radius: 2px;
                                                    cursor: pointer;
                                                    text-align: center;
                                                    margin-top: 6px;
                                                    padding: 6px 0;
                                                    .ease(.2s);

                                                    &:hover {
                                                        color: rgb(@mainColor);
                                                        border-color: rgb(@mainColor);
                                                    }
                                                }
                                            }
                                        }

                                        .editor_item {
                                            .flexbox(column, flex-start, flex-start);

                                            .des {
                                                margin-right: 0;
                                                margin-bottom: 12px;
                                            }

                                            .ck.ck-editor {
                                                min-width: 100%;
                                                max-width: 100%;
                                            }

                                            .ck-editor__editable {
                                                min-height: 200px;
                                            }
                                        }
                                    }

                                    .btn_group {
                                        .flexbox(row, center, center);

                                        .btn_style {
                                            background: @fontColor;
                                            border: 0;
                                            border-radius: 5px;
                                            color: rgb(@white);
                                            padding: 7px 18px;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                            }
                                        }

                                        .cancel_btn {
                                            cursor: pointer;
                                            margin-left: 12px;
                                            padding: 9.5px 18px;
                                        }

                                    }
                                }
                            }
                        }
                    }

                    .edit_contain {
                        .main {
                            .input_list {
                                .flexbox(row, baseline, space-between);
                                flex-wrap: wrap;
                                width: 100%;
                                font-weight: bold;
                                margin-bottom: 24px;

                                .common_item {
                                    width: 100%;
                                    margin-bottom: 24px;

                                    .input_style {
                                        background: transparent;
                                        box-sizing: border-box;
                                        width: 100%;
                                        border: 1px solid rgb(@adminColor);
                                        border-radius: 5px;
                                        padding: 8px 6px;
                                        .ease(.2s);

                                        &:focus,
                                        &:active {
                                            border: 1px solid rgb(@mainColor);
                                        }

                                        &:read-only {
                                            border: 1px solid #eee;
                                        }
                                    }

                                    .select_style {
                                        .input_style;

                                        &:read-only {
                                            border: 1px solid rgb(@adminColor);
                                        }

                                        &:disabled {
                                            -moz-appearance: none;
                                            /* Firefox */
                                            -webkit-appearance: none;
                                            /* Safari and Chrome */
                                            appearance: none;
                                            border: 1px solid #eee;
                                        }
                                    }

                                    .phone_input {
                                        padding-left: 48px;
                                    }

                                    .text_style {
                                        .input_style;
                                        min-height: 200px;
                                        resize: vertical;
                                    }

                                    .key_point {
                                        font-size: @fontSize - 6;
                                        color: rgb(@mlRed);
                                        margin-top: 8px;
                                        line-height: 1.3em;
                                    }

                                    .radio_content {
                                        .flexbox(row, center, flex-start);
                                        flex: 1;

                                        & fieldset {
                                            .flexbox(row, center, center);
                                            position: relative;
                                            width: 65px;
                                            .material_radio;

                                            & input[type="radio"] {
                                                &+label {

                                                    &::before,
                                                    &::after {
                                                        bottom: 7px;
                                                    }
                                                }

                                                &:checked {
                                                    &+label {
                                                        &::before {
                                                            width: 14px;
                                                            height: 14px;
                                                        }

                                                        &::after {
                                                            width: 6px;
                                                            height: 6px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }


                                .cover_photo_item {
                                    .flexbox(column, baseline, flex-start);

                                    .upload_img {
                                        margin-top: 6px;

                                        & img {
                                            width: 100%;
                                            height: 100%;
                                        }

                                        .delete_btn {
                                            width: 100%;
                                            border: 1px solid #ddd;
                                            border-radius: 2px;
                                            cursor: pointer;
                                            text-align: center;
                                            margin-top: 6px;
                                            padding: 6px 0;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                                border-color: rgb(@mainColor);
                                            }
                                        }
                                    }
                                }

                                .date_item {
                                    .date_input_contain {
                                        .flexbox(row, center, flex-start);

                                        .date_input_item {
                                            position: relative;
                                        }

                                        &>span {
                                            margin: auto 12px;
                                        }
                                    }
                                }

                                .editor_item {
                                    .flexbox(column, flex-start, flex-start);

                                    .des {
                                        margin-right: 0;
                                        margin-bottom: 12px;
                                    }

                                    .ck.ck-editor {
                                        min-width: 100%;
                                        max-width: 100%;
                                    }

                                    .ck-editor__editable {
                                        min-height: 200px;
                                    }
                                }
                            }

                        }
                    }

                    .normal_edit_contain {

                        .business_type_tabs {
                            display: none;
                        }

                        .main {
                            .input_list {
                                .common_item {
                                    width: 49%;
                                    margin-bottom: 24px;
                                }

                                .merchant_item {
                                    display: none;
                                }

                                .normal_item {
                                    display: block;
                                }

                                .sex_item {
                                    width: 8%;
                                }

                                .date_item {
                                    width: 39%;
                                }
                            }

                            .merchant_apply_list {
                                display: none;
                            }

                        }
                    }

                    .merchant_edit_contain {
                        .main {
                            .input_list {
                                .normal_item {
                                    display: none;
                                }

                                .merchant_item {
                                    display: block;
                                    width: 32%;

                                    &:last-child {
                                        margin-bottom: 24px;
                                    }

                                    .upload_img {
                                        margin-top: 6px;

                                        & img {
                                            width: 100%;
                                            height: 100%;
                                        }

                                        .delete_btn {
                                            width: 100%;
                                            border: 1px solid #ddd;
                                            border-radius: 2px;
                                            cursor: pointer;
                                            text-align: center;
                                            margin-top: 6px;
                                            padding: 6px 0;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                                border-color: rgb(@mainColor);
                                            }
                                        }
                                    }

                                    .textarea_style {
                                        height: 150px;
                                        resize: vertical;

                                        &:read-only {

                                            resize: none;
                                        }
                                    }
                                }

                                .address_item {
                                    width: 100%;
                                }

                                .company_data_item,
                                .business_content_item {
                                    width: 100%;
                                }
                            }

                            .merchant_apply_list {
                                .flexbox(row, center, space-between);
                                border-top: 1px solid @fontColor;
                                margin-top: 24px;
                                padding-top: 48px;

                                .apply_type {
                                    .flexbox(row, center, flex-start);
                                    width: 100%;
                                    margin-bottom: 12px;

                                    .type_text {
                                        color: rgb(@mlRed);
                                    }

                                    .icon {
                                        cursor: pointer;
                                        margin-left: 12px;
                                        .ease(.2s);

                                        &:hover {
                                            color: rgb(@mainColor);
                                        }
                                    }
                                }

                                .merchant_item {
                                    width: 49% !important;
                                }

                                &:first-child {
                                    margin-top: 24px;
                                }
                            }

                            .close_list {
                                border-top: none;
                                margin: 0;

                                .merchant_item {
                                    display: none;
                                }
                            }
                        }
                    }

                    .coupon_edit_contain {
                        .form_anchor {
                            .flexbox(row, center, flex-start);
                            font-size: @fontSize - 4;
                            color: rgb(@adminColor);
                            margin-bottom: 24px;

                            .anchor_item {
                                cursor: pointer;
                                margin-right: 24px;
                                .ease(.2s);

                                &:last-child {
                                    margin-right: 0;
                                }

                                &:hover {
                                    color: rgb(@mainColor);
                                }
                            }

                            .active {
                                color: rgb(@mainColor);
                            }
                        }

                        .fixed_form_anchor {
                            .flexbox(column, center, center);
                            position: fixed;
                            background: rgba(@white, .8);
                            padding: 24px;
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                            right: 5%;
                            z-index: 10;

                            .anchor_item {
                                margin-right: 0;
                                margin-bottom: 24px;

                                &:last-child {
                                    margin-right: 0;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .main {
                            .flexbox(column, flex-start, flex-start);

                            .input_list {
                                .flexbox(column, flex-start, flex-start);
                                width: 100%;
                                font-weight: bold;
                                margin-bottom: 24px;

                                .common_item {
                                    .flexbox(row, center, flex-start);
                                    width: 50%;
                                    margin-bottom: 24px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    .des {
                                        margin-right: 12px;
                                        white-space: nowrap;

                                        &>small {
                                            color: rgb(@mlRed);
                                            margin-left: 5px;
                                        }
                                    }

                                    .input_style {
                                        background: transparent;
                                        box-sizing: border-box;
                                        flex: 1;
                                        width: 100%;
                                        border: 1px solid rgb(@adminColor);
                                        border-radius: 5px;
                                        padding: 8px 6px;
                                        .ease(.2s);

                                        &:focus,
                                        &:active {
                                            border: 1px solid rgb(@mainColor);
                                        }

                                        &:read-only {
                                            border: 1px solid rgb(@adminColor);
                                        }
                                    }

                                    .select_style {
                                        .input_style;
                                    }

                                    .radio_content {
                                        .flexbox(row, center, flex-start);
                                        flex: 1;

                                        & fieldset {
                                            .flexbox(row, center, center);
                                            position: relative;
                                            width: 90px;
                                            .material_radio;

                                            & input[type="radio"] {
                                                &+label {

                                                    &::before,
                                                    &::after {
                                                        bottom: 7px;
                                                    }
                                                }

                                                &:checked {
                                                    &+label {
                                                        &::before {
                                                            width: 14px;
                                                            height: 14px;
                                                        }

                                                        &::after {
                                                            width: 6px;
                                                            height: 6px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .area_item {
                                    .select_style {
                                        margin-right: 10px;

                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }

                                    .hide_select {
                                        display: none;
                                    }
                                }

                                .cover_photo_item {
                                    .flexbox(column, baseline, flex-start);

                                    .upload_img {
                                        margin-top: 6px;

                                        & img {
                                            width: 100%;
                                            height: 100%;
                                        }

                                        .delete_btn {
                                            width: 100%;
                                            border: 1px solid #ddd;
                                            border-radius: 2px;
                                            cursor: pointer;
                                            text-align: center;
                                            margin-top: 6px;
                                            padding: 6px 0;
                                            .ease(.2s);

                                            &:hover {
                                                color: rgb(@mainColor);
                                                border-color: rgb(@mainColor);
                                            }
                                        }
                                    }
                                }

                                .admin_cover_photo_item {
                                    .flexbox(row, center, flex-start) !important;
                                    flex-wrap: wrap;

                                    .des {
                                        margin-bottom: 0 !important;
                                    }

                                    .preview_img {
                                        width: 100%;
                                        margin-top: 12px;

                                        & h3 {
                                            color: #999;
                                            font-size: @fontSize - 6;
                                            margin-bottom: 8px;
                                        }

                                        & img {
                                            width: 50%;
                                            height: 100%;
                                        }
                                    }
                                }

                                .date_item {
                                    .date_input_contain {
                                        .flexbox(row, center, flex-start);

                                        .date_input_item {
                                            position: relative;
                                        }

                                        &>span {
                                            margin: auto 12px;
                                        }
                                    }
                                }

                                .editor_item {
                                    .flexbox(column, flex-start, flex-start);

                                    .des {
                                        margin-right: 0;
                                        margin-bottom: 12px;
                                    }

                                    .ck.ck-editor {
                                        min-width: 100%;
                                        max-width: 100%;
                                    }

                                    .ck-editor__editable {
                                        min-height: 200px;
                                    }
                                }

                                .preview_item {
                                    .flexbox(column, flex-start, flex-start);

                                    .canvas {
                                        background: transparent;
                                        position: relative;
                                        width: 100%;
                                        height: 338px;
                                        border: 1px solid @fontColor;
                                        margin-top: 12px;
                                        overflow: hidden;

                                        .m_coupon_bg {
                                            background: url("../../static/images/coupon_admin_bg.png") no-repeat center center transparent;
                                            background-size: cover;
                                            width: 100%;
                                            height: 100%;
                                        }

                                        .main {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            color: rgb(@black);
                                            width: 100%;
                                            height: 100%;

                                            .m_coupon_title {
                                                position: absolute;
                                                font-size: 0.9vw;
                                                font-weight: bold;
                                                bottom: 42%;
                                                left: 11%;
                                            }

                                            .m_coupon_info {
                                                position: absolute;
                                                left: 28%;
                                                width: 72%;
                                                height: 100%;

                                                .market_title {
                                                    font-size: @fontSize + 6;
                                                    font-weight: bold;
                                                    color: rgb(216, 35, 22);
                                                    margin-top: 24px;
                                                    margin-bottom: 18px;
                                                }

                                                .value {
                                                    font-size: @fontSize * 3;
                                                    border-top: 5px dotted rgb(@mlRed);
                                                    border-bottom: 5px dotted rgb(@mlRed);
                                                    margin-right: 50px;
                                                    line-height: 2.3em;
                                                    font-weight: normal;
                                                }

                                                .how_to_use {
                                                    font-size: @fontSize - 6;
                                                    margin-top: 12px;
                                                    margin-right: 95px;
                                                    line-height: 1.2em;
                                                    letter-spacing: 1px;

                                                    .item {
                                                        .flexbox(row, baseline, flex-start);
                                                        flex-wrap: wrap;
                                                        margin-bottom: 5px;

                                                        &:last-child {
                                                            margin-bottom: 0;
                                                        }
                                                    }

                                                    .way_item {
                                                        .way_data {
                                                            .flexbox(row, baseline, flex-start);

                                                            .used_value {
                                                                position: relative;

                                                                &:first-child {
                                                                    margin-right: 8px;

                                                                    &:after {
                                                                        content: ",";
                                                                        position: absolute;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .myanlife_logo {
                                                    position: absolute;
                                                    width: 50px;
                                                    bottom: 12px;
                                                    right: 12px;

                                                    & img {
                                                        width: 100%;
                                                        height: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }
                            }


                            .plan_description {
                                width: 100%;
                                margin-top: 24px;
                                padding-top: 48px;
                                border-top: 1px solid @fontColor;

                                &>h3 {
                                    font-size: @fontSize;
                                    margin-bottom: 24px;

                                    &>small {
                                        font-size: @fontSize - 6;
                                        color: rgb(@mlRed);
                                        margin-left: 10px;
                                    }
                                }

                                .common_item {
                                    .flexbox(column, flex-start, flex-start);
                                    width: 50%;

                                    .label--checkbox {
                                        .material_checkbox;
                                        margin-bottom: 12px;
                                        .ease(.2s);

                                        .checkbox {
                                            &:after {
                                                background: rgb(@white);
                                            }
                                        }

                                        &:hover {
                                            color: rgb(@mainColor);
                                        }
                                    }


                                    .ck.ck-editor {
                                        min-width: 100%;
                                        max-width: 100%;
                                    }

                                    .ck-editor__editable {
                                        min-height: 200px;
                                    }

                                    .common_cell {
                                        .flexbox(row, baseline, flex-start);
                                        flex-wrap: wrap;
                                        width: 96.8%;
                                        margin: 0 24px;
                                        .transform-origin(top);
                                        .ease(.2s);

                                        .label--checkbox {
                                            margin-right: 24px;

                                            &:last-child {
                                                margin-right: 24px;
                                            }
                                        }
                                    }

                                    .close_cell {
                                        height: 0;
                                        .hide;
                                        .scaleY(0);
                                    }

                                    .time_cell {
                                        .flexbox(row, center, flex-start);

                                        .time_input_contain {
                                            .flexbox(row, center, flex-start);

                                            .time_input_item {
                                                position: relative;
                                            }

                                            &>span {
                                                margin: 0 12px;
                                            }
                                        }
                                    }
                                }

                                .manual {
                                    .des {
                                        margin-right: 0;
                                        margin-bottom: 12px;
                                    }

                                    .common_cell {
                                        .transform-origin(top);
                                        .ease(.2s);

                                        .input_style {
                                            border: none;
                                            border-bottom: 1px solid rgb(@adminColor);
                                            border-radius: 0;

                                            &:focus,
                                            &:active {
                                                border: none;
                                                border-bottom: 1px solid rgb(@mainColor);
                                            }
                                        }

                                        .close_input_style {
                                            width: 0;
                                            flex: 0;
                                            border: 0;
                                            padding: 0;
                                        }
                                    }
                                }

                                .supplementary_note {
                                    .des {
                                        margin-right: 0;
                                        margin-bottom: 12px;
                                    }
                                }
                            }

                            .consumer_notice {
                                width: 100%;
                                margin-top: 24px;
                                padding-top: 48px;
                                border-top: 1px solid @fontColor;

                                &>h3 {
                                    font-size: @fontSize;
                                    margin-bottom: 24px;

                                    &>small {
                                        font-size: @fontSize - 6;
                                        color: rgb(@mlRed);
                                        margin-left: 10px;
                                    }
                                }

                                .common_item {
                                    .flexbox(column, flex-start, flex-start);
                                    width: 50%;

                                    .des {
                                        margin-right: 0;
                                        margin-bottom: 12px;
                                    }

                                    .label--checkbox {
                                        .material_checkbox;
                                        margin-bottom: 12px;
                                        .ease(.2s);

                                        .checkbox {
                                            &:after {
                                                background: rgb(@white);
                                            }
                                        }

                                        &:hover {
                                            color: rgb(@mainColor);
                                        }
                                    }


                                    .ck.ck-editor {
                                        min-width: 100%;
                                        max-width: 100%;
                                    }

                                    .ck-editor__editable {
                                        min-height: 200px;
                                    }

                                    .common_cell {
                                        .flexbox(row, baseline, flex-start);
                                        flex-wrap: wrap;
                                        width: 96.8%;
                                        margin: 0 24px;
                                        .transform-origin(top);
                                        .ease(.2s);

                                        .label--checkbox {
                                            margin-right: 24px;

                                            &:last-child {
                                                margin-right: 24px;
                                            }
                                        }

                                        .input_style {
                                            border: none;
                                            border-bottom: 1px solid rgb(@adminColor);
                                            border-radius: 0;

                                            &:focus,
                                            &:active {
                                                border: none;
                                                border-bottom: 1px solid rgb(@mainColor);
                                            }
                                        }

                                        .close_input_style {
                                            width: 0;
                                            flex: 0;
                                            border: 0;
                                            padding: 0;
                                        }
                                    }
                                }

                            }

                            .transportation {
                                .consumer_notice;
                            }

                            .used {
                                .consumer_notice;
                            }

                            .cancellation_policy {
                                .consumer_notice;

                                .common_item {

                                    .disabled {
                                        color: #999;
                                        cursor: not-allowed;

                                        .checkbox {
                                            cursor: not-allowed;

                                            &:before {
                                                border-color: #999;
                                            }

                                            &:after {
                                                background: #999;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}