@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.link-default {
  text-decoration: none;
  outline: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
/** animate **/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}
.scaleRotateAnimateDisplay {
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
.scaleRotateAnimateDisplayN {
  -webkit-transform: scale(0) rotate(0deg);
  -moz-transform: scale(0) rotate(0deg);
  -o-transform: scale(0) rotate(0deg);
  transform: scale(0) rotate(0deg);
}
.opacityDisplay {
  opacity: 0;
  visibility: hidden;
}
body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  color: #666;
  font-family: 'Noto Sans TC' !important;
  font-size: 16px;
  /* animate */
  /* animate end*/
}
body #wrapper {
  max-width: 1366px;
  margin: auto;
  /* Slideshow */
  /* Slideshow end */
  /* Broadcast */
  /* Broadcast end */
  /* Propaganda */
  /* Propaganda end */
  /* article */
  /* article end */
  /* footer */
  /* footer end */
}
body #wrapper header {
  position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1366px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
body #wrapper header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
body #wrapper header .header-wrapper .trustMeLogo {
  width: 100px;
}
body #wrapper header .header-wrapper .trustMeLogo img {
  width: 100%;
}
body #wrapper header .header-wrapper .trustMeNav {
  display: flex;
  align-items: center;
}
body #wrapper header .header-wrapper .trustMeNav .lang {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 25px;
  border-right: 1px solid #000;
  cursor: pointer;
}
body #wrapper header .header-wrapper .trustMeNav .lang > .icon {
  margin-right: 5px;
}
body #wrapper header .header-wrapper .trustMeNav .lang .default-lang {
  display: flex;
  align-content: center;
  justify-content: center;
}
body #wrapper header .header-wrapper .trustMeNav .lang .default-lang .des {
  margin-right: 10px;
}
body #wrapper header .header-wrapper .trustMeNav .lang .default-lang .icon {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .lang ul {
  position: absolute;
  background: #f1f1f1;
  width: 135px;
  margin-top: 30px;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .lang ul li {
  display: block;
  color: #000;
  padding: 19px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .lang ul li:hover {
  background: #e8e8e8;
}
body #wrapper header .header-wrapper .trustMeNav .openList .default-lang .icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
body #wrapper header .header-wrapper .trustMeNav .openList ul {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .item {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .item:hover {
  color: #e98d58;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .topUp {
  color: #57b5ce;
  border: 1px solid #57b5ce;
  border-radius: 50px;
  padding: 5px 15px;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .topUp:hover {
  border: 1px solid #e98d58;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signOut {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signOut .item {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signOut .item:first-child {
  margin-right: 25px;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signOut .item:hover {
  color: #e98d58;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signIn {
  display: none;
  position: relative;
  margin-left: 25px;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signIn .photo-sticker {
  display: flex;
  align-items: center;
  cursor: pointer;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signIn .photo-sticker img {
  width: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signIn .photo-sticker .icon {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signIn ul {
  position: absolute;
  background: #f1f1f1;
  width: 160px;
  margin-top: 6px;
  right: 0;
  text-align: center;
  z-index: 2;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signIn ul li a {
  display: block;
  color: #000;
  padding: 19px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .signIn ul li a:hover {
  background: #e8e8e8;
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .openList .photo-sticker .icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
body #wrapper header .header-wrapper .trustMeNav .funcToolList .openList ul {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
body #wrapper header .header-wrapper .trustMeNav-m {
  display: none;
  align-items: center;
}
body #wrapper header .header-wrapper .trustMeNav-m > .item {
  cursor: pointer;
  color: #57b5ce;
  border: 1px solid #57b5ce;
  border-radius: 50px;
  padding: 5px 15px;
  margin-right: 25px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m > .item:hover {
  color: #e98d58;
  border: 1px solid #e98d58;
}
body #wrapper header .header-wrapper .trustMeNav-m .menuBtn {
  cursor: pointer;
}
body #wrapper header .header-wrapper .trustMeNav-m .menuBtn .line {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: #5f5f5f;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .menuBtn .line:first-child {
  transform-origin: 0% 0%;
}
body #wrapper header .header-wrapper .trustMeNav-m .menuBtn .line:nth-last-child(2) {
  transform-origin: 0% 100%;
}
body #wrapper header .header-wrapper .trustMeNav-m .menuBtn .line:last-child {
  margin-bottom: 0;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 50px;
  left: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signOut .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signOut .item .des {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signOut .item:hover {
  background: #eee;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signOut .item:hover .des {
  color: #57b5ce;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn {
  display: none;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .photo-sticker {
  display: flex;
  align-items: center;
  padding: 20px;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .photo-sticker img {
  width: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 20px;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .photo-sticker .info .info-name {
  margin-bottom: 10px;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .photo-sticker .info .info-id {
  display: flex;
  align-items: center;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .photo-sticker .info .info-id .item {
  margin-right: 10px;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .photo-sticker .info .info-id .id-num {
  margin-right: 0;
  color: #57b5d1;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn > .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5f5f5f;
  padding: 20px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn > .item .des {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn > .item:hover {
  background: #eee;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn > .item:hover .des {
  color: #57b5ce;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .acount .count {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .signIn .acount .count .num {
  margin-right: 10px;
  color: #f00;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select .default-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select .default-lang .des {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select .default-lang .icon {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select ul {
  position: fixed;
  width: 100%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select ul li {
  cursor: pointer;
  padding: 20px 135px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select ul li:hover {
  color: #57b5ce;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select:hover .default-lang {
  background: #eee;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select:hover .default-lang .des {
  color: #57b5ce;
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select:hover .default-lang .icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
body #wrapper header .header-wrapper .trustMeNav-m .funcToolList .lang-select:hover ul {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
body #wrapper header .header-wrapper .trustMeNav-m .openMenu .line {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(45deg) translate(-2px, -5px);
  -moz-transform: rotate(45deg) translate(-2px, -5px);
  -o-transform: rotate(45deg) translate(-2px, -5px);
  transform: rotate(45deg) translate(-2px, -5px);
}
body #wrapper header .header-wrapper .trustMeNav-m .openMenu .line:nth-last-child(2) {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
body #wrapper header .header-wrapper .trustMeNav-m .openMenu .line:last-child {
  -webkit-transform: rotate(-45deg) translate(0, -2px);
  -moz-transform: rotate(-45deg) translate(0, -2px);
  -o-transform: rotate(-45deg) translate(0, -2px);
  transform: rotate(-45deg) translate(0, -2px);
}
body #wrapper header .header-wrapper .trustMeNav-m .active {
  left: 0;
  z-index: 10;
}
body #wrapper .slideshow {
  height: 410px;
  margin-top: 51px;
}
body #wrapper .slideshow .owl-stage-outer {
  height: 410px;
}
body #wrapper .slideshow .owl-stage-outer .owl-stage {
  height: 410px;
}
body #wrapper .slideshow .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}
body #wrapper .slideshow .owl-stage-outer .owl-stage .owl-item .item {
  height: 100%;
}
body #wrapper .slideshow .owl-stage-outer .owl-stage .owl-item .item img {
  height: 100%;
}
body #wrapper .broadcast {
  background: #37ecba;
  background: -moz-linear-gradient(left, #37ecba 0%, #008ee2 100%);
  background: -webkit-linear-gradient(left, #37ecba 0%, #008ee2 100%);
  background: linear-gradient(to right, #37ecba 0%, #008ee2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37ecba', endColorstr='#008ee2', GradientType=1);
  display: flex;
  align-items: center;
  color: #fff;
  padding: 7px 100px;
}
body #wrapper .broadcast img {
  width: 30px;
}
body #wrapper .broadcast .broadcast-list {
  margin-left: 10px;
  overflow: hidden;
}
body #wrapper .broadcast .broadcast-list ul {
  display: flex;
  list-style: none;
  animation: marqee 15s linear infinite;
}
body #wrapper .broadcast .broadcast-list ul .item {
  white-space: nowrap;
  margin-right: 20px;
}
body #wrapper .broadcast .broadcast-list ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
body #wrapper .propaganda {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}
body #wrapper .propaganda .trustMe-video {
  position: relative;
  width: 560px;
  height: 380px;
  overflow: hidden;
}
body #wrapper .propaganda .trustMe-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body #wrapper .propaganda .trustMe-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #wrapper .propaganda .trustMe-experience .experienceTitle {
  font-size: 50px;
  color: #57b5ce;
  margin-bottom: 40px;
}
body #wrapper .propaganda .trustMe-experience .experienceList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body #wrapper .propaganda .trustMe-experience .experienceList .item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 230px;
}
body #wrapper .propaganda .trustMe-experience .experienceList .item .cell {
  background: #00f2fe;
  background: -moz-linear-gradient(top, #00f2fe 0%, #4facfe 100%);
  background: -webkit-linear-gradient(top, #00f2fe 0%, #4facfe 100%);
  background: linear-gradient(to bottom, #00f2fe 0%, #4facfe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f2fe', endColorstr='#4facfe', GradientType=0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  padding: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .propaganda .trustMe-experience .experienceList .item .cell .icon {
  font-size: 35px;
  margin-right: 10px;
}
body #wrapper .propaganda .trustMe-experience .experienceList .item .cell:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
body #wrapper .propaganda .trustMe-experience .experienceList .appleStore {
  margin-right: 35px;
}
body #wrapper article {
  color: #000;
  margin: 75px 0;
  padding: 0 20px;
}
body #wrapper article .breadcrumbs {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}
body #wrapper article .breadcrumbs h2 {
  font-size: 24px;
  margin-right: 15px;
}
body #wrapper article .breadcrumbs .sub-nav {
  display: flex;
  align-items: center;
}
body #wrapper article .breadcrumbs .sub-nav a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper article .breadcrumbs .sub-nav a:hover {
  color: #e98d58;
}
body #wrapper article .breadcrumbs .sub-nav .line {
  margin: 0 10px;
}
body #wrapper article .about-wrapper {
  letter-spacing: 2px;
  line-height: 1.5em;
}
body #wrapper article .about-wrapper > div {
  margin-bottom: 20px;
}
body #wrapper article .about-wrapper > div:last-child {
  margin-bottom: 0;
}
body #wrapper article .about-wrapper > ul {
  margin-bottom: 20px;
}
body #wrapper article .about-wrapper > ul li {
  list-style: circle inside;
}
body #wrapper article .specifications-wrapper {
  letter-spacing: 2px;
  line-height: 1.5em;
}
body #wrapper article .specifications-wrapper > div {
  margin-bottom: 20px;
}
body #wrapper article .specifications-wrapper > ul {
  margin-bottom: 20px;
  list-style: disc inside;
}
body #wrapper article .specifications-wrapper > ul:last-child {
  margin-bottom: 0;
  list-style: decimal inside;
}
body #wrapper article .specifications-wrapper > ul:last-child ul li {
  list-style: decimal inside;
}
body #wrapper article .specifications-wrapper > ul:last-child ul li ul li {
  list-style: lower-roman inside;
}
body #wrapper article .privacy-wrapper {
  letter-spacing: 2px;
  line-height: 1.5em;
}
body #wrapper article .privacy-wrapper > div {
  margin-bottom: 20px;
}
body #wrapper article .privacy-wrapper > ul {
  margin-bottom: 20px;
  list-style: disc inside;
}
body #wrapper article .privacy-wrapper > ul:last-child {
  margin-bottom: 0;
  list-style: decimal inside;
}
body #wrapper article .privacy-wrapper > ul:last-child ul li {
  list-style: decimal inside;
}
body #wrapper article .privacy-wrapper > ul:last-child ul li ul li {
  list-style: lower-roman inside;
}
body #wrapper article .service-wrapper {
  letter-spacing: 2px;
  line-height: 1.5em;
}
body #wrapper article .service-wrapper > div {
  margin-bottom: 20px;
}
body #wrapper article .service-wrapper > ul {
  margin-bottom: 20px;
  list-style: disc inside;
}
body #wrapper article .service-wrapper > ul:last-child {
  margin-bottom: 0;
  list-style: decimal inside;
}
body #wrapper article .service-wrapper > ul:last-child ul li {
  list-style: decimal inside;
}
body #wrapper article .service-wrapper > ul:last-child ul li ul li {
  list-style: lower-roman inside;
}
body #wrapper .colophon {
  background: #f6f6f6;
  font-size: 14px;
  padding: 0 70px;
}
body #wrapper .colophon .footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-bottom: 1px solid #000;
}
body #wrapper .colophon .footerNav .footerNavList {
  display: flex;
  align-items: center;
}
body #wrapper .colophon .footerNav .footerNavList .item {
  color: #000;
  margin-right: 35px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .colophon .footerNav .footerNavList .item:last-child {
  margin: 0;
}
body #wrapper .colophon .footerNav .footerNavList .item:hover {
  color: #e98d58;
}
body #wrapper .colophon .footerNav .service {
  display: flex;
  align-items: center;
}
body #wrapper .colophon .footerNav .service .item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 175px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  outline: none;
}
body #wrapper .colophon .footerNav .service .item img {
  margin-left: 5px;
  width: 30px;
}
body #wrapper .colophon .footerNav .service .facebookFan {
  background: #028bff;
  margin-right: 35px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .colophon .footerNav .service .facebookFan:hover {
  background: #006fce;
}
body #wrapper .colophon .footerNav .service .online-service {
  background: #00b900;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .colophon .footerNav .service .online-service:hover {
  background: #009200;
}
body #wrapper .colophon .footerNav .service .online-service img {
  margin-right: 10px;
}
body #wrapper .colophon .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
}
@keyframes marqee {
  0% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 0;
    transform: translateX(-100%);
  }
}
