.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.link-default {
  text-decoration: none;
  outline: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
/** animate **/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}
.scaleRotateAnimateDisplay {
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
.scaleRotateAnimateDisplayN {
  -webkit-transform: scale(0) rotate(0deg);
  -moz-transform: scale(0) rotate(0deg);
  -o-transform: scale(0) rotate(0deg);
  transform: scale(0) rotate(0deg);
}
.opacityDisplay {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1200px) {
  body #wrapper {
    /* Propaganda */
    /* Propaganda end */
  }
  body #wrapper .propaganda .trustMe-experience .experienceList .item {
    width: 215px;
  }
  body #wrapper .propaganda .trustMe-experience .experienceList .appleStore {
    margin-right: 15px;
  }
}
@media (max-width: 1025px) {
  body #wrapper {
    /* Slideshow */
    /* Slideshow end */
    /* Broadcast */
    /* Broadcast end */
    /* Propaganda */
    /* Propaganda end */
  }
  body #wrapper header .header-wrapper {
    padding: 0 70px;
  }
  body #wrapper .slideshow {
    height: 375px;
  }
  body #wrapper .slideshow .owl-stage-outer {
    height: 375px;
  }
  body #wrapper .slideshow .owl-stage-outer .owl-stage {
    height: 375px;
  }
  body #wrapper .broadcast {
    padding: 7px 70px;
  }
  body #wrapper .propaganda .trustMe-video {
    width: 480px;
    height: 320px;
  }
}
@media (max-width: 768px) {
  body #wrapper {
    /* Slideshow */
    /* Slideshow end */
    /* Broadcast */
    /* Broadcast end */
    /* Propaganda */
    /* Propaganda end */
    /* footer */
    /* footer end */
  }
  body #wrapper header .header-wrapper {
    padding: 0 50px;
  }
  body #wrapper .slideshow {
    height: 375px;
  }
  body #wrapper .slideshow .owl-stage-outer {
    height: 375px;
  }
  body #wrapper .slideshow .owl-stage-outer .owl-stage {
    height: 375px;
  }
  body #wrapper .broadcast {
    padding: 7px 50px;
  }
  body #wrapper .propaganda .trustMe-video {
    width: 480px;
    height: 320px;
  }
  body #wrapper .propaganda .trustMe-experience .experienceTitle {
    margin-top: 40px;
  }
  body #wrapper .propaganda .trustMe-experience .experienceList .item {
    width: 230px;
  }
  body #wrapper .propaganda .trustMe-experience .experienceList .appleStore {
    margin-right: 35px;
  }
  body #wrapper .colophon {
    padding: 0 50px;
  }
  body #wrapper .colophon .footerNav {
    justify-content: center;
  }
  body #wrapper .colophon .footerNav .footerNavList {
    padding: 20px 0;
  }
  body #wrapper .colophon .footerNav .footerNavList .item {
    margin-right: 50px;
  }
}
@media (max-width: 580px) {
  body #wrapper {
    /* Broadcast */
    /* Broadcast end */
    /* Slideshow */
    /* Slideshow end */
    /* Propaganda */
    /* Propaganda end */
    /* article */
    /* article end */
    /* footer */
    /* footer end */
  }
  body #wrapper header .header-wrapper {
    padding: 0 20px;
  }
  body #wrapper header .header-wrapper .trustMeNav {
    display: none;
  }
  body #wrapper header .header-wrapper .trustMeNav-m {
    display: flex;
  }
  body #wrapper .broadcast {
    padding: 7px 20px;
  }
  body #wrapper .slideshow {
    height: 167px;
  }
  body #wrapper .slideshow .owl-stage-outer {
    height: 167px;
  }
  body #wrapper .slideshow .owl-stage-outer .owl-stage {
    height: 167px;
  }
  body #wrapper .propaganda .trustMe-video {
    width: 320px;
    height: 240px;
  }
  body #wrapper .propaganda .trustMe-experience .experienceTitle {
    font-size: 35px;
    margin: 30px;
  }
  body #wrapper .propaganda .trustMe-experience .experienceList .item {
    width: 275px;
  }
  body #wrapper .propaganda .trustMe-experience .experienceList .item img {
    display: none;
  }
  body #wrapper .propaganda .trustMe-experience .experienceList .appleStore {
    margin: 0;
  }
  body #wrapper article {
    margin-bottom: 20px;
  }
  body #wrapper .colophon {
    padding: 0 20px;
  }
  body #wrapper .colophon .footerNav {
    justify-content: center;
  }
  body #wrapper .colophon .footerNav .footerNavList {
    padding: 20px 0;
  }
  body #wrapper .colophon .footerNav .footerNavList .item {
    margin-right: 20px;
  }
  body #wrapper .colophon .service .item {
    width: 50px !important;
    height: 50px;
  }
  body #wrapper .colophon .service .item img {
    margin: 0 !important;
  }
  body #wrapper .colophon .service .item .cell {
    display: none;
  }
  body #wrapper .colophon .service .online-service {
    margin: 0 !important;
  }
  body #loginWindow .wrapper {
    max-width: 320px;
    font-size: 16px;
  }
  body #loginWindow .wrapper header {
    padding: 14px;
  }
  body #loginWindow .wrapper header .closeBtn .line {
    width: 15px;
  }
  body #loginWindow .wrapper header .closeBtn .line:first-child {
    -webkit-transform: rotate(45deg) translate(2px, 0px);
    -moz-transform: rotate(45deg) translate(2px, 0px);
    -o-transform: rotate(45deg) translate(2px, 0px);
    transform: rotate(45deg) translate(2px, 0px);
  }
  body #loginWindow .wrapper header .closeBtn .line:last-child {
    -webkit-transform: rotate(-45deg) translate(1px, 0px);
    -moz-transform: rotate(-45deg) translate(1px, 0px);
    -o-transform: rotate(-45deg) translate(1px, 0px);
    transform: rotate(-45deg) translate(1px, 0px);
  }
  body #loginWindow .wrapper .main {
    font-size: 14px;
    padding: 20px 10px;
  }
  body #loginWindow .wrapper .main .switchLoginType .item {
    width: 135px;
    border-radius: 8px;
  }
  body #loginWindow .wrapper .main #formWrapper #appScanForm > img {
    width: 170px;
  }
  body #loginWindow .wrapper .main #formWrapper #appScanForm .item .point {
    font-size: 12px;
  }
  body #loginWindow .wrapper .main footer {
    padding: 15px 0;
  }
  body #registerWindow .wrapper {
    max-width: 320px;
    font-size: 16px;
  }
  body #registerWindow .wrapper header {
    padding: 14px;
  }
  body #registerWindow .wrapper header .closeBtn .line {
    width: 15px;
  }
  body #registerWindow .wrapper header .closeBtn .line:first-child {
    -webkit-transform: rotate(45deg) translate(2px, 0px);
    -moz-transform: rotate(45deg) translate(2px, 0px);
    -o-transform: rotate(45deg) translate(2px, 0px);
    transform: rotate(45deg) translate(2px, 0px);
  }
  body #registerWindow .wrapper header .closeBtn .line:last-child {
    -webkit-transform: rotate(-45deg) translate(1px, 0px);
    -moz-transform: rotate(-45deg) translate(1px, 0px);
    -o-transform: rotate(-45deg) translate(1px, 0px);
    transform: rotate(-45deg) translate(1px, 0px);
  }
  body #registerWindow .wrapper .main h2 {
    font-size: 15px;
  }
  body #registerWindow .wrapper .main .list .item {
    width: 305px;
  }
  body #registerWindow .wrapper .main .list .item:first-child {
    margin-bottom: 20px;
  }
  body #registerWindow .wrapper footer {
    padding: 20px 0;
  }
}
