.about{            
    position: relative;
    margin-top: 6rem;
    padding: 0 6rem;

    &>h2 {
        position: relative;
        @include font-style(3rem,lighter,0.1em);

        &:before {
            display: block;
            content: '';
            @include bgwh(var(--gray),100px,1px);
            margin-top: 0;
            @include position-style(absolute,auto,auto,-36%,0);
        }
    }
    &_inner{
        padding-top: 3rem;

        & > div{
            margin-bottom: 16px;
            line-height: 1.5em;
        }
    }
}