.app {
    position: relative;
    display: grid;
    padding: 1.5rem;

    h1 {
        position: absolute;
        font-family: 'Ojuju';
        font-size: 5vw;
        color: #ffffff;
        mix-blend-mode: overlay;
        place-self: center;
        z-index: 1;

        @include for-ipad-air-portrait {
            top: 24px;
            font-size: 15vw;
            mix-blend-mode: unset;
        }
    }

    .list {
        @include grid(row, 1fr, 1fr, inherit, inherit);
        border-radius: .75rem;
        overflow: hidden;

        @include for-ipad-air-portrait {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

        &:has(.item:hover) {
            .item {
                opacity: .5;

                h2 {
                    @include hide();
                }
            }

            .item:hover {
                opacity: 1;

                h2 {
                    @include show();
                }
            }
        }

        .item {
            position: relative;
            @include ease(.2s);

            &:first-child {

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:nth-child(2) {

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:nth-child(3) {

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:last-child {

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            img {
                height: 100%;
            }

            h2 {
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                position: absolute;
                font-size: 1.5rem;
                font-weight: 400;
                color: #000;
                border-radius: 6px;
                text-align: center;
                padding: 6px;
                bottom: 50%;
                top: 50%;
                left: 1rem;
                height: -webkit-min-content;
                height: -moz-min-content;
                height: min-content;
                z-index: 1;
                @include hide();
                @include ease(.2s);

                @include for-ipad-pro {
                    font-size: 1.125rem;
                    @include show();
                }
            }
        }
    }
}

.black-bg {
    -webkit-animation: .8s black-bg ease-in forwards;
    animation: .8s black-bg ease-in forwards;
}