.app {
    position: relative;
    display: grid;
    padding: 1.5rem;

    h1 {
        position: absolute;
        font-family: 'Ojuju';
        font-size: 5vw;
        color: #ffffff;
        mix-blend-mode: overlay;
        place-self: center;
        z-index: 1;

        @include for-ipad-air-portrait {
            top: 24px;
            font-size: 15vw;
            mix-blend-mode: unset;
        }
    }

    .list {
        @include grid(row, repeat(4, 1fr), repeat(2, 1fr), inherit, inherit);
        border-radius: .75rem;
        overflow: hidden;

        @include for-ipad-air-portrait {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

        &:has(.item:hover) {
            .item {
                opacity: .5;
            }

            .item:hover {
                opacity: 1;
            }
        }

        .item {
            @include ease(.2s);

            &:first-child {
                @include grid-child(1, 3, 1, 3);

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:nth-child(2) {
                @include grid-child(3, 5, 1, 2);

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:nth-child(3) {
                @include grid-child(3, 4, 2, 3);

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:last-child {
                @include grid-child(4, 5, 2, 3);

                @include for-ipad-air-portrait {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            img {
                height: 100%;
            }
        }
    }
}

.black-bg {
    animation: .8s black-bg ease-in forwards;
}