.colorSystem {
    @include flexbox-gap(column, center, center, 1.5rem);
    padding: 3.125rem 0;

    &>h3 {
        color: var(--dark-blue);
        font-size: 2rem;
    }

    &>article {
        @include flexbox-gap-wrap(row, center, center, 1.5rem, wrap);

        .item {
            @include flexbox(column, center, center);

            .color {
                border-radius: 0.313rem;
                width: 100px;
                height: 100px;
                margin-bottom: 0.75rem;
            }

            .text {
                align-self: baseline;
            }
        }

        .bc-ci {
            .color {
                background: var(--bc-green);
            }

            &:nth-child(2) {
                .color {
                    background: var(--bc-yellow);
                }
            }

            &:last-child {
                .color {
                    background: var(--bc-blue);
                }
            }
        }

        .mimir-ci {
            .color {
                background: var(--mimir-white);

            }

            &:nth-child(2) {
                .color {
                    background: var(--mimir-white-2);
                }
            }

            &:nth-child(3) {
                .color {
                    background: var(--mimir-light-blue);
                }
            }

            &:nth-child(4) {
                .color {
                    background: var(--mimir-logo-blue);
                }
            }

            &:nth-child(5) {
                .color {
                    background: var(--mimir-dark-blue);
                }
            }

            &:last-child {
                .color {
                    background: var(--mimir-dark-yellow);
                }
            }
        }

        .wtmec-ci {
            .color {
                background: var(--wtmec-white);

            }

            &:nth-child(2) {
                .color {
                    background: var(--wtmec-green);
                }
            }

            &:nth-child(3) {
                .color {
                    background: var(--wtmec-brown);
                }
            }

            &:last-child {
                .color {
                    background: var(--wtmec-purple);
                }
            }
        }

        .lifeinmyan-ci {
            .color {
                background: var(--lifeinmyan-yellow);

            }

            &:nth-child(2) {
                .color {
                    background: var(--lifeinmyan-pink);
                }
            }

            &:nth-child(3) {
                .color {
                    background: var(--lifeinmyan-red);
                }
            }

            &:nth-child(4) {
                .color {
                    background: var(--lifeinmyan-blue);
                }
            }

            &:nth-child(5) {
                .color {
                    background: var(--lifeinmyan-light-green);
                }
            }

            &:last-child {
                .color {
                    background: var(--lifeinmyan-dark-green);
                }
            }

        }

        .tipo-ci {
            .color {
                background: var(--tipo-orange);

            }

            &:nth-child(2) {
                .color {
                    background: var(--tipo-dark-orange);
                }
            }

            &:nth-child(3) {
                .color {
                    background: var(--tipo-light-red);
                }
            }

            &:nth-child(4) {
                .color {
                    background: var(--tipo-light-blue);
                }
            }

            &:nth-child(5) {
                .color {
                    background: var(--tipo-dark-blue);
                }
            }

            &:last-child {
                .color {
                    background: var(--tipo-yellow);
                }
            }

        }

        .performance-ci {
            .color {
                background: var(--performance-green);

            }

            &:nth-child(2) {
                .color {
                    background: var(--performance-red);
                }
            }

            &:last-child {
                .color {
                    background: var(--performance-gray);
                }
            }

        }

        .physiotherapy-ci {
            .color {
                background: var(--physiotherapy-green);

            }

            &:nth-child(2) {
                .color {
                    background: var(--physiotherapy-red);
                }
            }

            &:nth-child(3) {
                .color {
                    background: var(--physiotherapy-blue);
                }
            }

            &:nth-child(4) {
                .color {
                    background: var(--physiotherapy-purple);
                }
            }

            &:last-child {
                .color {
                    background: var(--physiotherapy-yellow);
                }
            }

        }
    }
}