.data {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;

    @include for-iphone {
        grid-auto-flow: row;
    }

    .about {

        h2 {
            @include subheading();
        }

        .text {
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: .1rem;
            color: var(--dark-blue);

            @include for-ipad-air {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }

            @include for-ipad-air-portrait {
                font-size: 1.125rem;
                line-height: 1.55rem;
            }

            @include for-ipad-min {
                font-size: 1.125rem;
                line-height: 1.55rem;
            }

            @include for-ipad-min-portrait {
                font-size: 1rem;
            }
        }
    }

    .role {
        display: grid;
        gap: .75rem;

        @include for-ipad-air {
            gap: .375rem;
        }

        .item {
            @extend .about;
        }
    }
}