.define {
    @include detail-container-style(350px, 50vh);

    .title {
        @include detail-title-style();
        @include grid-child(1, 2, 1, 7);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
        writing-mode: vertical-lr;
        border-right: 1px solid var(--black);

        @include for-phone {
            writing-mode: unset;
            border: 0;
        }
    }

    &>.item {
        @include grid-child(2, 13, 1, 7);
        @include detail-item-style();
        flex-direction: column;
        border: 0;
    }
}