.design {
    position: relative;
    margin-top: 6rem;

    &>h2 {
        position: relative;
        @include font-style(3rem,lighter,0.1em);
        text-align: right;
        padding-right: 13rem;

        &:before {
            display: block;
            content: '';      
            @include bgwh(var(--gray),100px,1px);   
            @include position-style(absolute,4.5rem,13rem,auto,auto);
            margin: auto;            
            margin-top:0;   
            z-index: 1;
        }

        &:after {
            display: block;
            content: '';                
            @include bgwh(var(--gray),100%,1px);   
            @include position-style(absolute,5.5rem,13rem,auto,auto);
            margin: auto;
            margin-top: 0;
            z-index: 1;
        }
    }

    .design_inner {
        @include flexbox(row, center, center);
        flex-wrap: wrap;
        padding: 70px 0 0 0;

        .design_item {
            width: 18%;
            color: var(--fontColor);
            cursor: pointer;
            margin: 0.3rem;
            padding: 0.5rem;
            @include link-default();
            @include ease(.3s);

            .design_img {
                & img {
                    @include wh(100%,100%);
                }
            }

            .design_info {
                margin: 1.5rem auto;

                .design_title {
                    font-size: 1rem;
                }
            }

            &:hover {
                position: relative;
                @include box-shadow(0,10px,20px,0,#{'rgba(var(--black-rgb), 0.19)'});
                z-index: 10;
            }
        }
    }
}
