.discover {
    @include detail-container-style(70vh, 70vh);

    .title {
        @include detail-title-style();
        @include grid-child(1, 13, 1, 2);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
    }

    @layer base {
        &>.item {
            @include grid-child(1, 5, 2, 7);
            @include detail-item-style();
            flex-direction: column;

            &:nth-child(3) {
                @include grid-child(5, 9, 2, 7);

                @include for-phone {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:last-child {
                @include grid-child(9, 13, 2, 7);
            }
        }
    }

    @layer analysis {
        .analysis {
            @include grid-child(1, 13, 2, 7);
            border-right: unset;
        }
    }
}