.exprience {
    margin-top: 2.75rem;

    &>h1 {
        color: var(--dark-blue);
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    .cardGroup {
        position: relative;
        display: grid;
        gap: 1.5rem;

        .card {
            @include grid(unset, repeat(2, auto) 1fr, unset, center, 1.5rem);

            @include for-iphone {
                gap: unset;
            }

            .date {
                font-size: 1.125rem;
                font-weight: bold;
                color: var(--dark-blue);

                @include for-iphone {
                    grid-column: 2;
                    place-self: start;
                }
            }

            .stone {
                @include flexbox(row, center, center);
                @include liquid(50%, 0.5rem);
                color: var(--dark-brown);

                @include for-iphone {
                    grid-column: 1;
                }

                &:hover {
                    @include scale(1);
                }
            }

            &>article {
                place-self: baseline;

                &>h3 {
                    font-size: 1.25rem;
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                }

                .item {
                    position: relative;
                    padding-left: 20px;
                    font-size: 1.125rem;
                    font-weight: 300;

                    &::before {
                        content: "•";
                        position: absolute;
                        left: 0;
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                }

                .m-24 {
                    margin-bottom: 1.5rem;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 100%;
            left: 194px;
            z-index: -1;
            @include liquid(0, 0);

            @include for-iphone {
                left: 18px;
            }
        }
    }
}