.flowChart {
    @include flexbox-gap(column, center, center, 1.5rem);
    padding: 3.125rem;

    @include for-desktop {
        padding: 1.5rem;
    }

    &>h3 {
        color: var(--dark-blue);
        font-size: 2rem;

        @include for-desktop {
            font-size: 1.5rem;
        }
    }

    &>article {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}