.home {
    scroll-snap-align: start;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 880px;
        height: 880px;
        animation: circle-rotate 3s linear infinite alternate;
        @include filter-blur(3.125rem);
        @include ease(.2s);
        z-index: -1;

        @include for-desktop {
            width: 760px;
            height: 760px;
        }

        @include for-phone {
            width: 360px;
            height: 360px;
        }
    }

    &::before {
        background: var(--light-brown);
        right: -10rem;
        top: -30rem;

        @include for-phone {
            right: -8rem;
            top: -12rem;
        }
    }

    &::after {
        background: var(--dark-brown);
        left: -10rem;
        bottom: -30rem;

        @include for-phone {
            left: -8rem;
            bottom: -12rem;
        }
    }


    .slogan {
        position: absolute;
        width: 20rem;
        font-size: 2rem;
        color: var(--dark-blue);
        line-height: 2.5rem;
        top: 10rem;
        left: 10rem;
        @include ease(.2s);

        @include for-desktop {
            width: 17rem;
            font-size: 1.75rem;
            line-height: 2.25rem;
            top: 7rem;
            left: 7rem;
        }

        @include for-largepad {
            width: 30rem;
            font-size: 3rem;
            line-height: 3.25rem;
            top: 10rem;
            left: 0;
            right: 0;
            margin: auto;
            font-weight: 300;
            text-align: center;
        }

        @include for-phone {
            width: 20rem;
            font-size: 1.75rem;
            line-height: 2rem;
        }

        @include for-landscape {
            width: 20rem;
            font-size: 1.75rem;
            line-height: 2rem;
            top: 5rem;
        }
    }

    .youshii-ci {
        @include flexbox-gap(column, center, center, 1.5rem);
        position: absolute;
        bottom: 6.25rem;
        @include ease(.2s);

        @include for-landscape {
            bottom: 1.5rem;
        }

        &-top,
        &-bottom {
            position: relative;
            @include flexbox-gap(row, center, center, 3.125rem);
            @include fill-available();
            @include ease(.2s);

            @include for-desktop {
                gap: 1.5rem;
            }

            @include for-phone {
                gap: 1.125rem;
            }

            .youshii-skill {
                @include flexbox-gap(row, center, center, 1.5rem);
                @include ease(.2s);

                @include for-desktop {
                    gap: 0.75rem;
                }

                @include for-phone {
                    gap: 0.5rem;
                }

                .item {
                    font-size: 1.5rem;
                    border: 0.063rem solid var(--dark-blue);
                    border-radius: 0.313rem;
                    color: var(--dark-blue);
                    padding: 0.563rem;

                    @include for-desktop {
                        font-size: 1.125rem;
                    }

                    @include for-phone {
                        font-size: 0.875rem;
                        padding: 0.25rem;
                    }
                }
            }

            &>img {
                @include ease(.2s);

                @include for-desktop {
                    width: auto;
                    height: 100px;
                }

                @include for-phone {
                    height: 40px;
                }

                @include for-landscape {
                    height: 40px;
                }
            }
        }

        &-top {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background: var(--black);
                width: 85vw;
                height: 0.125rem;
                bottom: 0;
                left: 0;
                @include ease(.2s);
            }
        }

        &-bottom {
            &::after {
                content: "";
                position: absolute;
                background: var(--black);
                width: 85vw;
                height: 0.125rem;
                bottom: 0;
                right: 0;
                @include ease(.2s);
            }
        }
    }
}