.ideate {
    @include detail-container-style(unset, unset);

    .title {
        @include detail-title-style();
        @include grid-child(1, 13, 1, 2);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
    }

    @layer base {
        .item {
            @include grid-child(1, 7, 2, 7);
            @include detail-item-style();
            flex-direction: column;

            &:last-child {
                @include grid-child(7, 13, 2, 7);
            }
        }

    }

    @layer uiflow {
        .ui-flow {
            @include grid-child(1, 13, 2, 7);
            border-right: unset;

            @include for-phone {
                grid-column: unset;
                grid-row: unset;
            }
        }

    }
}