.intro {
    background: var(--light-brown);

    @include for-desktop {
        height: auto !important;
    }

    .title {
        @include flexbox-gap(row, center, flex-start, 3.125rem);
        position: relative;
        margin-bottom: 1.5rem;
        @include ease(.2s);

        @include for-desktop {
            gap: 1.5rem;
            margin-bottom: 1rem;
        }

        @include for-phone {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
            padding-bottom: 0.75rem;
        }

        &::after {
            content: "";
            position: absolute;
            background: var(--black);
            width: 100%;
            height: 0.125rem;
            bottom: 0;
            left: 0;
            @include ease(.2s);
        }

        &>h1 {
            text-overflow: ellipsis;
            word-break: keep-all;
            white-space: nowrap;

            @include for-largepad {
                font-size: 4rem;
            }

            @include for-phone {
                font-size: 3rem;
            }
        }

        .youshii-skill {
            @include flexbox-gap(row, center, center, 1.5rem);
            @include ease(.2s);

            @include for-desktop {
                gap: 0.75rem;
            }

            .item {
                border: 0.063rem solid var(--dark-blue);
                border-radius: 0.313rem;
                color: var(--dark-blue);
                font-size: 1.25rem;
                padding: 0.563rem;

                @include for-desktop {
                    font-size: 0.875rem;
                    padding: 0.375rem;
                }
            }
        }
    }

    &>article {
        @include grid(row, repeat(2, 1fr), calc(100vh - 257px), center, 1.5rem);
        @include ease(.2s);

        @include for-desktop {
            grid-template-rows: auto;
            gap: 0.75rem;
        }

        @include for-phone {
            grid-template-columns: auto;
        }

        &>img {}

        .information {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: max-content;
            gap: 1.5rem;
            width: 100%;

            @include for-desktop {
                gap: 0.75rem;
            }

            .item {
                counter-reset: text;

                &>h3 {
                    display: grid;
                    color: var(--dark-blue);
                    font-size: 2rem;
                    margin-bottom: 1rem;

                    @include for-desktop {
                        font-size: 1.5rem;
                    }
                }

                .text {
                    color: var(--dark-gray);
                    font-size: 1.25rem;
                    line-height: 1.675rem;
                    letter-spacing: 0.125rem;
                    text-align: justify;

                    @include for-desktop {
                        font-size: 1rem;
                        line-height: 1.25rem;
                    }
                }
            }

            &>a {
                @include flexbox(row, center, flex-start);
                width: max-content;
                color: var(--dark-blue);
                font-size: 2rem;
                font-weight: 300;

                @include for-desktop {
                    font-size: 1.5rem;
                }

                &>i {
                    font-size: 2rem;
                    @include ease(.2s);

                    @include for-desktop {
                        font-size: 1.5rem;
                    }

                }

                &:hover {
                    &>i {
                        @include translateX(0.375rem);
                    }
                }
            }
        }
    }
}