.intro {
    display: grid;
    place-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;

    .back-btn {
        display: flex;
        gap: 4px;
        align-items: center;
        position: fixed;
        color: var(--black);
        font-size: 1.25rem;
        font-weight: 600;
        top: 1.5rem;
        left: 1.5rem;
        @include ease(.2s);
        z-index: 2;

        @include for-ipad-air {
            font-size: 1.125rem;
        }

        @include for-iphone {
            font-size: 1rem;
        }

        @include for-iphone-landscape {
            font-size: 1rem;
        }

        .icon {
            @include rotate(180deg);
        }

        &:hover {
            color: var(--dark-blue);
        }
    }

    .navigation {
        @include flexbox-gap(row, center, flex-end, .75rem);
        position: fixed;
        font-size: 1.25rem;
        color: var(--black);
        top: 1.5rem;
        right: 1.5rem;
        z-index: 2;

        @include for-ipad-air {
            font-size: 1.125rem;
            gap: .375rem;
        }

        @include for-iphone {
            font-size: 1rem;
        }

        @include for-iphone-landscape {
            font-size: 1rem;
        }

        .top-btn {
            font-weight: 600;
            color: var(--black);
            @include ease(.2s);

            &:hover {
                color: var(--dark-blue);
            }
        }
    }

    .image-sticker {
        display: grid;
        place-items: center;
        color: var(--black);

        img {
            width: auto;
            height: 480px;

            @include for-ipad-min-portrait {
                height: 447px;
            }

            @include for-iphone {
                height: 214px;
            }

            @include for-iphone-landscape {
                height: 180px;
            }
        }

        h1 {
            font-size: 2.6vw;
            font-weight: 400;

            @include for-ipad-min-portrait {
                font-size: 1.8rem;
            }

            @include for-iphone {
                font-size: 1.5rem;
            }

            @include for-iphone-landscape {
                font-size: 1.25rem;
            }
        }
    }

    .next-btn {
        @include flexbox(row, center, center);
        position: absolute;
        font-size: 3rem;
        color: var(--black);
        bottom: 1.5rem;
        @include ease(.2s);

        @include for-ipad-air {
            font-size: 2.5rem;
        }

        @include for-iphone {
            font-size: 2rem;
        }

        @include for-iphone-landscape {
            font-size: 2rem;
        }

        &::before {
            @include rotate(90deg);
        }

        &:hover {
            color: var(--dark-blue);
        }
    }
}