.intro {
    display: grid;
    place-items: center;
    position: relative;
    height: inherit;
    overflow: hidden;

    .back-btn {
        display: flex;
        gap: 4px;
        align-items: center;
        position: fixed;
        color: var(--black);
        font-size: 1.25rem;
        font-weight: 600;
        top: 1.5rem;
        left: 1.5rem;
        @include ease(.2s);
        z-index: 1;

        .icon {
            @include rotate(180deg);
        }

        &:hover {
            color: var(--dark-blue);
        }
    }

    .navigation {
        @include flexbox-gap(row, center, flex-end, .75rem);
        position: fixed;
        font-size: 1.25rem;
        color: var(--black);
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1;

        .top-btn {
            font-weight: 600;
            @include ease(.2s);

            &:hover {
                color: var(--dark-blue);
            }
        }
    }

    .image-sticker {
        display: grid;
        place-items: center;
        color: var(--black);

        img {
            width: auto;
            height: 480px;
        }

        h1 {
            font-size: 2.6vw;
            font-weight: 400;
        }
    }

    .next-btn {
        position: absolute;
        width: 80px;
        height: 80px;
        font-size: 3rem;
        border-radius: 50%;
        border: 1px solid var(--black);
        bottom: 1.5rem;
        @include rotate(90deg);
        @include ease(.2s);

        &:hover {
            color: var(--dark-blue);
            border: 1px solid var(--dark-blue);
        }
    }

    .scroll-bar {
        position: absolute;
        background: var(--white);
        border-radius: 10px;
        width: 4px;
        height: 150px;
        right: 1.5rem;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            background: var(--dark-blue);
            border-radius: 10px;
            width: inherit;
            height: 1.5rem;
            animation: 2s scroll-down ease-in infinite;
        }
    }
}