.mockup {
    height: fit-content;
    background: var(--light-brown);
    grid-template-columns: auto;
    grid-template-rows: auto;

    .title {
        @include detail-title-style();
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;

        @include for-ipad-air {
            font-size: 1.375rem;
        }
    }

    .img-group {
        @include grid(row, repeat(auto-fit, minmax(8%, 1fr)), max-content, inherit, .75rem);

        @include for-ipad-min-landscape {
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        }

        &>img {
            height: auto;
            box-shadow: 0 7px 7px #{'rgba(var(--black-rgb), 0.5)'};
        }
    }

    .w-19 {
        grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));

        @include for-ipad-min-landscape {
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        }
    }
}