.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(503px, 1fr));
    gap: 2.75rem;
    margin-top: 2.75rem;

    @include for-ipad-air {
        display: flex;
        flex-direction: column-reverse;
    }

    .info {
        @include grid(row, auto, auto, unset, 2.75rem);

        hgroup {
            h1 {
                font-size: 4rem;
                color: var(--black);
                line-height: 1em;
            }

            h2 {
                font-size: 3rem;
                color: var(--black);

                &:last-child {
                    color: var(--dark-blue);
                    font-weight: bold;
                    border-right: .4vw solid var(--dark-blue);
                    width: 100%;
                    max-width: 356px;
                    white-space: nowrap;
                    overflow: hidden;
                    -webkit-animation: typing 2s steps(13), line .4s step-end infinite alternate;
                    animation: typing 2s steps(13), line .4s step-end infinite alternate;

                }
            }
        }

        .infoDes {
            @include grid(row, auto, auto, start, 1.5rem);

            .item {
                display: grid;
                font-size: 1.25rem;
                font-weight: bold;

                &>sub {
                    font-size: 1.125rem;
                    font-weight: 300;
                    line-height: normal;
                    bottom: 0;
                }
            }
        }

        .contact {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            gap: 1.5rem;

            .item {
                @include flexbox-gap-wrap(row, center, center, 0.5rem, wrap);
                @include liquid(3.125rem, 0.5rem 1rem);
                color: var(--dark-brown);
                cursor: pointer;
                font-size: 1.125rem;
                font-weight: bold;
            }
        }
    }


    .sticker {
        @include liquid(50%, 0);
        width: 400px;
        place-self: center;

        &:hover {
            @include scale(1);
        }
    }
}