.portfolio {

    //導覽
    .navigation {
        @include grid-child(7, 13, 1, 2);
        @include flexbox-gap(row, center, flex-end, .75rem);
        font-size: 1.25rem;
        border: 0;
        border-bottom: 1px solid var(--dark-blue);
        border-radius: 0;

        @include for-ipad-air {
            gap: .375rem;
            font-size: 1.125rem;
        }

        @include for-ipad-air-portrait {
            flex-direction: column;
            align-items: end;
            grid-column: unset;
            grid-row: unset;
            position: fixed;
            top: 24px;
            right: 24px;
            border: 0;
            border-radius: 5px;
            z-index: 3;
        }

        @include for-ipad-min {
            font-size: 1rem;
        }

        @include for-iphone-landscape {
            flex-direction: column;
            align-items: end;
            grid-column: unset;
            grid-row: unset;
            position: fixed;
            top: 24px;
            right: 24px;
            border: 0;
            border-radius: 5px;
            z-index: 3;
        }


        .item {
            color: var(--black);
            font-weight: 600;
            z-index: 1;
            @include ease(.2s);

            &:hover {
                color: var(--dark-blue);
            }

            @include for-ipad-air-portrait {
                @include transform-origin(top);
                @include scale(0);
            }

            @include for-iphone-landscape {
                @include transform-origin(top);
                @include scale(0);
            }
        }

        .switch-btn {
            display: none;
            position: relative;
            border-top: 2px solid var(--black);
            width: 24px;
            height: 16px;
            cursor: pointer;
            @include ease(.2s);

            &::before {
                content: "";
                position: absolute;
                background: var(--black);
                width: 12px;
                height: 2px;
                top: 5px;
                right: 0;
                @include ease(.2s);
            }

            &::after {
                content: "";
                position: absolute;
                background: var(--black);
                width: 6px;
                height: 2px;
                bottom: 0;
                right: 0;
                @include ease(.2s);
            }

            &:hover {
                border-top: 2px solid var(--dark-blue);

                &::before,
                &::after {
                    background: var(--dark-blue);

                    @include for-ipad-air-portrait {
                        border-top: 2px solid var(--black);
                    }
                }

                @include for-ipad-air-portrait {
                    border-top: 2px solid var(--black);
                }
            }

            @include for-ipad-air-portrait {
                display: unset;
            }

            @include for-iphone-landscape {
                display: unset;
            }
        }

        .open {
            border: 0;

            &:hover {
                border-top: unset;
            }

            &::before {
                width: 24px;
                @include rotate(45deg);
            }

            &::after {
                width: 24px;
                bottom: 9px;
                @include rotate(-45deg);
            }
        }

        .hide {
            display: none;
        }
    }

    .fix {
        background: #{'rgba(var(--white-rgb), 0.5)'};
        border-radius: 5px;
        @include background-blur(10px);
        animation: .5s fix-nav ease-in forwards;
        z-index: 1;

        @include for-ipad-air-portrait {
            background: transparent;
            @include background-blur(0px);
            animation: unset;
            z-index: 3;
        }

        @include for-iphone-landscape {
            animation: unset;
            z-index: 3;
        }
    }

    .open-nav {
        background: #{'rgba(var(--white-rgb), 0.5)'};
        @include background-blur(12px);
        box-shadow: 0px 4px 10px -10px var(--black);

        .switch-btn {
            margin-bottom: 1rem;
        }

        .item {
            @include scale(1);
        }
    }

    //聯絡
    .contact {
        @include grid-child(1, 7, 1, 4);
        @include flexbox(column, start, space-between);
        color: var(--black);

        @include for-ipad-air-portrait {
            @include grid-child(1, 8, 1, 3);
        }

        @include for-iphone {
            @include grid-child(1, 9, 1, 3);
            font-size: 0.613rem;
        }

        @include for-iphone-landscape {
            @include grid-child(1, 9, 1, 3);
        }

        hgroup {

            h1,
            h2 {
                position: relative;
                font-size: 5.6vw;
                font-weight: 400;

                @include for-iphone {
                    font-size: 7vw;
                }

                @include for-iphone-landscape {
                    font-size: 7vw;
                }
            }

            h2 {
                border-right: .4vw solid var(--black);
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                animation: typing 2s steps(14), line .4s step-end infinite alternate;
            }

        }

        img {
            width: 32px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 12px;

            @include for-ipad-air-portrait {
                width: 24px;
            }

            @include for-iphone {
                width: 12px;
            }

            @include for-iphone-landscape {
                width: 12px;
            }
        }

        .colophon {
            .email {
                @include flexbox-gap(row, center, start, .75rem);
                font-size: 1.25rem;

                @include for-ipad-air {
                    font-size: 1.125rem;
                    gap: .375rem;
                }

                @include for-iphone {
                    font-size: 1rem;
                }

                .icon {
                    font-size: 2.5rem;

                    @include for-ipad-air {
                        font-size: 2rem;
                    }

                    @include for-iphone {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    //經驗
    .experience {
        @include flexbox(column, center, center);
        @include grid-child(1, 3, 4, 5);

        @include for-ipad-air-portrait {
            @include grid-child(1, 3, 3, 4);
        }

        @include for-iphone {
            @include grid-child(1, 5, 3, 4);
        }

        @include for-iphone-landscape {
            @include grid-child(1, 3, 3, 4);
        }

        .num {
            position: relative;

            &::before {
                counter-reset: number var(--counter-value);
                content: counter(number) '+';
                color: var(--dark-blue);
                font-size: 3rem;
                @include counter(experience-counter);

                @include for-ipad-air {
                    font-size: 2rem;
                }

                @include for-iphone {
                    font-size: 1.5rem;
                }

                @include for-iphone-landscape {
                    font-size: 1.5rem;
                }
            }
        }

        .text {
            @include for-ipad-air {
                text-align: center;
            }
        }
    }

    //經手專案
    .hand-project {
        @extend .experience;
        @include grid-child(3, 5, 4, 5);

        @include for-ipad-air-portrait {
            @include grid-child(3, 5, 3, 4);
        }

        @include for-iphone {
            @include grid-child(5, 9, 3, 4);
        }

        @include for-iphone-landscape {
            @include grid-child(3, 5, 3, 4);
        }

        .num {
            position: relative;

            &::before {
                @include counter(project-counter);
            }
        }
    }

    //客戶
    .clients {
        @extend .experience;
        @include grid-child(5, 7, 4, 5);

        @include for-ipad-air-portrait {
            @include grid-child(5, 7, 3, 4);
        }

        @include for-iphone {
            @include grid-child(9, 13, 3, 4);
        }

        @include for-iphone-landscape {
            @include grid-child(5, 7, 3, 4);
        }

        .num {
            position: relative;

            &::before {
                @include counter(clients-counter);
            }
        }
    }

    //頭貼
    .sticker {
        @include grid-child(7, 10, 1, 5);
        border: 0;
        padding: 0;

        @include for-ipad-air-portrait {
            @include grid-child(8, 13, 1, 3);
        }

        @include for-iphone {
            background: var(--light-brown);
        }

        @include for-iphone-landscape {
            @include grid-child(9, 13, 1, 3);
        }

        &::before {
            content: "";
            position: absolute;
            border: 1px solid var(--dark-blue);
            border-radius: 175px;
            width: 100%;
            height: 75%;
            left: 0;
            z-index: -1;
            bottom: 0;
        }

        img {
            height: 100%;
            object-fit: cover;

            @include for-ipad-air-portrait {
                object-fit: contain;
            }
        }
    }

    //基本資料
    .information {
        @include grid-child(10, 13, 2, 3);
        @include flexbox-gap(column, start, center, .75rem);

        @include for-ipad-air {
            gap: .375rem;
        }

        @include for-ipad-air-portrait {
            @include grid-child(7, 13, 3, 4);
        }

        @include for-iphone {
            @include grid-child(1, 13, 4, 5);
        }

        @include for-iphone-landscape {
            @include grid-child(7, 13, 3, 4);
        }

        label {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 1.25rem;
            color: var(--black);

            @include for-ipad-air {
                font-size: 1.125rem;
            }

            @include for-ipad-min {
                font-size: 1rem;
            }

            .text {
                font-weight: normal;
                color: var(--dark-blue);
            }
        }
    }

    //技能
    .skill {
        @include grid-child(10, 13, 3, 5);
        @include card-title();

        @include for-ipad-air-portrait {
            @include grid-child(5, 13, 4, 5);
        }

        @include for-iphone {
            @include grid-child(1, 13, 5, 6);
        }

        @include for-iphone-landscape {
            @include grid-child(6, 13, 4, 5);
        }

        .list {
            display: grid;
            place-items: baseline;
            gap: .75rem;

            @include for-ipad-air-portrait {
                grid-auto-flow: column;
                place-items: center;
            }

            .design-tools {
                @include flexbox-gap(row, center, center, .75rem);

                @include for-ipad-air {
                    gap: .375rem;
                }

                .progress-bar-container {
                    display: grid;
                    place-items: center;

                    .progress-bar {
                        @include flexbox(row, center, center);
                        width: 5vw;
                        height: 5vw;
                        border-radius: 50%;

                        @include for-ipad-air {
                            width: 6vw;
                            height: 6vw;
                        }

                        @include for-ipad-min {
                            width: 6vw;
                            height: 6vw;
                        }

                        @include for-ipad-air-portrait {
                            width: 8vw;
                            height: 8vw;
                        }

                        @include for-ipad-min-portrait {
                            width: 8vw;
                            height: 8vw;
                        }

                        @include for-iphone {
                            width: 10vw;
                            height: 10vw;
                        }

                        @include for-iphone-landscape {
                            width: 10vw;
                            height: 10vw;
                        }

                        &::before {
                            counter-reset: percentage var(--progress-value);
                            content: counter(percentage) '%';
                            color: var(--white);
                            font-size: .8vw;
                            z-index: 1;

                            @include for-ipad-air {
                                font-size: 1.3vw;
                            }

                            @include for-ipad-min {
                                font-size: 1.3vw;
                            }

                            @include for-ipad-air-portrait {
                                font-size: 1.3vw;
                            }

                            @include for-ipad-min-portrait {
                                font-size: 1.3vw;
                            }

                            @include for-iphone {
                                font-size: 2vw;
                            }

                            @include for-iphone-landscape {
                                font-size: 2vw;
                            }
                        }

                        progress {
                            visibility: hidden;
                            width: 0;
                            height: 0;
                        }
                    }
                }

                .figma {
                    @include progress-bar-common(var(--figma-black), figma-progress);
                }

                .ps {
                    @include progress-bar-common(var(--ps-blue), ps-progress);
                }

                .ai {
                    @include progress-bar-common(var(--ai-orange), ai-progress);
                }
            }

            .skill-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                font-size: .875rem;
            }
        }
    }

    //最近作品
    .project {
        @include grid-child(1, 8, 5, 7);
        @include card-title();

        @include for-ipad-min {
            @include grid-child(1, 6, 5, 7);
        }

        @include for-ipad-air-portrait {
            @include grid-child(1, 5, 4, 7);
        }

        @include for-iphone {
            @include grid-child(1, 7, 6, 7);
        }

        @include for-iphone-landscape {
            @include grid-child(1, 6, 4, 7);
        }


        .list {
            @include grid(column, repeat(3, 1fr), auto, inherit, .75rem);
            width: 100%;
            height: calc(100% - 36px);

            @include for-ipad-air {
                gap: .375rem;
            }

            @include for-ipad-air-portrait {
                grid-auto-flow: row;
                grid-template-columns: auto;
            }

            @include for-iphone-landscape {
                grid-auto-flow: row;
                grid-template-columns: auto;
            }

            .item {
                position: relative;
                height: 100%;
                border: 1px solid var(--dark-blue);
                border-radius: 0.75rem;
                overflow: hidden;

                img {
                    object-fit: cover;
                    height: 100%;
                }

                .text {
                    background: #{'rgba(var(--white-rgb), 0.5)'};
                    @include background-blur(10px);
                    position: absolute;
                    font-size: 1.25rem;
                    color: var(--black);
                    border-radius: 6px;
                    text-align: center;
                    padding: 6px;
                    box-shadow: 0px 4px 10px -10px var(--black);
                    right: 1.5rem;
                    left: 1.5rem;
                    animation: .5s text-slide-revert ease-in forwards;

                    @include for-ipad-air {
                        font-size: 1.125rem;
                        bottom: 0;
                        animation: unset !important;

                        &:hover {
                            animation: unset !important;
                        }
                    }

                    @include for-iphone {
                        font-size: .875rem;
                    }

                    @include for-iphone-landscape {
                        font-size: .875rem;
                    }
                }

                &:hover {
                    .text {
                        animation: .5s text-slide ease-in forwards;
                    }
                }
            }

            .web-link {
                img {
                    object-position: right;
                }
            }

            .app-link {
                img {
                    object-fit: contain;
                }
            }
        }
    }

    //關於我
    .about {
        @include grid-child(8, 13, 5, 7);
        @include card-title();

        @include for-ipad-min {
            @include grid-child(6, 13, 5, 7);
        }

        @include for-ipad-air-portrait {
            @include grid-child(5, 13, 5, 7);
        }

        @include for-iphone {
            @include grid-child(7, 13, 6, 7);
        }

        @include for-iphone-landscape {
            @include grid-child(6, 13, 5, 7);
        }

        .list {
            @include flexbox-gap(column, start, start, .75rem);

            @include for-ipad-air {
                gap: .375rem;
            }
        }
    }
}