.process {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    align-items: start;

    .step {
        position: sticky;
        top: 24px;
        padding: .75rem;

        @include for-ipad-air-portrait {
            display: none;
        }

        @include for-ipad-min {
            display: none
        }

        h2 {
            @include subheading();
        }

        .list {
            display: grid;
            gap: .75rem;
            place-items: center;

            .item {
                width: 100%;
                border: 1px solid var(--dark-blue);
                border-radius: .75rem;
                color: var(--dark-blue);
                cursor: pointer;
                text-align: center;
                padding: .75rem;
                @include ease(.2s);

                &:hover {
                    background: var(--dark-blue);
                    color: var(--white);
                }

            }

            .active {
                background: var(--dark-blue);
                color: var(--white);
            }
        }
    }

    .content {
        display: grid;
        gap: 1.5rem;
        border-left: 1px solid var(--dark-blue);
        padding: .75rem;

        @include for-ipad-air-portrait {
            border: 0;
            border-top: 1px solid var(--dark-blue);
        }

        @include for-ipad-min {
            border: 0;
            border-top: 1px solid var(--dark-blue);
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            height: 100vh;

            @include for-ipad-air-portrait {
                position: sticky;
                top: 48px;
            }

            @include for-ipad-min {
                position: sticky;
                top: 48px;
            }

            @include for-iphone {
                position: unset;
                top: unset;
                height: auto;
            }

            @include for-iphone-landscape {
                position: unset;
                top: unset;
                height: auto;
            }

            h2 {
                @include subheading();
                display: grid;
                gap: 4px;
                margin: 0;

                sub {
                    color: var(--dark-blue);
                    font-size: 1.5rem;
                    line-height: 1.5;
                    bottom: 0;

                    @include for-ipad-air {
                        font-size: 1.25rem;
                        line-height: 1.25;
                    }

                    @include for-ipad-air-portrait {
                        font-size: 1.125rem;
                        line-height: 1.125;
                    }

                    @include for-ipad-min {
                        font-size: 1.125rem;
                        line-height: 1.125;
                    }

                    @include for-iphone {
                        font-size: 1rem;
                        line-height: normal;
                    }

                    @include for-iphone-landscape {
                        font-size: 1rem;
                        line-height: normal;
                    }
                }
            }

            .des {
                counter-reset: num;
                display: grid;
                gap: 4px;
                line-height: normal;
                color: var(--light-gray);

                @include for-iphone {
                    font-size: 0.875rem;
                    line-height: 0.875;
                }

                @include for-iphone-landscape {
                    font-size: 0.875rem;
                    line-height: 0.875;
                }

                h3 {
                    font-weight: normal;
                }

                .dot {
                    &::before {
                        counter-increment: num;
                        content: counter(num) ".";
                    }
                }
            }
        }

        .interview {
            background: url(/image/other/interview.png) no-repeat right bottom transparent;
            background-size: 64%;

            @include for-ipad-air-portrait {
                background-size: 100%;
            }

            @include for-ipad-min {
                background-size: 50%;
            }

            @include for-iphone {
                background-size: 0%;
            }

            @include for-iphone-landscape {
                background-size: 0%;
            }

        }

        .analysis {
            background: url(/image/other/swot.png) no-repeat right bottom transparent;
            background-size: 50%;

            @include for-ipad-air {
                background-size: 74%;
            }

            @include for-ipad-air-portrait {
                background-size: 100%;
            }

            @include for-ipad-min {
                background-size: 64%;
            }

            @include for-iphone {
                background-size: 0%;
            }

            @include for-iphone-landscape {
                background-size: 0%;
            }
        }

        .dataanalysis {
            background: url(/image/other//analysis.png) no-repeat right bottom transparent;
            background-size: 50%;

            @include for-ipad-air-portrait {
                background-size: 100%;
            }

            @include for-iphone {
                background-size: 0%;
            }

            @include for-iphone-landscape {
                background-size: 0%;
            }
        }

        .usermap {
            background: url(/image/other/user-story.png) no-repeat right bottom transparent;
            background-size: 75%;

            @include for-ipad-air-portrait {
                background-size: 100%;
            }

            @include for-iphone {
                background-size: 0%;
            }

            @include for-iphone-landscape {
                background-size: 0%;
            }
        }

        .wireframe {
            background: url(/image/other/wireframe.png) no-repeat right bottom transparent;
            background-size: 50%;

            @include for-ipad-air {
                background-size: 74%;
            }

            @include for-ipad-air-portrait {
                background-size: 100%;
            }

            @include for-iphone {
                background-size: 0%;
            }

            @include for-iphone-landscape {
                background-size: 0%;
            }

            img {
                width: 80%;

                @include for-ipad-air {
                    width: 100%;
                }
            }
        }

        .flow {
            img {
                width: 80%;
            }
        }
    }
}