.project {
    position: relative;
    margin-top: 6rem;

    &:before {
        content: " ";
        @include position-style(absolute,10%,0,auto,0);
        @include wh(85%,80%);
        margin: auto;
        border: 1px solid var(--gray);
    }

    &>h2 {
        position: relative;
        @include font-style(3rem,lighter,0.1em);
        text-align: center;

        &:before {
            display: block;
            content: '';     
            @include bgwh(var(--gray),1px,100px);    
            @include position-style(absolute,4rem,0,auto,0);
            margin: auto;            
            margin-top: 0;             
            z-index: 1;
        }

        &:after {
            content: '';
            @include wh(1rem,100px);
            @include position-style(absolute,4rem,0,auto,0);
            margin: auto;
        }
    }

    .project_inner {
        position: relative;
        @include flexbox-wrap(row, center, space-around,wrap);
        width: 100%;
        margin: auto;
        padding: 70px 0 0 0;

        .project_item {
            @include flexbox(column, flex-start, flex-start);
            background: var(--bgcolor);
            width: 27%;

            .project_link {
                width: 100%;

                & a {
                    display: block;
                    @include wh(100%,100%);
                    color: #{'rgba(var(--black-rgb), 0.19)'};

                    & img {
                        @include wh(100%,100%);
                    }

                    &:hover {
                        @include box-shadow(0,10px,20px,0,#{'rgba(var(--black-rgb), 0.19)'});
                    }
                }
            }

            .project_info {
                margin-top: 22px;

                .project_title {
                    font-size: $fontSize + 0.5;
                    letter-spacing: 2.5px;
                    margin-bottom: 1.5rem;
                }

                .project_des {
                    font-size: $fontSize;
                    letter-spacing: 1.4px;
                    margin-bottom: 1rem;
                }
            }

            &:nth-child(even) {
                margin-top: 100px;
            }
        }
    }
}