.visual {
    position: relative;
    padding: 1.5rem;

    h1 {
        font-family: 'Ojuju';
        font-size: 10vw;
        color: var(--black);
        text-align: center;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
        gap: 1rem;

        @include for-iphone {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }

        .item {
            animation: clip-path-left-to-right 5s alternate forwards;
            animation-timeline: view();
            animation-range: entry 0% cover 20%;

            @include for-iphone {
                animation: unset;
            }
        }
    }
}