.visual {
    position: relative;

    padding: 1.5rem;

    h1 {
        font-family: 'Ojuju';
        font-size: 10vw;
        color: var(--black);
        text-align: center;
    }

    .list {

        .item {
            width: 24%;
            margin-bottom: 6px;
        }
    }
}