.web {
    background: var(--light-brown);

    &>h1 {
        border-bottom: 1px solid var(--black);
    }

    &>article {
        @include grid(column, repeat(7, 680px), auto, inherit, 1.5rem);
        width: 100%;
        overflow: hidden;

        .item {
            @include grid(row, auto, minmax(min-content, 1fr), inherit, 0.75rem);
            border-bottom: 0.063rem solid var(--black);
            color: var(--black);
            padding-bottom: 0.75rem;
            @include ease(.2s);

            &:hover {
                border: 0.063rem solid var(--black);
                border-top: 0;
                padding: 0.75rem;
            }

            .tag {
                @include flexbox-gap(row, center, flex-start, 0.75rem);
            }

            &>h4 {}
        }

    }
}