.web {
    background: var(--light-brown);

    @include for-desktop {
        height: auto !important;
    }

    &>h1 {
        border-bottom: 1px solid var(--black);
    }

    &>article {
        @include grid(column, repeat(7, calc(100vh - 260px)), auto, inherit, inherit);
        width: 100%;
        overflow: hidden;

        @include for-desktop {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, auto);
        }

        @include for-largepad {
            grid-template-columns: auto;
        }

        @include for-landscape {
            grid-template-columns: repeat(2, auto);
        }

        .item {
            @include grid(row, auto, minmax(min-content, 1fr), inherit, 0.75rem);
            color: var(--black);
            padding: 6px;
            @include ease(.2s);

            &>img {
                height: auto;
            }

            .tag {
                @include flexbox-gap(row, center, flex-start, 0.75rem);
            }

            &:hover {
                @include filter-grayscale(1);
            }
        }
    }
}