.header .detail_link {
    font-size: 24px;
}

.header .detail_link .iconStyle {
    background: none;
    min-width: 32px;
    border: none;
    color: #fff;
    margin: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.header .detail_link .iconStyle:last-child {
    font-size: 26px;
}

.header .detail_link .iconStyle:hover {
    color: #4d717d;
}

.detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    min-height: 320px;
    border-radius: 5px;
    color: #4d717d;
    padding: 15px 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 5px 0 rgba(76, 108, 231, .12);
    box-shadow: 0 5px 5px 0 rgba(76, 108, 231, .12);
}

.detail table {
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin-top: 24px;
}

.detail table tbody tr {
    border-bottom: 1px solid rgba(77, 113, 125, .3);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.detail table tbody tr:hover {
    border-bottom: 1px solid rgba(77, 113, 125, 1);
}

.detail table tbody tr:hover td:first-child {
    color: rgba(77, 113, 125, 1);
}

.detail table tbody tr:last-child {
    border-bottom: none;
}

.detail table tbody tr td {
    padding: 10px 0;
}

.detail table tbody tr td:first-child {
    width: 25%;
    color: rgba(77, 113, 125, .7);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
