.head-bar {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: calc(100% - 240px);
    color: ddd;
    min-height: 64px;
    max-height: 1000px;
    margin-left: 240px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.head-bar .head-item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
}

.head-bar .head-item .head-title {
    color: #757575;
    font-weight: bold;
}

.head-bar .head-item .search_user {
    position: relative;
}

.head-bar .head-item .search_user .searchBtn {
    position: absolute;
    background: none;
    border: none;
    font-size: 22px;
    color: #4d717d;
    top: 8px;
}

.head-bar .head-item .search_user input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(77, 113, 125, .3);
    color: #4d717d;
    padding: 10px 0;
    padding-left: 32px;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), to(rgba(77, 113, 125, 1)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgba(77, 113, 125, 1));
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
}

.head-bar .head-item .search_user input:focus,
.head-bar .head-item .search_user input:valid {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.head-bar .head-item .search_user input::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.head-bar .head-item .search_user input:focus::-webkit-input-placeholder,
.head-bar .head-item .search_user input:valid::-webkit-input-placeholder {
    color: #4d717d;
    font-size: 11px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    visibility: visible !important;
}
