@keyframes scroll-bottom {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

@keyframes scroll-bottom {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

@keyframes circle-rotate {
    0% {
        border-radius: 50%;
        @include transform(rotate(0deg) scale(1));
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        @include transform(rotate(360deg) scale(1.2));
    }
}

@keyframes circle-scale {
    0% {
        @include transform(scale(1));
    }

    100% {
        @include transform(scale(.8));
    }
}