/* loading translate */
.scaleLoading {
    @include scale(3);
}
/* loading translate end */

/* menu translate */
.animate-translateX {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.animate-translateY {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    transform: translateY(0) !important;
}

.animate-scale { 
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
}

.animate-show {
    opacity: 1 !important;
    visibility: visible !important;
}
/* menu translate end */


@keyframes slide {
    25% {
        @include show();
    }

    50% {
        @include transform(rotate(-2.5deg) scale(1.1));
    }

    100% {
        @include hide();
    }
}


@keyframes infinity_slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}