.bento {
    @include grid(row, repeat(12, 1fr), repeat(6, 1fr), inherit, 1.5rem);
    height: inherit;
    padding: 1.5rem;

    @include for-iphone {
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: auto;
        gap: 1rem;
        padding: 1rem;
    }

    @include for-iphone-landscape {
        grid-template-rows: repeat(3, 1fr);
        height: auto;
        gap: 1rem;
        padding: 1rem;
    }
}

.card {
    position: relative;
    border: 1px solid var(--dark-blue);
    border-radius: 0.75rem;
    padding: 0.75rem;
    overflow: hidden;
    @include ease(.2s);
}

@mixin card-title() {
    @include flexbox-gap(column, start, start, .75rem);

    @include for-ipad-air {
        gap: .375rem;
    }

    h2 {
        color: var(--black);
        font-size: 1.25rem;
        font-weight: 600;

        @include for-ipad-air {
            font-size: 1.125rem;
        }
    }
}