// 日夜模式按鈕
.mode-switch {
    input {
        display: none;

        &:not(:checked) {
            &+label {
                span {
                    color: var(--dark-blue);

                    &:nth-child(2) {
                        color: var(--white);
                    }
                }

                span.circle {
                    left: calc(100% / 2);
                }
            }
        }
    }

    label {
        @include grid(column, auto, auto, center, inherit);
        cursor: pointer;
        position: relative;
        border: 0.063rem solid var(--dark-blue);
        border-radius: 3.125rem;
        cursor: pointer;

        &:hover {
            span.circle {
                box-shadow: 3px 3px 12px 0px var(--light-gray);
            }
        }

        span {
            color: var(--white);
            font-size: 1.25rem;
            padding: 0.188rem;
            z-index: 1;
            @include ease(.2s);

            @include for-ipad-air {
                font-size: 1.125rem;
            }

            &:nth-child(2) {
                color: var(--dark-blue);
            }
        }

        span.circle {
            position: absolute;
            background: var(--dark-blue);
            border-radius: 3.125rem;
            height: 100%;
            min-width: 25px;
            left: 0;
            z-index: unset;
            @include ease(.2s);
        }
    }
}