.youshii-btn {
    color: var(--black);
    @include ease(.2s);

    &:hover {
        color: var(--dark-blue);
    }
}

.youshii-tag {
    border: 0.063rem solid var(--black);
    border-radius: 0.313rem;
    padding: 0.375rem;

    @include for-desktop {
        font-size: 0.875rem;
    }

    @include for-phone {
        padding: 0.25rem;
    }
}