// Liquid Glass
@mixin liquid($radius, $padding) {
    /* 真正的液態關鍵：先模糊背景，再套用 SVG 濾鏡扭曲 */
    -webkit-backdrop-filter: blur(2px) url(#liquid_glass_filter);
    backdrop-filter: blur(2px) url(#liquid_glass_filter);


    // 邊緣高光：模擬光線照射在玻璃邊緣的厚度
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);

    // 多層陰影：內陰影營造厚度，外陰影營造懸浮感
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3); // 底部重音

    /* 半透明的背景色 */
    background: rgba(255, 255, 255, 0.4);
    border-radius: $radius;
    padding: $padding;

    @include ease(.3s);

    &:hover {
        @include scale(1.1);
    }
}

// 日夜模式按鈕
.mode-switch {

    input {
        display: none;

        &:not(:checked) {
            &+label {
                .icon {
                    color: var(--dark-brown);

                    &:nth-child(2) {
                        color: var(--white);
                    }
                }

                .circle {
                    left: calc(100% / 2);
                }
            }
        }
    }

    label {
        @include grid(column, center, 0.25rem);
        cursor: pointer;
        position: relative;
        cursor: pointer;

        .icon {
            color: var(--light-brown);
            width: 30px;
            height: 30px;
            padding: 3px;
            z-index: 1;
            @include ease(.2s);

            @include for-ipad-air {
                font-size: 1.125rem;
            }

            &:nth-child(2) {
                color: var(--dark-brown);
            }
        }

        .circle {
            position: absolute;
            background: var(--dark-brown);
            border-radius: 3.125rem;
            height: 100%;
            min-width: 30px;
            left: 0;
            z-index: unset;
            @include ease(.2s);
        }
    }
}