.cursor {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.063rem solid #{'rgba(var(--black-rgb), 0.5)'};
    pointer-events: none;
    z-index: 99;
    @include ease(.1s);

    @include for-ipad-pro {
        display: none !important;
    }
}

.is-home-anchor {
    @include flexbox(row, center, center);
    background: var(--dark-blue);
    border: none;
    opacity: .8;
    @include scale(5);

    &::before {
        content: "\e900";
        font-family: 'icomoon' !important;
        color: var(--white);
        font-size: 0.875rem;
        @include rotate(90deg);
    }
}

.is-app-sm-anchor {
    @extend .is-home-anchor;
}

.is-top-anchor {
    @extend .is-home-anchor;

    &::before {
        @include rotate(-90deg);
    }
}

.is-web-sm-anchor {
    @extend .is-top-anchor;
}

.is-visual-sm-anchor {
    @extend .is-home-anchor;
}

.is-switch {
    opacity: 0;
}


.is-link {
    @extend .is-home-anchor;

    &::before {
        content: "\e907";
        @include rotate(0deg);
    }
}

.is-return {
    @extend .is-home-anchor;

    &::before {
        @include rotate(180deg);
    }
}

.is-top-btn {
    opacity: 0;
}