.cursor {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.063rem solid #{'rgba(var(--black-rgb), 0.5)'};
    pointer-events: none;
    z-index: 99;
    @include ease(.1s);
}

.is-nav-anchor {
    @include scale(1.5);
    border-radius: 0;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.is-visual-anchor {
    @include flexbox(row, center, center);
    background: var(--dark-blue);
    border: none;
    opacity: .8;
    @include scale(5);

    &::before {
        content: "\e900";
        font-family: 'icomoon' !important;
        color: var(--white);
        font-size: 0.875rem;
        @include rotate(90deg);
    }
}

.is-link-anchor {
    @extend .is-visual-anchor;

    &::before {
        content: "\e907";
        @include rotate(0deg);
    }
}