.cursor {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.063rem solid #{'rgba(var(--black-rgb), 0.5)'};
    pointer-events: none;
    z-index: 99;
    @include ease(.1s);

    @include for-desktop {
        display: none;
    }
}

.is-hover {
    opacity: 0.2;
    @include scale(3);
}

.is-topBtn {
    opacity: 0;
}

.is-project,
.is-app {
    @include flexbox(row, center, center);
    background: var(--dark-blue);
    border: none;
    opacity: .8;
    @include scale(5);

    &::before {
        content: "\e907";
        font-family: 'icomoon' !important;
        color: var(--white);
        font-size: 0.875rem;
    }
}