@-webkit-keyframes fix-nav {
    0% {
        position: fixed;
        border: 0;
        top: -1.5rem;
        right: 1.5rem;
    }

    50% {
        position: fixed;
        border: 0;
        top: 32px;
        right: 1.5rem;
    }

    100% {
        position: fixed;
        border: 0;
        top: 1.5rem;
        right: 1.5rem;
    }
}

@keyframes fix-nav {
    0% {
        position: fixed;
        border: 0;
        top: -1.5rem;
        right: 1.5rem;
    }

    50% {
        position: fixed;
        border: 0;
        top: 32px;
        right: 1.5rem;
    }

    100% {
        position: fixed;
        border: 0;
        top: 1.5rem;
        right: 1.5rem;
    }
}

@-webkit-keyframes text-slide {
    0% {
        bottom: -3rem;
    }

    50% {
        bottom: 0.5rem;
    }

    100% {
        bottom: 0rem
    }
}

@keyframes text-slide {
    0% {
        bottom: -3rem;
    }

    50% {
        bottom: 0.5rem;
    }

    100% {
        bottom: 0rem
    }
}

@-webkit-keyframes text-slide-revert {
    0% {
        bottom: 0rem;
    }

    50% {
        bottom: 0.5rem;
    }

    100% {
        bottom: -3rem
    }
}

@keyframes text-slide-revert {
    0% {
        bottom: 0rem;
    }

    50% {
        bottom: 0.5rem;
    }

    100% {
        bottom: -3rem
    }
}

@-webkit-keyframes dark-brown-bg {
    0% {
        background: var(--light-brown);
    }

    100% {
        background: var(--dark-brown);
    }
}

@keyframes dark-brown-bg {
    0% {
        background: var(--light-brown);
    }

    100% {
        background: var(--dark-brown);
    }
}

@-webkit-keyframes black-bg {
    0% {
        background: var(--light-brown);
    }

    100% {
        background: var(--black);
    }
}

@keyframes black-bg {
    0% {
        background: var(--light-brown);
    }

    100% {
        background: var(--black);
    }
}

@-webkit-keyframes white-bg {
    0% {
        background: var(--light-brown);
    }

    100% {
        background: var(--white);
    }
}

@keyframes white-bg {
    0% {
        background: var(--light-brown);
    }

    100% {
        background: var(--white);
    }
}

@-webkit-keyframes figma-progress {
    to {
        --progress-value: 90;
    }
}

@keyframes figma-progress {
    to {
        --progress-value: 90;
    }
}

@-webkit-keyframes ps-progress {
    to {
        --progress-value: 80;
    }
}

@keyframes ps-progress {
    to {
        --progress-value: 80;
    }
}

@-webkit-keyframes ai-progress {
    to {
        --progress-value: 80;
    }
}

@keyframes ai-progress {
    to {
        --progress-value: 80;
    }
}

@-webkit-keyframes experience-counter {
    to {
        --counter-value: 6;
    }
}

@keyframes experience-counter {
    to {
        --counter-value: 6;
    }
}

@-webkit-keyframes project-counter {
    to {
        --counter-value: 30;
    }
}

@keyframes project-counter {
    to {
        --counter-value: 30;
    }
}

@-webkit-keyframes clients-counter {
    to {
        --counter-value: 15;
    }
}

@keyframes clients-counter {
    to {
        --counter-value: 15;
    }
}

@-webkit-keyframes clip-path-youshii {

    0% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }

    100% {
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    }
}

@keyframes clip-path-youshii {

    0% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }

    100% {
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    }
}

@-webkit-keyframes clip-path-youshii-revert {

    0% {
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }
}

@keyframes clip-path-youshii-revert {

    0% {
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }
}

@-webkit-keyframes loading-opacity-revert {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading-opacity-revert {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes clip-left-to-right {

    0% {
        -webkit-clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes clip-left-to-right {

    0% {
        -webkit-clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@-webkit-keyframes clip-right-to-left {

    0% {
        -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes clip-right-to-left {

    0% {
        -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@-webkit-keyframes launch-screen {

    0% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }

    100% {
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    }
}

@keyframes launch-screen {

    0% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }

    100% {
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
        clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    }
}

@-webkit-keyframes line {
    50% {
        border-right: transparent;
    }
}

@keyframes line {
    50% {
        border-right: transparent;
    }
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes clip-path-left-to-right {
    from {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    }

    to {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}

@keyframes clip-path-left-to-right {
    from {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    }

    to {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}