@-webkit-keyframes line {
    50% {
        border-right: transparent;
    }
}

@keyframes line {
    50% {
        border-right: transparent;
    }
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}