/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        /* color HEX */
        --black: #ffffff;
        --white: #000000;
        --light-gray: #ffffff;
        --dark-gray: #ffffff;
        --light-blue: #F5EFE6;
        --dark-blue: #E8DFCA;
        --light-brown: #AEBDCA;
        --dark-brown: #7895B2;

        /* color RGB include example #{'rgba(var(--black-rgb), 0.5)'} */
        --black-rgb: 255, 255, 255;
        --white-rgb: 0, 0, 0;
        --light-gray-rgb: 255, 255, 255;
        --dark-gray-rgb: 255, 255, 255;
        --light-blue-rgb: 245, 239, 230;
        --dark-blue-rgb: 232, 223, 202;
        --light-brown-rgb: 174, 189, 202;
        --dark-brown-rgb: 120, 149, 178;
    }

    .home .youshii-ci-top>img,
    .home .youshii-ci-bottom>img {
        filter: invert(1);
    }

    .scroll-bar {
        .line {
            &::before {
                background: var(--dark-brown);
            }
        }
    }

    .youshii-mode-switch {
        display: none;
    }

    .about {
        filter: grayscale(1) invert(1) contrast(1);
        color: #000;

        &>article {
            border-color: #000;
        }

        .skill {
            .item {
                &>h4 {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }

    .flow,
    .wireframe {
        &>article {
            &>img {
                background: #fff;
            }
        }
    }

    .designGuideline {
        .component {
            &>img {
                background: #fff;
            }
        }
    }

    .web,
    .app,
    .intro {
        background: #000;
    }

    .mockup {
        background: linear-gradient(to bottom right, var(--white) 0%, var(--white) 50%, var(--light-brown) 50%, var(--light-brown) 100%);

        &>article {
            &>img {
                box-shadow: -15px 15px 20px #{'rgba(var(--white-rgb), 0.5)'};
            }
        }
    }
}

/* dark mode end*/