*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    /* color HEX */
    --white: #ffffff;
    --black: #000000;
    --light-gray: #CCCCCC;
    --dark-gray: #666666;
    --light-brown: #F5EFE6;
    --dark-brown: #E8DFCA;
    --light-blue: #AEBDCA;
    --dark-blue: #7895B2;

    /* color RGB include example #{'rgba(var(--black-rgb), 0.5)'} */
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --light-gray-rgb: 204, 204, 204;
    --dark-gray-rgb: 102, 102, 102;
    --light-brown-rgb: 245, 239, 230;
    --dark-brown-rgb: 232, 223, 202;
    --light-blue-rgb: 174, 189, 202;
    --dark-blue-rgb: 120, 149, 178;

    /* blockchain ci hex*/
    --bc-green: #1eac8d;
    --bc-yellow: #f5e0ad;
    --bc-blue: #94d9d4;

    /* blockchain ci rgb*/
    --bc-green-rgb: 30, 172, 141;
    --bc-yellow-rgb: 245, 224, 173;
    --bc-blue-rgb: 148, 217, 212;

    /* mimir ci hex*/
    --mimir-white: #f5f4ef;
    --mimir-white-2: #f4f4f9;
    --mimir-logo-blue: #09a3ea;
    --mimir-light-blue: #9fd7e3;
    --mimir-dark-blue: #72bdc7;
    --mimir-dark-yellow: #e8861d;

    /* mimir ci rgb*/
    --mimir-white-rgb: 245, 244, 239;
    --mimir-white-2-rgb: 244, 244, 249;
    --mimir-light-blue-rgb: 159, 215, 227;
    --mimir-logo-blue-rgb: 9, 163, 234;
    --mimir-dark-blue-rgb: 114, 189, 199;
    --mimir-dark-yellow-rgb: 232, 134, 29;

    /* wtmec ci hex*/
    --wtmec-white: #F4F3EF;
    --wtmec-green: #75A342;
    --wtmec-brown: #A35342;
    --wtmec-purple: #855771;

    /* wtmec ci rgb*/
    --wtmec-white-rgb: 244, 243, 239;
    --wtmec-green-rgb: 117, 163, 66;
    --wtmec-brown-rgb: 163, 83, 66;
    --wtmec-purple-rgb: 133, 87, 113;

    /* lifeinmyan ci hex*/
    --lifeinmyan-yellow: #F6AB00;
    --lifeinmyan-pink: #ffbab5;
    --lifeinmyan-red: #d82316;
    --lifeinmyan-blue: #46d3cd;
    --lifeinmyan-light-green: #6cbb5a;
    --lifeinmyan-dark-green: #539b34;

    /* lifeinmyan ci rgb*/
    --lifeinmyan-yellow-rgb: 246, 171, 0;
    --lifeinmyan-pink-rgb: 255, 186, 181;
    --lifeinmyan-red-rgb: 216, 35, 22;
    --lifeinmyan-blue-rgb: 70, 211, 205;
    --lifeinmyan-light-green-rgb: 108, 187, 90;
    --lifeinmyan-dark-green-rgb: 83, 155, 52;

}

html {
    scroll-snap-type: y proximity;

    &[data-theme="dark"] {
        /* color HEX */
        --black: #ffffff;
        --white: #000000;
        --light-gray: #ffffff;
        --dark-gray: #ffffff;
        --light-blue: #F5EFE6;
        --dark-blue: #E8DFCA;
        --light-brown: #AEBDCA;
        --dark-brown: #7895B2;

        /* color RGB include example #{'rgba(var(--black-rgb), 0.5)'} */
        --black-rgb: 255, 255, 255;
        --white-rgb: 0, 0, 0;
        --light-gray-rgb: 255, 255, 255;
        --dark-gray-rgb: 255, 255, 255;
        --light-blue-rgb: 245, 239, 230;
        --dark-blue-rgb: 232, 223, 202;
        --light-brown-rgb: 174, 189, 202;
        --dark-brown-rgb: 120, 149, 178;

        .home .youshii-ci-top>img,
        .home .youshii-ci-bottom>img {
            filter: invert(1);
        }

        .scroll-bar {
            .line {
                &::before {
                    background: #000;
                }
            }
        }

        .about {
            filter: grayscale(1) invert(1) contrast(1);
            color: #000;

            &>article {
                border-color: #000;
            }

            .skill {
                .item {
                    &>h4 {
                        background: #000;
                        color: #fff;
                    }
                }
            }
        }

        .web,
        .app {
            background: #000;
        }
    }
}

body {
    background: var(--white);
    font-family: 'Noto Sans TC' !important;
    color: var(--dark-gray);
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    @include mac-scrollbar-style();

    &[data-loading="true"] {

        header,
        .top-btn,
        .scroll-bar {
            @include filter-blur(10px);
            @include hide();
        }

        .home {
            background: var(--white);
            position: fixed;
            width: 100%;
            z-index: 99;

            &:before,
            &::after {
                @include hide();
            }

            .slogan {
                @include filter-blur(10px);
                @include hide();
            }

            .youshii-ci {

                &-top,
                &-bottom {
                    .youshii-skill {
                        @include filter-blur(10px);
                        @include hide();
                    }

                    &::after {
                        width: 0;
                    }
                }
            }

            .ci-blur {
                @include filter-blur(32px);
                @include hide();
            }
        }

        .intro {
            .title {
                .youshii-skill {
                    @include filter-blur(10px);
                    @include hide();
                }

                &::after {
                    width: 0;
                }
            }

            &>article {
                @include filter-blur(10px);
                @include hide();
            }

            .ci-blur {
                @include filter-blur(32px);
                @include hide();
            }
        }
    }
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 300;
}

h1 {
    font-size: 8rem;

    @include for-desktop {
        font-size: 6rem;
    }

    @include for-phone {
        font-size: 4rem;
    }
}

h4 {
    font-size: 1.5rem;

    @include for-desktop {
        font-size: 1.125rem;
    }
}

p {
    margin: 0;
    line-height: 1.5em;
}

.icon {
    font-size: 1.125rem;

    @include for-desktop {
        font-size: 1rem;
    }

    @include for-largepad {
        font-size: 1.5rem;

    }
}