*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC' !important;
    color: var(--dark-gray);
    overflow: hidden;
    overflow-y: scroll;
    @include mac-scrollbar-style();

    &[data-loading="true"] {

        header,
        .top-btn {
            @include filter-blur(10px);
            @include hide();
        }

        .home {
            background: var(--white);
            position: fixed;
            width: 100%;
            z-index: 99;

            &:before,
            &::after {
                @include hide();
            }

            .slogan,
            .scroll-bar {
                @include filter-blur(10px);
                @include hide();
            }

            .youshii-ci {

                &-top {
                    .youshii-position {
                        @include filter-blur(10px);
                        @include hide();
                    }

                    &::after {
                        width: 0;
                    }
                }

                &-bottom {
                    .youshii-skill {
                        @include filter-blur(10px);
                        @include hide();
                    }

                    &::after {
                        width: 0;
                    }
                }
            }

            .ci-blur {
                @include filter-blur(32px);
                @include hide();
            }
        }
    }
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 300;
}

h1 {
    font-size: 8rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin: 0;
    line-height: 1.5em;
}

.icon {
    font-size: 1.125rem;
}

:root {
    /* color HEX */
    --white: #ffffff;
    --black: #000000;
    --light-gray: #CCCCCC;
    --dark-gray: #666666;
    --light-brown: #F5EFE6;
    --dark-brown: #E8DFCA;
    --light-blue: #AEBDCA;
    --dark-blue: #7895B2;

    /* color RGB include example #{'rgba(var(--black-rgb), 0.5)'} */
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --light-gray-rgb: 204, 204, 204;
    --dark-gray-rgb: 102, 102, 102;
    --light-brown-rgb: 245, 239, 230;
    --dark-brown-rgb: 232, 223, 202;
    --light-blue-rgb: 174, 189, 202;
    --dark-blue-rgb: 120, 149, 178;
}