*,
*:before,
*:after {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 300;
}