/** animate **/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
:root {
  --bgcolor: #fdf9f7;
  --fontColor: #666666;
  --white: #ffffff;
  --gray: #686868;
  --black: #303030;
  --yellow: #d8c7ac;
  --blue: #e6f2ff;
  /* color rgb */
  --black-rgb: 48,48,48;
  --popwindow-bg: 48,48,48;
}
/* font size */
/* fill width */
/* h2:before :after line */
/* scrollbar style */
body {
  background: var(--bgcolor);
  width: 100%;
  height: 100vh;
  color: var(--fontColor);
  font-family: 'Noto Sans TC' !important;
  font-size: 1rem;
}
body::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 16px;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-button {
  display: none;
}
body #loading {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: fixed;
  background: var(--bgcolor);
  width: 100%;
  height: 100%;
  z-index: 99999;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
body #loading object {
  width: 30%;
  height: 30%;
}
body .header {
  position: fixed;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
}
body .header .logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  width: 120px;
  margin-left: 50px;
  text-decoration: none;
  outline: none;
}
body .header .logo img {
  width: 100%;
  height: 100%;
}
body .header .menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 21px;
  padding-right: 14px;
}
body .header .menu .menu_item {
  position: relative;
  color: var(--fontColor);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body .header .menu .menu_item::after {
  content: '';
  position: absolute;
  background: var(--gray);
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  -webkit-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -moz-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -o-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
body .header .menu .menu_item:hover:after {
  -webkit-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body .header .menu .menu_item_focus:after {
  -webkit-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform: scaleX(1) translateY(-11px);
  -moz-transform: scaleX(1) translateY(-11px);
  -o-transform: scaleX(1) translateY(-11px);
  transform: scaleX(1) translateY(-11px);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body .header .menu .nav_line {
  display: block;
  height: 1px;
  width: 10px;
  background: var(--black);
  margin: 3px 14px 0 12px;
  -webkit-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}
body .header .sns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-right: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body .header .sns::before {
  content: '';
  display: block;
  position: relative;
  background: var(--black);
  width: 30px;
  margin-right: 5px;
  height: 1px;
  top: 1px;
  -webkit-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body .header .sns .mode-select {
  position: relative;
  color: var(--fontColor);
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body .header .sns .mode-select::after {
  content: '';
  position: absolute;
  background: var(--gray);
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  -webkit-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -moz-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -o-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
body .header .sns .mode-select:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
body .header .sns .mode-select:hover:after {
  -webkit-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body .header .sns > a {
  position: relative;
  color: var(--fontColor);
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body .header .sns > a::after {
  content: '';
  position: absolute;
  background: var(--gray);
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  -webkit-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -moz-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -o-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
body .header .sns > a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
body .header .sns > a:hover:after {
  -webkit-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body .header .m_nav_switch {
  display: none;
  position: absolute;
  width: 65px;
  height: 20px;
  cursor: pointer;
  top: 50px;
  right: 20px;
  z-index: 10;
}
body .header .m_nav_switch::before {
  content: '';
  display: block;
  position: relative;
  background: var(--black);
  width: 30px;
  height: 1px;
  top: 9px;
  right: 30px;
  -webkit-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body .header .m_nav_switch .m_open_btn {
  position: absolute;
  color: var(--fontColor);
  margin-left: 10px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body .header .m_nav_switch .m_close_btn {
  position: absolute;
  color: var(--fontColor);
  margin-left: 10px;
  text-decoration: none;
  outline: none;
  -webkit-transform: translateX(0) rotateY(360deg) scale(0);
  -moz-transform: translateX(0) rotateY(360deg) scale(0);
  -o-transform: translateX(0) rotateY(360deg) scale(0);
  transform: translateX(0) rotateY(360deg) scale(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body #wrapper {
  padding-top: 7.5rem;
  overflow: hidden;
}
body #wrapper .banner {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 82vh;
}
body #wrapper .banner .banner_inner {
  position: relative;
  width: 70%;
  height: 100%;
}
body #wrapper .banner .banner_inner .youshiiDesignLoop {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0.2 !important;
  bottom: 20%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 2;
}
body #wrapper .banner .banner_inner .youshiiDesignLoop > img {
  width: 100%;
  animation: infinity_slide 30s linear infinite;
}
body #wrapper .banner .banner_inner .youshiiDesignLoop > img:last-child {
  margin-left: 5rem;
}
body #wrapper .banner .banner_inner .message {
  position: absolute;
  width: auto;
  font-size: 0.8rem;
  letter-spacing: 1.17px;
  line-height: 1.5em;
  left: -13rem;
  bottom: 8.5%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
body #wrapper .banner .banner_inner .message .message_line {
  background: var(--fontColor);
  width: 56rem;
  height: 0.1rem;
  margin-bottom: 1rem;
}
body #wrapper .banner .banner_inner .slideImg {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
body #wrapper .banner .banner_inner .slideImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  animation: slide 10s infinite;
}
body #wrapper .banner .banner_inner .slideImg img:nth-child(2) {
  animation-delay: 5s;
}
body #wrapper .about {
  position: relative;
  margin-top: 6rem;
  padding: 0 6rem;
}
body #wrapper .about > h2 {
  position: relative;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.1em;
}
body #wrapper .about > h2:before {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--gray);
  width: 100px;
  height: 1px;
  margin-top: 0;
  left: 0;
  bottom: -36%;
}
body #wrapper .about .about_inner {
  padding-top: 3rem;
}
body #wrapper .about .about_inner > div {
  margin-bottom: 16px;
  line-height: 1.5em;
}
body #wrapper .skill {
  position: relative;
  margin-top: 6rem;
}
body #wrapper .skill > h2 {
  position: relative;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.1em;
  padding-left: 27%;
}
body #wrapper .skill > h2:before {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--gray);
  width: 1px;
  height: 100px;
  margin-top: 0;
  top: 8px;
  left: 26%;
}
body #wrapper .skill .skill_inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  padding-top: 6rem;
}
body #wrapper .skill .skill_inner .skill_bg {
  width: 18.5%;
}
body #wrapper .skill .skill_inner .skill_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #wrapper .skill .skill_inner .skill_bg_right {
  width: 30%;
  margin-left: 22rem;
  margin-top: 20rem;
}
body #wrapper .skill .skill_inner .skill_bg_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #wrapper .skill .skill_inner .skill_list {
  margin-left: 13rem;
}
body #wrapper .skill .skill_inner .skill_list .communication_list {
  font-size: 1rem;
  margin-bottom: 4rem;
}
body #wrapper .skill .skill_inner .skill_list .communication_list > h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
body #wrapper .skill .skill_inner .skill_list .communication_list .skill_item {
  margin-bottom: 1rem;
}
body #wrapper .skill .skill_inner .skill_list .communication_list .skill_item:last-child {
  margin: 0;
}
body #wrapper .skill .skill_inner .skill_list .create_list {
  font-size: 1rem;
  margin-bottom: 4rem;
}
body #wrapper .skill .skill_inner .skill_list .create_list > h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
body #wrapper .skill .skill_inner .skill_list .create_list .skill_item {
  margin-bottom: 1rem;
}
body #wrapper .skill .skill_inner .skill_list .create_list .skill_item:last-child {
  margin: 0;
}
body #wrapper .skill .skill_inner .skill_list .technology_list {
  font-size: 1rem;
  margin-bottom: 4rem;
}
body #wrapper .skill .skill_inner .skill_list .technology_list > h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
body #wrapper .skill .skill_inner .skill_list .technology_list .skill_item {
  margin-bottom: 1rem;
}
body #wrapper .skill .skill_inner .skill_list .technology_list .skill_item:last-child {
  margin: 0;
}
body #wrapper .skill .skill_inner .skill_list .tool_list {
  font-size: 1rem;
  margin-bottom: 4rem;
}
body #wrapper .skill .skill_inner .skill_list .tool_list > h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
body #wrapper .skill .skill_inner .skill_list .tool_list .skill_item {
  margin-bottom: 1rem;
}
body #wrapper .skill .skill_inner .skill_list .tool_list .skill_item:last-child {
  margin: 0;
}
body #wrapper .appProject {
  position: relative;
  margin-top: 6rem;
}
body #wrapper .appProject:before {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--blue);
  width: 70.7%;
  height: 58%;
  margin-left: 29.3%;
  bottom: 0;
  right: 0;
  z-index: -1;
}
body #wrapper .appProject > h2 {
  position: relative;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.1em;
  padding-left: 11%;
}
body #wrapper .appProject > h2:before {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--gray);
  width: 1px;
  height: 100px;
  margin-top: 0;
  top: 8px;
  left: 10%;
}
body #wrapper .appProject .appProjectList {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  padding: 44px 16px 44px 24%;
}
body #wrapper .appProject .appProjectList .appProjectItem {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: calc((100%/6) - 16px);
  cursor: pointer;
  padding: 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .appProject .appProjectList .appProjectItem .appProjectItem-cover {
  position: relative;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .appProject .appProjectList .appProjectItem .appProjectItem-cover > img {
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .appProject .appProjectList .appProjectItem > h3 {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
}
body #wrapper .appProject .appProjectList .appProjectItem:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
  -moz-box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
  box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
}
body #wrapper .appProject .appProject_info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: fixed;
  background: rgba(var(--popwindow-bg), 0.5);
  backdrop-filter: blur(2em);
  -webkit-backdrop-filter: blur(2em);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  z-index: 9999;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .appProject .appProject_info_closeBtn {
  position: absolute;
  top: 44px;
  right: 44px;
  color: var(--white);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper .appProject .appProject_info_closeBtn:hover {
  color: var(--yellow);
}
body #wrapper .appProject .appProject_info > img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: contain;
  opacity: 0;
  visibility: hidden;
}
body #wrapper .appProject .appProject_info .imgShow {
  opacity: 1;
  visibility: visible;
}
body #wrapper .appProject .active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
body #wrapper .project {
  position: relative;
  margin-top: 6rem;
}
body #wrapper .project:before {
  content: " ";
  position: absolute;
  width: 85%;
  height: 80%;
  margin: auto;
  border: 1px solid var(--gray);
  top: 10%;
  left: 0;
  right: 0;
}
body #wrapper .project > h2 {
  position: relative;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-align: center;
}
body #wrapper .project > h2:before {
  display: block;
  content: '';
  position: absolute;
  margin: auto;
  background-color: var(--gray);
  width: 1px;
  height: 100px;
  margin-top: 0;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 1;
}
body #wrapper .project > h2:after {
  content: '';
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1rem;
  height: 100px;
}
body #wrapper .project .project_inner {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding: 70px 0 0 0;
}
body #wrapper .project .project_inner .project_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  background: var(--bgcolor);
  width: 27%;
}
body #wrapper .project .project_inner .project_item .project_link {
  width: 100%;
}
body #wrapper .project .project_inner .project_item .project_link a {
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(var(--black-rgb), 0.19);
}
body #wrapper .project .project_inner .project_item .project_link a img {
  width: 100%;
  height: 100%;
}
body #wrapper .project .project_inner .project_item .project_link a:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
  -moz-box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
  box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
}
body #wrapper .project .project_inner .project_item .project_info {
  margin-top: 22px;
}
body #wrapper .project .project_inner .project_item .project_info .project_title {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  margin-bottom: 1.5rem;
}
body #wrapper .project .project_inner .project_item .project_info .project_des {
  font-size: 1rem;
  letter-spacing: 1.4px;
  margin-bottom: 1rem;
}
body #wrapper .project .project_inner .project_item:nth-child(even) {
  margin-top: 100px;
}
body #wrapper .design {
  position: relative;
  margin-top: 6rem;
}
body #wrapper .design > h2 {
  position: relative;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-align: right;
  padding-right: 13rem;
}
body #wrapper .design > h2:before {
  display: block;
  content: '';
  position: absolute;
  margin: auto;
  background-color: var(--gray);
  width: 1px;
  height: 100px;
  margin-top: 0;
  top: 4.5rem;
  right: 13rem;
  z-index: 1;
}
body #wrapper .design > h2:after {
  display: block;
  content: '';
  position: absolute;
  background: var(--gray);
  width: 100%;
  height: 1px;
  margin: auto;
  margin-top: 0;
  top: 5.5rem;
  right: 13rem;
  z-index: 1;
}
body #wrapper .design .design_inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px 0 0 0;
}
body #wrapper .design .design_inner .design_item {
  width: 18%;
  color: var(--fontColor);
  cursor: pointer;
  margin: 0.3rem;
  padding: 0.5rem;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body #wrapper .design .design_inner .design_item .design_img img {
  width: 100%;
  height: 100%;
}
body #wrapper .design .design_inner .design_item .design_info {
  margin: 1.5rem auto;
}
body #wrapper .design .design_inner .design_item .design_info .design_title {
  font-size: 1rem;
}
body #wrapper .design .design_inner .design_item:hover {
  position: relative;
  -webkit-box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
  -moz-box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
  box-shadow: 0 10px 20px 0 rgba(var(--black-rgb), 0.19);
  z-index: 10;
}
body #wrapper .colophon {
  margin-top: 6rem;
}
body #wrapper .colophon .colophon_inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--gray);
  padding: 1.5rem 0;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left {
  width: 50%;
  padding-right: 1.5rem;
  border-right: 1px solid var(--gray);
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left .colophon_inner_top_left_header {
  width: 50%;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left .colophon_inner_top_left_header img {
  width: 100%;
  height: 100%;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left .colophon_inner_top_left_menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  cursor: pointer;
  margin-top: 1.5rem;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left .colophon_inner_top_left_menu .menu_item {
  position: relative;
  color: var(--fontColor);
  cursor: pointer;
  margin: 0.5rem;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left .colophon_inner_top_left_menu .menu_item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background: var(--gray);
  -webkit-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -moz-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -o-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left .colophon_inner_top_left_menu .menu_item:hover:after {
  -webkit-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_left .colophon_inner_top_left_menu .menu_item_focus:after {
  -webkit-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform: scaleX(1) translateY(-11px);
  -moz-transform: scaleX(1) translateY(-11px);
  -o-transform: scaleX(1) translateY(-11px);
  transform: scaleX(1) translateY(-11px);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right {
  width: 50%;
  padding-left: 1.5rem;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_header {
  font-size: 2.5rem;
  color: var(--black);
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin-right: 1.5rem;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item i {
  margin-right: 1rem;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item a {
  position: relative;
  color: var(--fontColor);
  margin-right: 1rem;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background: var(--gray);
  -webkit-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -moz-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -o-transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  transition: transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item a:hover:after {
  -webkit-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -o-transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item a:last-child {
  margin: 0;
}
body #wrapper .colophon .colophon_inner .colophon_inner_top .colophon_inner_top_right .colophon_inner_top_right_contact .colophon_inner_top_right_contact_item:last-child {
  margin: 0;
}
body #wrapper .colophon .colophon_inner .colophon_inner_bottom {
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray);
}
body #wrapper #topbtn {
  position: fixed;
  cursor: pointer;
  font-size: 2.5rem;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #topbtn:hover {
  color: var(--yellow);
}
