@import './mixins/_allMixins.less';
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    .bgwh(var(--bgcolor),100%,100vh);
    color: var(--fontColor);
    font-family: 'Noto Sans TC' !important;
    font-size: @fontSize;
    .mac-scrollbar-style();

    #loading {
        position: fixed;
        .flexbox(row, center, center);
        .bgwh(var(--bgcolor),100%,100%);
        z-index: 99999;
        .ease(2s);

        object {
            .wh(30%,30%);
        }
    }

    .header {
        .flexbox(row, center, space-between);
        .wh(100vw,120px);
        .position-style(fixed,0,auto,auto,0);
        z-index: 100;

        & .logo {
            .flexbox(row, center, center);
            width: 120px;
            margin-left: 50px;
            .link-default();

            & img {
                .wh(100%,100%);
            }
        }

        .menu {
            .flexbox(row, center, flex-end);
            .wh(100%,21px);
            padding-right: 14px;

            &_item {
                position: relative;
                color: var(--fontColor);
                cursor: pointer;
                .hide();
                .scale(0);
                .ease(.3s);

                &::after {
                    content: '';
                    position: absolute;
                    .bgwh(var(--gray),100%,1px);                    
                    .position-style(absolute,auto,auto,-5px,0);
                    .transition(transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96));
                    .scaleX(0);
                    .transform-origin(right);
                }

                &:hover {
                    &:after {
                        .transition(transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1));
                        .scaleX(1);
                        .transform-origin(left);
                    }
                }
            }

            &_item_focus {
                &:after {
                    .transition(transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1));
                    .transform(scaleX(1) translateY(-11px));
                    .transform-origin(left);
                }
            }

            .nav_line {
                display: block;
                .bgwh(var(--black),10px,1px);
                margin: 3px 14px 0 12px;
                .transition(transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1));
                .transform-origin(left bottom);
            }
        }

        .sns {
            .flexbox(row, center, center);
            font-size: @fontSize + 0.2;
            margin-right: 25px;
            .ease(.3s);

            &::before {
                content: '';
                display: block;
                position: relative;
                .bgwh(var(--black),30px,1px);
                margin-right: 5px;
                top: 1px;
                .transition(transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1));
                .transform-origin(left);
            }

            .mode-select{
                position: relative;
                color: var(--fontColor);
                cursor: pointer;
                margin-left: 10px;
                .link-default();
                .hide();
                .scale(0);
                .ease(.3s);

                &::after {
                    content: '';
                    .bgwh(var(--gray),100%,1px);                       
                    .position-style(absolute,auto,auto,-5px,0);
                    .transition(transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96));
                    .scaleX(0);
                    .transform-origin(right);
                }

                &:hover {
                    .scale(1.1);

                    &:after {
                        .transition(transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1));
                        .scaleX(1);
                        .transform-origin(left);
                    }
                }
            }

            & > a {
                .mode-select;
            }
        }

        .m_nav_switch {
            display: none;
            .wh(65px,20px);               
            .position-style(absolute,50px,20px,auto,auto);
            cursor: pointer;
            z-index: 10;

            &::before {
                content: '';
                display: block;
                position: relative;
                .bgwh(var(--black),30px,1px);
                top: 9px;
                right: 30px;
                .transition(transform 0.6s cubic-bezier(0.08, 0.92, 0.35, 1));
                .transform-origin(left);
                .ease(.5s);
            }

            .m_open_btn {
                position: absolute;
                color: var(--fontColor);
                margin-left: 10px;
                .link-default();
                .ease(.5s);
            }

            .m_close_btn {
                position: absolute;
                color: var(--fontColor);
                margin-left: 10px;
                .link-default();
                .transform(translateX(0) rotateY(360deg) scale(0));
                .ease(.5s);
            }
        }
    }

    #wrapper {
        padding-top: 7.5rem;
        overflow: hidden;

        .banner {
            position: relative;
            .flexbox(row, center, flex-end);
            .wh(100%,82vh);

            &_inner {
                position: relative;
                .wh(70%,100%);


                .youshiiDesignLoop {
                    .flexbox(row, center, space-between);  
                    width: 100%;
                    .position-style(absolute,auto,auto,20%,auto);
                    opacity: 0.2 !important;
                    .scale(1.5);
                    .hide();
                    .linear(.3s);
                    z-index: 2;

                    &>img {
                        width: 100%;
                        animation: infinity_slide 30s linear infinite;

                        &:last-child {
                            margin-left: 5rem;
                        }
                    }

                }

                .message {
                    width: auto;
                    font-size: @fontSize - 0.2;
                    letter-spacing: 1.17px;
                    line-height: 1.5em;                    
                    .position-style(absolute,auto,-13rem,8.5%,auto);
                    z-index: 2;
                    .hide();
                    .translateX(-100%);
                    .linear(.3s);

                    .message_line {
                        .bgwh(var(--fontColor),56rem,0.1rem);
                        margin-bottom: 1rem;

                    }
                }

                .slideImg {
                    .wh(100%,100%);
                    .position-style(absolute,0,0,auto,auto);
                    overflow: hidden;
                    .hide();
                    .translateX(100%);
                    .linear(.3s);

                    & img {
                        .wh(100%,100%);
                        .position-style(absolute,0,auto,auto,0);
                        .hide();
                        animation: slide 10s infinite;

                        &:nth-child(2) {
                            animation-delay: 5s;
                        }
                    }
                }
            }
        }

        .about{            
            position: relative;
            margin-top: 6rem;
            padding: 0 6rem;

            &>h2 {
                position: relative;
                .font-style(3rem,lighter,0.1em);

                &:before {
                    display: block;
                    content: '';
                    .bgwh(var(--gray),100px,1px);
                    margin-top: 0;
                    .position-style(absolute,auto,auto,-36%,0);
                }
            }
            &_inner{
                padding-top: 3rem;

                & > div{
                    margin-bottom: 16px;
                    line-height: 1.5em;
                }
            }
        }

        .skill {
            position: relative;
            margin-top: 6rem;

            &>h2 {
                position: relative;
                .font-style(3rem,lighter,0.1em);
                padding-left: 27%;

                &:before {
                    display: block;
                    content: '';                
                    .bgwh(var(--gray),1px,100px);
                    margin-top:0px;
                    .position-style(absolute,8px,auto,auto,26%);
                }
            }

            &_inner {
                .flexbox(row, flex-start, space-between);
                padding-top: 6rem;

                .skill_bg {
                    width: 18.5%;

                    & img {
                        .wh(100%,100%);
                        object-fit: cover;
                    }
                }

                .skill_bg_right {
                    .skill_bg;
                    width: 30%;
                    margin-left: 22rem;
                    margin-top: 20rem;
                }

                .skill_list {

                    margin-left: 13rem;

                    .skill_list_style{
                        font-size: 1rem;
                        margin-bottom: 4rem;

                        &>h2 {
                            font-size: 1.5rem;
                            margin-bottom: 1.5rem;
                        }

                        .skill_item {
                            margin-bottom: 1rem;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .appProject {
            position: relative;
            margin-top: 6rem;

            &:before {
                display: block;
                content: '';
                .bgwh(var(--blue),70.7%,58%);
                margin-left: 29.3%;
                .position-style(absolute,auto,0,0,auto);
                z-index: -1;
            }

            &>h2 {
                position: relative;
                .font-style(3rem,lighter,0.1em);
                padding-left: 11%;

                &:before {
                    display: block;
                    content: '';               
                    .bgwh(var(--gray),1px,100px);
                    .position-style(absolute,8px,auto,auto,10%);
                    margin-top:0;
                }
            }

            .appProjectList {
                .flexbox-gap-wrap(row,flex-start,flex-start,16px,wrap);
                .fill-available();
                padding: 44px 16px 44px 24%;

                .appProjectItem {
                    .flexbox-gap(column, flex-start, flex-start,16px);
                    width: calc((100%/6) - 16px);
                    cursor: pointer;
                    padding: 12px;
                    .ease(.2s);

                    .appProjectItem-cover {
                        position: relative;
                        .link-default();
                        .ease(.2s);

                        &>img {
                            width: 100%;
                            .ease(.2s);
                        }
                    }

                    & > h3{
                        font-size: @fontSize + 0.5;
                        letter-spacing: 2.5px;
                    }

                    &:hover {
                        .box-shadow(0,10px,20px,0,rgba(var(--black-rgb), 0.19));
                    }
                }
            }

            .appProject_info{
                .flexbox(row,center,center);
                .bgwh(rgba(var(--popwindow-bg),.5),100vw,100vh);
                .background-blur(2em);
                .position-style(fixed,0,0,0,0);
                .hide();
                .scaleY(0);
                z-index: 9999;
                .ease(.2s);
                &_closeBtn{
                    .position-style(absolute,44px,44px,auto,auto);
                    color: var(--white);
                    cursor: pointer;
                    z-index: 10;
                    .ease(.2s);
                    &:hover{
                        color: var(--yellow);
                    }
                }
                & > a{
                    .flexbox(row,center,center);
                }
                & > img , a{       
                    position: absolute;
                    .wh(90%,90%);
                    object-fit: contain;
                    .hide();
                }
                .imgShow{
                    .show();
                }
            }
            .active{
                .show();
                .scaleY(1);
            }
        }

        .project {
            position: relative;
            margin-top: 6rem;

            &:before {
                content: " ";
                .position-style(absolute,10%,0,auto,0);
                .wh(85%,80%);
                margin: auto;
                border: 1px solid var(--gray);
            }

            &>h2 {
                position: relative;
                .font-style(3rem,lighter,0.1em);
                text-align: center;

                &:before {
                    display: block;
                    content: '';     
                    .bgwh(var(--gray),1px,100px);    
                    .position-style(absolute,4rem,0,auto,0);
                    margin: auto;            
                    margin-top: 0;             
                    z-index: 1;
                }

                &:after {
                    content: '';
                    .wh(1rem,100px);
                    .position-style(absolute,4rem,0,auto,0);
                    margin: auto;
                }
            }

            .project_inner {
                position: relative;
                .flexbox-wrap(row, center, space-around,wrap);
                width: 100%;
                margin: auto;
                padding: 70px 0 0 0;

                .project_item {
                    .flexbox(column, flex-start, flex-start);
                    background: var(--bgcolor);
                    width: 27%;

                    .project_link {
                        width: 100%;

                        & a {
                            display: block;
                            .wh(100%,100%);
                            color: rgba(var(--black-rgb), 0.19);

                            & img {
                                .wh(100%,100%);
                            }

                            &:hover {
                                .box-shadow(0,10px,20px,0,rgba(var(--black-rgb), 0.19));
                            }
                        }
                    }

                    .project_info {
                        margin-top: 22px;

                        .project_title {
                            font-size: @fontSize + 0.5;
                            letter-spacing: 2.5px;
                            margin-bottom: 1.5rem;
                        }

                        .project_des {
                            font-size: @fontSize;
                            letter-spacing: 1.4px;
                            margin-bottom: 1rem;
                        }
                    }

                    &:nth-child(even) {
                        margin-top: 100px;
                    }
                }
            }
        }

        .design {
            position: relative;
            margin-top: 6rem;

            &>h2 {
                position: relative;
                .font-style(3rem,lighter,0.1em);
                text-align: right;
                padding-right: 13rem;

                &:before {
                    display: block;
                    content: '';      
                    .bgwh(var(--gray),100px,1px);   
                    .position-style(absolute,4.5rem,13rem,auto,auto);
                    margin: auto;            
                    margin-top:0;   
                    z-index: 1;
                }

                &:after {
                    display: block;
                    content: '';                
                    .bgwh(var(--gray),100%,1px);   
                    .position-style(absolute,5.5rem,13rem,auto,auto);
                    margin: auto;
                    margin-top: 0;
                    z-index: 1;
                }
            }

            .design_inner {
                .flexbox(row, center, center);
                flex-wrap: wrap;
                padding: 70px 0 0 0;

                .design_item {
                    width: 18%;
                    color: var(--fontColor);
                    cursor: pointer;
                    margin: 0.3rem;
                    padding: 0.5rem;
                    .link-default();
                    .ease(.3s);

                    .design_img {
                        & img {
                            .wh(100%,100%);
                        }
                    }

                    .design_info {
                        margin: 1.5rem auto;

                        .design_title {
                            font-size: 1rem;
                        }
                    }

                    &:hover {
                        position: relative;
                        .box-shadow(0,10px,20px,0,rgba(var(--black-rgb), 0.19));
                        z-index: 10;
                    }
                }
            }
        }

        .colophon {
            margin-top: 6rem;

            .colophon_inner {
                .flexbox(column, center, center);
                position: relative;
                padding: 1.5rem;

                .colophon_inner_top {
                    .flexbox(row, flex-start, space-between);
                    width: 100%;
                    border-top: 1px solid var(--gray);
                    padding: 1.5rem 0;

                    .colophon_inner_top_left {
                        width: 50%;
                        padding-right: 1.5rem;
                        border-right: 1px solid var(--gray);

                        .colophon_inner_top_left_header {
                            width: 50%;

                            & img {
                                .wh(100%,100%);
                            }
                        }

                        .colophon_inner_top_left_menu {
                            .flexbox-wrap(row,center,flex-start,wrap);
                            height: 100%;
                            cursor: pointer;
                            margin-top: 1.5rem;

                            .menu_item {
                                position: relative;
                                color: var(--fontColor);
                                cursor: pointer;
                                margin: 0.5rem;

                                &::after {
                                    content: '';
                                    .bgwh(var(--gray),100%,1px);  
                                    .position-style(absolute,auto,auto,-5px,0); 
                                    .transition(transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96));
                                    .scaleX(0);
                                    .transform-origin(right);
                                }

                                &:hover {
                                    &:after {
                                        .transition(transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1));
                                        .scaleX(1);
                                        .transform-origin(left);
                                    }
                                }
                            }

                            .menu_item_focus {
                                &:after {
                                    .transition(transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1));
                                    .transform(scaleX(1) translateY(-11px));
                                    .transform-origin(left);
                                }
                            }
                        }
                    }

                    .colophon_inner_top_right {
                        width: 50%;
                        padding-left: 1.5rem;

                        .colophon_inner_top_right_header {
                            font-size: 2.5rem;
                            color: var(--black);
                        }

                        .colophon_inner_top_right_contact {
                            .flexbox(row, baseline, flex-start);
                            margin-top: 1.5rem;

                            .colophon_inner_top_right_contact_item {
                                .flexbox(row, center, center);
                                margin-right: 1.5rem;

                                & i {
                                    margin-right: 1rem;
                                }

                                & a {
                                    position: relative;
                                    color: var(--fontColor);
                                    margin-right: 1rem;
                                    .link-default();
                                    .ease(.3s);

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        .bgwh(var(--gray),100%,1px);
                                        .position-style(absolute,auto,auto,-5px,0);
                                        .transition(transform 0.4s cubic-bezier(0.79, 0.17, 0.15, 0.96));
                                        .scaleX(0);
                                        .transform-origin(right);
                                    }

                                    &:hover {
                                        &:after {
                                            .transition(transform 0.4s cubic-bezier(0.08, 0.92, 0.35, 1));
                                            .scaleX(1);
                                            .transform-origin(left);
                                        }
                                    }

                                    &:last-child {
                                        margin: 0;
                                    }
                                }

                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                .colophon_inner_bottom {
                    width: 100%;
                    text-align: center;
                    padding-top: 1.5rem;
                    border-top: 1px solid var(--gray);
                }
            }
        }

        #topbtn {
            cursor: pointer;
            font-size: @fontSize * 2 + 0.5;
            .position-style(fixed,auto,20px,20px,auto);
            z-index: 1000;
            .ease(.2s);

            &:hover {
                color: var(--yellow);
            }
        }
    }
}