@import './mixins/_allMixins.less';

@media (max-width:1366px) {
    body {
        #wrapper {
            .banner {
                height: 70vh;
            }

            .skill {
                .skill_inner {
                    .skill_list {
                        margin-left: 8rem;
                    }
                }
            }

            .design {
                .design_inner {
                    .design_item {
                        width: 22%;
                    }
                }
            }
        }
    }
}

@media (max-width:1025px) {
    body {
        .header {
            .logo {
                margin-left: 25px;
            }
        }

        #wrapper {
            .banner {
                height: 60vh;

                .banner_inner {
                    .youshiiDesignLoop {
                        bottom: 22%;
                    }
                }
            }

            .skill {
                &>h2 {
                    font-size: 2.5rem;
                    padding-left: 20%;

                    &:before {
                        height: 80px;
                        left: 19%;
                    }
                }

                .skill_inner {
                    .skill_list {
                        margin-left: 2rem;

                        .communication_list {
                            font-size: 0.8rem;

                            &>h2 {
                                font-size: 1.2rem;
                                margin-bottom: 1.2rem;
                            }

                            .skill_item {
                                margin-bottom: 0.8rem;
                            }
                        }

                        .create_list {
                            .communication_list;
                        }

                        .technology_list {
                            .communication_list;
                        }

                        .tool_list {
                            .communication_list;
                        }
                    }

                    .skill_bg_right {
                        margin-left: 19rem;
                    }
                }
            }
            
            .appProject {
                &:before {
                    width: 80%;
                    height: 58%;
                    margin-left: 0;
                }

                &>h2 {
                    font-size: 2.5rem;

                    &:before {
                        height: 80px;
                    }
                }
                .appProjectList{
                    .appProjectItem{
                        width: calc((100%/4) - 16px);

                        &>h3{
                            font-size: 1.2rem;
                        }

                        .guideline{
                            font-size: 0.0rem;
                        }
                    }
                }
            }

            .project {
                &>h2 {
                    font-size: 2.5rem;

                    &:before,
                    &:after {
                        height: 60px;
                    }
                }

                .project_inner {
                    .project_item {
                        .project_info {
                            .project_title {
                                font-size: 1.2rem;
                                margin-bottom: 1.2rem;
                            }

                            .project_des {
                                font-size: 0.8rem;
                                margin-bottom: 0.8rem;
                            }
                        }
                    }
                }
            }

            .design {
                &>h2 {
                    font-size: 2.5rem;
                    padding-right: 6rem;

                    &:before,
                    &:after {
                        right: 6rem;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    body {}
}

@media (max-width:768px) {
    body {
        .header {
            .flexbox(column, baseline, flex-start);
            padding-top: 10px;
            .ease(.2s);

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                left: 80%;
                top: 0;
                width: 20%;
                height: 100%;
                background: @white2;
                .scaleX(0);
                transition: 0.35s cubic-bezier(0.08, 0.92, 0.35, 1);
            }

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                top: 0;
                width: 80.05%;
                height: 100%;
                background: @blue;
                .scaleX(0);
                transition: 0.5s cubic-bezier(0.79, 0.17, 0.15, 0.96);
            }

            .logo {
                margin-left: 15px;
            }

            .menu {
                .flexbox(column, baseline, flex-start);
                height: 100%;
                margin-top: 5rem;
                .translateX(-120%);
                .ease(.3s);

                .menu_item {
                    font-size: @fontSize * 2;
                    font-weight: 200;
                    margin-left: 20px;
                }

                .menu_item_focus {
                    &:after {
                        .transform(scaleX(1) translateY(-14px));
                    }
                }

                .nav_line {
                    margin: 2px 15px 0px 25px;
                    height: calc(calc(100% - 280px) / 6);
                    min-height: calc(calc(100% - 280px) / 6);
                    width: 1px;
                    opacity: .3;
                }
            }

            .sns {
                font-size: 35px;
                position: absolute;
                bottom: 16%;
                right: 15%;
                .translateX(250%);

                &::before {
                    .hide;
                }
            }

            .m_nav_switch {
                display: flex;
            }
        }

        .op-nav {
            height: 100vh;
            z-index: 9999;

            &::before {
                right: -15px !important;
                -webkit-transform-origin: top;
                transform-origin: top;
                .scaleX(1);
                transition: 0.45s cubic-bezier(0.79, 0.17, 0.15, 0.96);
            }

            &::after {
                -webkit-transform-origin: top;
                transform-origin: top;
                .scaleX(1);
                transition: 0.5s cubic-bezier(0.08, 0.92, 0.35, 1);
            }

            .m_open_btn {
                .transform(translateX(-50px) rotateY(360deg) scale(0));
            }

            .m_close_btn {
                .transform(translateX(-50px)) !important;
            }

            .menu {
                .translateX(0);

            }

            .sns {
                .translateX(0);
            }
        }

        #wrapper {
            .banner {
                height: 45vh;

                .banner_inner {
                    .youshiiDesignLoop {
                        &>img {
                            &:last-child {
                                margin-left: 2rem;
                            }
                        }
                    }
                }
            }

            .skill {
                &>h2 {
                    font-size: 2rem;
                    padding-left: 8%;

                    &:before {
                        height: 60px;
                        left: 7%;
                    }
                }

                .skill_inner {
                    flex-wrap: wrap;

                    .skill_bg {
                        width: 30%;
                        order: 2;
                    }

                    .skill_list {
                        .flexbox(row, flex-start, space-between);
                        width: 100%;
                        margin: auto 4.5rem;
                        order: 1;

                        .communication_list,
                        .create_list,
                        .technology_list,
                        .tool_list {
                            margin: 0;
                        }
                    }

                    .skill_bg_right {
                        width: 50%;
                        margin-left: 0;
                        order: 3;
                    }
                }
            }

            .appProject {
                &:before {
                    width: 100%;
                }

                &>h2 {
                    font-size: 2rem;
                    padding-left: 8%;

                    &:before {
                        height: 60px;
                        left: 7%;
                    }
                }
                
                .appProjectList{
                    padding: 44px 16px 44px 12%;
                }
            }

            .project {
                &:before {
                    top: 6.5%;
                }

                &>h2 {
                    font-size: 2rem;

                    &:before,
                    &:after {
                        top: 3rem;
                    }
                }

                .project_inner {
                    .project_item {
                        width: 45%;
                    }
                }
            }

            .design {
                &>h2 {
                    font-size: 2rem;
                    padding-right: 4rem;

                    &:before,
                    &:after {
                        right: 4rem;
                    }
                }

                .design_inner {
                    .design_item {
                        width: 45%;
                    }
                }
            }
        }
    }
}

@media (max-width:480px) {
    body {
        .header {
            padding-top: 10px;

            .logo {
                width: 80px;
            }

            .menu {
                .menu_item_focus {
                    &:after {
                        .transform(scaleX(1) translateY(-13px));
                    }
                }

                .menu_item {
                    font-size: 1.5rem;
                }
            }

            .sns {
                font-size: @fontSize + 0.5;
                margin-right: 0;
                bottom: 16%;
            }

            .m_nav_switch {
                right: 0;
                top: 35px;
            }
        }

        #wrapper {
            padding-top: 6rem;

            .banner {
                .flexbox(row, center, center);
                height: 30vh;

                .banner_inner {
                    width: 100%;

                    .youshiiDesignLoop {
                        bottom: -14%;
                    }

                    .message {
                        left: 20%;
                        bottom: -37.5%;
                    }
                }
            }

            .skill {
                margin-top: 9rem;

                &>h2 {
                    font-size: 1.8rem;
                    padding-left: 9%;

                    &:before {
                        height: 56px;
                        left: 7%;
                    }
                }

                .skill_inner {
                    padding-top: 4rem;

                    .skill_bg {
                        width: 40%;
                    }

                    .skill_list {
                        .flexbox(row, flex-start, flex-start);
                        flex-wrap: wrap;
                        margin: auto 2rem;

                        .communication_list,
                        .create_list,
                        .technology_list,
                        .tool_list {
                            margin-right: 4rem;
                        }

                        .communication_list,
                        .create_list {
                            margin-bottom: 4rem;
                        }

                        .create_list,
                        .tool_list {
                            margin-right: 0;
                        }
                    }

                    .skill_bg_right {
                        width: 50%;
                        margin-top: 17rem;
                    }
                }
            }

            .appProject {
                &>h2 {
                    font-size: 1.8rem;
                    padding-left: 9%;

                    &:before {
                        height: 56 px;
                        left: 7%;
                    }
                }
                
                .appProjectItem{
                    width: calc((100%/1) - 16px);

                    &>h3{
                        font-size: 1rem;
                    }

                    .guideline{
                        font-size: 0.8rem;
                    }
                }
            }

            .project {
                &:before {
                    height: 85%;
                    top: 4%;
                }

                &>h2 {
                    font-size: 1.8rem;

                    &:before,
                    &:after {
                        top: 2.5rem;
                        height: 50px;
                    }
                }

                .project_inner {
                    .project_item {
                        width: 90%;
                        margin-top: 50px;

                        &:first-child {
                            margin-top: 0;
                        }

                        &:nth-child(even) {
                            margin-top: 50px;
                        }

                        .project_info {
                            .project_title {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            .design {
                &>h2 {
                    font-size: 1.8rem;
                    padding-right: 2rem;

                    &:before,
                    &:after {
                        right: 2rem;
                    }

                    &:before {
                        top: 2.5rem;
                    }

                    &:after {
                        top: 3.5rem;
                    }
                }

                .design_inner {
                    .design_item {
                        width: 90%;
                    }
                }
            }

            .colophon {
                margin-top: 0;

                .colophon_inner {
                    .colophon_inner_top {
                        flex-wrap: wrap;

                        .colophon_inner_top_left {
                            width: 100%;
                            padding: 0;
                            border: 0;

                            .colophon_inner_top_left_menu {
                                .menu_item {
                                    margin: 0.35rem;
                                }
                            }
                        }

                        .colophon_inner_top_right {
                            width: 100%;
                            padding: 0;

                            .colophon_inner_top_right_header {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:320px) {}