@import './mixins/_allMixins.less';

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    color: #666;
    font-family: 'Microsoft JhengHei', 'PMingLiU', Helvetica, Arial, 'LiHei Pro', sans-serif !important;

    #header {
        padding: 0 20px;
        .home {
            font-size: 28px;
            padding: 20px 10px;
            .logo {
                display: block;
                font-weight: bold;
                color: #2c8421;
                .link-default;
                .ease(.2s);

                &:hover {
                    .scale(1.2);
                }

                & > sub {
                    display: block;
                    color: #666;
                    font-size: 16px;
                }
            }
        }
        .menu {
            .menu-list {
                .menu-item {
                    font-size: 18px;
                    letter-spacing: .1em;
                    & a {
                        display: block;
                        color: #666;
                        padding: 20px;
                        .link-default;
                        .ease(.2s);

                        &:hover {
                            color: #33b332;
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                            0 3px 6px rgba(0, 0, 0, 0.23);
                        }
                    }
                }
            }
        }
    }

    #slideshow {
        background: url(../image/web_banner.png) 100% 30% no-repeat transparent;
        background-size: cover;
        width: 100%;
        height: 100%;
        max-height: 680px;
    }

    #product {
        .product-item {
            .product-img {
                width: 50%;
                height: 50%;
                padding: 20px;
            }

            .product-info {
                width: 50%;
                padding: 20px;
                line-height: 3em;

                & > h3 {
                    font-size: 26px;
                }

                .info {
                    font-size: 20px;

                }

                & > a {
                    color: #666;
                    font-size: 20px;
                    border: 1px solid #666;
                    border-radius: 5px;
                    margin-top: 30px;
                    padding: 0 10px;
                    .link-default;
                    .ease(.2s);

                    &:hover {
                        color: #33b332;
                        border: 1px solid #33b332;
                    }
                }
            }
        }
    }

    #intro {
        padding-top: 50px;
        .intro-item {
            background: #d9ffd4;
            flex: 1;
            padding: 25px;
            min-height: 350px;
            .ease(.2s);
            & > i {

                font-size: 75px;
                margin-bottom: 30px;
            }

            .description {
                font-size: 18px;
                line-height: 1.3em;
                letter-spacing: .2em;
                min-height: 92px;

                & > a {
                    color: #666;
                    font-size: 20px;
                    font-weight: bold;
                    border-radius: 5px;
                    padding: 10px;
                    .link-default;
                    .ease(.2s);

                    &:hover {
                        color: #33b332;
                    }
                }
            }

            &:hover {
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
                z-index: 1;
            }
        }
    }

    #colophon {

        background: #2c8421;
        color: #fff;
        font-size: 18px;
        padding: 0 20px;
        .copyright {
            padding: 20px 10px;
        }
        .contact {
            padding: 20px 10px;
            .item {
                display: flex;
                padding: 10px 0;
                & > i {}
                .item-info {
                    margin-left: 10px;
                }

            }
        }
    }
}
