@mixin flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin inline-flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}

@mixin flexbox($direction, $align, $justify) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    -o-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    -o-align-items: $align;
    align-items: $align;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    -o-justify-content: $justify;
    justify-content: $justify;
}

@mixin flexbox-gap($direction, $align, $justify,$gap) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    -o-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    -o-align-items: $align;
    align-items: $align;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    -o-justify-content: $justify;
    justify-content: $justify;    
    gap: $gap;
}

@mixin flexbox-wrap($direction, $align, $justify,$wrap) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    -o-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    -o-align-items: $align;
    align-items: $align;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    -o-justify-content: $justify;
    justify-content: $justify;    
    flex-wrap: $wrap;
}

@mixin flexbox-gap-wrap($direction, $align, $justify,$gap,$wrap) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    -o-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    -o-align-items: $align;
    align-items: $align;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    -o-justify-content: $justify;
    justify-content: $justify;    
    flex-wrap: $wrap;
    gap: $gap;
}
