@mixin transform($default) {
  transform: $default;
}

@mixin transform-origin($default) {
  transform-origin: $default;
}

@mixin scale($scale) {
  transform: scale($scale);
}

@mixin scaleX($scale) {
  transform: scaleX($scale);
}

@mixin scaleY($scale) {
  transform: scaleY($scale);
}

@mixin scale3d($x, $y, $z) {
  transform: scale3d($x, $y, $z);
}

@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin rotateX($deg) {
  transform: rotateX($deg);
}

@mixin rotateY($deg) {
  transform: rotateY($deg);
}

@mixin translate($px) {
  transform: translate($px);
}

@mixin translateX($px) {
  transform: translateX($px);
}

@mixin translateY($px) {
  transform: translateY($px);
}

@mixin translate3d($x, $y, $z) {
  transform: translate3d($x, $y, $z);
}

@mixin animation($name, $duration, $function) {
  animation: $name $duration $function;
}