@mixin transition($default) {
  transition: $default;
}

@mixin linear($sec) {
  transition: all $sec linear;
}

@mixin ease($sec) {
  transition: all $sec ease;
}

@mixin ease-in($sec) {
  transition: all $sec ease-in;
}

@mixin ease-out($sec) {
  transition: all $sec ease-out;
}

@mixin ease-in-out($sec) {
  transition: all $sec ease-in-out;
}

@mixin transition($default) {
  transition: $default;
}