#mimir-header {
    background: rgba(255, 255, 255, 0.9);
}

#mimir-header > nav {
    padding-left: 6.9%;
    padding-right: 6.9%;
}

#mimir-header > nav > a > img {
    width: 100%;
    height: 100%;
}

#mimir-header > nav > .mimir-nav-list > ul > li > a:hover {
    color: #e8861d;
}

#mimir-header > nav > .mimir-nav-list > ul > li > .icon > i {
    font-size: 19px;
}
