@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {

    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* scrollbar */
*::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 8px;
}

/* scrollbar end*/

body {
    font-family: 'Noto Sans TC' !important;
    color: #555;
    font-size: 18px;
    font-weight: bolder;
}

/* 公司欲達成目標 */
#mimir-layout {
    margin-bottom: 40px;
}

#mimir-layout .achieve {
    padding-top: 1.8%;
    padding-bottom: 1.8%;
    padding-left: 6.9%;
    padding-right: 6.9%;
}


#mimir-layout .achieve h2 {
    font-size: 1.9rem;
    font-weight: bold !important;
}

#mimir-layout .achieve .des {
    margin-top: 10px;
    font-weight: 500;
}

/* 公司欲達成目標  end */

/* 關於 mimir */
#mimir-layout .about-mimir {
    padding-left: 6.9%;
    padding-right: 6.9%;
}

#mimir-layout .about-mimir .item {
    background: #f5f4ef;
}

#mimir-layout .about-mimir .item h4 {
    margin-bottom: 20px;
}

#mimir-layout .about-mimir .item .des {
    font-size: 1.12rem;
    line-height: 2.8em;
    font-weight: 500;
}

#mimir-layout .about-mimir .item img {
    width: 100%;
    height: 100%;
}

#mimir-layout .about-mimir .item-left {
    padding-top: 15px;
    padding-bottom: 15px;
}

#mimir-layout .about-mimir .item-right,
#mimir-layout .philosophy .item-left {
    padding: 0;
}

#mimir-layout .philosophy .item-right {
    padding: 15px;
}

#mimir-layout .philosophy .item .des {
    line-height: 2em;
}

#mimir-layout .philosophy .item .sub-des {
    margin-top: 20px;
}

/* 關於 mimir end */

/* 線上報名 */
#mimir-layout .shortcut-link {
    padding-left: 6.9%;
    padding-right: 6.9%;
    height: 285px;
}

#mimir-layout .shortcut-link .item {
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    overflow: hidden;
    text-decoration: none;
    outline: none;
}

#mimir-layout .shortcut-link .robots .des {
    margin-left: 25%;
    text-align: center;
}

#mimir-layout .shortcut-link .lesson .des {
    margin-right: 35%;
    text-align: center;
}

#mimir-layout .shortcut-link .cell .online-reg {
    font-size: 1.2rem;
    margin-top: 10px;
}

#mimir-layout .shortcut-link .robots {
    background: #72bdc7;
}

#mimir-layout .shortcut-link .robots .icon {
    position: absolute;
    left: 0;
}

#mimir-layout .shortcut-link .robots .icon img {
    width: 310px;
}

#mimir-layout .shortcut-link .lesson {
    background: #9fd7e3;
}

#mimir-layout .shortcut-link .lesson .icon {
    position: absolute;
    right: 45px;
}

#mimir-layout .shortcut-link .lesson .icon img {
    width: 275px;
}

#mimir-layout .shortcut-link .item:hover {
    background: #e8861d;
}

/* 線上報名 end*/

/* 案例實績 */
#history-layout {
    background: #f4f4f9;
    padding-bottom: 20px;
}

#history-layout .history-title {
    padding-top: 1.8%;
    padding-bottom: 1.8%;
    padding-left: 6.9%;
    padding-right: 6.9%;
}


#history-layout .history-title h2 {
    font-size: 1.9rem;
    font-weight: bold !important;
}

#history-layout .history-list .history-item {
    display: block;
    color: #555;
    font-weight: 500;
    margin-bottom: 40px;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#history-layout .history-list .history-item .cell .date {
    font-size: 1.03rem;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

#history-layout .history-list .history-item .cell .pic {
    padding: 0;
}

#history-layout .history-list .history-item .cell img {
    width: 100%;
    height: 100%;
}

#history-layout .history-list .history-item .cell-bottom {
    font-size: 1.03rem;
    border-bottom: 1px solid #555;
    margin-top: 20px;
    padding-bottom: 10px;
}

#history-layout .history-list .history-item:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

}

#history-layout .history-list .history-item:hover .cell-bottom {
    border: 0;
}

#history-layout .btn-style {
    display: block;
    background: #e8861d;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: normal;
    width: 200px;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

#history-layout .btn-style:hover {
    background: #d98122;
}

/* 案例實績 end */
