@media (max-width: 1367px) {
    #mimir-layout .achieve h2 {
        font-size: 1.7rem;
    }

    #mimir-layout .achieve .des {
        font-size: 1.2rem;
    }

    #mimir-layout .about-mimir .item h4 {
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    #mimir-layout .about-mimir .item .des {
        font-size: 1rem;
    }

    #mimir-layout .shortcut-link {
        height: 225px;
    }

    #mimir-layout .shortcut-link .robots .icon img {
        width: 250px;
    }

    #mimir-layout .shortcut-link .lesson .icon img {
        width: 220px;
    }

    #result-layout .record-table .record-list {
        font-size: 0.865rem;
        line-height: 2em;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #mimir-layout .achieve h2 {
        font-size: 1.7rem;
    }

    #mimir-layout .achieve .des {
        font-size: 1.2rem;
    }

    #mimir-layout .about-mimir {}

    #mimir-layout .about-mimir .item h4 {
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    #mimir-layout .about-mimir .item .des {
        font-size: 0.9rem;
    }

    #mimir-layout .philosophy .item .des {
        font-size: 0.8rem;
    }

    #mimir-layout .shortcut-link .robots .icon {
        left: -20px;
    }

    #mimir-layout .shortcut-link .robots .des {
        margin-left: 30%;
    }

    #mimir-layout .shortcut-link .lesson .icon {
        right: 10px;
    }

    #mimir-layout .shortcut-link .lesson .des {
        margin-right: 40%;
    }

    #introduce-layout .introduce .des {
        width: 65%;
    }

    #introduce-layout .introduce .link .item .des {
        min-height: 192px;
    }

    #member-layout .member-table .item {
        min-height: 635px;
    }

    #default-layout .default .des {
        width: 60%;
    }

    #detail-layout .detail .des {
        width: 65%;
    }

    #detail-layout .detail .flow .item .cell {
        width: 180px;
        height: 180px;
    }

    #detail-layout .detail .flow .item .cell .icon {

        font-size: 2.5rem;
        right: -26%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #insidePage-banner {
        height: 250px;
    }

    #insidePage-banner .sub-title {
        padding-top: 138px;
        padding-bottom: 48px;
    }

    #mimir-layout .achieve h2 {
        font-size: 1.6rem;
    }

    #mimir-layout .achieve .des {
        font-size: 1.1rem;
    }

    #mimir-layout .about-mimir {
        min-height: 209px;
    }

    #mimir-layout .about-mimir .item-left .carousel-inner,
    #mimir-layout .about-mimir .item-left .carousel-inner .carousel-item,
    #mimir-layout .about-mimir .item-left .carousel-inner .carousel-item img {
        height: 100%;
    }

    #mimir-layout .about-mimir .item h4 {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    #mimir-layout .about-mimir .item .des {
        font-size: 0.8rem;
        line-height: 2em;
    }

    #mimir-layout .about-mimir .item-right {
        padding: 0;
    }

    #mimir-layout .philosophy .item h4 {
        margin-bottom: 5px;
    }

    #mimir-layout .philosophy .item .des {
        margin-top: 0;
        line-height: 1.6em;
    }

    #mimir-layout .philosophy .item .sub-des {
        margin-top: 5px;
    }

    #mimir-layout .shortcut-link {
        height: 185px;
    }

    #mimir-layout .shortcut-link .item {
        font-size: 1.2rem;
    }

    #mimir-layout .shortcut-link .cell .online-reg {
        font-size: 1rem;
    }

    #mimir-layout .shortcut-link .robots .icon img {
        width: 200px;
    }

    #mimir-layout .shortcut-link .lesson .icon img {
        width: 170px;
    }

    #mimir-layout .shortcut-link .robots .icon {
        left: -20px;
    }

    #mimir-layout .shortcut-link .robots .des {
        margin-left: 30%;
    }

    #mimir-layout .shortcut-link .lesson .icon {
        right: 10px;
    }

    #mimir-layout .shortcut-link .lesson .des {
        margin-right: 40%;
    }

    #introduce-layout .introduce h2 {
        font-size: 1.6rem;
    }

    #introduce-layout .introduce .des {
        width: 65%;
        font-size: 1rem;
    }

    #introduce-layout .introduce .link .item .des {
        min-height: 256px;
    }

    #member-layout h2 {
        font-size: 1.6rem;
    }

    #member-layout .member-table .item {
        min-height: 635px;
    }

    #member-layout .member-table .item .name {
        font-size: 1.2rem;
    }

    #member-layout .member-table .item .intro {
        font-size: 1rem;
    }

    #default-layout .default h2 {
        font-size: 1.6rem;
    }

    #default-layout .default .des {
        width: 70%;
    }

    #result-layout .photo-table h2 {
        font-size: 1.6rem;
    }

    #result-layout .record-table .record-list {
        font-size: 1rem;
        line-height: 2em;
    }

    #result-layout #record-slideshow {
        margin-top: 20px;
    }

    #map-layout h2 {
        font-size: 1.6rem;
    }

    #detail-layout .detail h2,
    #active-layout .active h2 {
        font-size: 1.6rem;
    }

    #detail-layout .detail .des {
        width: 65%;
    }

    #detail-layout .detail .flow .item .cell {
        width: 180px;
        height: 180px;
    }

    #detail-layout .detail .flow .item .cell .icon {

        font-size: 2.5rem;
        right: -26%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {
    #insidePage-banner {
        height: 250px;
    }

    #insidePage-banner .sub-title {
        padding-top: 138px;
        padding-bottom: 48px;
    }

    #mimir-header > nav {
        padding: .5rem 0;
    }

    #insidePage-banner {
        margin-top: 80px;
    }

    #mimir-layout .achieve h2 {
        font-size: 1.6rem;
        margin: 0;
    }

    #mimir-layout .achieve .des {
        font-size: 1.1rem;
        margin: 10px 0;
    }

    #mimir-layout .about-mimir {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #mimir-layout .about-mimir .item h4 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    #mimir-layout .about-mimir .item .des {
        font-size: 1.12rem;
        line-height: 2.5em;
    }

    #mimir-layout .about-mimir .item-right {
        padding: 0;
    }

    #mimir-layout .philosophy .item-right {
        padding: 15px;
    }

    #mimir-layout .philosophy {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #mimir-layout .shortcut-link {
        height: 500px;
    }

    #mimir-layout .shortcut-link .item .icon img {
        opacity: 0.2;
    }

    #mimir-layout .shortcut-link .robots .des,
    #mimir-layout .shortcut-link .lesson .des {
        margin: 0;
    }

    #introduce-layout .introduce h2 {
        font-size: 1.3rem;
        padding: 3% 0;
    }

    #introduce-layout .introduce .des {
        width: 85%;
        font-size: 0.9rem;
    }

    #introduce-layout .introduce .link .item {
        margin-bottom: 40px;
    }

    #introduce-layout .introduce .link .item h4 {
        font-size: 1.15rem;
    }

    #introduce-layout .introduce .link .item .des {
        font-size: 0.9rem;
        min-height: auto;
    }

    #member-layout h2 {
        font-size: 1.3rem;
        padding: 3% 0;
    }

    #member-layout .member-table .item {
        max-width: 100%;
        margin-bottom: 40px;
    }

    #member-layout .member-table .item .name {
        font-size: 1.15rem;
    }

    #member-layout .member-table .item .intro {
        font-size: 0.9rem;
    }

    #default-layout .default h2 {
        font-size: 1.3rem;
        padding: 3% 0;
    }

    #default-layout .default .des {
        width: 85%;
    }

    #result-layout .photo-table h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    #result-layout .record-table h2 {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        font-size: 1.3rem;
        text-align: center;
        border: 0;
        margin-bottom: 20px;
    }

    #result-layout .record-table .record-list {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    #map-layout h2 {
        font-size: 1.3rem;
        padding: 3% 0;
    }

    #contact-layout {
        margin-top: 60px;
    }

    #contact-layout .contact-table h4 {
        margin: 10px auto;
        font-size: 1.3rem;
    }

    #contact-layout .contact-table .item > i {
        width: 19px;
        text-align: center;
        font-size: 1.2rem;
    }

    #map-layout .map-table .item {
        min-height: 300px;
        margin-bottom: 60px;
    }

    #map-layout .map-table .item h4 {
        margin: 10px 0;
        font-size: 1.3rem;
    }

    #map-layout .map-table .item .des {
        font-weight: 500;
        word-break: break-all;
        font-size: 1rem;
    }

    #map-layout .map-table .item .remark {
        font-weight: 500;
        word-break: break-all;
        font-size: 1rem;
    }

    #contact-layout .contact-table .item .des {
        font-size: 1rem;
        margin-left: 10px;
    }

    #map-layout h2 {
        font-size: 1.6rem;
    }

    #detail-layout .detail h2,
    #active-layout .active h2 {
        font-size: 1.3rem;
        padding: 3% 0;
    }

    #detail-layout .detail .des {
        width: 85%;
        font-size: 0.9rem;
    }

    #detail-layout .detail .flow .item .cell {
        width: 180px;
        height: 180px;
    }

    #detail-layout .detail .flow .item .des {
        min-height: auto;
    }

    #detail-layout .detail .flow .item .cell .icon {
        display: none;
    }


    #active-layout .active .active-video {
        margin-top: 20px;
    }

    #colophon {
        font-size: 1rem;
    }

    #colophon .social {
        margin-top: 10px;
        font-size: 30px;
    }

    #colophon .copyright {
        font-size: 0.9rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #insidePage-banner {
        height: 250px;
    }

    #insidePage-banner .sub-title {
        padding-top: 138px;
        padding-bottom: 48px;
    }

    #mimir-header > nav {
        padding: .5rem 0;
    }

    #insidePage-banner {
        margin-top: 80px;
    }

    #mimir-layout .achieve h2 {
        font-size: 1.3rem;
        margin: 0;
    }

    #mimir-layout .achieve .des {
        font-size: 0.9rem;
        margin: 10px 0;
    }

    #mimir-layout .about-mimir {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #mimir-layout .about-mimir .item h4 {
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    #mimir-layout .about-mimir .item .des {
        font-size: 0.9rem;
        line-height: 2.5em;
    }

    #mimir-layout .philosophy {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #mimir-layout .shortcut-link {
        height: 350px;
    }

    #mimir-layout .shortcut-link .item {
        font-size: 1rem;
    }

    #mimir-layout .shortcut-link .cell .online-reg {
        font-size: 0.8rem;
    }

    #mimir-layout .shortcut-link .item .icon img {
        opacity: 0.2;
    }

    #mimir-layout .shortcut-link .robots .des,
    #mimir-layout .shortcut-link .lesson .des {
        margin: 0;
    }

    #history-layout .history-title h2 {

        margin: 10px 0;
        font-size: 1.2rem;
    }

    #history-layout .history-list .history-item .cell .date {
        font-size: 0.9rem;
    }

    #history-layout .history-list .history-item .cell-bottom {

        font-size: 0.9rem;
        line-height: 2em;
    }

    #introduce-layout .introduce h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #introduce-layout .introduce .des {
        width: 90%;
        font-size: 0.9rem;
    }

    #introduce-layout .introduce .link .item {
        margin-bottom: 40px;
    }

    #introduce-layout .introduce .link .item h4 {
        font-size: 1.15rem;
    }

    #introduce-layout .introduce .link .item .des {
        font-size: 0.9rem;
        min-height: auto;
    }

    #member-layout h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #member-layout .member-table .item {
        max-width: 100%;
        margin-bottom: 40px;
        min-height: 515px;
    }

    #member-layout .member-table .item .name {
        font-size: 1.15rem;
    }

    #member-layout .member-table .item .intro {
        font-size: 0.9rem;
    }

    #default-layout .default h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #default-layout .default .des {
        width: 85%;
    }

    #default-layout .default .default-table .item .des {
        font-size: 0.9rem;
        line-height: 1.5em;
    }

    #result-layout .photo-table h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    #result-layout .record-table h2 {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        font-size: 1.3rem;
        text-align: center;
        border: 0;
        margin-bottom: 20px;
    }

    #result-layout .record-table .record-list {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    #map-layout h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #contact-layout {
        margin-top: 60px;
    }

    #contact-layout .contact-table h4 {
        margin: 10px auto;
        font-size: 1.3rem;
    }

    #contact-layout .contact-table .item > i {
        width: 19px;
        text-align: center;
        font-size: 1.2rem;
    }

    #map-layout .map-table .item {
        min-height: 300px;
        margin-bottom: 60px;
    }

    #map-layout .map-table .item h4 {
        margin: 10px 0;
        font-size: 1.3rem;
    }

    #map-layout .map-table .item .des {
        font-weight: 500;
        word-break: break-all;
        font-size: 1rem;
    }

    #map-layout .map-table .item .remark {
        font-weight: 500;
        word-break: break-all;
        font-size: 1rem;
    }


    #detail-layout .detail h2,
    #active-layout .active h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #detail-layout .detail .des {
        width: 85%;
        font-size: 0.9rem;
    }

    #detail-layout .detail .flow .item .cell {
        width: 180px;
        height: 180px;
    }

    #detail-layout .detail .flow .item .des {
        min-height: auto;
    }

    #detail-layout .detail .flow .item .cell .icon {
        display: none;
    }

    #active-layout .active .active-video {
        margin-top: 20px;
    }

    #colophon {
        font-size: 1rem;
    }

    #colophon .social {
        margin-top: 10px;
        font-size: 30px;
    }

    #colophon .copyright {
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {
    #insidePage-banner {
        height: 190px;
    }

    #insidePage-banner .sub-title {
        padding-top: 90px;
        padding-bottom: 36px;
    }

    #mimir-header > nav {
        padding: .5rem 0;
    }

    #insidePage-banner {
        margin-top: 80px;
    }

    #mimir-layout .achieve {
        padding-top: 2%;
    }

    #mimir-layout .achieve h2 {
        font-size: 1.3rem;
        margin: 0;
        padding: 5% 0;
    }

    #mimir-layout .achieve .des {
        font-size: 0.9rem;
        margin: 10px 0;
    }

    #mimir-layout .about-mimir {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #mimir-layout .about-mimir .item h4 {
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    #mimir-layout .about-mimir .item .des {
        font-size: 0.9rem;
        line-height: 2.5em;
    }

    #mimir-layout .philosophy {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #mimir-layout .shortcut-link {
        height: 300px;
    }

    #mimir-layout .shortcut-link .item {
        font-size: 1rem;
    }

    #mimir-layout .shortcut-link .cell .online-reg {
        font-size: 0.8rem;
    }

    #mimir-layout .shortcut-link .item .icon img {
        opacity: 0.2;
    }

    #mimir-layout .shortcut-link .robots .des,
    #mimir-layout .shortcut-link .lesson .des {
        margin: 0;
    }

    #history-layout .history-title h2 {

        margin: 10px 0;
        font-size: 1.2rem;
    }

    #history-layout .history-list .history-item .cell .date {
        font-size: 0.9rem;
    }

    #history-layout .history-list .history-item .cell-bottom {

        font-size: 0.9rem;
        line-height: 2em;
    }

    #introduce-layout .introduce h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #introduce-layout .introduce .des {
        width: 90%;
        font-size: 0.9rem;
    }

    #introduce-layout .introduce .link .item {
        margin-bottom: 40px;
    }

    #introduce-layout .introduce .link .item h4 {
        font-size: 1.15rem;
    }

    #introduce-layout .introduce .link .item .des {
        font-size: 0.9rem;
        min-height: auto;
    }

    #member-layout h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #member-layout .member-table .item {
        max-width: 100%;
        margin-bottom: 40px;
        min-height: 515px;
    }

    #member-layout .member-table .item .name {
        font-size: 1.15rem;
    }

    #member-layout .member-table .item .intro {
        font-size: 0.9rem;
    }

    #default-layout .default h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #default-layout .default .des {
        width: 85%;
    }

    #default-layout .default .default-table .item .des {
        font-size: 0.8rem;
        line-height: 1.5em;
    }

    #result-layout .photo-table h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    #result-layout .record-table h2 {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        font-size: 1.3rem;
        text-align: center;
        border: 0;
        margin-bottom: 20px;
    }

    #result-layout .record-table .record-list {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    #map-layout h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #contact-layout {
        margin-top: 40px;
    }

    #contact-layout .contact-table h4 {
        margin: 10px auto;
        font-size: 1.2rem;
    }

    #contact-layout .contact-table .item {
        line-height: 2em;
    }

    #contact-layout .contact-table .item > i {
        width: 19px;
        text-align: center;
        font-size: 1rem;
    }

    #contact-layout .contact-table .item .des {
        margin-left: 10px;
        font-size: 1rem;
    }

    #map-layout .map-table .item {
        min-height: 300px;
        margin-bottom: 60px;
    }

    #map-layout .map-table .item h4 {
        margin: 10px 0;
        font-size: 1rem;
    }

    #map-layout .map-table .item .des {
        font-weight: 500;
        word-break: break-all;
        font-size: 0.9rem;
    }

    #map-layout .map-table .item .remark {
        font-weight: 500;
        font-size: 0.9rem;
    }


    #detail-layout .detail h2,
    #active-layout .active h2 {
        font-size: 1.3rem;
        padding: 5% 0;
    }

    #detail-layout .detail .des {
        width: 100%;
        font-size: 0.9rem;
    }

    #detail-layout .detail .flow .item .cell {
        width: 150px;
        height: 150px;
        font-size: 1rem;
    }

    #detail-layout .detail .flow .item .des {
        min-height: auto;
    }

    #detail-layout .detail .flow .item .cell .icon {
        display: none;
    }

    #active-layout .active .active-video {
        margin-top: 20px;
    }

    #colophon {
        font-size: 0.8rem;
    }

    #colophon .social {
        margin-top: 10px;
        font-size: 30px;
    }

    #colophon .copyright {
        font-size: 0.9rem;
    }

}
