.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.link-default {
  text-decoration: none;
  outline: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
/** animate **/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.scaleRotateAnimateDisplay {
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
.scaleRotateAnimateDisplayN {
  -webkit-transform: scale(0) rotate(0deg);
  -moz-transform: scale(0) rotate(0deg);
  -o-transform: scale(0) rotate(0deg);
  transform: scale(0) rotate(0deg);
}
.opacityDisplay {
  opacity: 0;
  visibility: hidden;
}
.couponBg {
  background: #ffbd27;
  background: -moz-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: linear-gradient(to bottom, #ffbd27 0%, #ff6d00 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd27', endColorstr='#ff6d00', GradientType=0);
}
.material_checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.material_checkbox .checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 18px;
  margin-right: 8px;
  border: 0;
  border-radius: 0;
}
.material_checkbox .checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 11px;
  height: 11px;
  border: 2px solid #363636;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.material_checkbox .checkbox:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.material_checkbox .checkbox:checked:before {
  height: 6px;
  border-color: #ffbd27;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.material_radio input[type="radio"] {
  display: none;
}
.material_radio input[type="radio"] + label {
  cursor: pointer;
}
.material_radio input[type="radio"] + label::before {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #363636;
  border: 0px solid #363636;
  font-size: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"] + label::after {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #363636;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"]:checked + label::before {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-width: 2px;
}
.material_radio input[type="radio"]:checked + label::after {
  width: 8px;
  height: 8px;
}
.op_coupon_w:before {
  opacity: 1 !important;
  visibility: visible !important;
}
.op_coupon_w .coupon_content {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  transform: translateY(0) !important;
}
/***** 酷碰券下載視窗 *****/
#coupon_windows {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
#coupon_windows:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#coupon_windows .coupon_content {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 960px;
  height: 585px;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#coupon_windows .coupon_content .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#coupon_windows .coupon_content .icon:hover {
  color: rgb(255, 189, 39);
}
#coupon_windows .coupon_content header {
  border-bottom: 1px solid #363636;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  padding-top: 25px;
}
#coupon_windows .coupon_content .canvas {
  background: transparent;
  position: relative;
  width: 100%;
  height: calc(100% - 165px);
}
#coupon_windows .coupon_content .canvas .coupon_bg {
  background: url("../images/coupon_bg.png") no-repeat center center transparent;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#coupon_windows .coupon_content .canvas .main {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}
#coupon_windows .coupon_content .canvas .main .coupon_title {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  bottom: 170px;
  left: 77px;
}
#coupon_windows .coupon_content .canvas .main .coupon_info {
  position: absolute;
  right: 0;
  width: 685px;
  height: 100%;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .market_title {
  font-size: 32px;
  font-weight: bold;
  color: rgb(216, 35, 22);
  margin-top: 50px;
  margin-bottom: 24px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .value {
  font-size: 70px;
  border-top: 10px dotted rgb(216, 35, 22);
  border-bottom: 10px dotted rgb(216, 35, 22);
  margin-right: 50px;
  line-height: 2.3em;
  font-weight: normal;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .how_to_use {
  font-size: 12px;
  margin-top: 6px;
  margin-right: 95px;
  line-height: 1.5em;
  letter-spacing: 1px;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .how_to_use .item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .how_to_use .item .data {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .how_to_use .item:last-child {
  margin-bottom: 0;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .myanlife_logo {
  position: absolute;
  width: 70px;
  bottom: 24px;
  right: 24px;
}
#coupon_windows .coupon_content .canvas .main .coupon_info .myanlife_logo img {
  width: 100%;
  height: 100%;
}
#coupon_windows .coupon_content .coupon_download_btn {
  display: block;
  background: rgb(255, 189, 39);
  width: 150px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin: 15px auto;
  padding: 10px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#coupon_windows .coupon_content .coupon_download_btn:hover {
  background: rgb(255, 234, 0);
}
#coupon_windows .coupon_content .coupon_share_list {
  position: absolute;
  text-align: center;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}
#coupon_windows .coupon_content .coupon_share_list .item {
  display: inline-block;
  font-size: 24px;
  margin: auto 5px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#coupon_windows .coupon_content .coupon_share_list .item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#coupon_windows .coupon_content .coupon_share_list .item:first-child {
  color: #4267b2;
}
#coupon_windows .coupon_content .coupon_share_list .item:nth-child(2) {
  color: #00b900;
}
#coupon_windows .coupon_content .coupon_share_list .item:nth-child(3) {
  color: #1AAD19;
}
#coupon_windows .coupon_content .coupon_share_list .item:last-child {
  color: #59267c;
}
