.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.link-default {
  text-decoration: none;
  outline: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
/** animate **/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.scaleRotateAnimateDisplay {
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
.scaleRotateAnimateDisplayN {
  -webkit-transform: scale(0) rotate(0deg);
  -moz-transform: scale(0) rotate(0deg);
  -o-transform: scale(0) rotate(0deg);
  transform: scale(0) rotate(0deg);
}
.opacityDisplay {
  opacity: 0;
  visibility: hidden;
}
.couponBg {
  background: #ffbd27;
  background: -moz-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: linear-gradient(to bottom, #ffbd27 0%, #ff6d00 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd27', endColorstr='#ff6d00', GradientType=0);
}
.material_checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.material_checkbox .checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 18px;
  margin-right: 8px;
  border: 0;
  border-radius: 0;
}
.material_checkbox .checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 11px;
  height: 11px;
  border: 2px solid #363636;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.material_checkbox .checkbox:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.material_checkbox .checkbox:checked:before {
  height: 6px;
  border-color: #ffbd27;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.material_radio input[type="radio"] {
  display: none;
}
.material_radio input[type="radio"] + label {
  cursor: pointer;
}
.material_radio input[type="radio"] + label::before {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #363636;
  border: 0px solid #363636;
  font-size: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"] + label::after {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #363636;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"]:checked + label::before {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-width: 2px;
}
.material_radio input[type="radio"]:checked + label::after {
  width: 8px;
  height: 8px;
}
@media (max-width: 1366px) {
  body {
    /***** 登入視窗 *****/
    /***** 註冊視窗 *****/
    /***** 商家頁面  *****/
    /***** 管理頁面  *****/
  }
  body #login_windows .windows_content {
    width: 775px;
    height: 410px;
  }
  body #login_windows .windows_content .main {
    width: calc(100% - 250px);
  }
  body #login_windows .windows_content .sign_up_block,
  body #login_windows .windows_content .forgot_block {
    width: 250px;
  }
  body #signup_windows .windows_content .main .user_data .item .radio_content fieldset {
    width: 30%;
  }
  body #signup_windows .windows_content .merchant_form .user_data .item .radio_content fieldset {
    width: 50%;
  }
  body #signup_windows .windows_content .merchant_form .user_data .item .radio_content fieldset input[type="radio"] + label {
    margin-left: 24px;
  }
  body #signup_windows .notice_height {
    height: 280px;
  }
  body #wrapper {
    /***** 六大選單 Nav  *****/
    /***** 達人分享首頁 *****/
    /***** 最新優惠 *****/
    /***** 為您精挑細選 *****/
    /***** Top ten *****/
    /***** 搜尋結果 *****/
    /***** 選單詳細頁 *****/
    /***** 達人分享 *****/
    /***** 為您精挑細選 *****/
    /***** 深入探索 *****/
    /***** 網友都在看 *****/
    /***** 公益活動首頁  *****/
    /***** 公益活動詳細頁面 *****/
    /***** 熱門活動住宿 *****/
    /***** 熱門活動 *****/
    /***** ML 推薦 *****/
    /***** 新進達人推薦 *****/
    /***** 達人分享首頁 *****/
    /***** 熱門其他活動 *****/
    /***** 版權 *****/
  }
  body #wrapper #myanLife_MainVisual #myanLife_global_searchBox {
    width: 90%;
  }
  body #wrapper #myanLife_Navigation {
    width: 90%;
  }
  body #wrapper #myanLife_list_Navigation .item {
    margin-right: 12px;
  }
  body #wrapper #myanLife_sharing .sharing_author {
    width: 90%;
  }
  body #wrapper #myanLife_sharing .sharing_author .author_img {
    height: 60vh;
  }
  body #wrapper #myanLife_sharing .sharing_author_list {
    width: 90%;
  }
  body #wrapper #myanLife_sharing .sharing_author_list .sharing_author_list_item {
    height: 289px;
  }
  body #wrapper #myanLife_sharing .author_article {
    width: 90%;
  }
  body #wrapper #myanLife_sharing .traveler_comment {
    width: 90%;
  }
  body #wrapper #myanLife_sharing .traveler_msg_content {
    width: 90%;
  }
  body #wrapper #myanLife_discount .common_content .common_item {
    width: 18.7vw;
  }
  body #wrapper #myanLife_discount .common_content .common_item .imgView {
    height: 256px;
  }
  body #wrapper #myanLife_featured .featured_content {
    width: 90%;
  }
  body #wrapper #myanLife_featured .featured_content .featured_item {
    height: 191px;
  }
  body #wrapper #myanLife_featured .featured_content .featured_item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 407px;
  }
  body #wrapper #myanLife_featured .featured_content .featured_item .featured_info .data {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
  }
  body #wrapper #myanLife_hot_ten .common_content .common_item {
    width: 18.7vw;
  }
  body #wrapper #myanLife_hot_ten .common_content .common_item .imgView {
    height: 256px;
  }
  body #wrapper #myanLife_search_result {
    width: 90%;
  }
  body #wrapper #myanLife_detail_content {
    width: 90%;
  }
  body #wrapper #myanLife_detail_content .prod_overview .product_coupon .fixed_download_bar {
    top: 425px;
  }
  body #wrapper #myanLife_blog .blog_content .blog_item {
    width: 18.7vw;
  }
  body #wrapper #myanLife_blog .blog_content .blog_item .imgView {
    height: 256px;
  }
  body #wrapper #myanLife_featured .featured_content .featured_item .featured_info .coupon_download {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    bottom: 7px;
    top: auto;
  }
  body #wrapper #myanLife_featured .featured_content .featured_item .featured_info .coupon_download .icon {
    margin: 0;
    margin-left: 5px;
  }
  body #wrapper #myanLife_featured .featured_content .featured_item:first-child .featured_info .coupon_download {
    top: auto;
    bottom: 18px;
  }
  body #wrapper #myanLife_featured .featured_content .featured_item:first-child .featured_info .coupon_download .icon {
    margin: 0;
    margin-left: 5px;
  }
  body #wrapper #myanLife_explore_in_depth .explore_in_depth_content {
    width: 90%;
  }
  body #wrapper #myanLife_hot_active_location .common_content .common_item {
    width: 20.7vw;
  }
  body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView {
    height: 268px;
  }
  body #wrapper #myanLife_recently .common_content .common_item {
    width: 18.7vw;
  }
  body #wrapper #myanLife_recently .common_content .common_item .imgView {
    height: 256px;
  }
  body #wrapper #myanLife_charity_result {
    width: 90%;
  }
  body #wrapper #myanLife_charity_result .charity_result .charity_content .charity_list .charity_item {
    height: 240px;
  }
  body #wrapper #myanLife_charity_result .charity_result .charity_content .charity_list .charity_item .charity_image {
    width: 290px;
  }
  body #wrapper #myanLife_charity_result .charity_result .charity_content .charity_list .charity_item .information .data {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
  }
  body #wrapper #myanLife_charity .author_recommend .recent_activities .recent_activities_list .recent_activities_article .imgView {
    height: 168px;
  }
  body #wrapper #myanLife_charity .author_recommend .recent_activities .recent_activities_list .recent_activities_article .recent_activities_content .data {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
  }
  body #wrapper #myanLife_charity .author_recommend .past_participation .past_participation_list .past_participation_article .imgView {
    height: 168px;
  }
  body #wrapper #myanLife_charity .author_recommend .past_participation .past_participation_list .past_participation_article .past_participation_content .data {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
  }
  body #wrapper #myanLife_charity .author_article {
    width: 90%;
  }
  body #wrapper #myanLife_charity .author_recommend {
    width: 90%;
  }
  body #wrapper #myanLife_hot_active_location .common_content {
    grid-template-columns: repeat(4, auto);
    width: 90%;
  }
  body #wrapper #myanLife_hot_active .common_content .common_item {
    width: 18.7vw;
  }
  body #wrapper #myanLife_hot_active .common_content .common_item .imgView {
    height: 256px;
  }
  body #wrapper #myanLife_recommend .recommend_content .recommend_item {
    width: 255px;
    height: 255px;
  }
  body #wrapper #myanLife_blog_recommend .blog_recommend_content .blog_recommend_item {
    width: 255px;
    height: 255px;
  }
  body #wrapper #myanLife_sharing .sharing_search {
    width: 90%;
  }
  body #wrapper #myanLife_sharing .sharing_content {
    width: 90%;
  }
  body #wrapper #myanLife_sharing .sharing_content .sharing_item {
    height: 14vw;
  }
  body #wrapper #myanLife_sharing .sharing_content .sharing_item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 29.8vw;
  }
  body #wrapper #myanLife_other {
    width: 90%;
  }
  body #wrapper #colophon .colophon_sitemap {
    padding: 0 5%;
  }
  body #wrapper #colophon .copy_rights {
    padding: 15px 5%;
  }
  body .merchant_wrapper #myanLife_merchant .merchant_content .merchant_about {
    flex: 0.7;
  }
  body .merchant_wrapper #myanLife_merchant .merchant_coupon .merchant_coupon_content > ul .coupon_item_tab {
    width: 16.5%;
  }
  body .merchant_wrapper #myanLife_merchant .merchant_coupon .merchant_coupon_content .coupon_item_list {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
  body #admin_wrapper .admin_contain .admin_sidebar {
    width: 19rem;
  }
  body #admin_wrapper .admin_contain .admin_canvas {
    /***** 酷碰卷管理 *****/
    /***** 管理員(會員資料中的酷碰卷) *****/
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .common_item {
    width: 100%;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .date_item .date_input_contain {
    width: 100%;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .date_item .date_input_contain .date_input_item {
    width: 100%;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .preview_item .canvas {
    height: 30vw;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .preview_item .canvas .main .m_coupon_title {
    font-size: 1.8vw;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .preview_item .canvas .main .m_coupon_info .market_title {
    font-size: 26px;
    margin-top: 4vw;
    margin-bottom: 1.8vw;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .preview_item .canvas .main .m_coupon_info .value {
    font-size: 54px;
    border-top: 7px dotted #d82316;
    border-bottom: 7px dotted #d82316;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .preview_item .canvas .main .m_coupon_info .how_to_use {
    font-size: 18px;
    margin-top: 12px;
    line-height: 1.2em;
  }
  body #admin_wrapper .admin_contain .admin_canvas .m_coupon_management .edit_contain .main .edit_content .input_list .preview_item .canvas .main .m_coupon_info .myanlife_logo {
    width: 80px;
    bottom: 12px;
    right: 12px;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .common_item {
    width: 100%;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .date_item .date_input_contain {
    width: 100%;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .date_item .date_input_contain .date_input_item {
    width: 100%;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .preview_item .canvas {
    height: 30vw;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .preview_item .canvas .main .m_coupon_title {
    font-size: 1.8vw;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .preview_item .canvas .main .m_coupon_info .market_title {
    font-size: 26px;
    margin-top: 4vw;
    margin-bottom: 1.8vw;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .preview_item .canvas .main .m_coupon_info .value {
    font-size: 54px;
    border-top: 7px dotted #d82316;
    border-bottom: 7px dotted #d82316;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .preview_item .canvas .main .m_coupon_info .how_to_use {
    font-size: 18px;
    margin-top: 12px;
    line-height: 1.2em;
  }
  body #admin_wrapper .admin_contain .admin_canvas .admin_userlist .coupon_edit_contain .main .input_list .preview_item .canvas .main .m_coupon_info .myanlife_logo {
    width: 80px;
    right: 24px;
  }
}
@media (max-height: 830px) and (max-width: 1920px) {
  body #signup_windows .windows_content .merchant_form .user_data .item {
    width: 32%;
  }
  body #signup_windows .windows_content .merchant_form .user_data .company_info,
  body #signup_windows .windows_content .merchant_form .user_data .business_content {
    width: 48%;
    margin-bottom: 0;
  }
  body #signup_windows .merchant_height {
    height: 500px;
  }
  body #coupon_windows .coupon_content {
    -webkit-transform: scale(0.9) !important;
    -moz-transform: scale(0.9) !important;
    -o-transform: scale(0.9) !important;
    transform: scale(0.9) !important;
  }
  body #wrapper {
    /***** 首頁 banner *****/
  }
  body #wrapper #myanLife_MainVisual {
    min-height: 100vh;
  }
  body #wrapper #myanLife_MainVisual .myanLife_logo {
    width: 150px;
  }
  body #wrapper #myanLife_MainVisual .myanLife_Slogan {
    font-size: 32px;
  }
  body #wrapper #myanLife_MainVisual #myanLife_global_searchBox {
    height: 150px;
    margin-top: 80px;
  }
  body #wrapper #myanLife_detail_content .prod_overview .product_coupon .fixed_download_bar {
    top: 374px;
  }
}
