.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.link-default {
  text-decoration: none;
  outline: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
/** animate **/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.scaleRotateAnimateDisplay {
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
.scaleRotateAnimateDisplayN {
  -webkit-transform: scale(0) rotate(0deg);
  -moz-transform: scale(0) rotate(0deg);
  -o-transform: scale(0) rotate(0deg);
  transform: scale(0) rotate(0deg);
}
.opacityDisplay {
  opacity: 0;
  visibility: hidden;
}
.couponBg {
  background: #ffbd27;
  background: -moz-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: linear-gradient(to bottom, #ffbd27 0%, #ff6d00 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd27', endColorstr='#ff6d00', GradientType=0);
}
.material_checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.material_checkbox .checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 18px;
  margin-right: 8px;
  border: 0;
  border-radius: 0;
}
.material_checkbox .checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 11px;
  height: 11px;
  border: 2px solid #363636;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.material_checkbox .checkbox:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.material_checkbox .checkbox:checked:before {
  height: 6px;
  border-color: #ffbd27;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.material_radio input[type="radio"] {
  display: none;
}
.material_radio input[type="radio"] + label {
  cursor: pointer;
}
.material_radio input[type="radio"] + label::before {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #363636;
  border: 0px solid #363636;
  font-size: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"] + label::after {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #363636;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"]:checked + label::before {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-width: 2px;
}
.material_radio input[type="radio"]:checked + label::after {
  width: 8px;
  height: 8px;
}
body #admin_wrapper .admin_contain .admin_canvas {
  /***** 管理員-精挑細選 *****/
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad > h2 {
  font-size: 24px;
  font-weight: bold;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .input_list .common_item .key_point {
  font-size: 12px;
  color: rgb(216, 35, 22);
  margin-top: 8px;
  line-height: 1.3em;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin-right: 48px !important;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_input {
  display: none;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_input:checked + .switch_label .switch_style:before {
  background: rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_input:checked + .switch_label .switch_style:after {
  background: rgb(255, 255, 255);
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_input:checked + .switch_label:before {
  background: rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_input:checked + .switch_label .toggle--on {
  display: inline-block;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_input:checked + .switch_label .toggle--off {
  display: none;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_label {
  position: relative;
  color: rgb(216, 35, 22);
  cursor: pointer;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_label .switch_style:before,
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_label .switch_style:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_label .switch_style:before {
  background: rgb(153, 153, 153);
  border-radius: 8px;
  width: 34px;
  height: 14px;
  right: -30px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_label .switch_style:after {
  background: #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  right: -15px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_label .toggle--on {
  display: none;
  margin-right: 12px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .admin_func .discount_btn .switch_label .toggle--off {
  display: inline-block;
  margin-right: 12px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .sort_cell .num {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .admin_management_contain .main .admin_list_content .admin_item .sort_cell .num_active {
  padding: 0 12px;
  border: 1px solid rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 24px;
  padding: 24px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bold;
  margin-bottom: 24px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 24px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .des {
  margin-bottom: 5px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .des > small {
  color: rgb(216, 35, 22);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .input_style {
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  padding: 8px 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .input_style:focus,
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .input_style:active {
  border: 1px solid rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .input_style:read-only {
  border: 1px solid #eee;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .select_style {
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  padding: 8px 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .select_style:focus,
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .select_style:active {
  border: 1px solid rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .select_style:read-only {
  border: 1px solid #eee;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .select_style:disabled {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  border: 1px solid #eee;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .text_style {
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  padding: 8px 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  min-height: 200px;
  resize: vertical;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .text_style:focus,
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .text_style:active {
  border: 1px solid rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .text_style:read-only {
  border: 1px solid #eee;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .key_point {
  font-size: 12px;
  color: rgb(216, 35, 22);
  margin-top: 8px;
  line-height: 1.3em;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item .img_check img {
  width: 100%;
  height: 100%;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .common_item:last-child {
  margin-bottom: 0;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .editor_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .editor_item .des {
  margin-right: 0;
  margin-bottom: 12px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .editor_item .ck.ck-editor {
  min-width: 100%;
  max-width: 100%;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .input_list .editor_item .ck-editor__editable {
  min-height: 200px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .btn_group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .btn_group .btn_style {
  background: #363636;
  border: 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 7px 18px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .btn_group .btn_style:hover {
  color: rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .edit_contain .main .btn_group .cancel_btn {
  cursor: pointer;
  margin-right: 12px;
  padding: 9.5px 18px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .common_item {
  width: 32%;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn {
  min-width: 80px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_input {
  display: none;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_input:checked + .switch_label:before {
  background: rgb(255, 189, 39);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_input:checked + .switch_label:after {
  background: rgb(255, 255, 255);
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_input:checked + .switch_label .toggle--on {
  display: inline-block;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_input:checked + .switch_label .toggle--off {
  display: none;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_label {
  position: relative;
  color: rgb(216, 35, 22);
  cursor: pointer;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_label:before,
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_label:before {
  background: rgb(153, 153, 153);
  border-radius: 8px;
  width: 34px;
  height: 14px;
  left: 50px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_label:after {
  background: #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  left: 50px;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_label .toggle--on {
  display: none;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .discount_btn .switch_label .toggle--off {
  display: inline-block;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .address_item {
  width: 100%;
}
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .company_data_item,
body #admin_wrapper .admin_contain .admin_canvas .admin_ad .discount_edit_contain .main .input_list .business_content_item {
  width: 100%;
}
