.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.link-default {
  text-decoration: none;
  outline: none;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
/** animate **/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.scaleRotateAnimateDisplay {
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
.scaleRotateAnimateDisplayN {
  -webkit-transform: scale(0) rotate(0deg);
  -moz-transform: scale(0) rotate(0deg);
  -o-transform: scale(0) rotate(0deg);
  transform: scale(0) rotate(0deg);
}
.opacityDisplay {
  opacity: 0;
  visibility: hidden;
}
.couponBg {
  background: #ffbd27;
  background: -moz-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: linear-gradient(to bottom, #ffbd27 0%, #ff6d00 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd27', endColorstr='#ff6d00', GradientType=0);
}
.material_checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.material_checkbox .checkbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 18px;
  margin-right: 8px;
  border: 0;
  border-radius: 0;
}
.material_checkbox .checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 11px;
  height: 11px;
  border: 2px solid #363636;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.material_checkbox .checkbox:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.material_checkbox .checkbox:checked:before {
  height: 6px;
  border-color: #ffbd27;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.material_radio input[type="radio"] {
  display: none;
}
.material_radio input[type="radio"] + label {
  cursor: pointer;
}
.material_radio input[type="radio"] + label::before {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #363636;
  border: 0px solid #363636;
  font-size: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"] + label::after {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #363636;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
}
.material_radio input[type="radio"]:checked + label::before {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-width: 2px;
}
.material_radio input[type="radio"]:checked + label::after {
  width: 8px;
  height: 8px;
}
body #wrapper {
  /***** 全域 最新優惠 *****/
  /***** Top Ten  *****/
  /***** 深入探索 *****/
  /***** 熱門活動住宿*****/
  /***** 網友都在看 *****/
}
body #wrapper #myanLife_hot_ten {
  background: transparent;
  margin-top: 100px;
}
body #wrapper #myanLife_explore_in_depth {
  background: rgb(247, 247, 247);
  padding-bottom: 50px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  padding: 45px 0;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_header h2 {
  letter-spacing: 3px;
  margin: 0 24px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_header .default {
  position: relative;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_header .default > span {
  display: none;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_header .default .icon {
  color: rgb(255, 189, 39);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 80%;
  margin: auto;
  column-gap: 24px;
  row-gap: 24px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .imgView {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .imgView img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information {
  background: rgb(255, 189, 39);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  margin-top: 10px;
  overflow: hidden;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_header {
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: baseline;
  word-break: break-all;
  padding: 8px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_header h2 {
  font-size: 18px;
  font-weight: bold;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_header .location {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 5px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_header .location .icon {
  margin-right: 10px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_header .location > div {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_header .merchant_name {
  font-size: 16px;
  cursor: pointer;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_header .merchant_name:hover {
  color: #363636;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_evaluation {
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: center;
  background: #f37d04;
  padding: 8px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_evaluation .evaluation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_evaluation .evaluation .icon {
  color: rgb(255, 234, 0);
  font-size: 18px;
  margin-left: 5px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_evaluation .coupon_download {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin-top: 15px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_evaluation .coupon_download .icon {
  margin-bottom: 5px;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item .information .info_evaluation:hover {
  background: #ec6800;
}
body #wrapper #myanLife_explore_in_depth .explore_in_depth_content .explore_in_depth_item:hover .imgView img {
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
  transform: rotate(3deg) scale(1.1);
}
body #wrapper #myanLife_hot_active_location {
  margin-top: 100px;
  padding-bottom: 50px;
}
body #wrapper #myanLife_hot_active_location .common_header {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  width: 80%;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
}
body #wrapper #myanLife_hot_active_location .common_header::before {
  content: "";
  background: rgb(255, 189, 39);
  position: absolute;
  width: 9vw;
  height: 100%;
  left: -13%;
}
body #wrapper #myanLife_hot_active_location .common_header h2 {
  margin-right: 15px;
  letter-spacing: 3px;
}
body #wrapper #myanLife_hot_active_location .common_content {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: auto;
  margin-top: 50px;
  width: 80%;
  column-gap: 24px;
  row-gap: 24px;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item {
  display: block;
  width: 284px;
  color: #363636;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView {
  position: relative;
  height: 268px;
  border-radius: 10px;
  overflow: hidden;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView .coupon_download {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  background: #ffbd27;
  background: -moz-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: linear-gradient(to bottom, #ffbd27 0%, #ff6d00 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd27', endColorstr='#ff6d00', GradientType=0);
  position: absolute;
  width: 100%;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  bottom: 0;
  z-index: 3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView .coupon_download .icon {
  margin-left: 5px;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView .coupon_download:hover {
  height: 50px;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView .data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  letter-spacing: 3px;
  line-height: 1.2em;
  position: absolute;
  height: 85%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  top: -100%;
  padding: 0 15px;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .imgView .data .data_info {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information {
  position: relative;
  padding: 5px;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .info_header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 12px;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .info_header h2 {
  letter-spacing: 3px;
  font-weight: bold;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .info_header .evaluation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .info_header .evaluation > div {
  color: rgb(255, 189, 39);
  font-size: 32px;
  font-weight: bold;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .info_header .evaluation .icon {
  color: rgb(255, 234, 0);
  margin-left: 5px;
  font-size: 24px;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .location {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  word-break: break-all;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .location .icon {
  margin-right: 10px;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .location > div {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .merchant_name {
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_hot_active_location .common_content .common_item .information .merchant_name:hover {
  color: rgb(255, 189, 39);
}
body #wrapper #myanLife_hot_active_location .common_content .common_item:hover .imgView img {
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
  transform: rotate(3deg) scale(1.1);
}
body #wrapper #myanLife_hot_active_location .common_content .common_item:hover .imgView .data {
  top: 0;
}
body #wrapper #myanLife_recently {
  position: relative;
  margin-top: 100px;
  padding-bottom: 100px;
}
body #wrapper #myanLife_recently:after {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 350px;
  bottom: 0;
}
body #wrapper #myanLife_recently .common_header {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  width: 80%;
  font-size: 28px;
  margin: auto;
}
body #wrapper #myanLife_recently .common_header::before {
  content: "";
  background: rgb(255, 189, 39);
  position: absolute;
  width: 9vw;
  height: 100%;
  left: -13%;
}
body #wrapper #myanLife_recently .common_header h2 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 3px;
}
body #wrapper #myanLife_recently .common_content {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
body #wrapper #myanLife_recently .common_content .common_item {
  display: block;
  width: 284px;
  font-size: 14px;
  color: #363636;
  background: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_recently .common_content .common_item:hover .imgView img {
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
  transform: rotate(3deg) scale(1.1);
}
body #wrapper #myanLife_recently .common_content .common_item:hover .imgView .data {
  top: 0;
}
body #wrapper #myanLife_recently .common_content .common_item .imgView {
  position: relative;
  height: 268px;
  border-radius: 10px;
  overflow: hidden;
}
body #wrapper #myanLife_recently .common_content .common_item .imgView img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
body #wrapper #myanLife_recently .common_content .common_item .imgView .coupon_download {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  background: #ffbd27;
  background: -moz-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(top, #ffbd27 0%, #ff6d00 99%);
  background: linear-gradient(to bottom, #ffbd27 0%, #ff6d00 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd27', endColorstr='#ff6d00', GradientType=0);
  position: absolute;
  width: 100%;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  bottom: 0;
  z-index: 3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_recently .common_content .common_item .imgView .coupon_download .icon {
  margin-left: 10px;
}
body #wrapper #myanLife_recently .common_content .common_item .imgView .coupon_download:hover {
  height: 50px;
}
body #wrapper #myanLife_recently .common_content .common_item .imgView .data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  letter-spacing: 3px;
  line-height: 1.2em;
  position: absolute;
  height: 85%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  top: -100%;
  padding: 0 15px;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body #wrapper #myanLife_recently .common_content .common_item .imgView .data .data_info {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_recently .common_content .common_item .information {
  position: relative;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
}
body #wrapper #myanLife_recently .common_content .common_item .information .info_header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
body #wrapper #myanLife_recently .common_content .common_item .information .info_header h2 {
  letter-spacing: 3px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_recently .common_content .common_item .information .info_header .evaluation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
body #wrapper #myanLife_recently .common_content .common_item .information .info_header .evaluation > div {
  color: rgb(255, 189, 39);
  font-size: 32px;
  font-weight: bold;
}
body #wrapper #myanLife_recently .common_content .common_item .information .info_header .evaluation .icon {
  color: rgb(255, 234, 0);
  margin-left: 5px;
  font-size: 24px;
}
body #wrapper #myanLife_recently .common_content .common_item .information .location {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  word-break: break-all;
}
body #wrapper #myanLife_recently .common_content .common_item .information .location .icon {
  margin-right: 10px;
}
body #wrapper #myanLife_recently .common_content .common_item .information .location > div {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}
body #wrapper #myanLife_recently .common_content .common_item .information .merchant_name {
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_recently .common_content .common_item .information .merchant_name:hover {
  color: rgb(255, 189, 39);
}
body #wrapper #myanLife_recently .owl-theme {
  position: relative;
}
body #wrapper #myanLife_recently .owl-theme .owl-nav .owl-prev {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 70px;
  color: rgb(255, 255, 255);
  font-size: 36px;
  border: 0;
  border-radius: 5px;
  margin: 0;
  top: 0;
  bottom: 0;
  left: -80px;
  z-index: 10;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body #wrapper #myanLife_recently .owl-theme .owl-nav .owl-prev:hover {
  background: rgba(0, 0, 0, 0.9);
}
body #wrapper #myanLife_recently .owl-theme .owl-nav .owl-next {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 70px;
  color: rgb(255, 255, 255);
  font-size: 36px;
  border: 0;
  border-radius: 5px;
  margin: 0;
  top: 0;
  bottom: 0;
  left: -80px;
  z-index: 10;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: auto;
  right: -80px;
}
body #wrapper #myanLife_recently .owl-theme .owl-nav .owl-next:hover {
  background: rgba(0, 0, 0, 0.9);
}
body #wrapper #myanLife_recently .owl-theme .owl-nav .disabled {
  opacity: 0;
}
body #wrapper #myanLife_recently .owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
